<% content_for :head do %>
  <%= javascript_include_tag "messages" %>
<% end %>

<% content_for :heading do %>
  <h2><%= t ".my_inbox" %>/<%= link_to t(".outbox"), outbox_messages_path %></h2>
<% end %>

  <h4><%= render :partial => "message_count" %></h4>

<% if current_user.messages.size > 0 %>
  <table class="messages">
    <thead>
      <tr>
        <th><%= t ".from" %></th>
        <th><%= t ".subject" %></th>
        <th><%= t ".date" %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => "message_summary", :collection => current_user.messages %>
    </tbody>
  </table>
<% else %>
  <div><%= raw(t ".no_messages_yet", :people_mapping_nearby_link => link_to(t(".people_mapping_nearby"), user_path(current_user))) %></div>
<% end %>
