<% content_for :heading do %>
  <h2><%= t(".send_message_to_html", :name => link_to(h(@message.recipient.display_name), user_path(@message.recipient))) %></h2>
<% end %>

<%= error_messages_for "message" %>

<%= form_for @message, :html => { :class => "standard-form" } do |f| %>
  <%= hidden_field_tag :display_name, @message.recipient.display_name %>
  <fieldset>
    <div class='form-row'>
      <label class="standard-label" for="message_title"><%= t ".subject" %></label>
      <%= f.text_field :title, :size => 60, :class => "richtext_title" %>
    </div>
    <div class='form-row'>
      <label class="standard-label" for="message_body"><%= t ".body" %></label>
      <%= richtext_area :message, :body, :cols => 80, :rows => 20 %>
    </div>
    <div class='buttons'>
      <%= f.submit %>
      <%= link_to t(".back_to_inbox"), inbox_messages_path, :class => "deemphasize button" %>
    </div>
  </fieldset>
<% end %>
