<% content_for :head do %>
  <%= javascript_include_tag "messages" %>
<% end %>

<%= render :partial => "heading", locals: { active_link_path: outbox_messages_path } %>

<h4><%= t ".messages", :count => current_user.sent_messages.size %></h4>

<% if current_user.sent_messages.size > 0 %>
  <table class="table table-sm align-middle">
    <thead>
      <tr>
        <th><%= t ".to" %></th>
        <th><%= t ".subject" %></th>
        <th><%= t ".date" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "sent_message_summary", :collection => current_user.sent_messages %>
    </tbody>
  </table>
<% else %>
  <div class="messages"><%= t(".no_sent_messages_html", :people_mapping_nearby_link => link_to(t(".people_mapping_nearby"), user_path(current_user))) %></div>
<% end %>
