<% showusername = true if showusername.nil? %>
<table id="changeset_list" cellpadding="3">
  <tr>
    <th><%= t'changeset.changesets.id' %></th>
    <th><%= t'changeset.changesets.saved_at' %></th>
<% if showusername %>
    <th><%= t'changeset.changesets.user' %></th>
<% end %>
    <th><%= t'changeset.changesets.comment' %></th>
    <th><%= t'changeset.changesets.area' %></th>
  </tr>
  <%= render :partial => 'changeset', :locals => {:showusername => showusername}, :collection => @edits unless @edits.nil? %>
</table>
