<tr>
  <% cl = cycle('table0', 'table1') %>

  <td class="<%= cl %>">
    <%=
      id_link = link_to(changeset.id,
                        {:controller => 'browse', :action => 'changeset', :id => changeset.id},
                        {:title => t('changeset.changeset.view_changeset_details')})
      t'changeset.changeset.id', :id => id_link
    %>
  </td>

  <td class="<%= cl %> date">
    <% if changeset.closed_at > DateTime.now %> <%= t'changeset.changeset.still_editing' %>
    <% else %><%= l changeset.closed_at, :format => :long %><% end %>
  </td>

    
  <%if showusername %>  
    <td class="<%= cl %> user">
    <% if changeset.user.data_public? %>
      <%= link_to h(changeset.user.display_name), :controller => "changeset", :action => "list", :display_name => changeset.user.display_name %>
    <% else %>
      <i><%= t'changeset.changeset.anonymous' %></i>
    <% end %>
    </td>
  <% end %>
    
  <td class="<%= cl %> comment">
    <% if changeset.tags['comment'] %>
      <%= auto_link(h(changeset.tags['comment'])) %>
    <% else %>
      <%= t'changeset.changeset.no_comment' %>
    <% end %>
  </td>

  <td class="<%= cl %> area">
    <% if changeset.min_lat.nil? %>
      <%= t'changeset.changeset.no_edits' %>
    <% else 
      minlon = changeset.min_lon/GeoRecord::SCALE.to_f
      minlat = changeset.min_lat/GeoRecord::SCALE.to_f
      maxlon = changeset.max_lon/GeoRecord::SCALE.to_f
      maxlat = changeset.max_lat/GeoRecord::SCALE.to_f
    %>
      <a href='/?minlon=<%= minlon %>&minlat=<%= minlat %>&maxlon=<%= maxlon %>&maxlat=<%= maxlat %>&box=yes' title='<%= t'changeset.changeset.show_area_box' %>'><%= format("%0.3f",minlon) -%>,<%= format("%0.3f",minlat) -%>,<%= format("%0.3f",maxlon) -%>,<%= format("%0.3f",maxlat) -%></a>
      <!--<%=changeset.area%>-->
    <%   if changeset.area > 1500000000000 %>
      <%= t'changeset.changeset.big_area' %>
    <%
         end
       end
    %>
  </td>

</tr>
