<%= javascript_include_tag '/openlayers/OpenLayers.js' %>
<%= javascript_include_tag '/openlayers/OpenStreetMap.js' %>
<%= javascript_include_tag 'map.js' %>

<div id="browse_map_changeset">
  <div id="small_map">
  </div>
  <span id="loading"><%= t 'browse.map.loading' %></span>
</div>

<script type="text/javascript">
  OpenLayers.Lang.setCode("<%= I18n.locale.to_s %>");

  function highlightChangeset(id) {
    var feature = vectors.getFeatureByFid(id);
    feature.style.strokeColor = "#ffff55";
    feature.style.strokeWidth = 4;
    vectors.redraw(); 

    $("tr-changeset-" + id).addClassName("selected");
  } 

  function unHighlightChangeset(id) {
    var feature = vectors.getFeatureByFid(id);
    feature.style.strokeColor = "#ee9900";
    feature.style.strokeWidth = 2;
    vectors.redraw(); 

    $("tr-changeset-" + id).removeClassName("selected");
  }      

  function init() {
    var map = createMap("small_map", {
      controls: [
        new OpenLayers.Control.Navigation(),
        new OpenLayers.Control.PanZoom(),
        new OpenLayers.Control.PanZoomBar()
      ]
    });
    
    var bounds = new OpenLayers.Bounds();

    <% @edits.each do |edit| %>
    var minlon = <%= edit.min_lon / GeoRecord::SCALE.to_f %>;
    var minlat = <%= edit.min_lat / GeoRecord::SCALE.to_f %>;
    var maxlon = <%= edit.max_lon / GeoRecord::SCALE.to_f %>;
    var maxlat = <%= edit.max_lat / GeoRecord::SCALE.to_f %>;
    var bbox = new OpenLayers.Bounds(minlon, minlat, maxlon, maxlat);

    bounds.extend(bbox);
    box = addBoxToMap(bbox, "<%= edit.id %>", true);
    <% end %>
     
    vectors.events.on({
      "featureselected": function(feature) {
        highlightChangeset(feature.feature.fid);
      },
      "featureunselected": function(feature) {
        unHighlightChangeset(feature.feature.fid);
      }
    });

    var selectControl = new OpenLayers.Control.SelectFeature(vectors, {
      multiple: false, 
      hover: true
    });
    map.addControl(selectControl);
    selectControl.activate();

    <% if ! @bbox.nil? %>
      setMapExtent(new OpenLayers.Bounds(<%= @bbox %>));
    <% else %>
      setMapExtent(bounds);
    <% end %>

    $("loading").innerHTML = "";
  }

  Event.observe(window, "load", init);
</script>
