<h1><%= @title %></h1>
<p><%= @description %></p>

<%= render :partial => 'changeset_paging_nav' %>
<%= render :partial => 'changesets', :locals => { :showusername => !params.has_key?(:display_name) } %>
<%= render :partial => 'changeset_paging_nav' %>

<%= rss_link_to params.merge({ :format => 'rss' }) %>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, params.merge({ :format => 'rxml' }) %>
<% end %>
