<% if @edits.present? %>
  <ol class="changesets">
    <%= render :partial => 'changeset', :collection => @edits %>
  </ol>
  <div class="changeset_more">
    <%= link_to t('changeset.list.load_more'), url_for(params.merge(:max_id => @edits.last.id - 1)), :class => "button load_more" %>
    <%= image_tag "searching.gif", :class => "loader", :style => "display: none;" %>
  </div>
<% elsif params[:max_id] %>
  <p class="inner22"><%= t('changeset.list.no_more') %></p>
<% else %>
  <p class="inner22"><%= t('changeset.list.empty') %></p>
<% end %>
