<% content_for :head do -%>
  <%= javascript_include_tag "changeset" %>

  <% unless params[:friends] or params[:nearby] -%>
    <%= auto_discovery_link_tag :atom, params.merge({ :page => nil, :action => :feed }) %>
  <% end -%>
<% end -%>

<h2><%= @heading %></h2>

<% if @edits.size > 0 %>
  <ol class="changesets">
    <%= render :partial => 'changeset',
               :collection => @edits %>
  </ol>

  <div class="search_more">
    <div class="inner12 search_results_entry">
      <%= link_to t('geocoder.results.more_results'), '#', :class => "button" %>
    </div>
    <%= image_tag "searching.gif", :class => ["search_searching", "hidden"] %>
  </div>
<% elsif @user and @user.display_name == params[:display_name] %>
  <h4><%= t('changeset.list.empty_user_html') %></h4>
<% else %>
  <h4><%= t('changeset.list.empty_anon_html') %></h4>
<% end %>
