<% content_for :head do %>
  <%= javascript_include_tag "login" %>
  <%= javascript_include_tag "auth_providers" %>
<% end %>

<% content_for :heading_class, "pb-0" %>

<% content_for :heading do %>
  <% if @client_app_name %>
    <p class="text-center text-body-secondary fs-6 py-2 mb-0 bg-body"><%= t(".login_to_authorize_html", :client_app_name => @client_app_name) %></p>
  <% end %>

  <div class="header-illustration new-user-main">
    <ul class="nav nav-tabs position-absolute bottom-0 fs-6 w-100">
      <li class="nav-item">
        <%= link_to t("sessions.new.tab_title"), "#", :class => "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to t("users.new.tab_title"), url_for(:action => :new, :controller => :users, :referer => params[:referer]), :class => "nav-link" %>
      </li>
    </ul>
  </div>
<% end %>

<% if @preferred_auth_provider %>
  <%= render :partial => "auth_providers" %>
  <%= render :partial => "shared/section_divider", :locals => { :text => t(".or") } %>
<% end %>

<%= bootstrap_form_tag(:action => "login", :html => { :id => "login_form" }) do |f| %>
  <%= hidden_field_tag("referer", h(params[:referer]), :autocomplete => "off") %>

  <%= f.text_field :username, :label => t(".email or username"), :autofocus => true, :tabindex => 1, :value => params[:username] %>

  <div class="d-flex flex-wrap column-gap-3 justify-content-between align-items-baseline mb-2">
    <%= f.label :password, t(".password") %>
    <small><%= link_to(t(".lost password link"), user_forgot_password_path) %></small>
  </div>

  <%= f.password_field :password, :autocomplete => "on", :tabindex => 2, :value => "", :skip_label => true %>

  <%= f.form_group do %>
    <%= f.check_box :remember_me, { :label => t(".remember"), :tabindex => 3, :checked => (params[:remember_me] == "true") }, "yes" %>
  <% end %>

  <div class="mb-3">
    <%= f.primary t(".login_button"), :tabindex => 4 %>
  </div>
<% end %>

<% unless @preferred_auth_provider %>
  <%= render :partial => "shared/section_divider", :locals => { :text => t(".with external") } %>
  <%= render :partial => "auth_providers" %>
<% end %>
