<p>
  Move the marker to the correct position and<br/>
  describe the problem in the box below:
</p>
<%= form_tag notes_path do %>
  <%= hidden_field_tag "lon" %>
  <%= hidden_field_tag "lat" %>
  <%= text_area_tag "comment", "", :cols => 40, :rows => 10 %>
  <br/>
  <%= submit_tag "Submit", :id => "note-submit" %>
  <%= submit_tag "Cancel", :id => "note-cancel" %>
<% end %>
