<p>

<% if @page > 1 %>
<%= link_to t(".previous"), @params.merge(:page => @page - 1) %>
<% else %>
<%= t(".previous") %>
<% end %>

| <%= t(".showing_page", :page => @page) %> |

<% if @notes.size < @page_size %>
<%= t(".next") %>
<% else %>
<%= link_to t(".next"), @params.merge(:page => @page + 1) %>
<% end %>

</p>
