<nav>
  <ul class="pagination">
    <% if @page > 1 %>
      <li class="page-item">
        <%= link_to t(".previous"), @params.merge(:page => @page - 1), :class => "page-link" %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <%= tag.span t(".previous"), :class => "page-link" %>
      </li>
    <% end %>

    <li class="page-item active">
      <%= tag.span t(".showing_page", :page => @page), :class => "page-link" %>
    </li>

    <% if @notes.size < @page_size %>
      <li class="page-item disabled">
        <%= tag.span t(".next"), :class => "page-link" %>
      </li>
    <% else %>
      <li class="page-item">
        <%= link_to t(".next"), @params.merge(:page => @page + 1), :class => "page-link" %>
      </li>
    <% end %>
  </ul>
</nav>
