<p>

<% if @page > 1 %>
<%= link_to t('changesets.changeset_paging_nav.previous'), @params.merge(:page => @page - 1) %>
<% else %>
<%= t('changesets.changeset_paging_nav.previous') %>
<% end %>

| <%= t('changesets.changeset_paging_nav.showing_page', :page => @page) %> |

<% if @notes.size < @page_size %>
<%= t('changesets.changeset_paging_nav.next') %>
<% else %>
<%= link_to t('changesets.changeset_paging_nav.next'), @params.merge(:page => @page + 1) %>
<% end %>

</p>
