<% content_for :heading do %>
  <h1><%= t ".heading", :user => @user.display_name %></h1>
  <p class="lh-lg"><%= t ".legend_html",
                         :user => link_to(@user.display_name, @user),
                         :created => tag.span(t(".legend_created"), :class => "px-2 py-1 bg-danger bg-opacity-25"),
                         :created_and_resolved => tag.span(t(".legend_created_and_resolved"), :class => "px-2 py-1 bg-warning bg-opacity-25"),
                         :resolved => tag.span(t(".legend_resolved"), :class => "px-2 py-1 bg-success bg-opacity-25"),
                         :interacted => tag.span(t(".legend_interacted"), :class => "px-2 py-1 bg-body") %></p>
<% end %>

<% if @notes.empty? %>
  <h4><%= t ".no_notes" %></h4>

<% else %>
  <%= render :partial => "notes_paging_nav" %>

  <table class="table table-sm note_list">
    <thead>
      <tr>
        <th></th>
        <th><%= t ".id" %></th>
        <th><%= t ".creator" %></th>
        <th><%= t ".description" %></th>
        <th><%= t ".created_at" %></th>
        <th><%= t ".last_changed" %></th>
      </tr>
    </thead>
  <% @notes.each do |note| -%>
    <% opened_by_user = note.author == @user %>
    <% closed_by_user = note.comments.last&.author == @user && note.comments.last&.event == "closed" %>
    <%= tag.tr :class => if opened_by_user && closed_by_user
                           "table-warning"
                         elsif opened_by_user
                           "table-danger"
                         elsif closed_by_user
                           "table-success"
                         end do %>
      <td>
        <% if note.closed? %>
          <%= image_tag("closed_note_marker.svg", :alt => "closed", :width => 25, :height => 40) %>
        <% else %>
          <%= image_tag("open_note_marker.svg", :alt => "open", :width => 25, :height => 40) %>
        <% end %>
      </td>
      <td><%= link_to note.id, note %></td>
      <td><%= note_author(note.author) %></td>
      <td><%= note.comments.first.body.to_html %></td>
      <td><%= friendly_date_ago(note.created_at) %></td>
      <td><%= friendly_date_ago(note.updated_at) %></td>
    <% end %>
  <% end -%>
  </table>

  <%= render :partial => "notes_paging_nav" %>

<% end -%>
