<h1><%= @heading %></h1>
<p><%= raw @description %></p>

<%= render :partial => 'notes_paging_nav' %>

<table id="note_list" cellpadding="3">
  <tr>
    <th></th>
    <th><%= t'note.mine.id' %></th>
    <th><%= t'changeset.changesets.user' %></th>
    <th><%= t'changeset.changesets.comment' %></th>
    <th><%= t'changeset.changesets.saved_at' %></th>
    <th><%= t'note.mine.last_changed' %></th>
  </tr>
<% @notes.each do |note| -%>
  <tr<% if note.author != @user2 %> bgcolor="#EEEEEE"<% end %>>
    <td>
      <% if note.status == "closed" %>
        <%= image_tag("closed_note_marker.png", :alt => 'closed') %>
      <% else %>
        <%= image_tag("open_note_marker.png", :alt => 'open') %>
      <% end %>
    </td>
    <td><%= link_to note.id.to_s, :controller => "browse", :action => "note", :id => note.id %></td>
    <% if note.author.nil? %> 
      <td></td> 
    <% else %> 
      <td><%= link_to h(note.author.display_name), user_url(:display_name => note.author.display_name) %></td>
    <% end %>
    <td> <%= note.comments.first.body.to_html  %> </td>	
    <td><%= l note.created_at %></td>
    <td><%= l note.updated_at %></td>
  </tr>
<% end -%>
</table>

<%= render :partial => 'notes_paging_nav' %>
