<h1><%= @heading %></h1>
<p><%= @description %></p>

<%= render :partial => 'bugs_paging_nav' %>

<table id="bug_list" cellpadding="3">
  <tr>
    <th></th>
    <th><%= t'bugs.user.id' %></th>
    <th><%= t'changeset.changesets.user' %></th>
    <th><%= t'changeset.changesets.comment' %></th>
    <th><%= t'changeset.changesets.saved_at' %></th>
    <th><%= t'bugs.user.last_changed' %></th>
  </tr>
<% @bugs.each do |bug| %>
  <tr<% if bug.author != @user2 %> bgcolor="#EEEEEE"<% end %>>
    <td>
      <% if bug.status == "closed" %>
        <%= image_tag("closed_bug_marker.png", :alt => 'closed') %>
      <% else %>
        <%= image_tag("open_bug_marker.png", :alt => 'open') %>
      <% end %>
    </td>
    <td><%= link_to bug.id.to_s, :controller => "browse", :action => "bug", :id => bug.id %></td>
    <% if bug.author.nil? %> 
      <td> <%= bug.author_name %> </td> 
    <% else %> 
      <td><%= link_to h(bug.author_name), :controller => "user", :action => "view", :display_name => bug.author_name %></td>
    <% end %>
    <td> <%= htmlize bug.comments.first.body  %> </td>	
    <td><%= l bug.created_at %></td>
    <td><%= l bug.updated_at %></td>
  </tr>
<% end %>
</table>

<%= render :partial => 'bugs_paging_nav' %>
