<% content_for(:content_class) { "overlay-sidebar" } %>

<svg width="20" height="20" class="d-none">
  <symbol id="routing-sprite-start" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M10 16 a1 1 0 1 0 0 -2 1 1 0 1 0 0 2 m0 -4 v-8 m2.5 2 l-2.5 -2.5 -2.5 2.5 z" />
  </symbol>
  <symbol id="routing-sprite-destination" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M10 5 a1 1 0 1 0 0 -2 1 1 0 1 0 0 2 m0 12 v-8 m2.5 2 l-2.5 -2.5 -2.5 2.5 z" />
  </symbol>

  <symbol id="routing-sprite-straight" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M10 17 v-13 m2.5 2 l-2.5 -2.5 -2.5 2.5 z" />
  </symbol>
  <symbol id="routing-sprite-slight-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M7 17 v-3 q0 -2 2 -4 l5 -5 m0 0 h-3 l3 3 z" />
  </symbol>
  <symbol id="routing-sprite-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M8 17 v-5 q0 -3 3 -3 h4 m-2 2.5 l2.5 -2.5 -2.5 -2.5 z" />
  </symbol>
  <symbol id="routing-sprite-sharp-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M8 17 v-7 q0 -6 6 0 l2 2 m0 0 v-3 l-3 3 z" />
  </symbol>
  <symbol id="routing-sprite-u-turn-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M4 17 v-7 a4.5 4.5 0 0 1 9 0 v5 m2.5 -2 l-2.5 2.5 -2.5 -2.5 z" />
  </symbol>
  <symbol id="routing-sprite-slight-left">
    <use href="#routing-sprite-slight-right" transform="matrix(-1 0 0 1 20 0)" />
  </symbol>
  <symbol id="routing-sprite-left">
    <use href="#routing-sprite-right" transform="matrix(-1 0 0 1 21 0)" />
  </symbol>
  <symbol id="routing-sprite-sharp-left">
    <use href="#routing-sprite-sharp-right" transform="matrix(-1 0 0 1 21 0)" />
  </symbol>
  <symbol id="routing-sprite-u-turn-left">
    <use href="#routing-sprite-u-turn-right" transform="matrix(-1 0 0 1 20 0)" />
  </symbol>

  <symbol id="routing-sprite-roundabout" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M8 17 v-3 a 3 3 0 1 0 0 -6 3 3 0 1 0 0 6 m2 -4 l5 -5 m0 0 h-3 l3 3 z" />
  </symbol>

  <symbol id="routing-sprite-fork-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M9 14 q0 -2 -2 -4 l-3 -3" opacity=".5" />
    <path d="M9 17 v-3 q0 -2 2 -4 l5 -5 m0 0 h-3 l3 3 z" />
  </symbol>
  <symbol id="routing-sprite-fork-left">
    <use href="#routing-sprite-fork-right" transform="matrix(-1 0 0 1 20 0)" />
  </symbol>
  <symbol id="routing-sprite-merge-left" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M8 7 q0 2 -2 4 l-3 3" opacity=".5" />
    <path d="M8 4 v3 q0 2 2 4 l5 5 m-5 -5 h3 l-3 3 z" />
  </symbol>
  <symbol id="routing-sprite-merge-right">
    <use href="#routing-sprite-merge-left" transform="matrix(-1 0 0 1 20 0)" />
  </symbol>
  <symbol id="routing-sprite-end-of-road-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M2 9 h10" opacity=".5" />
    <path d="M9 17 v-5 q0 -3 3 -3 h4 m-2 2.5 l2.5 -2.5 -2.5 -2.5 z" />
  </symbol>
  <symbol id="routing-sprite-end-of-road-left">
    <use href="#routing-sprite-end-of-road-right" transform="matrix(-1 0 0 1 20 0)" />
  </symbol>
  <symbol id="routing-sprite-exit-right" fill="none" stroke="currentColor" stroke-width="2">
    <path d="M9 14 v-8" opacity=".5" />
    <path d="M9 17 v-3 q0 -2 2 -4 l5 -5 m0 0 h-3 l3 3 z" />
  </symbol>
  <symbol id="routing-sprite-exit-left">
    <use href="#routing-sprite-exit-right" transform="matrix(-1 0 0 1 20 0)" />
  </symbol>

  <symbol id="routing-sprite-ferry" fill="none" stroke="currentColor" stroke-width="1">
    <path d="M10.5 8 l-6 2 l2.5 2 v1.5 a2.828 2.828 0 0 1 1.5 1 a2.828 2.828 0 0 1 4 0 a2.828 2.828 0 0 1 1.5 -1 v-1.5 l2.5 -2 z" fill="currentColor" />
    <path d="M6.5 9.5 v-5 h8 v5 m-5.5 -6 h3" />
    <path d="M5.5 16.5 a1.414 2.828 0 0 1 2 0 a1.414 2.828 0 0 0 2 0 a1.414 2.828 0 0 1 2 0 a1.414 2.828 0 0 0 2 0 a1.414 2.828 0 0 1 2 0" />
  </symbol>
</svg>

<%= render "sidebar_header", :title => t(".title") %>

<div id="directions_loader" hidden>
  <div class="text-center loader">
    <div class="spinner-border" role="status">
      <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
    </div>
  </div>
</div>

<div id="directions_error" hidden></div>

<div id="directions_route" hidden>
  <div id="directions_distance_units_settings" class="collapse">
    <div class="btn-group btn-group-sm w-100">
      <input type="radio" class="btn-check" name="directions_distance_units" value="km_m" id="directions_distance_units_km_m" autocomplete="off" checked>
      <label class="btn btn-outline-secondary p-0 px-1" for="directions_distance_units_km_m"><%= t ".kilometers" %></label>

      <input type="radio" class="btn-check" name="directions_distance_units" value="mi_ft" id="directions_distance_units_mi_ft" autocomplete="off">
      <label class="btn btn-outline-secondary p-0 px-1" for="directions_distance_units_mi_ft"><%= t ".miles_feet" %></label>
    </div>
  </div>

  <div class="mx-n3">
    <table class='table table-hover table-sm mb-3'>
      <thead>
        <td colspan="2" class="ps-3">
          <span>
            <%= t ".distance" %>: <output id="directions_route_distance"></output>.
            <%= t ".time" %>: <output id="directions_route_time"></output>.
          </span>
          <br>
          <span id="directions_route_ascend_descend">
            <%= t ".ascend" %>: <output id="directions_route_ascend"></output>.
            <%= t ".descend" %>: <output id="directions_route_descend"></output>.
          </span>
        </td>
        <td class="pe-3 text-end">
          <button type="button" class="btn btn-outline-secondary p-1 border-0 me-n1" data-bs-toggle="collapse" data-bs-target="#directions_distance_units_settings">
            <svg width="16" height="16" fill="currentColor" class="d-block">
              <title><%= t ".distance_units_settings" %></title>
              <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0" />
              <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z" />
            </svg>
          </button>
        </td>
      </thead>
      <tbody id="directions_route_steps"></tbody>
    </table>
  </div>

  <p class="text-center">
    <%= tag.a t(".download"), :id => "directions_route_download", :download => t(".filename") %>
  </p>

  <p class="text-center">
    <%= t ".directions_courtesy_html", :link => tag.a("", :id => "directions_route_credit", :target => "_blank") %>
  </p>
</div>
