<p><%= t ".details" %></p>

<dl>
  <dt><%= t ".filename" %></dt>
  <% if @trace_url %>
    <dd><%= link_to(@trace_name, @trace_url) %></dd>
  <% else %>
    <dd><%= @trace_name %></dd>
  <% end %>
  <dt><%= t ".description" %></dt>
  <dd><%= @trace_description %></dd>
  <% if @trace_tags.length > 0 %>
    <dt><%= t ".tags" %></dt>
    <dd><%= @trace_tags.map(&:tag).join(", ") %></dd>
  <% end %>
  <% if @possible_points %>
    <dt><%= t ".total_points" %></dt>
    <dd><%= @possible_points %></dd>
  <% end %>
  <% if @trace_points %>
    <dt><%= t ".imported_points" %></dt>
    <dd><%= @trace_points %></dd>
  <% end %>
</dl>
