<p><%= t ".greeting" %></p>

<p><%= t ".hopefully_you", :server_url => Settings.server_url, :new_address => @address %></p>

<p><%= t ".click_the_link" %></p>

<p><a href="<%= @url %>"><%= @url %></a></p>
