<p><%= t ".hi", :to_user => @to_user %></p>

<p><%= t ".failed_to_import" %>

<%= render :partial => "gpx_details" %>

<p><%= t ".verify" %></p>

<blockquote>
  <%= @error %>
</blockquote>

<p>
  <%= t ".more_info_html", :url => link_to(t(".import_failures_url"), t(".import_failures_url")) %>
</p>
