<p><%= t ".hi", :to_user => @to_user %></p>

<p>
  <%= render :partial => "gpx_description" %>
  <%= t ".failed_to_import" %>
</p>

<blockquote>
  <%= @error %>
</blockquote>

<p>
  <%= t ".more_info_html", :url => link_to(t(".import_failures_url"), t(".import_failures_url")) %>
</p>
