<p><%= t ".hi", :to_user => @to_user %></p>

<p><%= t ".failed_to_import" %></p>

<%= render "gpx_details",
           :trace_name => @trace_name,
           :trace_description => @trace_description,
           :trace_tags => @trace_tags %>

<p><%= t ".verify" %></p>

<blockquote>
  <%= @error %>
</blockquote>

<p>
  <%= t ".more_info_html", :url => link_to(t(".import_failures_url"), t(".import_failures_url")) %>
</p>
