<p><%= t "user_mailer.lost_password_html.greeting" %></p>

<p><%= t "user_mailer.lost_password_html.hopefully_you" %></p>

<p><%= t "user_mailer.lost_password_html.click_the_link" %></p>

<p><a href="<%= @url %>"><%= @url %></a></p>
