<p><%= t ".greeting" %></p>

<% if @owner %>
  <p><%= raw t ".#{@event}.your_note", :commenter => link_to_user(@commenter), :place => @place %></p>
<% else %>
  <p><%= raw t ".#{@event}.commented_note", :commenter => link_to_user(@commenter), :place => @place %></p>
<% end %>

<% unless @comment.empty? %>
  <%= message_body do %>
    <%= @comment.to_html %>
  <% end %>
<% end %>

<p><%= raw t ".details", :url => link_to(@noteurl, @noteurl) %></p>
