<p><%= t ".greeting" %></p>

<p><%= t ".#{@event}.#{@owner ? 'your' : 'commented'}_note_html", :commenter => link_to_user(@commenter), :place => @place %></p>

<% unless @comment.empty? %>
  <%= message_body :author => @author, :avatar => @avatar do %>
    <%= @comment.to_html %>
  <% end %>
<% end %>

<p><%= t ".details_html", :url => link_to(@noteurl, @noteurl) %></p>
