<% content_for :heading do %>
  <h2><%= t'message.inbox.my_inbox'%>/<%= link_to t('message.inbox.outbox'), outbox_path(@user.display_name) %></h2>
<% end %>

  <h4><%= render :partial => "message_count" %></h4>

<% if @user.messages.size > 0 %>
  <table class="messages">
    <thead>
      <tr>
        <th><%= t'message.inbox.from' %></th>
        <th><%= t'message.inbox.subject' %></th>
        <th><%= t'message.inbox.date' %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <%= render :partial => "message_summary", :collection => @user.messages %>
    </tbody>
  </table>
<% else %>
  <div><%= raw(t'message.inbox.no_messages_yet', :people_mapping_nearby_link => link_to(t('message.inbox.people_mapping_nearby'), :controller => 'user', :action => 'view', :display_name => @user.display_name)) %></div>
<% end %>
