<% content_for :heading do %>
  <h2><%= raw(t'message.new.send_message_to', :name => link_to(h(@this_user.display_name), {:controller => 'user', :action => 'view', :display_name => @this_user.display_name})) %></h2>
<% end %>

<%= error_messages_for 'message' %>

<%= form_for :message, :url => { :action => "new", :display_name => @this_user.display_name } do |f| %>
  <table>
    <tr valign="top">
      <td class="fieldName"><%= t'message.new.subject' %></td>
      <td><%= f.text_field :title, :size => 60, :value => @subject %></td>
    </tr>
    <tr valign="top">
      <td class="fieldName"><%= t'message.new.body' %></td>
      <td><%= richtext_area :message, :body, :cols => 80, :value => @body %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag t('message.new.send_button') %></td>
    </tr>
  </table>
<% end %>

<br />

<%= link_to t('message.new.back_to_inbox'), :controller => 'message', :action => 'inbox', :display_name => @user.display_name %>
