<% content_for :heading do %>
  <h2><%= raw(t'message.new.send_message_to', :name => link_to(h(@this_user.display_name), {:controller => 'user', :action => 'view', :display_name => @this_user.display_name})) %></h2>
<% end %>

<%= error_messages_for 'message' %>

<%= form_for :message, :html => { :class => 'standard-form' }, :url => { :action => "new", :display_name => @this_user.display_name } do |f| %>
  <fieldset class="form-row">
    <label><%= t'message.new.subject' %></label>
    <%= f.text_field :title, :size => 60, :value => @subject %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t'message.new.body' %></label>
    <%= richtext_area :message, :body, :cols => 80, :value => @body %>
  </fieldset>

  <fieldset class="form-row">
    <%= submit_tag t('message.new.send_button') %>
  </fieldset>
<% end %>

<br />

<%= link_to t('message.new.back_to_inbox'), :controller => 'message', :action => 'inbox', :display_name => @user.display_name %>
