<% if @user == @message.recipient %>

<h2><%= t'message.read.reading_your_messages' %></h2>

<table>
  <tr>
    <th class="fieldName"><%= t'message.read.from' %></th>
    <td><%= link_to h(@message.sender.display_name), :controller => 'user', :action => 'view', :display_name => @message.sender.display_name %></td>
    <td rowspan="4" valign="top"><%= user_thumbnail @message.sender %></td>
  </tr>
  <tr>
    <th class="fieldName"><%= t'message.read.subject' %></th>
    <td><%= h(@message.title) %></td>
    <td></td>
  </tr>
  <tr>
    <th class="fieldName"><%= t'message.read.date' %></th>
    <td><%= l @message.sent_on, :format => :friendly %></td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><%= @message.body.to_html %></td>
    <td></td>
  </tr>
</table>

<br />

<table>
  <tr>
    <td><%= button_to t('message.read.reply_button'), :controller => 'message', :action => 'reply', :message_id => @message.id %></td>
    <td><%= button_to t('message.read.unread_button'), :controller => 'message', :action => 'mark', :message_id => @message.id, :mark => 'unread' %></td>
    <td><%= link_to t('message.read.back_to_inbox'), :controller => 'message', :action => 'inbox', :display_name => @user.display_name %></td>
  </tr>
</table>

<% else %>

<h2><%= t'message.read.reading_your_sent_messages' %></h2>

<table>
  <tr>
    <th class="fieldName"><%= t'message.read.to' %></th>
    <td><%= link_to h(@message.recipient.display_name), :controller => 'user', :action => 'view', :display_name => @message.recipient.display_name %></td>
    <td rowspan="4" valign="top"><%= user_thumbnail @message.recipient %></td>
  </tr>
  <tr>
    <th class="fieldName"><%= t'message.read.subject' %></th>
    <td><%= h(@message.title) %></td>
    <td></td>
  </tr>
  <tr>
    <th class="fieldName"><%= t'message.read.date' %></th>
    <td><%= l @message.sent_on, :format => :friendly %></td>
    <td></td>
  </tr>
  <tr>
    <th></th>
    <td><%= @message.body.to_html %></td>
    <td></td>
  </tr>
</table>

<br />

<table>
  <tr>
    <td><%= link_to t('message.read.back_to_outbox'), :controller => 'message', :action => 'outbox', :display_name => @user.display_name %></td>
  </tr>
</table>

<% end %>
