<% content_for :heading do %>
  <h1><%= t '.title' %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t('third_party_services.index.title'), third_party_services_path %></li>
  </ul>
<% end %>

<p>OpenStreetMap offers a mechanism to confirm that somebody is an OSM user without revealing the user's identity.
If you need such a mechanism for your service then you can announce it here.</p>

<p>Users then can create keys on their own via the <em>third_party_keys</em> page.
Your service shall use the <em>API key API</em> to retrieve the keys that are valid for your service.</p>

<p>We suggest that you use a URI that is associated with your service as identifier for the service.
That way it is ensured that the service identifiers are unique.</p>

<%= form_with scope: :third_party_service, url: third_party_services_path, local: true do |f| %>
<% if @service && @service.errors.any? %>
<p><strong>Cannot create this service.</strong>
Reasons:
<ul>
<% @service.errors.full_messages.each do |msg| %>
   <li>&nbsp;&nbsp;<strong><%= msg %></strong></li>
<% end %>
</ul>
</p>
<% end %>

<%= f.text_field :uri %>
<%= f.submit 'Announce Service' %>
<% end %>
