<% set_title(t("browse.#{@type}.title_html", :name => printable_element_name(@feature))) %>

<%= render "sidebar_header", :title => t("browse.#{@type}.title_html", :name => printable_element_name(@feature)) %>

<%= render :partial => "browse/#{@type}", :object => @feature %>

<% if @feature.visible? %>
  <div class='secondary-actions mb-3'>
    <%= link_to(t("browse.download_xml"), :controller => "api/#{@type.pluralize}", :action => :show) %>
  </div>
<% end %>

<nav>
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item active" aria-current="page">
      <%= tag.span "Element", :class => "py-1 px-2 rounded bg-body-secondary" %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "History", :controller => "old_#{@type.pluralize}" %>
      <% if current_user&.moderator? %>
        &middot;
        <%= link_to "Unredacted History", :controller => "old_#{@type.pluralize}", :params => { :show_redactions => true } %>
      <% end %>
    </li>
  </ol>

  <%= element_versions_pagination(@feature.version, @feature.version) do |v|
        { :controller => "old_#{@type.pluralize}", :action => :show, :version => v }
      end %>
</nav>
