<% content_for :heading_class, "pb-0" %>

<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
  <%= render :partial => "navigation" %>
<% end %>

<%= bootstrap_form_for current_user, :url => { :action => :update } do |f| %>
  <%= f.check_box :public_heatmap, :label => t(".show_heatmap_in_public"), :checked => current_user.public_heatmap? %>

  <%= f.primary t(".save") %>
  <%= link_to t(".cancel"), current_user, :class => "btn btn-link" %>
<% end %>
