<div>
  <% comments.each do |comment| %>
    <div class="row">
      <div class="col-auto">
        <%= link_to user_thumbnail(comment.user), user_path(comment.user) %>
      </div>
      <div class="col">
        <p class="text-muted">
          <%= t ".comment_from_html", :user_link => link_to(comment.user.display_name, user_path(comment.user)),
                                      :comment_created_at => l(comment.created_at.to_datetime, :format => :friendly) %>
        </p>
        <div class="richtext text-break"><%= comment.body.to_html %></div>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<div>
  <%= bootstrap_form_for @new_comment, :url => issue_comments_path(@issue) do |f| %>
    <%= f.richtext_field :body, :cols => 80, :rows => 20, :hide_label => true %>
    <%= f.form_group do %>
      <%= f.check_box :reassign, { :label => t(".reassign_param"), :id => "reassign", :name => "reassign", :checked => false }, true, false %>
    <% end %>
    <%= f.primary %>
  <% end %>
</div>
