<div class="issue-comments">
  <% comments.each do |comment| %>
    <div class="comment">
      <div class="float-left">
        <%= link_to user_thumbnail(comment.user), user_path(comment.user) %>
      </div>
      <p class="text-muted mb-0">
        <%= t ".comment_from_html", :user_link => link_to(comment.user.display_name, user_path(comment.user)),
                                    :comment_created_at => l(comment.created_at.to_datetime, :format => :friendly) %>
      </p>
      <p><%= comment.body %></p>
    </div>
    <hr>
  <% end %>
</div>
<br />
<div class="comment">
  <%= form_for @new_comment, :url => issue_comments_path(@issue) do |f| %>
  <%= richtext_area :issue_comment, :body, :cols => 10, :rows => 8, :required => true %>
  <%= label_tag :reassign, t(".reassign_param") %> <%= check_box_tag :reassign, true %>
  <br />
  <br />
  <%= f.submit %>
  <% end %>
</div>
