<% @issues.each do |issue| %>
    <tr>
        <td><%= t ".states.#{issue.status}" %></td>
        <td class="text-nowrap"><%= link_to t(".reports_count", :count => issue.reports_count), issue %></td>
        <td><%= link_to reportable_title(issue.reportable), reportable_url(issue.reportable) %></td>
        <td><%= link_to issue.reported_user.display_name, issue.reported_user if issue.reported_user %></td>
        <td>
        <% if issue.user_updated %>
            <%= t ".last_updated_time_ago_user_html", :user => link_to(issue.user_updated.display_name, issue.user_updated), :time_ago => friendly_date_ago(issue.updated_at) %>
        <% else %>
            <%= friendly_date_ago(issue.updated_at) %>
        <% end %>
        </td>
    </tr>
<% end %>

<% if @issues.length != 0 && @older_issues_id != nil %>
    <tr class="d-none">
        <td>
            <input type="hidden" name="before" value="<%= @older_issues_id %>" disabled>
        </td>
    </tr>
<% elsif @issues.length == 0 && @older_issues_id == nil && params[:before] == nil %>
    <tr>
        <td colspan="5" class="text-center border-bottom-0"><%= @user_not_found_error || (t ".issues_not_found") %></td>
    </tr>
<% end %>
