<% reports.each do |report| %>
  <div class="reports">
    <div style="float:left">
      <%= link_to user_thumbnail(report.user), :controller => :user, :action =>:view, :display_name => report.user.display_name %>
    </div>
    Reported by <b><%= link_to report.user.display_name, :controller => :user, :action =>:view, :display_name => report.user.display_name %></b> <br/>
    <span class="deemphasize">
      On <%= l report.updated_at.to_datetime, :format => :friendly %>
    </span>
    <br/>
    <span class="deemphasize">
      Category: <%= report.category %>
    </span>
    <br/>
    <%= report.details %>
    <br/>
  </div>
  <hr>
<% end %>
