<% reports.each do |report| %>
	<div class="reports">
		<div style="float:left">
			<%= link_to user_thumbnail(report.user), :controller => :user,:action =>:view, :display_name => report.user.display_name %>
		</div>
		<b><%= link_to report.user.display_name, :controller => :user,:action =>:view, :display_name => report.user.display_name %></b> <br/>
		<% details =  report.details.split("--||--") %>
		<%= details[0] %> 
		<br/>
		<br/>
		<label>Tags:</label> 
		<% details[1..(details.size-1)].each do |tags| %>
			<%= tags %>
		<% end %>
		<br/>
		<span class="deemphasize">
		On <%= l report.created_at.to_datetime, :format => :long %> </span>
	</div>
	<hr>
<% end %>
