<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<p><%= t ".search_guidance" %></p>

<%= form_tag(issues_path, :method => :get, :data => { "turbo" => true, "turbo-frame" => "pagination", "turbo-action" => "advance" }) do %>
  <div class="row gx-1">
    <div class="mb-3 col-md-auto">
      <%= select_tag :status,
                     options_for_select(Issue.aasm.states.map(&:name).map { |state| [t(".states.#{state}"), state] }, params[:status]),
                     :include_blank => t(".select_status"),
                     :data => { :behavior => "category_dropdown" },
                     :class => "form-select" %>
    </div>
    <div class="mb-3 col-md-auto">
      <%= select_tag :issue_type,
                     options_for_select(@issue_types.map { |issue_type| [issue_type.constantize.model_name.human, issue_type] }, params[:issue_type]),
                     :include_blank => t(".select_type"),
                     :data => { :behavior => "category_dropdown" },
                     :class => "form-select" %>
    </div>
    <div class="mb-3 col-md">
      <%= text_field_tag :search_by_user,
                         params[:search_by_user],
                         :placeholder => t(".reported_user"),
                         :autocomplete => "on",
                         :class => "form-control" %>
    </div>
    <div class="mb-3 col-md-auto">
      <%= select_tag :last_updated_by,
                     options_for_select(@users.all.collect { |f| [f.display_name, f.id] } << [t(".not_managed"), "nil"], params[:last_updated_by]),
                     :include_blank => t(".select_last_managed_by"),
                     :data => { :behavior => "category_dropdown" },
                     :class => "form-select" %>
    </div>
    <div class="mb-3 col-md-auto">
      <%= submit_tag t(".search"), :name => nil, :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= render :partial => "page" %>
