<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<%= form_tag(issues_path, :method => :get) do %>
<p><%= t ".search_guidance" %></p>
<%= select :status, nil, Issue.aasm.states.map(&:name).map{|state| [t("issues.states.#{state}"), state]}, { :include_blank => t(".select_status")}, data: { behavior: 'category_dropdown' } %>
<%= select :issue_type, nil, @issue_types, { :include_blank => t(".select_type")}, data: { behavior: 'category_dropdown' } %>
<%= text_field_tag :search_by_user, params[:search_by_user], placeholder: t(".reported_user") %>
<%= select :last_updated_by, nil, @users.all.collect  {|f| [f.display_name, f.id]} << [ t(".not_updated"), "nil"], { :include_blank => t(".select_last_updated_by")}, data: { behavior: 'category_dropdown' } %>
<%= submit_tag t(".search") %>
<% end %>
<br/>

<% if @issues.length == 0 %>
  <p><%= t ".issues_not_found" %></p>
<% end %>

<br/>

<table>
  <thead>
    <tr>
      <td><b><%= t ".status" %></b></td>
      <td><b><%= t ".number_of_reports" %></b></td>
      <td><b><%= t ".last_updated_at" %></b></td>
      <td><b><%= t ".last_updated_by" %></b></td>
      <td><b><%= t ".link_to_reports" %></b></td>
      <td><b><%= t ".reported_user" %></b></td>
      <td><b><%= t ".link_to_reported_instance" %></b></td>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= t "issues.states.#{issue.status}" %></td>
        <td style="text-align:center;"><%= issue.reports_count %></td>
        <td><%= l(issue.updated_at.to_datetime, :format => :friendly) %></td>
        <td><% if issue.user_updated %> <%= issue.user_updated.display_name %> <% else %> - <% end %></td>
        <td><%= link_to reportable_title(issue.reportable), issue %></td>
        <td><%= link_to issue.reported_user.display_name, :controller => :user, :action => :view, :display_name => issue.reported_user.display_name if issue.reported_user %></td>
        <td><%= link_to t(".show_instance"), reportable_url(issue.reportable) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
