<% content_for :heading do %>
    <h1>Report <%= reportable_url(@issue.reportable) %></h1>
<% end %>

<%= form_for(@issue) do |f| %>
    <%= f.error_messages %>
        <fieldset>
            <div class='form-row'>
                <%= f.hidden_field :reportable_id %>
                <%= f.hidden_field :reportable_type %>
                <%= f.hidden_field :reported_user_id %>
            </div>

            <div class='form-row'>
                <p>Select one (or more) reasons for your report:</p>

                <% @report_strings_yaml.each do |k,v| %>
                    <div class="new-report-form">
                        <div class="new-report-checkbox">
                        <%= check_box_tag k.to_sym, v[:type].to_s %>
                        </div>
                        <div class="new-report-string">
                            <%= label_tag v[:details].to_s %> <br/>
                        </div>
                    </div>
                    <br/>
                <% end %> 
                
                <label class="standard-label"><b><%= t 'issue.new.message' -%>: </b></label> <br/>
                <%= text_area :report, :details, :cols => 80, :rows => 20, placeholder: t('issues.new.details'), required: true %>
            </div>

            <div class='buttons'>
                <%= submit_tag %>
            </div>
        
        </fieldset>
<% end %>