<% content_for :heading do %>
<h2> <%= @issue.status.humanize %> Issue #<%= @issue.id %> <br/></h2>
<p><%= report_type(@issue.reportable_type) %> : <%= reportable_url(@issue.reportable) %></p>
<p class="deemphasize">
  <small>
    <%= @issue.assigned_role %>
    | <%= @issue.reports.count %> reports
    | First reported: <%= l @issue.created_at.to_datetime, :format => :friendly %>
    <%= "| Last resolved at #{l(@issue.resolved_at.to_datetime, :format =>:friendly)}" if @issue.resolved_at? %>
    <%= "| Last updated at #{l(@issue.updated_at.to_datetime, :format => :friendly)} by #{@issue.user_updated.display_name}" if @issue.user_updated %>
  </small>
</p>
<p>
  <%= link_to t('issues.resolve'), resolve_issue_url(@issue), :method => :post if @issue.may_resolve? %>
  <% if @issue.may_ignore? %>
  | <%= link_to t('issues.ignore'), ignore_issue_url(@issue), :method => :post %>
  <% end %>
</p>
<p><%= link_to t('issues.reopen'), reopen_issue_url(@issue), :method => :post if @issue.may_reopen? %></p>
<% end %>

<div class="report-related-block">

  <div class="report-block">
    <h3>Reports under this issue:</h3>

    <% if @read_reports.present? %>
    <div class="read-reports">
      <h4>Read Reports:</h4>
      <br/>
      <%= render 'reports',reports: @read_reports %>
    </div>
    <% end %>

    <% if @unread_reports.any? %>
    <div class="unread-reports">
      <h4>New Reports:</h4>
      <br/>
      <%= render 'reports',reports: @unread_reports %>
    </div>
    <% end %>
    <br/>
  </div>

  <div class="related-block">
    <h3> Other issues against this user: </h3>
    <div class="unread-reports">
      <% if @related_issues.count > 1 %>
        <% @related_issues.each do |issue| %>
          <% if issue.id != @issue.id %>
            <%= reports_url(issue) %> <br/>
          <% end %>
        <% end %>
      <% else %>
        <p>No other reports against this user!</p>
      <% end %>
    </div>
  </div>
</div>

<h3>Comments on this issue:</h3>
<div class="unread-reports">
  <%= render 'comments', comments: @comments %>
</div>
