<%= form_with(:model => microcosm_member, :local => true) do |form| %>
  <div class="field">
    <%= form.label :microcosm_id %>
    <%= collection_select(:microcosm_member, :microcosm_id, Microcosm.all, :id, :name, :prompt => true) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= collection_select(:microcosm_member, :user_id, User.order("display_name").all, :id, :display_name, :prompt => true) %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select(:role, MicrocosmMember::Roles::ALL_ROLES.map { |role| [role.titleize, role] }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
