<p>
  <%= t ".hi", :to_user => @to_user %>
</p>
<p>
  <% if @owner %>
    <%= raw t ".commented.your_changeset", :commenter => link_to_user(@commenter), :time => @time %>
  <% else %>
    <%= raw t ".commented.commented_changeset", :commenter => link_to_user(@commenter), :time => @time, :changeset_author => @changeset_author %>
  <% end %>
  <% if @changeset_comment %>
    <%= raw t ".commented.partial_changeset_with_comment", :changeset_comment => content_tag("em", @changeset_comment) %>
  <% else %>
    <%= t ".commented.partial_changeset_without_comment" %>
  <% end %>
</p>

<%= message_body do %>
  <%= @comment.to_html %>
<% end %>

<p>
  <%= raw t ".details", :url => link_to(@changeset_url, @changeset_url) %>
</p>

<% content_for :footer do %>
  <p>
    <%= raw t ".unsubscribe", :url => link_to(@changeset_url, @changeset_url, :style => "color: #222") %>
  </p>
<% end %>
