<p>
  <% if @owner %>
    <%= raw t "notifier.changeset_comment_notification.commented.your_changeset", :commenter => link_to_user(@commenter), :time => @time %>
  <% else %>
    <%= raw t "notifier.changeset_comment_notification.commented.commented_changeset", :commenter => link_to_user(@commenter), :time => @time, :changeset_author => @changeset_author %>
  <% end %>
  <% if @changeset_comment %>
    <%= raw t "notifier.changeset_comment_notification.commented.partial_changeset_with_comment", :changeset_comment => content_tag("em", @changeset_comment) %>
  <% else %>
    <%= t "notifier.changeset_comment_notification.commented.partial_changeset_without_comment" %>
  <% end %>
</p>

<%= message_body do %>
  <%= @comment.to_html %>
<% end %>

<p>
  <%= raw t 'notifier.changeset_comment_notification.details', :url => link_to(@changeset_url, @changeset_url, :style => "white-space: nowrap") %>
</p>

<% content_for :footer do %>
  <p>
    <%= raw t 'notifier.changeset_comment_notification.unsubscribe', :url => link_to(@changeset_url, @changeset_url, :style => "color: #222; white-space: nowrap") %>
  </p>
<% end %>
