<p>
  <%= t '.hi', :to_user => @to_user %>
</p>
<p>
  <%= raw t '.header', :from_user => link_to_user(@from_user), :subject => content_tag("em", @title) %>
</p>

<%= message_body do %>
  <%= @text.to_html %>
<% end %>

<% content_for :footer do %>
  <p><%= raw t '.footer',
             :readurl => link_to(@readurl, @readurl) + tag(:br),
             :commenturl => link_to(@commenturl, @commenturl) + tag(:br),
             :replyurl => link_to(@replyurl, @replyurl)
  %></p>
<% end %>
