<p><%= t 'notifier.email_confirm_html.greeting' %></p>

<p><%= t 'notifier.email_confirm_html.hopefully_you', :server_url => Settings.server_url, :new_address => @address %></p>

<p><%= t 'notifier.email_confirm_html.click_the_link' %></p>

<p><a href="<%= @url %>"><%= @url %></a></p>
