<p><%= t 'notifier.gpx_notification.greeting' %></p>

<p>
  <%= render :partial => "gpx_description" %>
  <%= t 'notifier.gpx_notification.failure.failed_to_import' %>
</p>

<blockquote>
  <%= @error %>
</blockquote>

<p>
  <%= t 'notifier.gpx_notification.failure.more_info_1' %>
  <%= t 'notifier.gpx_notification.failure.more_info_2' %>
  <%= t 'notifier.gpx_notification.failure.import_failures_url' %>
</p>
