<p style="margin: 0"><%= t("notifier.signup_confirm.greeting") %></p>

<p><%= t("notifier.signup_confirm.created", :site_url => SERVER_URL) %></p>

<p><%= t("notifier.signup_confirm.confirm") %></p>

<p><%= link_to @url, @url, :style => "white-space: nowrap" %></p>

<p><%= t("notifier.signup_confirm.welcome") %></p>
