<p><%= t("notifier.signup_confirm.greeting") %></p>

<p><%= t("notifier.signup_confirm.created", :site_url => SERVER_URL) %></p>

<% if @url -%>
<p><%= t("notifier.signup_confirm.confirm") %></p>

<p><%= link_to @url, @url %></p>
<% end -%>

<p><%= t("notifier.signup_confirm.welcome") %></p>

<p><%= raw(t("notifier.signup_confirm_html.introductory_video", :introductory_video_link => link_to(t('notifier.signup_confirm_html.video_to_openstreetmap'), "http://showmedo.com/videos/video?name=1800000&fromSeriesID=180"))) %>
   <%= raw(t("notifier.signup_confirm_html.more_videos", :more_videos_link => link_to(t('notifier.signup_confirm_html.more_videos_here'), "http://showmedo.com/videos/series?name=mS2P1ZqS6"))) %></p>

<p><%= raw(t("notifier.signup_confirm_html.get_reading")) %></p>

<p><%= raw(t("notifier.signup_confirm_html.ask_questions")) %></p>

<p><%= raw(t("notifier.signup_confirm_html.wiki_signup")) %></p>

<p><%= raw(t("notifier.signup_confirm_html.user_wiki_page")) %></p> 

<p><%= raw(t("notifier.signup_confirm_html.current_user")) %></p>
