<p><%= t'notifier.signup_confirm_html.greeting' %></p>

<p><%= t'notifier.signup_confirm_html.hopefully_you' %>
   <%= SERVER_URL %>.</p>

<p><%= t'notifier.signup_confirm_html.click_the_link' %></p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p><%= t'notifier.signup_confirm_html.introductory_video', :introductory_video_link => ('<a href="http://showmedo.com/videos/video?name=1800000&fromSeriesID=180">' + t('notifier.signup_confirm_html.video_to_openstreetmap') + '</a>') %> <%= t'notifier.signup_confirm_html.more_videos', :more_videos_link => ('<a href="http://showmedo.com/videos/series?name=mS2P1ZqS6">' + t('notifier.signup_confirm_html.more_videos_here') + '</a>') %>

<p><%= t'notifier.signup_confirm_html.get_reading' %></p>

<p><%= t'notifier.signup_confirm_html.ask_questions' %></p>

<p><%= t'notifier.signup_confirm_html.wiki_signup' %></p>

<p><%= t'notifier.signup_confirm_html.user_wiki_page' %></p> 

<p><%= t'notifier.signup_confirm_html.current_user' %></p>
