<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to t(".description"), profile_description_path, :class => { "nav-link" => true, "active" => controller_name == "descriptions" } %>
  </li>
  <li class="nav-item">
    <%= link_to t(".links"), profile_links_path, :class => { "nav-link" => true, "active" => controller_name == "links" } %>
  </li>
  <li class="nav-item">
    <%= link_to t(".image"), profile_image_path, :class => { "nav-link" => true, "active" => controller_name == "images" } %>
  </li>
  <li class="nav-item">
    <%= link_to t(".company"), profile_company_path, :class => { "nav-link" => true, "active" => controller_name == "companies" } %>
  </li>
  <li class="nav-item">
    <%= link_to t(".location"), profile_location_path, :class => { "nav-link" => true, "active" => controller_name == "locations" } %>
  </li>
  <li class="nav-item">
    <%= link_to t(".heatmap"), profile_heatmap_path, :class => { "nav-link" => true, "active" => controller_name == "heatmaps" } %>
  </li>
</ul>
