<% @title = t ".title" %>

<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
<% end %>

<%= bootstrap_form_for(@redaction) do |f| %>
  <%= f.text_field :title %>
  <%= f.richtext_field :description, :cols => 80, :rows => 20, :format => @redaction.description_format %>
  <%= f.primary %>
<% end %>
