<% @title = t ".title" %>
<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
<% end %>

<%= form_for(@redaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title, t(".title") %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description, t(".description") %><br />
    <%= richtext_area :redaction, :description, :cols => 80, :rows => 20, :format => @redaction.description_format %>
  </p>
  <p>
    <%= f.submit t(".submit") %>
  </p>
<% end %>
