<% @title = t(".title") %>
<% content_for :heading do %>
  <h1><%= t(".heading", :title => @redaction.title) %></h1>
<% end %>

<p>
  <b><%= t ".user" %></b>
  <%= link_to(@redaction.user.display_name, user_path(@redaction.user)) %>
</p>
<div class="richtext">
  <b><%= t ".description" %></b>
  <%= @redaction.description.to_html %>
</div>

<% if current_user and current_user.moderator? %>
<div class="buttons">
  <%= button_to t(".edit"), edit_redaction_path(@redaction), :method => :get %></td>
  <%= button_to t(".destroy"), @redaction, :method => "delete", :remote => true, :data => { :confirm => t(".confirm") } %>
</div>
<% end %>
