<% @title = t('redaction.show.title') %>
<% content_for :heading do %>
  <h1><%= t('redaction.show.heading', :title => @redaction.title) %></h1>
<% end %>

<p>
  <b><%= t 'redaction.show.user' %></b>
  <%= link_to(@redaction.user.display_name, {:controller => 'user', :action => 'view', :display_name => @redaction.user.display_name}) %>
</p>
<p class="richtext">
  <b><%= t 'redaction.show.description' %></b>
  <%= @redaction.description.to_html %>
</p>

<% if current_user and current_user.moderator? %>
<div class="buttons">
  <%= button_to t('redaction.show.edit'), edit_redaction_path(@redaction), :method => :get %></td>
  <%= button_to t('redaction.show.destroy'), @redaction, :method => "delete", :remote => true, :data => { :confirm => t('redaction.show.confirm') } %>
</div>
<% end %>
