<h1><%= h(@title) %></h1>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, :action => 'georss', :display_name => @display_name, :tag => @tag %>
<% end %>

<p>
  <%= rss_link_to :action => 'georss', :display_name => @display_name, :tag => @tag %>
  <% if @user.nil? or @display_name.nil? or @user.display_name != @display_name %>
    | <%= link_to t('trace.trace_header.see_just_your_traces'), :action => 'mine' %>
  <% end %>
  <% if @tag or @display_name %>
    | <%= link_to t('trace.trace_header.see_all_traces'), :controller => 'trace', :action => 'list' %>
  <% end %>
  <% if @tag and @user and @user.display_name == @display_name %>
    | <%= link_to t('trace.trace_header.see_your_traces'), :controller => 'trace', :action => 'mine' %>
  <% end %>
</p>
