<% content_for :heading do %>
  <h1><%= t'trace.create.upload_trace' %></h1>
<% end %>

<%= error_messages_for 'trace' %>

<%= form_for @trace, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
  <div class="standard-form">
    <fieldset>
      <div class='form-row'>
        <label for="trace_gpx_file" class="standard-label"><%= t'trace.trace_form.upload_gpx' %></label>
        <%= f.file_field :gpx_file %>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t'trace.trace_form.description' %></label>
        <%= f.text_field :description %>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t'trace.trace_form.tags' %></label>
        <%= f.text_field :tagstring %>
        <span class="form-help deemphasize">(<%= t'trace.trace_form.tags_help' %>)</span>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t'trace.trace_form.visibility' %></label>
        <%= f.select :visibility, [[t('trace.visibility.private'),"private"],[t('trace.visibility.public'),"public"],[t('trace.visibility.trackable'),"trackable"],[t('trace.visibility.identifiable'),"identifiable"]] %>
        <span class="form-help deemphasize">(<a href="<%= t'trace.trace_form.visibility_help_url' %>"><%= t'trace.trace_form.visibility_help' %></a>)</span>
      </div>
    </fieldset>

    <%= submit_tag t('trace.trace_form.upload_button') %>
    <span class="form-help deemphasize"><a href="<%= t'trace.trace_form.help_url' %>"><%= t'trace.trace_form.help' %></a></span>
  </div>
<% end %>
