<% content_for :heading do %>
  <h2><%= t 'trace.edit.heading', :name => h(@trace.name) %></h2>
<% end %>

<img src="<%= url_for :controller => 'trace', :action => 'picture', :id => @trace.id, :display_name => @trace.user.display_name %>">

<%= form_for @trace, :url => { :action => "edit" } do |f| %>

<table border="0">
  <tr>
    <td><%= t'trace.edit.filename' %></td>
    <td><%= @trace.name %> (<%= link_to t('trace.edit.download'), :controller => 'trace', :action => 'data', :id => @trace.id %>)</td>
  </tr>
  <tr>
    <td><%= t'trace.edit.uploaded_at' %></td>
    <td><%= l @trace.timestamp, :format => :friendly %></td>
  </tr>
  <% if @trace.inserted? %>
  <tr>
    <td><%= t'trace.edit.points' %></td>
    <td><%= @trace.size.to_s.gsub(/(\d)(?=(\d{3})+$)/,'\1,') %></td></tr>
  <tr>
    <td><%= t'trace.edit.start_coord' %></td>
    <td><div class="geo" style="display: inline"><span class="latitude"><%= @trace.latitude %></span>; <span class="longitude"><%= @trace.longitude %></span></div> (<%=link_to t('trace.edit.map'), :controller => 'site', :action => 'index', :lat => @trace.latitude, :lon => @trace.longitude, :zoom => 14 %> / <%=link_to t('trace.edit.edit'), :controller => 'site', :action => 'edit', :lat => @trace.latitude, :lon => @trace.longitude, :gpx=> @trace.id, :zoom => 14 %>)</td>
  </tr>
  <% end %>
  <tr>
    <td><%= t'trace.edit.owner' %></td>
    <td><%= link_to h(@trace.user.display_name), {:controller => 'user', :action => 'view', :display_name => @trace.user.display_name} %></td>
  </tr>
  <tr>
    <td><%= t'trace.edit.description' %></td>
    <td><%= f.text_field :description, :size => 50 %></td>
  </tr>
  <tr>
    <td><%= t'trace.edit.tags' %></td>
    <td><%= f.text_field :tagstring, :size => 50 %> (<%= t'trace.edit.tags_help' %>)</td>
  </tr>
  <tr>
    <td><%= t'trace.edit.visibility' %></td>
    <td><%= f.select :visibility, [[t('trace.visibility.private'),"private"],[t('trace.visibility.public'),"public"],[t('trace.visibility.trackable'),"trackable"],[t('trace.visibility.identifiable'),"identifiable"]] %> (<a href="<%= t'trace.edit.visibility_help_url' %>"><%= t'trace.edit.visibility_help' %></a>)</td>
  </tr>
</table>

<br /><br />

<%= submit_tag t'trace.edit.save_button' %>

<% end %>
