<h1><%= h(@title) %></h1>

<% content_for :head do %>
<%= auto_discovery_link_tag :atom, :action => 'georss', :display_name => @display_name, :tag => @tag %>
<% end %>

<p>
  <%= rss_link_to :action => 'georss', :display_name => @display_name, :tag => @tag %>
  | <%= link_to t('trace.trace_header.upload_trace'), :action => 'create' %>
  <% if @tag %>
    | <%= link_to t('trace.trace_header.see_all_traces'), :controller => 'trace', :action => 'list', :display_name => nil, :tag => nil, :page => nil %>
    | <%= link_to t('trace.trace_header.see_your_traces'), :action => 'mine', :tag => nil, :page => nil %>
  <% else %>
    <% if @display_name %>
      | <%= link_to t('trace.trace_header.see_all_traces'), :controller => 'trace', :action => 'list', :display_name => nil, :tag => nil, :page => nil %>
    <% end %>
    <%= unless_user(@target_user, :span) do %>
      | <%= link_to t('trace.trace_header.see_your_traces'), :action => 'mine', :tag => nil, :page => nil %>
    <% end %>
  <% end %>
</p>

<%= render :partial => 'trace_paging_nav' %>

<table id="trace_list" cellpadding="3">
  <tr>
    <th></th>
    <th></th>
  </tr>
  <%= render :partial => 'trace', :collection => @traces unless @traces.nil? %>
</table>

<%= render :partial => 'trace_paging_nav' %>

<%= render :partial => 'trace_optionals' %>
