<% content_for :heading do %>
  <h1><%= h(@title) %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= t('trace.list.description') %></li>
    <li><%= rss_link_to :action => 'georss', :display_name => @display_name, :tag => @tag %></li>
    <li><%= link_to t('trace.trace_header.upload_trace'), :action => 'create' %></li>
    <% if @tag %>
      <li><%= link_to t('trace.trace_header.see_all_traces'), :controller => 'trace', :action => 'list', :display_name => nil, :tag => nil, :page => nil %></li>
      <li><%= link_to t('trace.trace_header.see_your_traces'), :action => 'mine', :tag => nil, :page => nil %></li>
    <% else %>
      <% if @display_name %>
        <li><%= link_to t('trace.trace_header.see_all_traces'), :controller => 'trace', :action => 'list', :display_name => nil, :tag => nil, :page => nil %></li>
      <% end %>
      <%= unless_user(@target_user, :li) do %>
        <%= link_to t('trace.trace_header.see_your_traces'), :action => 'mine', :tag => nil, :page => nil %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% content_for :head do %>
<%= auto_discovery_link_tag :rss, :action => 'georss', :display_name => @display_name, :tag => @tag %>
<% end %>

<% if @traces.size > 0 %>
  <%= render :partial => 'trace_paging_nav' %>

  <table id="trace_list" cellpadding="3">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'trace', :collection => @traces unless @traces.nil? %>
    </tbody>
  </table>

  <%= render :partial => 'trace_paging_nav' %>
<% else %>
  <h4><%= t 'trace.list.empty_html', :upload_link => trace_create_path %></h4>
<% end %>

<%= render :partial => 'trace_optionals' %>
