<%# locals: (notification:) %>

<article class="user-notification">
  <div class="row align-items-center">
    <h2 class="col-8 fs-6 mb-3 lh-sm fw-bold">
      <%= link_to(
            t(".headline"),
            diary_entry_path(
              notification.diary_author,
              notification.diary_entry,
              :anchor => "c#{notification.comment_id}"
            )
          ) %>
    </h2>
    <p class="col-4 lh-sm text-end"><%= friendly_date_ago(notification.timestamp) %></p>
  </div>

  <div class="row">
    <div class="col-1 text-center">
      <%= link_to(
            user_image(notification.commenter, :width => 50, :height => 50, :class => "img-fluid"),
            user_url(notification.commenter),
            :target => "_blank", :rel => "noopener"
          ) %>
    </div>
    <div class="col-11">
      <p class="text-body-secondary mb-1">
        <%= t(
              ".description_html",
              :commenter_name_with_link => link_to(
                notification.commenter.display_name,
                notification.commenter
              ),
              :diary_entry_title_with_link => link_to(
                notification.diary_entry_title,
                diary_entry_path(
                  notification.diary_author,
                  notification.diary_entry
                )
              )
            ) %>
      </p>
      <blockquote class="col-10 fst-italic border-start border-light-subtle border-3 ps-2">
        <%= notification.comment_body.to_html %>
      </blockquote>
    </div>
  </div>
</article>
