<h2>Search results</h5>
fixme postcodes and geonames

<% form_tag :controller => 'way_tag', :action => 'search' do %>
<%= text_field 'query', 'query'%>
<%= submit_tag 'Search' %>
<% end %>


<table border="0"> 
  <% @tags.each do |tag| %>
  <tr>
    <td>
      <%= link_to tag.v, :controller => 'site', :action => 'goto_way', :id => tag.id %> (k:<%= tag.k %>)<br>
      <font size="-2" color="green">
        Way <%= tag.id %> (<%= tag.way.timestamp %>)
        <%= link_to 'Map', :controller => 'site', :action => 'goto_way', :id => tag.id %> - 
        <%= link_to 'API', :controller => 'way', :action => 'rest', :id => tag.id %>
        <br /><br/ >
      </font>
    </td>
  </tr>
  <% end %>
</table>
