<%= error_messages_for 'group' %>

<%= form_for @group do |f| %>
  <table>
    <tr valign="top">
      <td class="fieldName"><%= t'group.new.title' %></td>
      <td><%= f.text_field :title, :size => 60 %></td>
    </tr>
    <tr valign="top">
      <td class="fieldName"><%= t'group.new.description' %></td>
      <td><%= richtext_area :group, :description, :cols => 80 %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag @group.new_record? ? t('group.new.submit') : t('group.edit.submit') %></td>
    </tr>
  </table>
<% end %>
