<h2 class="text-body-secondary fs-5">
  <%= t("users.show.contributions", :count => @changes_count) %>
</h2>
<div class="row">
  <div class="col overflow-auto">
    <div class="heatmap-wrapper d-flex align-items-start">
      <!-- Labels -->
      <ul class="list-unstyled d-flex flex-column justify-content-between ch-domain-text mb-0 mt-4">
        <li>&nbsp;</li>
        <li><%= t("date.abbr_day_names")[1] %></li>
        <li>&nbsp;</li>
        <li><%= t("date.abbr_day_names")[3] %></li>
        <li>&nbsp;</li>
        <li><%= t("date.abbr_day_names")[5] %></li>
        <li>&nbsp;</li>
      </ul>
      <!-- Heatmap -->
      <div id="cal-heatmap" class="ms-2"
        data-heatmap="<%= @heatmap_data.to_json %>" data-display-name="<%= @user.display_name %>">
      </div>
    </div>
  </div>
</div>
