<% UserRole::ALL_ROLES.each do |role| %>
  <% if current_user&.administrator? %>
    <% if @user.role?(role) %>
      <%= link_to user_role_path(@user, role),
                  :method => :delete,
                  :data => { :confirm => t(".revoke.are_you_sure", :name => @user.display_name, :role => role) } do %>
        <i class="bi bi-star-fill fs-5 role-<%= role %> align-middle" title="<%= t ".revoke.#{role}" %>" aria-hidden="true"></i>
        <span class="visually-hidden"><%= t ".revoke.#{role}" %></span>
      <% end %>
    <% else %>
      <%= link_to user_role_path(@user, role),
                  :method => :post,
                  :data => { :confirm => t(".grant.are_you_sure", :name => @user.display_name, :role => role) } do %>
        <i class="bi bi-star fs-5 role-<%= role %> align-middle" title="<%= t ".grant.#{role}" %>" aria-hidden="true"></i>
        <span class="visually-hidden"><%= t ".grant.#{role}" %></span>
      <% end %>
    <% end %>
  <% elsif @user.role?(role) %>
    <i class="bi bi-star-fill fs-5 role-<%= role %> align-middle" title="<%= t ".title.#{role}" %>" aria-hidden="true"></i>
    <span class="visually-hidden"><%= t ".title.#{role}" %></span>
  <% end %>
<% end %>
