<p id="first">
  <%= @text["intro"] %>
  <%= @text["next_with_decline"] %>
</p>
<h3><%= @text["introduction"] %></h3>
<ol>
  <li>
    <p><%= @text["section_1"] %></p>
    <% unless @text['section_1a'].nil? %>
    <ol>
      <li><%= @text["section_1a"] %></li>
      <li><%= @text["section_1b"] %></li>
    </ol>
    <% end %>
  </li>
</ol>
<h3><%= @text["rights_granted"] %></h3>
<ol start="2">
  <li>
    <p><%= @text["section_2"] %></p>
  </li>
  <li>
    <p><%= @text["section_3"] %></p>
    <p><%= @text["active_defn_1"] %></p>
    <p><%= @text["active_defn_2"] %></p>
    </ul>
  </li>
  <li>
    <p><%= @text["section_4"] %></p>
  </li>
  <li>
    <p><%= @text["section_5"] %></p>
  </li>
</ol>
<h3><%= @text["limitation_of_liability"] %></h3>
<ol start="6">
  <li><p><%= @text["section_6"] %></p></li>
  <li><p><%= @text["section_7"] %></p></li>
</ol>
<h3><%= @text["miscellaneous"] %></h3>
<ol start="8">
  <li>
    <p id="last"><%= @text["section_8"] %></p>
  </li>
</ol>
