<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".my settings" %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t(".return to profile"), user_path(current_user) %></li>
    <li><%= link_to t(".oauth1 settings"), oauth_clients_path %></li>
    <li><%= link_to t(".oauth2 applications"), oauth_applications_path %></li>
    <li><%= link_to t(".oauth2 authorizations"), oauth_authorized_applications_path %></li>
  </ul>
<% end %>

<%= bootstrap_form_for current_user, :url => { :action => :account }, :method => :post, :html => { :multipart => true, :id => "accountForm", :autocomplete => :off } do |f| %>

  <%= f.text_field :display_name %>
  <%= f.email_field :email, :disabled => true, :label => t(".current email address") %>
  <%= f.email_field :new_email, :autocomplete => "email" %>
  <%= f.password_field :pass_crypt, :value => "", :autocomplete => "new-password" %>
  <%= f.password_field :pass_crypt_confirmation, :value => "", :autocomplete => "new-password" %>

  <fieldset class="form-group">
    <label for="user_auth_provider"><%= t(".external auth") %></label>
    <div class="form-row">
      <%= f.select(:auth_provider, Auth.providers, :hide_label => true, :wrapper => { :class => "col-auto mb-0" }) %>
      <%= f.text_field(:auth_uid, :hide_label => true, :wrapper => { :class => "col mb-0" }) %>
    </div>
    <small class="form-text text-muted">(<a href="<%= t ".openid.link" %>" target="_new"><%= t ".openid.link text" %></a>)</small>
  </fieldset>

  <div class="form-group">
    <label><%= t ".public editing.heading" %></label>
    <span class="form-text text-muted">
      <% if current_user.data_public? %>
        <%= t ".public editing.enabled" %>
        (<a href="<%= t ".public editing.enabled link" %>" target="_new"><%= t ".public editing.enabled link text" %></a>)
      <% else %>
        <%= t ".public editing.disabled" %>
        (<a href="#public"><%= t ".public editing.disabled link text" %></a>)
      <% end %>
    </span>
  </div>

  <div class="form-group">
    <label><%= t ".contributor terms.heading" %></label>
    <span class="form-text text-muted">
      <% if current_user.terms_agreed? %>
        <%= t ".contributor terms.agreed" %>
        (<a href="<%= t ".contributor terms.link" %>" target="_new"><%= t ".contributor terms.link text" %></a>)
        <% if current_user.consider_pd? %>
          <%= t ".contributor terms.agreed_with_pd" %>
        <% end %>
      <% else %>
        <%= t ".contributor terms.not yet agreed" %>
        <%= link_to t(".contributor terms.review link text"), :controller => "users", :action => "terms" %>
      <% end %>
    </span>
  </div>

  <%= f.richtext_field :description, :cols => 80, :rows => 20 %>

  <fieldset class="form-group">
    <%= f.label t(".image") %>
    <div class="form-row">
      <div class="col-sm-2">
        <%= user_image current_user %>
      </div>
      <div class="col-sm-10">
        <% if current_user.avatar.attached? %>
          <%= f.radio_button "avatar_action", "keep", :name => "avatar_action", :label => t(".keep image"), :checked => !current_user.image_use_gravatar %>
        <% end %>
        <% if current_user.avatar.attached? || current_user.image_use_gravatar? %>
          <%= f.radio_button "avatar_action", "delete", :name => "avatar_action", :label => t(".delete image"), :checked => false %>
        <% end %>
        <% if current_user.avatar.attached? %>
          <%= f.form_group :help => t(".image size hint"), :class => "mb-0" do %>
            <%= f.radio_button "avatar_action", "new", :name => "avatar_action", :label => t(".replace image"), :checked => false %>
            <%= f.file_field :avatar, :hide_label => true, :wrapper => { :class => "mb-0" } %>
          <% end %>
        <% else %>
          <%= f.form_group :help => t(".image size hint"), :class => "mb-0" do %>
            <%= f.radio_button "avatar_action", "new", :name => "avatar_action", :label => t(".new image"), :checked => false %>
            <%= f.file_field :avatar, :hide_label => true, :wrapper => { :class => "mb-0" } %>
          <% end %>
        <% end %>
        <%= f.form_group :help => link_to(t(".gravatar.what_is_gravatar"), t(".gravatar.link")) do %>
          <%= f.radio_button "avatar_action", "gravatar", :name => "avatar_action", :label => t(".gravatar.gravatar"), :checked => current_user.image_use_gravatar %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><%= t ".home location" -%></legend>
    <div id="homerow" <% unless current_user.home_lat and current_user.home_lon %> class="nohome"<% end %>>
      <p class="message text-muted"><%= t ".no home location" %></p>
      <div class="form-row">
        <%= f.text_field :home_lat, :wrapper_class => "col-sm-4", :id => "home_lat" %>
        <%= f.text_field :home_lon, :wrapper_class => "col-sm-4", :id => "home_lon" %>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="updatehome" value="1" <% unless current_user.home_lat and current_user.home_lon %> checked="checked" <% end %> id="updatehome" />
      <label class="form-check-label" for="updatehome"><%= t ".update home location on click" %></label>
    </div>
    <%= tag.div "", :id => "map", :class => "content_map set_location" %>
  </fieldset>

  <%= f.primary t(".save changes button") %>
<% end %>

<% unless current_user.data_public? %>
<a name="public"></a>
<h2><%= t ".public editing note.heading" %></h2>
<%= t ".public editing note.html" %>
  <%= button_to t(".make edits public button"), :action => :go_public %>
<% end %>
