<% content_for :heading do %>
  <h1><%= t '.heading' %></h1>
  <div class='header-illustration confirm-main'></div>
<% end %>

<% if params[:confirm_string] %>
  <% content_for :head do %>
    <%= javascript_include_tag "user" %>
  <% end %>

  <% content_for(:content_class) { "user_confirm" } %>

  <p><%= t '.press confirm button' %></p>

  <%= form_tag({}, { :id => "confirm" }) do %>
    <input type="display_name" name="confirm_string" value="<%= params[:display_name] %>">
    <input type="hidden" name="confirm_string" value="<%= params[:confirm_string] %>">
    <input type="submit" name="confirm_action" value="<%= t '.button' %>">
  <% end %>
<% else %>
  <h1>
    <%= t ".introduction_1" %>
    <span class="deemphasize">
      <%= t ".introduction_2" %>
    </span>
  </h1>

  <p class='deemphasize'><%= t ".reconfirm_html",
                               :reconfirm => url_for(:action => 'confirm_resend') %></p>
<% end %>
