<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for(:content_class) { "user_confirm" } %>

<% content_for :heading do %>
  <h1><%= t '.heading' %></h1>
<% end %>

<p><%= t '.press confirm button' %></p>

<%= form_tag({}, { :id => "confirm" }) do %>
  <input type="hidden" name="confirm_string" value="<%= params[:confirm_string] %>">
  <input type="submit" name="confirm_action" value="<%= t '.button' %>">
<% end %>
