<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
<% end %>

<%= form_tag :action => "logout" do %>
  <%= hidden_field_tag("referer", h(params[:referer])) %>
  <%= hidden_field_tag("session", session.id) %>
  <%= submit_tag t(".logout_button") %>
<% end %>
