<% content_for :head do %>
  <%= javascript_include_tag "user" %>
  <%= javascript_include_tag "auth_providers" %>
<% end %>

<% content_for :heading_class, "p-0 mw-100" %>

<% content_for :heading do %>
  <div class="header-illustration new-user-main auth-container mx-auto">
    <h1 class="pt-3"><%= t ".title" %></h1>
  </div>
<% end %>

<div class="auth-container mx-auto my-0">
  <% if current_user.auth_uid.nil? %>
    <div class="text-muted fs-6">
      <p><strong><%= t ".about.header" %></strong> <%= t ".about.paragraph_1" %></p>
      <p><%= t ".about.paragraph_2" %></p>
    </div>
  <% else %>
    <h4><%= t ".about.welcome" %></h4>
  <% end %>

  <%= bootstrap_form_for current_user, :url => { :action => "create" } do |f| %>
    <%= hidden_field_tag("referer", h(@referer)) unless @referer.nil? %>
    <%= hidden_field_tag("verified_email", h(@verified_email)) unless @verified_email.nil? %>
    <%= f.hidden_field :auth_provider unless current_user.auth_provider.nil? %>
    <%= f.hidden_field :auth_uid unless current_user.auth_uid.nil? %>

    <% if current_user.auth_uid.nil? or not current_user.errors[:email].empty? %>
      <%= f.email_field :email, :help => t(".email_help_html",
                                           :privacy_policy_link => link_to(t(".privacy_policy"),
                                                                           t(".privacy_policy_url"),
                                                                           :title => t(".privacy_policy_title"),
                                                                           :target => :new)),
                                :tabindex => 1 %>
    <% else %>
      <%= f.hidden_field :email %>
    <% end %>

    <%= f.text_field :display_name, :help => t(".display name description"), :tabindex => 2 %>

    <% if current_user.auth_uid.nil? %>
      <div class="row">
        <div class="col-sm">
          <%= f.password_field :pass_crypt, :tabindex => 3 %>
        </div>
        <div class="col-sm">
          <%= f.password_field :pass_crypt_confirmation, :tabindex => 4 %>
        </div>
      </div>
    <% end %>

    <p class="mb-3 text-muted"><%= t(".by_signing_up_html",
                                     :tou_link => link_to(t("layouts.tou"),
                                                          "https://wiki.osmfoundation.org/wiki/Terms_of_Use",
                                                          :target => :new),
                                     :privacy_policy_link => link_to(t(".privacy_policy"),
                                                                     t(".privacy_policy_url"),
                                                                     :title => t(".privacy_policy_title"),
                                                                     :target => :new),
                                     :contributor_terms_link => link_to(t(".contributor_terms"),
                                                                        t(".contributor_terms_url"),
                                                                        :target => :new)) %></p>

    <%= f.form_group do %>
      <%= f.check_box :consider_pd,
                      :tabindex => 5,
                      :label => t(".consider_pd_html",
                                  :consider_pd_link => link_to(t(".consider_pd"),
                                                               t(".consider_pd_url"),
                                                               :target => :new)) %>
    <% end %>

    <div class="mb-3">
      <%= submit_tag(t(".continue"), :name => "continue", :id => "continue", :class => "btn btn-primary", :tabindex => 6) %>
    </div>
  <% end %>

  <% if current_user.auth_uid.nil? %>
    <hr>
    <%= render :partial => "auth_providers" %>
  <% end %>
</div>
