<% content_for :heading do %>
  <h1><%= t ".heading", :user => current_user.display_name %></h1>
<% end %>

<%= bootstrap_form_for current_user, :url => { :action => "reset_password" }, :html => { :method => :post } do |f| %>
  <%= f.hidden_field :token, :name => "token", :value => params[:token] %>
  <%= f.password_field :pass_crypt, :value => "" %>
  <%= f.password_field :pass_crypt_confirmation, :value => "" %>
  <%= f.primary t(".reset") %>
<% end %>
