<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
  <div class='header-illustration new-user-terms'></div>
<% end %>

<%= form_tag({ :action => "save" }, { :class => " inner22 standard-form fillL" }) do %>
  <!-- legale is <%= @legale %> -->
  <p class="deemphasize"><%= t '.read and accept' %></p>
  <label class="standard-label">
    <%= t '.heading_ct' %>
  </label>
  <div class='form-row horizontal-list'>
    <p class="deemphasize"><%= t '.contributor_terms_explain' %></p>
    <label class="standard-label">
      <%= t ".legale_select" %>
    </label>

    <% [%w[france FR], %w[italy IT], %w[rest_of_world GB]].each do |name, legale| %>
      <div class="form-row">
        <label for="legale_<%= legale %>">
          <%= radio_button_tag "legale", legale, @legale == legale, :data => { :url => url_for(:legale => legale) } %>
          <%= t(".legale_names." + name) %>
        </label>
      </div>
    <% end %>
  </div>

  <div id="contributorTerms" class="col12 legale">
    <%= render :partial => "terms" %>
  </div>

  <div class="deemphasize">
    <p id="contributorGuidance">
      <%= raw t '.guidance',
                :summary => 'https://www.osmfoundation.org/wiki/License/Contributor_Terms_Summary',
                :translations => 'https://www.osmfoundation.org/wiki/License/Contributor_Terms/Informal_Translations' %>
    </p>
  </div>

  <label class="standard-label">
    <%= t 'layouts.tou' %>
  </label>
  <p class="deemphasize"><%= t '.tou_explain' %></p>
  <div class="form-row">
    <label for="read_tou">
      <%= check_box_tag 'read_tou',1,false,:onclick=>"agreebtn = document.getElementById('agree');agreebtn.disabled=!this.checked;"%>
      <%= t '.read_tou_html', :tou_link => link_to(t('layouts.tou'), "https://wiki.osmfoundation.org/wiki/Terms_of_Use", :target => :new) %>
    </label>

    <%= hidden_field_tag("referer", h(params[:referer])) unless params[:referer].nil? %>

    <div class="buttons form-row inner20 clearfix">
      <%= submit_tag(t('.agree'), :name => "agree", :id => "agree", disabled: true)  %>
      <%= submit_tag(t('.decline'), :name => "decline", :id => "decline") %>
    </div>

    <label for="user_consider_pd">
      <%= check_box('user', 'consider_pd') %>
      <%= t '.consider_pd' %>
    </label>
    <span class="minorNote">(<%= link_to(t('.consider_pd_why'), t('.consider_pd_why_url'), :target => :new)%>)</span>

  </div>
<% end %>
