<h5>
  <%= t ".heading_html", :kramdown_link => link_to(t(".kramdown"), t(".kramdown_url")) %>
</h5>
<dl>
  <dt><%= t ".headings" %></dt>
  <dd># <%= t ".heading" %><br>
      ## <%= t ".subheading" %></dd>
  <dt><%= t ".unordered" %></dt>
  <dd>* <%= t ".first" %><br>
     * <%= t ".second" %></dd>

  <dt><%= t ".ordered" %></dt>
  <dd>1. <%= t ".first" %><br>
     2. <%= t ".second" %></dd>

  <dt><%= t ".link" %></dt>
  <dd>[<%= t ".text" %>](<%= t ".url" %>)</dd>

  <dt><%= t ".image" %></dt>
  <dd>![<%= t ".alt" %>](<%= t ".url" %>)</dd>

  <dt><%= t ".codeblock" %></dt>
  <dd>~~~<br><%= t ".codeblock" %><br>~~~</dd>
</dl>
