<nav>
  <% link_class = "page-link icon-link text-center" %>
  <ul class="pagination">
    <% newer_link_content = capture do %>
      <%= previous_page_svg_tag :class => "flex-shrink-0 d-none d-sm-block" %>
      <%= t(newer_key) %>
    <% end %>
    <% older_link_content = capture do %>
      <%= t(older_key) %>
      <%= next_page_svg_tag :class => "flex-shrink-0 d-none d-sm-block" %>
    <% end %>

    <li id="button_previous_page" role="button" class="page-item">
      <%= tag.span newer_link_content, :class => link_class %>
    </li>
    <li id="button_next_page" role="button" class="page-item">
      <%= tag.span older_link_content, :class => link_class %>
    </li>
  </ul>
</nav>
