<% reset_params = { :from => nil, :to => nil, :before => nil, :after => nil } %>
<nav>
  <% link_class = "page-link d-flex align-items-center gap-2 text-center" %>
  <ul class="pagination">
    <% newer_link_content = capture do %>
      <%= previous_page_svg_tag :class => "flex-shrink-0 d-none d-sm-block" %>
      <%= t(newer_translation_key) %>
    <% end %>
    <% if newer_param -%>
      <li class="page-item d-flex">
        <%= link_to newer_link_content, @params.merge(reset_params).merge(newer_param), :class => link_class %>
      </li>
    <% else -%>
      <li class="page-item d-flex disabled">
        <%= tag.span newer_link_content, :class => link_class %>
      </li>
    <% end -%>

    <% older_link_content = capture do %>
      <%= t(older_translation_key) %>
      <%= next_page_svg_tag :class => "flex-shrink-0 d-none d-sm-block" %>
    <% end %>
    <% if older_param -%>
      <li class="page-item d-flex">
        <%= link_to older_link_content, @params.merge(reset_params).merge(older_param), :class => link_class %>
      </li>
    <% else -%>
      <li class="page-item d-flex disabled">
        <%= tag.span older_link_content, :class => link_class %>
      </li>
    <% end -%>
  </ul>
</nav>
