<nav>
  <ul class="pagination">
    <%= pagination_item(newer_id && @params.merge(:before => nil, :after => nil)) do %>
      <%= previous_page_svg_tag :class => "flex-shrink-0", :count => 2 %>
      <span class="d-none d-md-block"><%= t :newest, :scope => translation_scope %></span>
    <% end %>
    <%= pagination_item(newer_id && @params.merge(:before => nil, :after => newer_id)) do %>
      <%= previous_page_svg_tag :class => "flex-shrink-0" %>
      <span class="d-none d-sm-block"><%= t :newer, :scope => translation_scope %></span>
    <% end %>
    <%= pagination_item(older_id && @params.merge(:before => older_id, :after => nil)) do %>
      <span class="d-none d-sm-block"><%= t :older, :scope => translation_scope %></span>
      <%= next_page_svg_tag :class => "flex-shrink-0" %>
    <% end %>
    <%= pagination_item(older_id && @params.merge(:before => nil, :after => 0)) do %>
      <span class="d-none d-md-block"><%= t :oldest, :scope => translation_scope %></span>
      <%= next_page_svg_tag :class => "flex-shrink-0", :count => 2 %>
    <% end %>
  </ul>
</nav>
