<!-- _password_field_with_toggle.html.erb -->
<% unless defined?(skip_label) && skip_label %>
  <%= f.label attribute, :class => "form-label" %>
<% end %>

<div class="d-flex justify-content-start align-items-top w-100">
  <div class="flex-grow-1">
    <% field_options = { :class => "form-control rounded-end-0" } %>
    <% field_options[:autocomplete] = autocomplete if defined?(autocomplete) %>
    <% field_options[:tabindex] = tabindex if defined?(tabindex) %>
    <% field_options[:value] = value if defined?(value) %>
    <% field_options[:skip_label] = true %>

    <%= f.password_field attribute, field_options %>
  </div>
  <div class="">
    <% button_id ||= "#{attribute}_toggle_button" %>
    <% button_tab_index = tabindex ? tabindex.to_i + 1 : nil %>
    <button id="<%= button_id %>" type="button" class="btn btn-outline-secondary form-control rounded-start-0 rounded-end-2 border mb-3 no-left-border" tabindex="<%= button_tab_index %>">
      <%= image_tag "eye.svg", :alt => t("application.show_password_button_alt"), :size => 20 %>
      <%= image_tag "eye-slash.svg", :alt => t("application.hide_password_button_alt"), :size => 20, :class => "d-none" %>
    </button>
  </div>
</div>
