<div id="<%= id %>_container" class="row richtext_container">
  <div id="<%= id %>_content" class="col-sm-8 mb-3 mb-sm-0">
    <ul class="nav nav-tabs mb-3" role="tablist">
      <li class="nav-item">
        <button type="button" class="nav-link active" data-bs-toggle="tab" data-bs-target="#<%= id %>_edit"><%= t(".edit") %></button>
      </li>
      <li class="nav-item">
        <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#<%= id %>_preview"><%= t(".preview") %></button>
      </li>
    </ul>
    <div class="tab-content">
      <div id="<%= id %>_edit" class="tab-pane show active">
        <%= builder.text_area(attribute, options.merge(:wrapper => false, "data-preview-url" => preview_url(:type => type))) %>
      </div>
      <div id="<%= id %>_preview" class="tab-pane richtext_preview richtext text-break"></div>
    </div>
  </div>
  <div id="<%= id %>_help" class="col-sm-4 richtext_help">
    <div class="card bg-body-tertiary h-100">
      <div class="card-body">
        <%= render :partial => "shared/#{type}_help" %>
      </div>
    </div>
  </div>
</div>
