<h1>Listing user_roles</h1>

<table>
  <tr>
    <th>User</th>
    <th>Role</th>
  </tr>

<% @user_roles.each do |user_role| %>
  <tr>
    <td><%=h user_role.user_id %></td>
    <td><%=h user_role.role %></td>
    <td><%= link_to 'Show', user_role %></td>
    <td><%= link_to 'Edit', edit_user_role_path(user_role) %></td>
    <td><%= link_to 'Destroy', user_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user_role', new_user_role_path %>