<p>
  All fields are required.
</p>
<%= bootstrap_form_for @link do |form| %>
  <%= form.hidden_field :microcosm_id, :value => @link.microcosm_id %>
  <%= form.text_field :site %>
  <%= form.text_field :url %>
  <%= form.primary %>
<% end %>
