<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
  <tr>
    <th><%= t(".title") %></th>
    <th><%= t(".moment") %></th>
    <th><%= t(".location") %></th>
    <th><%= t(".description") %></th>
    <th><%= t(".microcosm") %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.moment %></td>
      <td><%= event.location %></td>
      <td><%= event.description %></td>
      <td><%= link_to event.microcosm.name, microcosm_path(event.microcosm) %></td>
      <td><%= link_to t(".show"), event %></td>
    </tr>
  <% end %>
  </tbody>
</table>
