<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Moment</th>
    <th>Location</th>
    <th>Description</th>
    <th>Microcosm</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.moment %></td>
      <td><%= event.location %></td>
      <td><%= event.description %></td>
      <td><%= link_to event.microcosm.name, microcosm_path(event.microcosm) %>
      </td>
      <td><%= link_to "Show", event %></td>
<!--      <td><%#= link_to "Edit", edit_event_path(event) %></td>-->
<!--      <td><%#= link_to "Destroy", event, method: :delete, data: { confirm: "Are you sure?" } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>
