<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Moment</th>
    <th>Location</th>
    <th>Description</th>
    <th>Microcosm</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= event.title %></td>
      <td><%= event.moment %></td>
      <td><%= event.location %></td>
      <td><%= event.description %></td>
      <td><%= link_to event.microcosm.name, microcosm_path(event.microcosm) %></td>
      <td><%= link_to "Show", event %></td>
    </tr>
  <% end %>
  </tbody>
</table>
