<%= stylesheet_link_tag "events" %>
<%= javascript_include_tag "event" %>

<div class="container">
  <h1 class="title">
    <%= @event.title %>
  </h1>
  <div class="row">
    <div class="col-sm">
      <p class="when">
        <%= t(".when") %>: <%= l @event.moment, :format => :friendly %>
      </p>
      <p>
        <%= t(".hosted_by") %>: <strong><%= link_to @event.microcosm.name, microcosm_path(@event.microcosm) %></strong>
      </p>
      <p>
        <%= t(".organized_by") %>: <% @event.organizers.each do |organizer| %>
          <strong><%= link_to organizer.user.display_name, user_path(organizer.user) %></strong>
        <% end %>
      </p>
    </div>
    <div class="col-sm">
      <p><%= @event.attendees.size %> <%= t(".people_are_going") %></p>
      <p><%= t(".are_you_going") %></p>
      <%= form_with :model => @my_attendance do |form| %>
        <%= form.hidden_field(:event_id, :value => @event.id) %>
        <%= form.hidden_field(:user_id, :value => current_user&.id) %>
        <%= form.submit :value => t(".going_yes") %>
        <%= form.submit :value => t(".going_no") %>
      <% end %>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm">
      <p>
        <strong><%= t(".description") %>:</strong>
        <%= @event.description %>
      </p>
      <strong><%= t(".whos_going") %></strong>
      <div>
        <% @event.attendees.each do |attendance| %>
          <%= user_card(attendance.user).html_safe %>
        <% end %>
      </div>
    </div>
    <div class="col-sm">
      <p>
        <%= t(".location") %>: <strong><%= event_location(@event) %></strong>
      </p>
      <%= content_tag :div, "", :id => "event_map_show", :data => { :event => @event } %>
    </div>
  </div>
</div>
