<style>
  .details { color: #333; }
  .mic_row { display: flex }
  .mic_row > div { padding: 10px; }
  .when { color: #777; font-size: 120%; }
  .attendees > a
  {
    display: block;
    width: 8em;
    height: 8em;
    border: 1px solid #888;
    border-radius: 4px;
    float: left;
    margin: 1em;
    padding: 1em;
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
    text-decoration: none;
  }
</style>

<div class="mic_row">
  <div>
    <div class="when">
      <%= l @event.moment, :format => :friendly %>
    </div>

    <h1 class="title">
      <%= @event.title %>
    </h1>
    <p>
      Hosted by <strong><%= link_to @event.microcosm.name, microcosm_path(@event.microcosm) %></strong>
    </p>
    <p>
      Location: <strong><%= @event.location %></strong>
    </p>
  </div>
  <div>
    <p><%= @event.attendees.size %> people are going.</p>
    <p>Are you going?</p>
    <%= form_with model: @my_attendance do |form| %>
      <%= form.hidden_field(:event_id, :value => @event.id) %>
      <%= form.hidden_field(:user_id, :value => current_user&.id) %>
      <%= form.submit :value => 'Yes' %>
      <%= form.submit :value => 'No' %>
    <% end %>
  </div>
</div>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<strong>Who's going?</strong>
<p class="attendees">
  <% @event.attendees.each do |attendance| %>
    <%= link_to attendance.user.display_name, user_path(attendance.user) %>
  <% end %>
</p>



<!--<%#= link_to 'Edit', edit_event_path(@event) %> |-->
<%#= link_to 'Back', events_path %>
