<% set_title t("browse.node.title_html", :name => printable_name(@feature)) %>

<%= render "sidebar_header", :title => t("browse.node.title_html", :name => printable_name(@feature)) %>

<%= render :partial => "browse/node", :object => @feature %>

<% unless @feature.redacted? %>
  <div class='secondary-actions'>
    <%= link_to t("browse.download_xml"), node_version_path(*@feature.id) %>
  </div>
<% end %>

<div class='secondary-actions'>
  <% if @feature.version > 1 %>
    <%= link_to "<< #{t('browse.version')} ##{@feature.version - 1}", old_node_path(@feature.node_id, @feature.version - 1) %>
    &middot;
  <% end %>
  <%= link_to t("browse.view_history"), node_history_path(@feature.node_id) %>
  <% if @feature.version < @feature.current_node.version %>
    &middot;
    <%= link_to "#{t('browse.version')} ##{@feature.version + 1} >>", old_node_path(@feature.node_id, @feature.version + 1) %>
  <% end %>
</div>
