<h2><%= I18n.t('javascripts.map.layers.header') %></h2>
<div class='overlay-layers'>
    <p><%= I18n.t('javascripts.map.layers.overlays') %></p>
    <label><input type='checkbox' id='notes-layer-checkbox'><%= I18n.t('javascripts.map.layers.notes') %></label>
    <label><input type='checkbox' id='data-layer-checkbox'><%= I18n.t('javascripts.map.layers.data') %></label>
</div>
<div class='base-layers'>
    <p><%= I18n.t('javascripts.map.layers.base') %></p>
    <ul>
    </ul>
</div>
