<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<%= bootstrap_form_for current_user, :url => { :action => :update } do |f| %>
  <%= f.select :preferred_editor, [[t("editor.default", :name => t("editor.#{Settings.default_editor}.name")), "default"]] + Editors::AVAILABLE_EDITORS.collect { |e| [t("editor.#{e}.description"), e] } %>

  <%= f.text_field :languages %>

  <div class="mb-3">
    <%= label_tag "site_color_scheme", t(".preferred_site_color_scheme"), :class => "form-label" %>
    <%= select_tag "site_color_scheme",
                   options_for_select(%w[auto light dark].map { |scheme| [t(".site_color_schemes.#{scheme}"), scheme] },
                                      preferred_color_scheme(:site)),
                   :class => "form-select" %>
  </div>

  <div class="mb-3">
    <%= label_tag "map_color_scheme", t(".preferred_map_color_scheme"), :class => "form-label" %>
    <%= select_tag "map_color_scheme",
                   options_for_select(%w[auto light dark].map { |scheme| [t(".map_color_schemes.#{scheme}"), scheme] },
                                      preferred_color_scheme(:map)),
                   :class => "form-select" %>
  </div>

  <%= f.primary t(".save") %>
<% end %>
