<% content_for :heading do %>
  <h1><%= t ".heading" %></h1>
<% end %>

<p><%= t ".help_text" %></p>

<%= bootstrap_form_tag do |f| %>
  <%= f.text_field :email, :label => t(".email address") %>
  <%= f.primary t(".new password button") %>
<% end %>
