<%= form_tag :action => "finish" do %>

  <p class="export_heading"><%= t'export.start.area_to_export' %></p>

  <div class="export_bounds">
    <%= text_field_tag('maxlat', nil, :size => 10, :class => "export_bound") %>
    <br/>
    <%= text_field_tag('minlon', nil, :size => 10, :class => "export_bound") %>
    <%= text_field_tag('maxlon', nil, :size => 10, :class => "export_bound") %>
    <br/>
    <%= text_field_tag('minlat', nil, :size => 10, :class => "export_bound") %>
    <p class="export_hint">
      <a id="drag_box" href="#"><%= t'export.start.manually_select' %></a>  
    </p>
  </div>

  <p class="export_heading"><%= t'export.start.format_to_export' %></p>

  <div class="export_details">
    <p>
      <%= radio_button_tag("format", "osm") %> <%= t'export.start.osm_xml_data' %>
      <br/>
      <%= radio_button_tag("format", "mapnik") %> <%= t'export.start.mapnik_image' %>
      <br/>
      <%= radio_button_tag("format", "osmarender") %> <%= t'export.start.osmarender_image' %>
      <br/>
      <%= radio_button_tag("format", "html") %> <%= t'export.start.embeddable_html' %>
    </p>
  </div>

  <div id="export_osm">
    <p class="export_heading"><%= t'export.start.licence' %></p>

    <div class="export_details">
      <p><%= raw t'export.start.export_details' %></p>
    </div>

    <div  id="export_osm_too_large">
      <p class="export_heading"><%= t'export.start.too_large.heading' %></p>

      <div class="export_details">
        <p><%= t'export.start.too_large.body' %></p>
      </div>
    </div>
  </div>

  <div id="export_mapnik">
    <p class="export_heading"><%= t'export.start.options' %></p>

    <div class="export_details">
      <p><%= t'export.start.format' %> <%= select_tag("mapnik_format", options_for_select([["PNG", "png"], ["JPEG", "jpeg"], ["SVG", "svg"], ["PDF", "pdf"], ["Postscript", "ps"]], "png")) %></p>
      <p><%= t'export.start.scale' %> 1 : <%= text_field_tag("mapnik_scale", nil, :size => 8) %> <span class="export_hint">(<%= t'export.start.max' %> 1 : <span id="mapnik_max_scale"></span>)</span></p>
      <p><%= t'export.start.image_size' %> <span id="mapnik_image_width"></span> x <span id="mapnik_image_height"></span></p>
    </div>
  </div>

  <div id="export_osmarender">
    <p class="export_heading"><%= t'export.start.options' %></p>

    <div class="export_details">
      <p><%= t'export.start.format' %> <%= select_tag("osmarender_format", options_for_select([["PNG", "png"], ["JPEG", "jpeg"]], "png")) %></p>
      <p><%= t'export.start.zoom' %> <%= select_tag("osmarender_zoom", options_for_select([4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17])) %></p>
    </div>
  </div>
  
  <div id="export_html">
    <p class="export_heading"><%= t'export.start.options' %></p>

    <div class="export_details">
      <p><a id="add_marker" href="#"><%= t'export.start.add_marker' %></a></p>
      <p id="marker_inputs" style="display:none">
        <%= t'export.start.latitude' %> <input type="text" id="marker_lat" size="9" />
        <%= t'export.start.longitude' %> <input type="text" id="marker_lon" size="9" />
      </p>
    </div>

    <p class="export_heading"><%= t'export.start.output' %></p>

    <div class="export_details">
      <p><input type="text" id="export_html_text" style="width:95%" /></p>
      <p><%= t'export.start.paste_html' %></p>
    </div>
  </div>

  <div class="export_buttons">
    <p><%= submit_tag t('export.start.export_button'), :id => "export_commit" %></p>
  </div>

<% end %>
