<%= form_tag :controller => "export", :action => "finish" do %>
  <%= hidden_field_tag 'format', 'osm' %>

  <div class="export_bounds inner12">
    <div class='export_area_inputs'>
      <%= text_field_tag('maxlat', nil, :size => 10, :class => "export_bound") %>
      <br/>
      <%= text_field_tag('minlon', nil, :size => 10, :class => "export_bound") %>
      <%= text_field_tag('maxlon', nil, :size => 10, :class => "export_bound") %>
      <br/>
      <%= text_field_tag('minlat', nil, :size => 10, :class => "export_bound") %>
    </div>
    <a id="drag_box" class='export_hint button' href="#"><%= t'export.start.manually_select' %></a>
  </div>

  <div id="export_osm">
    <h4><%= t'export.start.licence' %></h4>

    <div class="export_details inner12">
      <p><%= raw t'export.start.export_details' %></p>
    </div>

    <div  id="export_osm_too_large">
      <h4><%= t'export.start.too_large.heading' %></h4>

      <div class="export_details inner12">
        <p><%= t'export.start.too_large.body' %></p>
      </div>
    </div>
  </div>

  <div class="inner12">
    <%= submit_tag t('export.start.export_button'), :id => "export_commit" %>
  </div>
<% end %>
