<%= form_tag :action => "finish" do %>

  <div class="export_buttons">
      <div><%= radio_button_tag("format", "html") %>
          <label for='format_html'><%= t'export.start.embeddable_html' %></label></div>
      <div><%= radio_button_tag("format", "mapnik") %>
          <label for='format_mapnik'><%= t'export.start.map_image' %></label></div>
      <div><%= radio_button_tag("format", "osm") %>
          <label for='format_osm'><%= t'export.start.osm_xml_data' %></label></div>
  </div>


  <div id='export_options'>
    <div id="mapnik" class="export_details">
        <p><%= t'export.start.format' %> <%= select_tag("mapnik_format", options_for_select([["PNG", "png"], ["JPEG", "jpeg"], ["SVG", "svg"], ["PDF", "pdf"]], "png")) %></p>
        <p><%= t'export.start.scale' %> 1 : <%= text_field_tag("mapnik_scale", nil, :size => 8) %> <span class="export_hint">(<%= t'export.start.max' %> 1 : <span id="mapnik_max_scale"></span>)</span></p>
        <p><%= t'export.start.image_size' %> <span id="mapnik_image_width"></span> x <span id="mapnik_image_height"></span></p>
        <%= submit_tag t('export.start.export_button'), :id => "export_commit" %>
    </div>

    <div id="html" class="export_details">
        <input type="text" id="export_html_text" />
        <p class='deemphasize'><%= t'export.start.paste_html' %></p>
        <button id="add_marker" href="#"><%= t'export.start.add_marker' %></button>
        <p id="marker_inputs" style="display:none">
          <%= t'export.start.latitude' %> <input type="text" id="marker_lat" size="9" />
          <%= t'export.start.longitude' %> <input type="text" id="marker_lon" size="9" />
        </p>
    </div>

    <div id="osm" class="export_details">
      <p class="export_heading"><%= t'export.start.licence' %></p>
      <div id="export_osm_too_large">
        <p class="export_heading"><%= t'export.start.too_large.heading' %></p>
        <p><%= t'export.start.too_large.body' %></p>
      </div>
      <%= submit_tag t('export.start.export_button'), :id => "export_commit" %>
    </div>
  </div>


  <div class="export_bounds">
    <%= text_field_tag('maxlat', nil, :size => 10, :class => "export_bound") %>
    <br/>
    <%= text_field_tag('minlon', nil, :size => 10, :class => "export_bound") %>
    <%= text_field_tag('maxlon', nil, :size => 10, :class => "export_bound") %>
    <br/>
    <%= text_field_tag('minlat', nil, :size => 10, :class => "export_bound") %>
  </div>

<% end %>
