<div class="note">
  <a class="icon link permalink deemphasize" href="/?note=<%- note.id %>"><span><%- I18n.t('javascripts.notes.show.permalink', { id: note.id }) %></span></a>
  <% if (note.comments.some(function (comment) { return !comment.user })) { %>
  <small class="warning"><%- I18n.t('javascripts.notes.show.anonymous_warning') %></small>
  <% } %>
  <% note.comments.forEach(function (comment) { %>
  <div>
    <small class="deemphasize">
      <% if (comment.user) { %>
        <%= I18n.t('javascripts.notes.show.' + comment.action + '_by', {
           user: comment.user, user_url: comment.user_url,
           time: I18n.l("time.formats.long", comment.date)
        }) %>
      <% } else { %>
        <%- I18n.t('javascripts.notes.show.' + comment.action + '_by_anonymous', {
           time: I18n.l("time.formats.long", comment.date)
        }) %>
      <% } %>
    </small>
    <div class="comment_body"><%= comment.html %></div>
  </div>
  <% }) %>
  <% if (note.status == "open") { %>
  <form action="#">
    <textarea class="comment" name="text" cols="40" rows="5"></textarea>
    <div class="buttons clearfix">
      <input type="submit" name="hide" value="<%- I18n.t('javascripts.notes.show.hide') %>" class="hide_unless_moderator deemphasize" data-method="DELETE" data-url="<%- note.url %>">
      <input type="submit" name="close" value="<%- I18n.t('javascripts.notes.show.resolve') %>" class="hide_unless_logged_in" data-method="POST" data-url="<%- note.close_url %>">
      <input type="submit" name="comment" value="<%- I18n.t('javascripts.notes.show.comment') %>" data-method="POST" data-url="<%- note.comment_url %>" disabled="1">
    </div>
  </form>
  <% } else { %>
  <form action="#">
    <input type="hidden" name="text" value="">
    <div class="buttons clearfix">
      <input type="submit" name="hide" value="<%- I18n.t('javascripts.notes.show.hide') %>" class="hide_unless_moderator deemphasize" data-method="DELETE" data-url="<%- note.url %>">
      <input type="submit" name="reopen" value="<%- I18n.t('javascripts.notes.show.reactivate') %>" class="hide_unless_logged_in" data-method="POST" data-url="<%- note.reopen_url %>">
    </div>
  </form>
  <% } %>
</div>
