<div class="note">
  <h2><a href="/?note=<%- note.id %>"><%- I18n.t('javascripts.notes.show.title', { id: note.id }) %></a></h2>
  <% if (note.comments.some(function (comment) { return !comment.user })) { %>
  <small class="warning"><%- I18n.t('javascripts.notes.show.anonymous_warning') %></small>
  <% } %>
  <% note.comments.forEach(function (comment) { %>
  <div>
    <small class="deemphasize">
      <% if (comment.user) { %>
        <%= I18n.t('javascripts.notes.show.' + comment.action + '_by', {
           user: comment.user, user_url: comment.user_url,
           time: I18n.l("time.formats.long", comment.date)
        }) %>
      <% } else { %>
        <%- I18n.t('javascripts.notes.show.' + comment.action + '_by_anonymous', {
           time: I18n.l("time.formats.long", comment.date)
        }) %>
      <% } %>
    </small>
    <div class="comment_body"><%= comment.html %></div>
  </div>
  <% }) %>
  <% if (note.status == "open") { %>
  <form action="#">
    <textarea class="comment" name="text" cols="40" rows="5"></textarea>
    <br/>
    <div class="buttons">
      <input type="submit" name="close" value="<%- I18n.t('javascripts.notes.show.resolve') %>" class="hide_unless_logged_in" data-url="<%- note.close_url %>">
      <input type="submit" name="comment" value="<%- I18n.t('javascripts.notes.show.comment') %>" data-url="<%- note.comment_url %>" disabled="1">
    </div>
  </form>
  <% } %>
</div>
