<% changeset_data = { :id => changeset.id }

   if changeset.has_valid_bbox?
     bbox = changeset.bbox.to_unscaled
     changeset_data[:bbox] = {
       :minlon => bbox.min_lon,
       :minlat => bbox.min_lat,
       :maxlon => bbox.max_lon,
       :maxlat => bbox.max_lat
     }
   end %>

<%= content_tag "li", :id => "changeset_#{changeset.id}", :data => { :changeset => changeset_data }, :class => "list-group-item" do %>
  <h6>
    <a class="changeset_id text-dark" href="<%= changeset_path(changeset) %>">
      <%= changeset.tags["comment"].to_s.presence || t("browse.no_comment") %>
    </a>
  </h6>
  <div class="comments comments-<%= changeset.comments.length %>">
    <%= changeset.comments.length %>
    <span class="icon note grey"></span>
  </div>
  <div class="details">
    <%= changeset_details(changeset) %>
    &middot;
    #<%= changeset.id %>
  </div>
<% end %>
