<svg class="d-none">
  <path id="icon-comment" stroke="currentColor" stroke-width="1" stroke-linejoin="round" d="M5.6 14.16c-.82.4-1.54.77-3.78 1.2.37-1 .57-1.88.67-2.95A7.5 6.5 0 0 1 .5 8 7.5 6.5 0 1 1 8 14.5a7.5 6.5 0 0 1-2.4-.34Z" />
  <path id="icon-pencil" stroke="currentColor" stroke-width="1" stroke-linejoin="round" fill="none" d="m2.5 10.5-2 5 5-2 10-10-3-3zm1-1v1h1v1h1v1h1m7-7-3-3" />
</svg>
<%= tag.li :id => "changeset_#{changeset.id}", :data => { :changeset => changeset_data(changeset) }, :class => "list-group-item list-group-item-action" do %>
  <p class="fs-6 text-truncate text-wrap mb-0">
    <a class="changeset_id link-body-emphasis stretched-link" href="<%= changeset_path(changeset) %>">
      <span><%= changeset.tags["comment"].to_s.presence || t("browse.no_comment") %></span>
    </a>
  </p>
  <div class="d-flex flex-nowrap gap-3 justify-content-between align-items-end">
    <div class="overflow-hidden pt-3">
      <%= changeset_details(changeset) %>
      &middot;
      <a class="changeset_id link-body-emphasis" href="<%= changeset_path(changeset) %>">
        #<%= changeset.id %>
      </a>
    </div>
    <div class="d-flex flex-column align-items-end text-body-secondary">
      <%= tag.div :class => ["d-flex align-items-baseline gap-1", { "opacity-50" => changeset.comments.empty? }],
                  :title => t(".comments", :count => changeset.comments.length) do %>
        <%= changeset.comments.length %>
        <svg width="12" height="12" viewBox="0 0 16 16">
          <use href="#icon-comment" fill="<%= changeset.comments.empty? ? "none" : "currentColor" %>" />
        </svg>
      <% end %>
      <%= tag.div :class => ["d-flex align-items-baseline gap-1", { "opacity-50" => changeset.num_changes.zero? }],
                  :title => t(".changes", :count => changeset.num_changes) do %>
        <%= changeset.num_changes %>
        <svg width="12" height="12" viewBox="0 0 16 16">
          <use href="#icon-pencil" />
        </svg>
      <% end %>
    </div>
  </div>
<% end %>
