<div class="changeset_line d-flex gap-2">
  <span class="me-auto">
    <%= yield %>
  </span>

  <% if num_changes %>
    <%= tag.span :class => ["d-flex align-items-baseline gap-1", { "opacity-50" => num_changes.zero? }],
                 :title => t(".changes", :count => num_changes) do %>
      <%= num_changes %>
      <%= inline_svg_tag "icons/pencil.svg" %>
    <% end %>
  <% end %>

  <% if num_comments %>
    <%= tag.span :class => ["changeset_num_comments d-flex align-items-baseline gap-1 justify-content-end", { "opacity-50" => num_comments.zero? }],
                 :title => t(".comments", :count => num_comments) do %>
      <%= num_comments %>
      <%= inline_svg_tag "icons/comment.svg", :fill => num_comments.zero? ? "none" : "currentColor" %>
    <% end %>
  <% end %>
</div>
