<%= tag.li :id => "changeset_#{changeset.id}", :data => { :changeset => changeset_data(changeset) }, :class => "list-group-item list-group-item-action" do %>
  <p class="fs-6 text-truncate text-wrap mb-2">
    <%= link_to changeset, :class => "changeset_id link-body-emphasis stretched-link" do %>
      <bdi><%= changeset.comment || t("browse.no_comment") %></bdi>
    <% end %>
  </p>

  <div class="overflow-hidden">
    <%= changeset_details(changeset) %>
  </div>

  <div class="me-n1">
    <%= render "changeset_line", :changeset => changeset do %>
      #<%= link_to changeset.id, changeset, :class => "changeset_id link-body-emphasis" %>
    <% end %>
  </div>
<% end %>
