<% pages_count = element_pages_count pages.item_count %>
<% if pages_count == 1 %>
  <h4 class="fs-5">
    <%= t ".#{type.pluralize}_title" %>
    <span class="badge count-number">
      <%= pages.item_count %>
    </span>
  </h4>
<% elsif pages_count > 1 %>
  <h4 class="fs-5">
    <%= t ".#{type.pluralize}_title" %>
    <span class="badge count-number">
      <%= t ".range", **element_range_values(pages.item_count, pages.current_page.number) %>
    </span>
  </h4>

  <%= sidebar_classic_pagination(pages, "#{type}_page") do |page|
        {
          :title => t(".#{type.pluralize}_paginated", **element_range_values(pages.item_count, page.number)),
          :data => { :turbo => "true" }
        }
      end %>
<% end %>
