<% if @changesets.present? %>
  <ol class="changesets list-group list-group-flush">
    <%= render @changesets %>
  </ol>
<% if @changesets.size == 20 -%>
  <div class="changeset_more">
    <%= link_to t(".load_more"), url_for(@params.merge(:max_id => @changesets.last.id - 1)), :class => "button load_more" %>
    <div class="loader"><%= image_tag "searching.gif" %></div>
  </div>
<% end -%>
<% elsif params[:bbox] %>
  <div class="inner22"><%= t(params[:max_id] ? ".no_more_area" : ".empty_area") %></div>
<% elsif params[:display_name] %>
  <div class="inner22"><%= t(params[:max_id] ? ".no_more_user" : ".empty_user") %></div>
<% else %>
  <div class="inner22"><%= t(params[:max_id] ? ".no_more" : ".empty") %></div>
<% end %>
