<% if @changesets.present? %>
  <ol class="changesets list-group list-group-flush">
    <%= render @changesets %>
  </ol>
<% if @changesets.size == 20 -%>
  <div class="changeset_more mt-3 text-center">
    <%= link_to t(".load_more"), url_for(@params.merge(:max_id => @changesets.last.id - 1)), :class => "btn btn-primary" %>
    <div class="text-center loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
      </div>
    </div>
  </div>
<% end -%>
<% elsif params[:bbox] %>
  <p class="mx-3"><%= params[:max_id] ? t(".no_more_area") : t(".empty_area") %></p>
<% elsif params[:display_name] %>
  <p class="mx-3"><%= params[:max_id] ? t(".no_more_user") : t(".empty_user") %></p>
<% else %>
  <p class="mx-3"><%= params[:max_id] ? t(".no_more") : t(".empty") %></p>
<% end %>
