<% if @newer_changesets_id %>
  <div class="changeset_more my-3 text-center">
    <%= link_to t(".load_more"), url_for(@params.merge(:before => nil, :after => @newer_changesets_id)), :class => "btn btn-primary" %>
    <div class="text-center loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
      </div>
    </div>
  </div>
<% end %>
<% if @changesets.present? %>
  <ol class="changesets list-group list-group-flush">
    <%= render @changesets %>
  </ol>
<% elsif params[:bbox] %>
  <p class="mx-3"><%= params[:before] ? t(".no_more_area") : t(".empty_area") %></p>
<% elsif params[:display_name] %>
  <p class="mx-3"><%= params[:before] ? t(".no_more_user") : t(".empty_user") %></p>
<% else %>
  <p class="mx-3"><%= params[:before] ? t(".no_more") : t(".empty") %></p>
<% end %>
<% if @older_changesets_id -%>
  <div class="changeset_more my-3 text-center">
    <%= link_to t(".load_more"), url_for(@params.merge(:before => @older_changesets_id, :after => nil)), :class => "btn btn-primary" %>
    <div class="text-center loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
      </div>
    </div>
  </div>
<% end -%>
