<% set_title(t(".title", :id => @changeset.id)) %>

<%= render "sidebar_header", :title => t(".title", :id => @changeset.id) %>

<div class="browse-section">
  <p class="fst-italic">
    <%= linkify(@changeset.tags["comment"].to_s.presence || t("browse.no_comment")) %>
  </p>
  <p class="details"><%= changeset_details(@changeset) %></p>

  <%= render :partial => "browse/tag_details", :object => @changeset.tags.except("comment") %>

  <div class="row">
    <div class="col">
      <h4><%= t(".discussion") %></h4>
    </div>

    <% if current_user %>
      <div class="col-auto">
        <% if @changeset.subscribers.exists?(current_user.id) %>
          <button class="btn btn-sm btn-primary" name="unsubscribe" data-method="POST" data-url="<%= api_changeset_unsubscribe_url(@changeset) %>"><%= t("javascripts.changesets.show.unsubscribe") %></button>
        <% else %>
          <button class="btn btn-sm btn-primary" name="subscribe" data-method="POST" data-url="<%= api_changeset_subscribe_url(@changeset) %>"><%= t("javascripts.changesets.show.subscribe") %></button>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @comments.length > 0 %>
    <ul class="list-unstyled">
      <% @comments.each do |comment| %>
        <% next unless comment.visible || current_user&.moderator? %>
        <li id="c<%= comment.id %>">
          <small class='text-body-secondary'>
            <%= t comment.visible ? ".comment_by_html" : ".hidden_comment_by_html",
                  :time_ago => friendly_date_ago(comment.created_at),
                  :user => link_to(comment.author.display_name, comment.author) %>
            <% if current_user&.moderator? %>
              —
              <%= tag.button t("javascripts.changesets.show.#{comment.visible ? 'hide' : 'unhide'}_comment"),
                             :class => "btn btn-sm small btn-link link-secondary p-0 align-baseline",
                             :data => { :method => "POST",
                                        :url => comment.visible ? changeset_comment_hide_url(comment) : changeset_comment_unhide_url(comment) } %>
            <% end %>
          </small>
          <div class="mx-2">
            <%= comment.body.to_html %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% unless current_user %>
    <p>
      <%= link_to(t(".join_discussion"), login_path(:referer => request.fullpath)) %>
    </p>
  <% end %>

  <% if current_user %>
    <% unless @changeset.open? %>
      <form action="#" class="mb-3">
        <div class="mb-3">
          <textarea class="form-control" name="text" cols="40" rows="5"></textarea>
        </div>
        <div id="comment-error" class="alert alert-danger p-2 mb-3" hidden>
        </div>
        <div>
          <button name="comment" data-method="POST" data-url="<%= changeset_comment_url(@changeset) %>" disabled class="btn btn-primary"><%= t("javascripts.changesets.show.comment") %></button>
        </div>
      </form>
    <% else %>
      <p>
        <%= t(".still_open") %>
      </p>
    <% end %>
  <% end %>

  <% unless @ways.empty? %>
    <%= render :partial => "paging_nav", :locals => { :type => "way", :pages => @way_pages } %>
    <ul class="list-unstyled">
      <% @ways.each do |way| %>
        <%= element_list_item "way", way do
              t "printable_name.current_and_old_links_html",
                :current_link => link_to(printable_element_name(way), way_path(way.way_id)),
                :old_link => link_to(printable_element_version(way), old_way_path(way.way_id, way.version))
            end %>
      <% end %>
    </ul>
  <% end %>

  <% unless @relations.empty? %>
    <%= render :partial => "paging_nav", :locals => { :type => "relation", :pages => @relation_pages } %>
    <ul class="list-unstyled">
      <% @relations.each do |relation| %>
        <%= element_list_item "relation", relation do
              t "printable_name.current_and_old_links_html",
                :current_link => link_to(printable_element_name(relation), relation_path(relation.relation_id)),
                :old_link => link_to(printable_element_version(relation), old_relation_path(relation.relation_id, relation.version))
            end %>
      <% end %>
    </ul>
  <% end %>

  <% unless @nodes.empty? %>
    <%= render :partial => "paging_nav", :locals => { :type => "node", :pages => @node_pages } %>
    <ul class="list-unstyled">
      <% @nodes.each do |node| %>
        <%= element_list_item "node", node do
              t "printable_name.current_and_old_links_html",
                :current_link => link_to(printable_element_name(node), node_path(node.node_id), { :rel => link_follow(node) }),
                :old_link => link_to(printable_element_version(node), old_node_path(node.node_id, node.version), { :rel => link_follow(node) })
            end %>
      <% end %>
    </ul>
  <% end %>
</div>

<div class='secondary-actions'>
  <%= link_to(t(".changesetxml"), :controller => "api/changesets", :action => "show") %>
  &middot;
  <%= link_to(t(".osmchangexml"), :controller => "api/changesets", :action => "download") %>
</div>

<% if @next_by_user || @prev_by_user %>
  <div class='secondary-actions'>
    <% if @prev_by_user %>
      <%= link_to @prev_by_user, :class => "icon-link" do %>
        <%= previous_page_svg_tag :height => 11 %>
        <%= @prev_by_user.id %>
      <% end %>
      &middot;
    <% end %>
    <%= user = (@prev_by_user || @next_by_user).user.display_name
        link_to tag.bdi(user), :controller => "changesets", :action => "index", :display_name => user %>
    <% if @next_by_user %>
      &middot;
      <%= link_to @next_by_user, :class => "icon-link" do %>
        <%= @next_by_user.id %>
        <%= next_page_svg_tag :height => 11 %>
      <% end %>
    <% end %>
  </div>
<% end %>
