<table>

  <tr>
    <th><%= t 'browse.changeset_details.created_at' %></th>
    <td><%= l changeset_details.created_at %></td>
  </tr>
  
  <tr>
    <th><%= t 'browse.changeset_details.closed_at' %></th>
    <td><%= l changeset_details.closed_at %></td>
  </tr>
  
  <% if changeset_details.user.data_public? %>
    <tr>
      <th><%= t 'browse.changeset_details.belongs_to' %></th>
      <td><%= link_to h(changeset_details.user.display_name), :controller => "user", :action => "view", :display_name => changeset_details.user.display_name %></td>
    </tr>
  <% end %>
  
  <%= render :partial => "tag_details", :object => changeset_details %>

  <tr>
    <th><%= t 'browse.changeset_details.bounding_box' %></th>
    <% unless changeset_details.has_valid_bbox? %>
      <td><%= t 'browse.changeset_details.no_bounding_box' %></td>
    <% else
          bbox = changeset_details.bbox.to_unscaled
    %>
      <td>
        <table>
          <tr>
            <td colspan="3" style="text-align:center"><%=bbox.max_lat -%></td>
          </tr>
          <tr>
            <td><%=bbox.min_lon -%></td>
            <td>(<%= link_to t('browse.changeset_details.box'), root_path(:minlon => bbox.min_lon, :minlat => bbox.min_lat, :maxlon => bbox.max_lon, :maxlat => bbox.max_lat, :box => 'yes'), :title => t('browse.changeset_details.show_area_box') %>)</td>
            <td><%=bbox.max_lon -%></td>
          </tr>
          <tr>
            <td colspan="3" style="text-align:center"><%= bbox.min_lat -%></td>
          </tr>
        </table>
      </td>
    <% end %>
  </tr>

  <% unless @nodes.empty? %>
    <tr valign="top">
      <th><%= t 'browse.changeset_details.has_nodes', :count => @node_pages.item_count %></th>
      <td>
        <table cellpadding="0">
          <% @nodes.each do |node| %>
            <tr><td><%= link_to h(printable_name(node, true)), { :action => "node", :id => node.node_id.to_s }, :class => link_class('node', node), :title => link_title(node) %></td></tr>
          <% end %>
        </table>
      </td>
    </tr>
    <%= render :partial => 'paging_nav', :locals => { :pages => @node_pages, :page_param => "node_page"} %>
  <% end %>
  
  <% unless @ways.empty? %>
    <tr valign="top">
      <th><%= t 'browse.changeset_details.has_ways', :count => @way_pages.item_count %></th>
      <td>
        <table cellpadding="0">
          <% @ways.each do |way| %>
          <tr><td><%= link_to h(printable_name(way, true)), { :action => "way", :id => way.way_id.to_s }, :class => link_class('way', way), :title => link_title(way) %></td></tr>
          <% end %>
          <%=
          #render :partial => "containing_relation", :collection => changeset_details.containing_relation_members 
          %>
        </table>
      </td>
    </tr>
    <%= render :partial => 'paging_nav', :locals => { :pages => @way_pages, :page_param => "way_page" } %>
  <% end %>
  
  <% unless @relations.empty? %>
    <tr valign="top">
      <th><%= t 'browse.changeset_details.has_relations', :count => @relation_pages.item_count %></th>
      <td>
        <table cellpadding="0">
          <% @relations.each do |relation| %>
          <tr><td><%= link_to h(printable_name(relation, true)), { :action => "relation", :id => relation.relation_id.to_s }, :class => link_class('relation', relation), :title => link_title(relation) %></td></tr>
          <% end %>
        </table>
      </td>
    </tr>
    <%= render :partial => 'paging_nav', :locals => { :pages => @relation_pages, :page_param => "relation_page" } %>
  <% end %>

</table>
