<div class='column-1'>

  <div class='browse-section common'>
    <div>
      <h4><%= t 'browse.changeset_details.created_at' %></h4>
      <p><%= l changeset_details.created_at %></p>
    </div>

    <div>
      <h4><%= t 'browse.changeset_details.closed_at' %></h4>
      <p><%= l changeset_details.closed_at %></p>
    </div>

    <% if changeset_details.user.data_public? %>
      <div>
        <h4><%= t 'browse.changeset_details.belongs_to' %></h4>
        <p><%= link_to h(changeset_details.user.display_name), :controller => "user", :action => "view", :display_name => changeset_details.user.display_name %></p>
      </div>
    <% end %>
  </div>

  <%= render :partial => "tag_details", :object => changeset_details %>

  <div class='browse-section clearfix'>
    <h4><%= t 'browse.changeset_details.bounding_box' %></h4>
    <% unless changeset_details.has_valid_bbox? %>
    <p><%= t 'browse.changeset_details.no_bounding_box' %></p>
    <% else bbox = changeset_details.bbox.to_unscaled %>
        <div class='bbox'>
            <div class='max_lat'><%=bbox.max_lat -%></div>
            <div class='min_lon'><%=bbox.min_lon -%></div>
            <div class='box'>(<%= link_to t('browse.changeset_details.box'), root_path(:minlon => bbox.min_lon, :minlat => bbox.min_lat, :maxlon => bbox.max_lon, :maxlat => bbox.max_lat, :box => 'yes'), :title => t('browse.changeset_details.show_area_box') %>)</div>
            <div class='max_lon'><%=bbox.max_lon -%></div>
            <div class='min_lat'><%= bbox.min_lat -%></div>
        </div>
    <% end %>
  </div>

  <% unless @nodes.empty? %>
    <div class='browse-section'>
      <h4><%= t 'browse.changeset_details.has_nodes', :count => @node_pages.item_count %></h4>
      <ul>
          <% @nodes.each do |node| %>
            <li><%= link_to h(printable_name(node, true)), { :action => "node", :id => node.node_id.to_s }, :class => link_class('node', node), :title => link_title(node) %></li>
          <% end %>
      </ul>
    </div>
    <%= render :partial => 'paging_nav', :locals => { :pages => @node_pages, :page_param => "node_page"} %>
  <% end %>

  <% unless @ways.empty? %>
    <div class='browse-section'>
      <h4><%= t 'browse.changeset_details.has_ways', :count => @way_pages.item_count %></h4>
      <ul>
          <% @ways.each do |way| %>
          <li><%= link_to h(printable_name(way, true)), { :action => "way", :id => way.way_id.to_s }, :class => link_class('way', way), :title => link_title(way) %></li>
          <% end %>
          <%=
          #render :partial => "containing_relation", :collection => changeset_details.containing_relation_members
          %>
      </ul>
    </div>
    <%= render :partial => 'paging_nav', :locals => { :pages => @way_pages, :page_param => "way_page" } %>
  <% end %>

  <% unless @relations.empty? %>
    <div class='browse-section'>
      <h4><%= t 'browse.changeset_details.has_relations', :count => @relation_pages.item_count %></h4>
        <ul>
          <% @relations.each do |relation| %>
          <li><%= link_to h(printable_name(relation, true)), { :action => "relation", :id => relation.relation_id.to_s }, :class => link_class('relation', relation), :title => link_title(relation) %></li>
          <% end %>
        </ul>
    </div>
    <%= render :partial => 'paging_nav', :locals => { :pages => @relation_pages, :page_param => "relation_page" } %>
  <% end %>

</div>