<tr>
  <% if common_details.visible? %>
    <th><%= t 'browse.common_details.edited_at' %></th>
  <% else %>
    <th><%= t 'browse.common_details.deleted_at' %></th>
  <% end %>
  <td><%= l common_details.timestamp %></td>
</tr>

<% if common_details.changeset.user.data_public? %>
  <tr>
    <% if common_details.visible? %>
      <th><%= t 'browse.common_details.edited_by' %></th>
    <% else %>
      <th><%= t 'browse.common_details.deleted_by' %></th>
    <% end %>
    <td><%= link_to h(common_details.changeset.user.display_name), :controller => "user", :action => "view", :display_name => common_details.changeset.user.display_name %></td>
  </tr>
<% end %>

<tr>
  <th><%= t 'browse.common_details.version' %></th>
  <td><%= h(common_details.version) %></td>
</tr>

<tr>
  <th><%= t 'browse.common_details.in_changeset' %></th>
  <td><%= link_to common_details.changeset_id, :action => :changeset, :id => common_details.changeset_id %></td>
</tr>

<% if common_details.changeset.tags['comment'] %>
  <tr>
    <th><%= t 'browse.common_details.changeset_comment' %></th>
    <td><%= linkify(h(common_details.changeset.tags['comment'])) %></td>
  </tr>
<% end %>

<%= render :partial => "tag_details", :object => common_details %>
