<h4>
  <%= if common_details.redacted?
        t "browse.redacted_version"
      else
        t "browse.version"
      end %>
  #<%= link_to_unless_current common_details.version, :controller => "old_#{@type.pluralize}", :action => :show, :version => common_details.version %>
</h4>

<p class="fs-6 overflow-x-auto">
  <% if common_details.changeset.tags["comment"].present? %>
    <%= linkify(common_details.changeset.tags["comment"]) %>
  <% else %>
    <%= t "browse.no_comment" %>
  <% end %>
</p>

<ul class="list-unstyled">
  <li>
    <%= t "browse.#{common_details.visible? ? :edited : :deleted}_ago_by_html",
          :time_ago => friendly_date_ago(common_details.timestamp),
          :user => changeset_user_link(common_details.changeset) %>
  </li>
  <li>
    <%= t "browse.in_changeset" %>
    #<%= link_to common_details.changeset_id, changeset_path(common_details.changeset) %>
  </li>

  <% if @type == "node" and common_details.visible? %>
    <li>
      <%= t "browse.location" %>
      <%= link_to(t(".coordinates_html",
                    :latitude => tag.span(number_with_delimiter(common_details.lat), :class => "latitude"),
                    :longitude => tag.span(number_with_delimiter(common_details.lon), :class => "longitude")),
                  root_path(:anchor => "map=18/#{common_details.lat}/#{common_details.lon}")) %>
    </li>
  <% end %>
</ul>

<%= render :partial => "browse/tag_details", :object => common_details.tags %>
