<h4>
  <% if common_details.changeset.tags['comment'].present? %>
    <%= linkify(h(common_details.changeset.tags['comment'])) %>
  <% else %>
    <%= t 'browse.no_comment' %>
  <% end %>
</h4>

<div class="details">
  <%=
      t "browse.#{common_details.visible? ? :edited : :deleted}_by_html",
        :time => distance_of_time_in_words_to_now(common_details.timestamp),
        :user => changeset_user_link(common_details.changeset),
        :title => l(common_details.timestamp)
  %>
</div>

<div class="details">
  <%= t 'browse.version' %>
  #<%= h(common_details.version) %>
  &middot;
  <%= t 'browse.in_changeset' %>
  #<%= link_to common_details.changeset_id, :action => :changeset, :id => common_details.changeset_id %>
</div>

<% if @type == "node" %>
<div class="details geo">
  <%= t 'browse.location' %>
  <%= link_to(content_tag(:span, number_with_delimiter(common_details.lat), :class => "latitude") + ", " + content_tag(:span, number_with_delimiter(common_details.lon), :class => "longitude"), {:controller => 'site', :action => 'index', :lat => h(common_details.lat), :lon => h(common_details.lon), :zoom => "18"}) %>
</div>
<% end %>

<%= render :partial => "tag_details", :object => common_details.tags %>
