<h4>
  <%= if common_details.redacted?
        t "browse.redacted_version"
      else
        t "browse.version"
      end %>
  #<%= link_to_unless_current common_details.version, :controller => "old_#{@type.pluralize}", :action => :show, :version => common_details.version %>
</h4>

<div class="fs-6 overflow-x-auto mb-2">
  <%= common_details.changeset.comment_html || t("browse.no_comment") %>
</div>

<div class="mb-3">
  <div>
    <%= t "browse.#{common_details.visible? ? :edited : :deleted}_ago_by_html",
          :time_ago => friendly_date_ago(common_details.timestamp),
          :user => changeset_user_link(common_details.changeset) %>
  </div>
  <%= render "changesets/changeset_line", :changeset => common_details.changeset,
                                          :show_num_changes => false do %>
    <%= t "browse.in_changeset" %>
    #<%= link_to common_details.changeset_id, common_details.changeset %>
  <% end %>

  <% if @type == "node" and common_details.visible? %>
    <div>
      <%= t "browse.location" %>
      <%= link_to(t(".coordinates_html",
                    :latitude => tag.span(number_with_delimiter(common_details.lat), :class => "latitude"),
                    :longitude => tag.span(number_with_delimiter(common_details.lon), :class => "longitude")),
                  root_path(:anchor => "map=18/#{common_details.lat}/#{common_details.lon}")) %>
    </div>
  <% end %>
</div>

<%= render :partial => "browse/tag_details", :object => common_details.tags %>
