<iframe id="linkloader" style="display: none">
</iframe>

<div id="browse_map" class='clearfix content_map'>
  <% if map.instance_of? Changeset or (map.instance_of? Node and map.version > 1) or map.visible? %>

  <% content_for :head do %>
    <%= javascript_include_tag "browse" %>
  <% end %>

  <%
     if map.instance_of? Changeset
       bbox = map.bbox.to_unscaled
       data = {
         :type   => "changeset",
         :id     => map.id,
         :minlon => bbox.min_lon,
         :minlat => bbox.min_lat,
         :maxlon => bbox.max_lon,
         :maxlat => bbox.max_lat
       }
     elsif map.instance_of? Note
       data = {
         :type => "note",
         :id   => map.id,
         :lon  => map.lon,
         :lat  => map.lat
       }
     else
       data = {
         :type    => map.class.name.downcase,
         :id      => map.id,
         :version => map.version,
         :visible => map.visible
       }
     end
  %>
  <%= content_tag "div", "", :id => "small_map", :data => data %>
  <span id="loading"><%= t 'browse.map.loading' %></span>

<ul class='secondary-actions clearfix'>
  <li>
    <% if map.instance_of? Note -%>
      <%= link_to t("browse.map.larger.area"),
                  root_path(:notes => "yes"),
                  :id => "area_larger_map",
                  :class => "geolink bbox" %>
    <% else -%>
      <%= link_to t("browse.map.larger.area"),
                  root_path(:box => "yes"),
                  :id => "area_larger_map",
                  :class => "geolink bbox" %>
    <% end -%>
  </li>
  <li>
    <%= link_to h(t("browse.map.edit.area")) + content_tag(:span, "▼", :class => "menuicon"),
                edit_path,
                :id => "area_edit",
                :data => { :editor => preferred_editor },
                :class => "geolink bbox" %>
  </li>
</ul>

  <% unless map.instance_of? Changeset %>
  <ul class='secondary-actions clearfix'>
    <li>
      <%= link_to t("browse.map.larger." + map.class.to_s.downcase),
                  root_path,
                  :id => "object_larger_map",
                  :class => "geolink object" %>
    </li>
    <li>
      <%= link_to h(t("browse.map.edit." + map.class.to_s.downcase)) + content_tag(:span, "▼", :class => "menuicon"),
                  edit_path,
                  :id => "object_edit",
                  :data => { :editor => preferred_editor },
                  :class => "geolink object" %>
    </li>
  </ul>
  <% end %>

  <% else %>
    <%= t 'browse.map.deleted' %>
  <% end %>
</div>

<div id="area_edit_menu" class="menu">
  <ul>
    <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
      <li><%= link_to t('layouts.edit_with', :editor => t("editor.#{editor}.description")),
                      edit_path(:editor => editor),
                      :data => {:editor => editor},
                      :class => "geolink bbox" %></li>
    <% end %>
  </ul>
</div>

<div id="object_edit_menu" class="menu">
  <ul>
    <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
      <li><%= link_to t('layouts.edit_with', :editor => t("editor.#{editor}.description")),
                      edit_path(:editor => editor),
                      :data => {:editor => editor},
                      :class => "geolink object" %></li>
    <% end %>
  </ul>
</div>
