<div style="float:right; text-align:center; width: 250px;">
  <% if @next_by_user or @prev_by_user %>
    <% if @prev_by_user %>
       <%= link_to t('browse.changeset_navigation.user.prev', :id => @prev_by_user.id.to_s),
           { :id => @prev_by_user.id },
           { :title => t('browse.changeset_navigation.user.prev_tooltip', :user => @prev_by_user.user.display_name) } %>
    |
    <% end %>
    <%=
    user = (@prev_by_user || @next_by_user).user.display_name
    link_to(t('browse.changeset_navigation.user.name', :user => h(user)),
            { :controller => "changeset", :action => "list", :display_name => user },
            { :title => t('browse.changeset_navigation.user.name_tooltip', :user => h(user)) })
    %>
    <% if @next_by_user %>
    |
      <%= link_to t('browse.changeset_navigation.user.next', :id => @next_by_user.id.to_s),
         { :id => @next_by_user.id },
         { :title => t('browse.changeset_navigation.user.next_tooltip', :user => @next_by_user.user.display_name) } %>
    <% end %>
    <br/>
  <% end %>
  <% if @prev %>
    <%= link_to t('browse.changeset_navigation.all.prev', :id => @prev.id.to_s),
                { :id => @prev.id },
                { :title => t('browse.changeset_navigation.all.prev_tooltip') } %>
  <% end %>
  <% if @prev and @next %>
    | 
  <% end %>
  <% if @next %>
    <%= link_to t('browse.changeset_navigation.all.next', :id => @next.id.to_s),
                { :id => @next.id },
                { :title => t('browse.changeset_navigation.all.next_tooltip') } %>
  <% end %>
</div>
