<div style="float:right; text-align:center; width: 250px;">
  <% if @next_by_user or @prev_by_user %>
    <span class="nowrap">
      <% if @prev_by_user %>
        &lt;
        <%= link_to @prev_by_user.id.to_s,
                    { :id => @prev_by_user.id },
                    { :title => t('browse.changeset_navigation.user.prev_tooltip', :user => @prev_by_user.user.display_name) } %>
        |
      <% end %>
      <%=
      user = (@prev_by_user || @next_by_user).user.display_name
      link_to h(user),
              { :controller => "changeset", :action => "list", :display_name => user },
              { :title => t('browse.changeset_navigation.user.name_tooltip', :user => h(user)) }
      %>
      <% if @next_by_user %>
        |
        <%= link_to @next_by_user.id.to_s,
                    { :id => @next_by_user.id },
                    { :title => t('browse.changeset_navigation.user.next_tooltip', :user => @next_by_user.user.display_name) } %>
        &gt;
      <% end %>
    </span>
    <br/>
  <% end %>
  <span class="nowrap">
    <% if @prev %>
      &lt;
      <%= link_to @prev.id.to_s,
                  { :id => @prev.id },
                  { :title => t('browse.changeset_navigation.all.prev_tooltip') } %>
    <% end %>
    <% if @prev and @next %>
      | 
    <% end %>
    <% if @next %>
      <%= link_to @next.id.to_s,
                  { :id => @next.id },
                  { :title => t('browse.changeset_navigation.all.next_tooltip') } %>
      &gt;
    <% end %>
  </span>
</div>
