<% if node.redacted? && !params[:show_redactions] %>
  <div class="browse-section browse-redacted">
    <%= t "browse.redacted.message_html",
          :type => t("browse.redacted.type.node"),
          :version => node.version,
          :redaction_link => link_to(t("browse.redacted.redaction",
                                       :id => node.redaction.id), node.redaction) %>
  </div>
<% else %>
  <%= tag.div :class => ["browse-section", "browse-node", { "text-body-secondary" => node.redacted? }] do %>
    <%= render :partial => "browse/common_details", :object => node %>

    <% unless node.ways.empty? and node.containing_relation_members.empty? %>
      <h4><%= t "browse.part_of" %></h4>
      <% unless node.ways.empty? %>
        <details <%= "open" if node.ways.count < 10 %>>
          <summary><%= t "browse.part_of_ways", :count => node.ways.uniq.count %></summary>
          <ul class="list-unstyled browse-element-list">
            <% node.ways.uniq.each do |way| %>
              <%= element_list_item "way", way do %>
                <%= element_single_current_link "way", way %>
              <% end %>
            <% end %>
          </ul>
        </details>
      <% end %>
      <% unless node.containing_relation_members.empty? %>
        <details <%= "open" if node.containing_relation_members.count < 10 %>>
          <summary><%= t "browse.part_of_relations", :count => node.containing_relation_members.uniq.count %></summary>
          <ul class="list-unstyled browse-element-list">
            <%= render :partial => "browse/containing_relation", :collection => node.containing_relation_members.uniq %>
          </ul>
        </details>
      <% end %>
    <% end %>
  <% end %>
<% end %>
