<% if relation.redacted? %>
  <div class='browse-section browse-redacted'>
    <%= t "browse.redacted.message_html",
          :type => t("browse.redacted.type.relation"),
          :version => relation.version,
          :redaction_link => link_to(t("browse.redacted.redaction",
                                       :id => relation.redaction.id), relation.redaction) %>
  </div>
<% else %>
  <div class='browse-section browse-relation'>
    <%= render :partial => "common_details", :object => relation %>

    <% unless relation.containing_relation_members.empty? %>
      <h4><%= t "browse.part_of" %></h4>
      <ul><%= render :partial => "containing_relation", :collection => relation.containing_relation_members.uniq %></ul>
    <% end %>

    <% unless relation.relation_members.empty? %>
      <h4><%= t ".members" %></h4>
      <ul><%= render :partial => "relation_member", :collection => relation.relation_members %></ul>
    <% end %>
  </div>
<% end %>
