<div class="browse_details" id="<%= relation_details.version %>">
<% if relation_details.redacted? %>
  <div class='browse-section'>
    <%= t 'browse.redacted.message_html', :type => t('browse.redacted.type.relation'), :redaction_link => link_to(t('browse.redacted.redaction', :id => relation_details.redaction.id), relation_details.redaction), :version => relation_details.version %><
  </div>
<% else %>
  <%= render :partial => "common_details", :object => relation_details %>

  <% unless relation_details.relation_members.empty? %>
    <div class='browse-section'>
      <h4><%= t'browse.relation_details.members' %></h4>
      <ul><%= render :partial => "relation_member", :collection => relation_details.relation_members %></ul>
    </div>
  <% end %>

  <% unless relation_details.containing_relation_members.empty? %>
    <div class='browse-section'>
      <h4><%= t'browse.relation_details.part_of' %></h4>
      <ul><%= render :partial => "containing_relation", :collection => relation_details.containing_relation_members %></ul>
    </div>
  <% end %>
<% end %>
</div>
