<% if relation_details.redacted? %>
<p><%= t 'browse.redacted.message_html', :type => t('browse.redacted.type.relation'), :redaction_link => link_to(t('browse.redacted.redaction', :id => relation_details.redaction.id), relation_details.redaction), :version => relation_details.version %></p>
<% else %>
<table class="browse_details" id="<%= relation_details.version %>">

  <%= render :partial => "common_details", :object => relation_details %>

  <% unless relation_details.relation_members.empty? %>
    <tr valign="top">
      <th><%= t'browse.relation_details.members' %></th>
      <td>
        <table cellpadding="0">
          <%= render :partial => "relation_member", :collection => relation_details.relation_members %>
        </table>
      </td>
    </tr>   
  <% end %>

  <% unless relation_details.containing_relation_members.empty? %>
    <tr valign="top">
      <th><%= t'browse.relation_details.part_of' %></th>
      <td>
        <table cellpadding="0">
          <%= render :partial => "containing_relation", :collection => relation_details.containing_relation_members %>
        </table>
      </td>
    </tr>      
  <% end %>

</table>
<% end %>
