<div class='browse-section'>
  <% if relation_details.redacted? %>
    <%= t 'browse.redacted.message_html',
          :type => t('browse.redacted.type.relation'),
          :version => relation_details.version,
          :redaction_link => link_to(t('browse.redacted.redaction',
                                       :id => relation_details.redaction.id), relation_details.redaction) %><
  <% else %>
    <%= render :partial => "common_details", :object => relation_details %>

    <% unless relation_details.relation_members.empty? %>
      <h4><%= t'browse.relation.members' %></h4>
      <ul><%= render :partial => "relation_member", :collection => relation_details.relation_members %></ul>
    <% end %>

    <% unless relation_details.containing_relation_members.empty? %>
      <h4><%= t'browse.part_of' %></h4>
      <ul><%= render :partial => "containing_relation", :collection => relation_details.containing_relation_members %></ul>
    <% end %>
  <% end %>
</div>
