<% if way.redacted? && !params[:show_redactions] %>
  <div class="browse-section browse-redacted">
    <%= t "browse.redacted.message_html",
          :type => t("browse.redacted.type.way"),
          :version => way.version,
          :redaction_link => link_to(t("browse.redacted.redaction",
                                       :id => way.redaction.id), way.redaction) %>
  </div>
<% else %>
  <%= tag.div :class => ["browse-section", "browse-way", { "text-body-secondary" => way.redacted? }] do %>
    <%= render :partial => "browse/common_details", :object => way %>

    <% unless way.containing_relation_members.empty? %>
      <h4><%= t "browse.part_of" %></h4>
      <details <%= "open" if way.containing_relation_members.count < 10 %>>
        <summary><%= t "browse.part_of_relations", :count => way.containing_relation_members.uniq.count %></summary>
        <ul class="list-unstyled browse-element-list">
          <%= render :partial => "browse/containing_relation", :collection => way.containing_relation_members.uniq %>
        </ul>
      </details>
    <% end %>

    <% unless way.way_nodes.empty? %>
      <h4><%= t ".nodes" %></h4>
      <details <%= "open" if way.way_nodes.count < 10 %>>
        <summary><%= t ".nodes_count", :count => way.way_nodes.count %></summary>
        <ul class="list-unstyled browse-element-list">
          <% way.way_nodes.each do |wn| %>
            <%= element_list_item "node", wn.node do %>
              <%= element_single_current_link "node", wn.node %>
              <% related_ways = wn.node.ways.reject { |w| w.id == wn.way_id } %>
              <% icon_connector = " " %>
              <% if related_ways.size > 0 then %>
                (<%= t ".also_part_of_html",
                       :count => related_ways.size,
                       :related_ways => to_sentence(related_ways.map { |w| element_icon("way", w) + icon_connector + element_single_current_link("way", w) }) %>)
              <% end %>
            <% end %>
          <% end %>
        </ul>
      </details>
    <% end %>
  <% end %>
<% end %>
