<div class='browse-section'>
  <% if way_details.redacted? %>
    <%= t 'browse.redacted.message_html',
          :type => t('browse.redacted.type.way'),
          :version => way_details.version,
          :redaction_link => link_to(t('browse.redacted.redaction',
                                       :id => way_details.redaction.id), way_details.redaction) %>
  <% else %>
    <%= render :partial => "common_details", :object => way_details %>

    <% unless way_details.way_nodes.empty? %>
      <h4><%= t'browse.way_details.nodes' %></h4>
      <ul>
        <% way_details.way_nodes.each do |wn| %>
          <li>
            <%= link_to h(printable_name(wn.node)), { :action => "node", :id => wn.node_id.to_s }, :class => link_class('node', wn.node), :title => link_title(wn.node) %>
            <% related_ways = wn.node.ways.reject { |w| w.id == wn.way_id } %>
            <% if related_ways.size > 0 then %>
              (<%= raw t 'browse.way_details.also_part_of', :count => related_ways.size, :related_ways => related_ways.map { |w| link_to(h(printable_name(w)), { :action => "way", :id => w.id.to_s }, :class => link_class('way', w), :title => link_title(w) ) }.to_sentence %>)
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% unless way_details.containing_relation_members.empty? %>
      <h4><%= t'browse.way_details.part_of' %></h4>
      <ul>
        <%= render :partial => "containing_relation", :collection => way_details.containing_relation_members %>
      </ul>
    <% end %>
  <% end %>
</div>
