<table width="100%">
  <tr>
    <td width="100%">
      <h2>
        <% if @bug.status == "closed" %>
          <%= image_tag("closed_bug_marker.png", :alt => 'closed') %>
          <%= t 'browse.bug.closed_title', :bug_name => @bug.id %>
        <% else %>
          <%= image_tag("open_bug_marker.png", :alt => 'open') %>
          <%= t 'browse.bug.open_title', :bug_name => @bug.id %>
        <% end %>
      </h2>
    </td>
    <td>
      <%= render :partial => "navigation" %>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <table>
        <tr>
          <th><%= t 'browse.bug.created_at' %></th>
          <td><%= l @bug.created_at %></td>
        </tr>  
       <tr>
         <th><%= t 'browse.bug.edited_at' %></th>
         <td><%= l @bug.updated_at %></td>
       </tr>
       <% if @bug.status == "closed" %>
         <tr>
           <th><%= t 'browse.bug.closed_at' %></th>
           <td><%= l @bug.closed_at %></td>
         </tr>
       <% end %>
       <tr>
         <th><%= t 'browse.bug.opened_by' %></th>
         <% if @bug.comments.first.user.nil? %>
           <td> <%= @bug.comments.first.author_name %> </td>
         <% else %>
           <td><%= link_to h(@bug.comments.first.user.display_name), :controller => "user", :action => "view", :display_name => @bug.comments.first.user.display_name %></td>					
         <% end %>
       </tr>
       <tr>
         <th><%= t 'browse.bug.description' %></th>
         <td><%= h(@bug.comments.first.body) %></td>
       </tr>
       <tr>
         <th><%= t 'browse.node_details.coordinates' %></th>
         <td><div class="geo"><%= link_to ("<span class='latitude'>#{number_with_delimiter(@bug.lat)}</span>, <span class='longitude'>#{number_with_delimiter(@bug.lon)}</span>"), {:controller => 'site', :action => 'index', :lat => h(@bug.lat), :lon => h(@bug.lon), :zoom => "18"} %></div></td>
       </tr>
    </table>

    <br />

    <% if @bug.comments.length > 1 %>
      <table>
        <tr>
          <th width="20%"> <%= t 'browse.bug.comment_by' %></th>
          <th width="60%"> <%= t 'browse.bug.comment' %></th>
          <th width="20%"> <%= t 'browse.bug.date' %></th> 
        </tr>
        <% @bug.comments[1..-1].each do |bug_comment| %>
          <tr>
            <td>
              <% if bug_comment.user.nil? %>
                <%= bug_comment.author_name %>
              <% else %>
                <%= link_to h(bug_comment.user.display_name), :controller => "user", :action => "view", :display_name => bug_comment.user.display_name %>					
              <% end %>
            </td>
            <td> <%= h(bug_comment.body) %> </td>
            <td> <%= l bug_comment.created_at %> </td>
          </tr>
        <% end %>
      </table>
    <% end %>
	
    <hr />
    </td>

    <%= render :partial => "map", :object => @bug %>
  </tr>
</table>
