<% content_for :head do %>
<%= stylesheet_link_tag 'browse' %>
<% end %>
<%= render :partial => "navigation" %>
<h2><%= t 'browse.changeset.changeset', :id => @changeset.id %></h2>
<% if @changeset.has_valid_bbox? %>
<%= render :partial => "map", :object => @changeset %>
<% end %>
<%= render :partial => "changeset_details", :object => @changeset %>
<hr />
<%= raw t 'browse.changeset.download', :changeset_xml_link => link_to(t('browse.changeset.changesetxml'), :controller => "changeset", :action => "read"), 
                                       :osmchange_xml_link => link_to(t('browse.changeset.osmchangexml'), :controller => "changeset", :action => "download") %>
