<h2><%= t 'browse.changeset.changeset', :id => @changeset.id %>
  <span class="icon close"></span>
</h2>
<div class="browse-section">
  <p>
    <%=
      if @changeset.tags['comment'].to_s != ''
        @changeset.tags['comment'].to_s
      else
        t ('browse.changeset_details.no_comment')
      end
    %>
  </p>
  <span>
    <%
      created_at = distance_of_time_in_words_to_now(@changeset.created_at)
      closed_at = distance_of_time_in_words_to_now(@changeset.closed_at)
      if created_at == closed_at
    %>
      <%= t 'browse.changeset_details.closed_at' %> 
      <abbr title="<%= t 'browse.changeset_details.created_at' %>: <%= l @changeset.created_at %> &#10;<%= t 'browse.changeset_details.closed_at' %>: <%= l @changeset.closed_at %>">
      <%= t('browse.changeset_details.ago', :ago => created_at) %></abbr> 
    <% else %>
      <%= t 'browse.changeset_details.created_at' %> <abbr title="<%= l @changeset.created_at %>"><%= t('browse.changeset_details.ago', :ago => created_at) %></abbr>, 
      <%= t 'browse.changeset_details.closed_at' %> <abbr title="<%= l @changeset.closed_at %>"><%= t('browse.changeset_details.ago', :ago => closed_at) %><abbr>
    <% end %>
    <% if @changeset.user.data_public? %>
      by <%= link_to h(@changeset.user.display_name), :controller => "user", :action => "view", :display_name => @changeset.user.display_name %>
    <% end %>
  </span>
</div>
  
<%=
  render :partial => "tag_details", :object => @changeset.tags.except('comment')
%>

<% unless @nodes.empty? %>
  <div class='browse-section paginate'>
    <h4><%= t 'browse.changeset_details.has_nodes', :count => @node_pages.item_count %></h4>
    <ul>
      <% @nodes.each do |node| %>
        <li><%= link_to h(printable_name(node, true)), { :action => "node", :id => node.node_id.to_s }, :class => link_class('node', node), :title => link_title(node) %></li>
      <% end %>
    </ul>
    <%= render :partial => 'paging_nav', :locals => { :pages => @node_pages, :page_param => "node_page"} %>
  </div>
<% end %>

<% unless @ways.empty? %>
<<<<<<< HEAD
  <div class='browse-section  paginate'>
=======
  <div class='browse-section clearfix paginate'>
>>>>>>> groundwork for responsive menu
    <h4><%= t 'browse.changeset_details.has_ways', :count => @way_pages.item_count %></h4>
    <ul>
      <% @ways.each do |way| %>
        <li><%= link_to h(printable_name(way, true)), { :action => "way", :id => way.way_id.to_s }, :class => link_class('way', way), :title => link_title(way) %></li>
      <% end %>
    </ul>
    <%= render :partial => 'paging_nav', :locals => { :pages => @way_pages, :page_param => "way_page" } %>
  </div>
<% end %>

<% unless @relations.empty? %>
  <div class='browse-section  paginate'>
    <h4><%= t 'browse.changeset_details.has_relations', :count => @relation_pages.item_count %></h4>
      <ul>
        <% @relations.each do |relation| %>
          <li><%= link_to h(printable_name(relation, true)), { :action => "relation", :id => relation.relation_id.to_s }, :class => link_class('relation', relation), :title => link_title(relation) %></li>
        <% end %>
      </ul>
      <%= render :partial => 'paging_nav', :locals => { :pages => @relation_pages, :page_param => "relation_page" } %>
  </div>
<% end %>

<div class='browse-section secondary-actions'> 
  <span><%= link_to(t('browse.changeset.changesetxml'), :controller => "changeset", :action => "read") %>
  &middot;
  <%= link_to(t('browse.changeset.osmchangexml'), :controller => "changeset", :action => "download") %></span>
</div>
