<% set_title(t("browse.#{@type}.title_html", :name => printable_name(@feature))) %>

<%= render "sidebar_header", :title => t("browse.#{@type}.title_html", :name => printable_name(@feature)) %>

<%= render :partial => @type, :object => @feature %>

<% if @feature.visible? %>
  <div class='secondary-actions'>
    <%= link_to(t("browse.download_xml"), :controller => "api/#{@type.pluralize}", :action => :show) %>
  </div>
<% end %>
<div class='secondary-actions'>
  <% if @feature.version > 1 %>
    <%= link_to "<< #{t('browse.version')} #1", :controller => "old_#{@type.pluralize}", :action => :show, :version => 1 %>
    &middot;
  <% end %>
    <%= link_to t("browse.view_history"), :action => "#{@type}_history" %>
  <% if @feature.version > 1 %>
    &middot;
    <%= link_to "#{t('browse.version')} ##{@feature.version} >>", :controller => "old_#{@type.pluralize}", :action => :show, :version => @feature.version %>
  <% end %>
</div>
