<% set_title(t("browse.#{@type}.history_title_html", :name => printable_element_name(@feature))) %>

<%= render "sidebar_header", :title => t("browse.#{@type}.history_title_html", :name => printable_element_name(@feature)) %>

<%= render :partial => "browse/#{@type}", :collection => @feature.send(:"old_#{@type}s").reverse %>

<div class='secondary-actions'>
  <%= link_to t("browse.download_xml"), :controller => "api/old_#{@type.pluralize}", :action => "history" %>
  &middot;
  <%= link_to t("browse.view_details"), :controller => @type.pluralize, :action => :show %>
  <% if params[:show_redactions] %>
    &middot;
    <%= link_to t("browse.view_history") %>
  <% elsif current_user&.moderator? %>
    &middot;
    <%= link_to t("browse.view_unredacted_history"), :params => { :show_redactions => true } %>
  <% end %>
</div>

<style>
   .history-diff-new-tag {
      background: rgba(17,238,9,0.6) !important;
    }
    .history-diff-modified-tag {
      background: rgba(223,238,9,0.6) !important;
    }
    .history-diff-deleted-tag {
      background: rgba(238,51,9,0.6) !important;
    }
    .non-modified-tag .empty-version {

    }
    .hidden-non-modified-tag, .hidden-empty-version {
        display: none;
    }
    .hidden-version, .hidden-h4 {
        display: none;
    }

    #sidebar_content h2:not(.changeset-header){
        font-size: 1rem;
    }

    h4 {
        font-size: 1rem;
    }

    .find-deleted-user-btn {
        cursor: pointer !important;
    }

    .copied {
      background-color: red !important;
      transition:all 0.3s;
    }
    .was-copied {
      background-color: none !important;
      transition:all 0.3s;
    }
</style>
