<%
@name = printable_name @node
@title = t('browse.node.node') + ' | ' + @name
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'browse' %>
<% end %>

<h2><%= t'browse.node.node_title', :node_name => @name %></h2>

<%= render :partial => "node_details", :object => @node %>

<ul class='secondary-actions clearfix'>
  <li><%= link_to(t('browse.node.download_xml'), :controller => "node", :action => "read") %></li>
  <li><%= link_to(t('browse.node.view_history'), :action => "node_history") %></li>
</ul>
