<%
@name = printable_name @node, {:type => t('browse.node.node')}
@title = t('browse.node.node') + ' | ' + @name
%>
<% content_for :head do %>
<%= stylesheet_link_tag 'browse' %>
<% end %>

<% content_for :heading do %>
  <h2><%= @name %></h2>
  <%= render :partial => "navigation" %>

  <%= render :partial => "common_editsummary", :object => @node, :locals => {historylink: link_to(t('browse.node.view_history'), :action => "node_history")} %>
<% end %>
<% if @node.visible -%>
<%= render :partial => "map", :object => @node %>
<% end -%>

<div class='column-1'>
  <%= render :partial => "node_details", :object => @node %>
</div>
