<%
@name = printable_name @node
@title = t('browse.node_history.node_history') + ' | ' + @name
%>
<h2><%= raw t'browse.node_history.node_history_title', :node_name => link_to(h(@name), :action => "node", :id => @node.id) %></h2>
<% if @node.visible -%>
<%= render :partial => "map", :object => @node %>
<% end -%>
<% @node.old_nodes.reverse.each do |node| %>
  <%= render :partial => "node_details", :object => node %>
  <hr />
<% end %>
<%= link_to(t('browse.node_history.download_xml'), :controller => "old_node", :action => "history") %>
| <%= link_to(t('browse.node_history.view_details'), :action => "node") %>
