<% set_title(t('browse.note.title', :id => @note.id)) %>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= t "browse.note.#{@note.status}_title", :note_name => @note.id %>
  <% if @user and @user.id!=@note.author.id %>
    <%= link_to new_issue_url(reportable_id: @note.id, reportable_type: @note.class.name, reported_user_id: @note.author.id), :title => t('browse.note.report') do %>
        &nbsp;&#9872;
    <% end %>
  <% end %>
</h2>

<div class="browse-section">
  <h4><%= t('browse.note.description') %></h4>
  <div class="note-description">
    <%= h(@note_comments.first.body.to_html) %>
  </div>

  <div class="details" data-coordinates="<%= @note.lat %>,<%= @note.lon %>" data-status="<%= @note.status %>">
    <%= note_event('open', @note.created_at, @note.author) %>
    <% if @note.status == "closed" %>
      <br/>
      <%= note_event(@note.status, @note.closed_at, @note_comments.last.author) %>
    <% end %>
  </div>

  <% if @note_comments.find { |comment| comment.author.nil? } -%>
    <p class='warning'><%= t "javascripts.notes.show.anonymous_warning" %></p>
  <% end -%>

  <% if @note_comments.length > 1 %>
    <div class='note-comments'>
      <ul>
        <% @note_comments[1..-1].each do |comment| %>
          <li id="c<%= comment.id %>">
            <small class='deemphasize'><%= note_event(comment.event, comment.created_at, comment.author) %></small>
            <%= comment.body.to_html %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @note.status == "open" %>
    <form action="#">
      <textarea class="comment" name="text" cols="40" rows="5"></textarea>
      <div class="buttons clearfix">
        <input type="submit" name="hide" value="<%= t('javascripts.notes.show.hide') %>" class="hide_unless_moderator deemphasize" data-note-id="<%= @note.id %>" data-method="DELETE" data-url="<%= note_url(@note, 'json') %>">
        <input type="submit" name="close" value="<%= t('javascripts.notes.show.resolve') %>" class="hide_unless_logged_in" data-note-id="<%= @note.id %>" data-method="POST" data-url="<%= close_note_url(@note, 'json') %>">
        <input type="submit" name="comment" value="<%= t('javascripts.notes.show.comment') %>" data-note-id="<%= @note.id %>" data-method="POST" data-url="<%= comment_note_url(@note, 'json') %>" disabled="1">
      </div>
    </form>
  <% else %>
    <form action="#">
      <input type="hidden" name="text" value="">
      <div class="buttons clearfix">
        <input type="submit" name="hide" value="<%= t('javascripts.notes.show.hide') %>" class="hide_unless_moderator deemphasize" data-note-id="<%= @note.id %>" data-method="DELETE" data-url="<%= note_url(@note, 'json') %>">
        <input type="submit" name="reopen" value="<%= t('javascripts.notes.show.reactivate') %>" class="hide_unless_logged_in" data-note-id="<%= @note.id %>" data-method="POST" data-url="<%= reopen_note_url(@note, 'json') %>">
      </div>
    </form>
  <% end %>
</div>
