<% content_for :head do %>
  <%= stylesheet_link_tag 'browse' %>
  <%= javascript_include_tag 'index' %>
<% end %>

<% content_for :sidebar do %>
  <h2><%= t "browse.note.#{@note.status}_title", :note_name => @note.id %></h2>

  <% if @note.comments.find { |comment| comment.author.nil? } -%>
  <div class='browse-section common'>
    <p class="warning"><%= t "javascripts.notes.show.anonymous_warning" %></p>
  </div>
  <% end -%>

  <div class='browse-section common'>
    <div class='browse-field'>
      <h4><%= t "browse.note.opened" %></h4>
      <p><%= note_event(@note.created_at, @note.author) %></p>
    </div>

    <% if @note.status == "closed" %>
      <div class='browse-field'>
        <h4><%= t "browse.note.closed" %></h4>
        <p><%= note_event(@note.closed_at, @note.comments.last.author) %></p>
      </div>
    <% elsif @note.comments.length > 1 %>
      <div class='browse-field'>
        <h4><%= t "browse.note.last_modified" %></h4>
        <p><%= note_event(@note.updated_at, @note.comments.last.author) %></p>
      </div>
    <% end %>

    <div class='browse-field' id="c<%= @note.comments.first.id %>">
      <h4><%= t "browse.note.description" %></h4>
      <p><%= h(@note.comments.first.body.to_html) %></p>
    </div>

    <div class='browse-field'>
      <h4><%= t "browse.node_details.coordinates" %></h4>
      <p class="geo"><%= link_to ("<span class='latitude'>#{number_with_delimiter(@note.lat)}</span>, <span class='longitude'>#{number_with_delimiter(@note.lon)}</span>".html_safe), {:controller => 'site', :action => 'index', :lat => h(@note.lat), :lon => h(@note.lon), :zoom => "18"} %></p>
    </div>
  </div>

  <% if @note.comments.length > 1 %>
    <div class='browse-section clearfix'>
      <h4><%= t "browse.note.comments" %></h4>
      <ul>
        <% @note.comments[1..-1].each do |comment| %>
          <li id="c<%= comment.id %>">
            <%= comment.body.to_html %>
            <small class="deemphasize"><%= note_event(comment.created_at, comment.author) %></small>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= render :template => 'layouts/map' %>
