<%= render :partial => "navigation" %>

<h2>
  <%= image_tag "#{@note.status}_note_marker.png", :alt => @note.status %>
  <%= t "browse.note.#{@note.status}_title", :note_name => @note.id %>
</h2>

<%= render :partial => "map", :object => @note %>

<table class="browse_details">

  <tr>
    <th><%= t "browse.note.opened" %></th>
    <td><%= t "browse.note.at_by_html", :when => friendly_date(@note.created_at), :user => note_author(@note) %></td>
  </tr>  

  <% if @note.status == "closed" %>
    <tr>
      <th><%= t "browse.note.closed" %></th>
      <td><%= t "browse.note.at_by_html", :when => friendly_date(@note.closed_at), :user => note_author(@note.comments.last) %></td>
    </tr>  
  <% elsif @note.comments.length > 1 %>
    <tr>
      <th><%= t "browse.note.last_modified" %></th>
      <td><%= t "browse.note.at_by_html", :when => friendly_date(@note.updated_at), :user => note_author(@note.comments.last) %></td>
    </tr>  
  <% end %>

  <tr>
    <th><%= t "browse.note.description" %></th>
    <td><%= h(@note.comments.first.body) %></td>
  </tr>

  <tr>
    <th><%= t "browse.node_details.coordinates" %></th>
    <td><div class="geo"><%= link_to ("<span class='latitude'>#{number_with_delimiter(@note.lat)}</span>, <span class='longitude'>#{number_with_delimiter(@note.lon)}</span>".html_safe), {:controller => 'site', :action => 'index', :lat => h(@note.lat), :lon => h(@note.lon), :zoom => "18"} %></div></td>
  </tr>

  <% if @note.comments.length > 1 %>
    <tr valign="top">
      <th><%= t "browse.note.comments" %></th>
      <td class="browse_comments">
        <table>
          <% @note.comments[1..-1].each do |comment| %>
            <tr>
              <td>
                <%= comment.body.to_html %>
                <span class="by"><%= t "browse.note.at_by_html", :when => friendly_date(comment.created_at), :user => note_author(comment) %></span>
              </td>
            </tr>
          <% end %>
        </table>
      </td>
    </tr>
  <% end %>

</table>
