<% set_title(t "browse.query.title") %>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= t "browse.query.title" %>
</h2>

<div class="browse-section query-intro">
  <p><%= t("browse.query.introduction") %></p>
</div>

<div id="query-nearby" class="browse-section query-results">
  <h4><%= t("browse.query.nearby") %></h4>
  <%= image_tag "searching.gif", :class => "loader" %>
  <ul class="results-list"></ul>
</div>

<div id="query-isin" class="browse-section query-results">
  <h4><%= t("browse.query.enclosing") %></h4>
  <%= image_tag "searching.gif", :class => "loader" %>
  <ul class="results-list"></ul>
</div>
