<% set_title(t(".title")) %>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= t ".title" %>
</h2>

<div class="query-intro">
  <p><%= t(".introduction") %></p>
</div>

<div id="query-nearby" class="query-results">
  <h3><%= t(".nearby") %></h3>
  <%= image_tag "searching.gif", :class => "loader" %>
  <ul class="query-results-list"></ul>
</div>

<div id="query-isin" class="query-results">
  <h3><%= t(".enclosing") %></h3>
  <%= image_tag "searching.gif", :class => "loader" %>
  <ul class="query-results-list"></ul>
</div>
