<%
@name = printable_name @relation
@title = t('browse.relation_history.relation_history') + ' | ' + @name
%>

<h2>
    <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
    <%= raw t'browse.relation_history.relation_history_title', :relation_name => link_to(h(@name), :action => "relation", :id => @relation.id) %>
</h2>

<% @relation.old_relations.reverse.each do |relation| %>
  <%= render :partial => "relation_details", :object => relation %>
<% end %>

<div class='secondary-actions clearfix'>
  <span><%= link_to(t('browse.relation_history.download_xml'), :controller => "old_relation", :action => "history") %>
  <%= link_to(t('browse.relation_history.view_details'), :action => "relation") %></span>
</div>
