<%
@name = printable_name @relation
@title = t('browse.relation.relation') + ' | ' + @name
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'browse' %>
  <%= javascript_include_tag 'index' %>
<% end %>

<% content_for :sidebar do %>
  <h2><%= t'browse.relation.relation_title', :relation_name => @name %></h2>

  <%= render :partial => "relation_details", :object => @relation %>

  <ul class='secondary-actions clearfix'>
    <li><%= link_to(t('browse.relation.download_xml'), :controller => "relation", :action => "read") %></li>
    <li><%= link_to(t('browse.relation.view_history'), :action => "relation_history") %></li>
  </ul>
<% end %>

<%= render :template => 'layouts/map' %>
