<%
@name = printable_name @way
@title = t('browse.way.way') + ' | ' + @name
%>
<% content_for :head do %>
<%= stylesheet_link_tag 'browse' %>
<% end %>

<% content_for :heading do %>
  <h2><%= t'browse.way.way_title', :way_name => @name %></h2>

  <%= render :partial => "common_editsummary", :object => @way %>

  (<%= link_to(t('browse.way.view_history'), :action => "way_history") %>)
<% end %>

<%= render :partial => "navigation" %>
<%= render :partial => "map", :object => @way %>

<div class='column-1'>
  <%= render :partial => "way_details", :object => @way %>
</div>
