<%
@name = printable_name @way
@title = t('browse.way.way') + ' | ' + @name
%>
<h2><%= t'browse.way.way_title', :way_name => @name %>
    <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
</h2>

<%= render :partial => "way_details", :object => @way %>

<div class='browse-section secondary-actions clearfix'> 
  <h4><%= link_to(t('browse.way.download_xml'), :controller => "way", :action => "read") %>
    &middot;
    <%= link_to(t('browse.way.view_history'), :action => "way_history") %>
    </h4>
</div>
