<%
@name = printable_name @way
@title = t('browse.way.way') + ' | ' + @name
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'browse' %>
  <%= javascript_include_tag 'index' %>
<% end %>

<% content_for :sidebar do %>
  <h2><%= t'browse.way.way_title', :way_name => @name %></h2>

  <%= render :partial => "way_details", :object => @way %>

  <ul class='secondary-actions clearfix'>
    <li><%= link_to(t('browse.way.download_xml'), :controller => "way", :action => "read") %></li>
    <li><%= link_to(t('browse.way.view_history'), :action => "way_history") %></li>
  </ul>
<% end %>

<%= render :template => 'layouts/map' %>
