<%
@name = printable_name @way
@title = t('browse.way.way') + ' | ' + @name
%>

<% content_for :head do %>
  <%= stylesheet_link_tag 'browse' %>
<% end %>

<h2><%= t'browse.way.way_title', :way_name => @name %></h2>

<%= render :partial => "way_details", :object => @way %>

<ul class='secondary-actions clearfix'>
  <li><%= link_to(t('browse.way.download_xml'), :controller => "way", :action => "read") %></li>
  <li><%= link_to(t('browse.way.view_history'), :action => "way_history") %></li>
</ul>
