<%
@name = printable_name @way
@title = t('browse.way.way') + ' | ' + @name
%>
<% content_for :head do %>
<%= stylesheet_link_tag 'browse' %>
<% end %>

<% content_for :heading do %>
  <h2><%= t'browse.way.way_title', :way_name => @name %></h2>
  <%= render :partial => "navigation" %>
<% end %>

<%= render :partial => "map", :object => @way %>

<div class='column-1'>
  <%= render :partial => "way_details", :object => @way %>
</div>

<%= link_to(t('browse.way.download_xml'), :controller => "way", :action => "read") %>
| <%= link_to(t('browse.way.view_history'), :action => "way_history") %>
| <%= link_to(t('browse.way.edit'), :controller => "site", :action => "edit", :way => @way.id) %>
