<%
@name = printable_name @way, {:type => t('browse.way.way')}
@title = t('browse.way.way') + ' | ' + @name
%>
<% content_for :head do %>
<%= stylesheet_link_tag 'browse' %>
<% end %>

<% content_for :heading do %>
  <h2><%= @name %></h2>
  <%= render :partial => "navigation" %>

  <%= render :partial => "common_editsummary", :object => @way %>

  <div class="edit_summary_chunk">(<%= link_to(t('browse.way.view_history'), :action => "way_history") %>)</div>
<% end %>

<%= render :partial => "map", :object => @way %>

<div class='column-1'>
  <%= render :partial => "way_details", :object => @way %>
</div>
