<%
  @name = printable_name @way
  set_title(t('browse.way.way_history') + ' | ' + @name)
%>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= raw t'browse.way.way_history_title', :way_name => link_to(h(@name), :action => "way", :id => @way.id) %>
</h2>

<% @way.old_ways.reverse.each do |way| %>
  <%= render :partial => "way_details", :object => way %>
<% end %>

<div class='secondary-actions'>
  <%= link_to(t('browse.download_xml'), :controller => "old_way", :action => "history") %>
  &middot;
  <%= link_to(t('browse.view_details'), :action => "way") %>
</div>
