<%
@name = printable_name @way
@title = t('browse.way_history.way_history') + ' | ' + @name
%>

<% content_for :heading do %>
  <h2><%= raw t'browse.way_history.way_history_title', :way_name => link_to(h(@name), :action => "way", :id => @way.id) %></h2>
<% end %>

<%= render :partial => "map", :object => @way %>
<% @way.old_ways.reverse.each do |way| %>
  <%= render :partial => "way_details", :object => way %>
  <hr />
<% end %>
<%= link_to(t('browse.way_history.download_xml'), :controller => "old_way", :action => "history") %>
| <%= link_to(t('browse.way_history.view_details'), :action => "way") %>
