    <%- activity_link = {:controller => 'browse', :action => 'changeset', :id => activity.id } %>
  	<span class="summary">
  	<% if activity.tags['comment'].to_s != '' -%>
      <%= link_to image_tag("icons/map_edit.png", :class => "activity_image") + linkify(h(activity.tags['comment'])), activity_link %>
    <% else -%>
      <%= link_to( image_tag("icons/map_edit.png", :class => "activity_image") + t('changeset.changeset.no_comment'), activity_link) %>
    <% end -%>
  	</span>
  	<span class="description"><%= activity.summary %></span>
	<span class="dtstamp addendum" title="<%= activity.closed_at.iso8601 %>">
 	<% if activity.closed_at > DateTime.now -%> 
 		<%= t'changeset.changeset.still_editing' %>
	<% else -%>
		<%= t('user.view.ago', :time_in_words_ago => time_ago_in_words(activity.closed_at))  %>
	<% end -%>
  	</span>