<tr>
  <td rowspan="2">
    <% if contact.image %>
      <%= image_tag url_for_file_column(contact, "image"), :class => "user_thumbnail" %>
    <% else %>
      <%= image_tag "anon_small.png" %>
    <% end %>
  </td>
  <td>
    <%= link_to h(contact.display_name), :controller => 'user', :action => 'view',  :display_name => contact.display_name %>
    <% if contact.home_lon and contact.home_lat %>
      <% distance = @this_user.distance(contact) %>
      <% if distance < 1 %>
        (<%= t 'user.view.m away', :count => (distance * 1000).round %>)
      <% else %>
        (<%= t 'user.view.km away', :count => distance.round %>)
      <% end %>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <%= link_to t('user.view.send message'), :controller => 'message', :action => 'new', :display_name => contact.display_name %>
    |
    <% if @user.is_friends_with?(contact) %>
      <%= link_to t('user.view.remove as friend'), :controller => 'user', :action => 'remove_friend', :display_name => contact.display_name, :referer => request.request_uri %>
    <% else %>
      <%= link_to t('user.view.add as friend'), :controller => 'user', :action => 'make_friend', :display_name => contact.display_name, :referer => request.request_uri %>
    <% end %>
  </td>
</tr>
