<tr>
  <%
     user_data = {
       :lon => contact.home_lon,
       :lat => contact.home_lat,
       :icon => image_path(type == "friend" ? "marker-blue.png" : "marker-green.png"),
       :description => render(:partial => "popup", :object => contact, :locals => {:type => type})
     }
  %>
  <%= content_tag "td", :rowspan => 3, :data => {:user => user_data} do %>
    <%= user_thumbnail contact %>
  <% end %>
  <td>
    <%= link_to h(contact.display_name), :controller => 'user', :action => 'view',  :display_name => contact.display_name %>
    <% if @this_user.home_lon and @this_user.home_lat and contact.home_lon and contact.home_lat %>
      <% distance = @this_user.distance(contact) %>
      <% if distance < 1 %>
        (<%= t 'user.view.m away', :count => (distance * 1000).round %>)
      <% else %>
        (<%= t 'user.view.km away', :count => distance.round %>)
      <% end %>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <% changeset = contact.changesets.first %>
    <% if changeset %>
      <%= t('user.view.latest edit', :ago => t('user.view.ago', :time_in_words_ago => time_ago_in_words(changeset.created_at))) %>
      <% comment = changeset.tags['comment'].to_s != '' ? changeset.tags['comment'] : t('changeset.changeset.no_comment') %>
      "<%= link_to(comment,
                          {:controller => 'browse', :action => 'changeset', :id => changeset.id},
                          {:title => t('changeset.changeset.view_changeset_details')})
      %>"
    <% else %>
     <%= t'changeset.changeset.no_edits' %>
    <% end %>
  </td>
</tr>
<tr>
  <td>
    <%= link_to t('user.view.send message'), :controller => 'message', :action => 'new', :display_name => contact.display_name %>
    |
    <% if @user.is_friends_with?(contact) %>
      <%= link_to t('user.view.remove as friend'), remove_friend_path(:display_name => contact.display_name, :referer => request.fullpath), :method => :post %>
    <% else %>
      <%= link_to t('user.view.add as friend'), make_friend_path(:display_name => contact.display_name, :referer => request.fullpath), :method => :post %>
    <% end %>
  </td>
</tr>
