<script type="text/javascript">
  var nearest = [], friends = [];
  <% friends = @user.friends.collect { |f| f.befriendee } %>
  <% friends.each do |friend| %>
    <% if !friend.home_lat.nil? and !friend.home_lon.nil? %>
      friends.push({
        display_name : "<%= escape_javascript(friend.display_name) %>",
        home_lat : <%= friend.home_lat %>,
        home_lon : <%= friend.home_lon %>
      });
    <% end %>
  <% end %>
  <% nearest = @user.nearby - friends %>
  <% nearest.each do |nearby| %>
    nearest.push({
      display_name : "<%= escape_javascript(nearby.display_name) %>",
      home_lat : <%= nearby.home_lat %>,
      home_lon : <%= nearby.home_lon %>
    });
  <% end %>
</script>

<% if @user.home_lat.nil? or @user.home_lon.nil? %>
  <% lon = h(params['lon'] || '-0.1') %>
  <% lat = h(params['lat'] || '51.5') %>
  <% zoom = h(params['zoom'] || '4') %> 
<% else %>
  <% marker = true %>
  <% mlon = @user.home_lon %> 
  <% mlat = @user.home_lat %>
  <% lon =  @user.home_lon %>
  <% lat =  @user.home_lat %>
  <% zoom =  '12' %>
<% end %>

<%= javascript_include_tag '/openlayers/OpenLayers.js' %>
<%= javascript_include_tag '/openlayers/OpenStreetMap.js' %>
<%= javascript_include_tag 'map.js' %>

<script type="text/javascript">
  <!--
  var marker;

  OpenLayers.Lang.setCode("<%= I18n.locale.to_s %>");

  function init(){
    var centre = new OpenLayers.LonLat(<%= lon %>, <%= lat %>);
    var zoom = <%= zoom %>;

    <% if params['scale'] and params['scale'].length > 0 then %>
    zoom = scaleToZoom(<%= params['scale'].to_f() %>);
    <% end %>

    var map = createMap("map");

    setMapCenter(centre, zoom);

    <% if marker %>
    marker = addMarkerToMap(new OpenLayers.LonLat(<%= mlon %>, <%= mlat %>), null, "<%= t 'user.map.your location' %>");
    <% end %>

    var near_icon = OpenLayers.Marker.defaultIcon();
    near_icon.url = OpenLayers.Util.getImagesLocation() + "marker-green.png";;
    var i = nearest.length;
    while( i-- ) {
      var description = i18n('<%= t 'user.map.nearby mapper'%>', { nearby_user: '<a href="/user/'+nearest[i].display_name+'">'+nearest[i].display_name+'</a>' });
      var nearmarker = addMarkerToMap(new OpenLayers.LonLat(nearest[i].home_lon, nearest[i].home_lat), near_icon.clone(), description);
    }

    var friend_icon = OpenLayers.Marker.defaultIcon();
    friend_icon.url = OpenLayers.Util.getImagesLocation() + "marker-blue.png";;
    var i = friends.length;
    while( i-- ) {
      var description = i18n('<%= t 'user.map.friend'%>', { friend_user: '<a href="/user/'+friends[i].display_name+'">'+friends[i].display_name+'</a>' });
      var friendmarker = addMarkerToMap(new OpenLayers.LonLat(friends[i].home_lon, friends[i].home_lat), friend_icon.clone(), description);
    }

    if (document.getElementById('updatehome')) {
      map.events.register("click", map, setHome);
    }
  }        

  function setHome( e ) { 
    closeMapPopup();

    if (document.getElementById('updatehome').checked) {
      var lonlat = getEventPosition(e);

      document.getElementById('homerow').className = '';
      document.getElementById('home_lat').value = lonlat.lat;
      document.getElementById('home_lon').value = lonlat.lon;

      if (marker) {
        removeMarkerFromMap(marker);
      }

      marker = addMarkerToMap(lonlat, null, "<%= t 'user.map.your location' %>");
    }
  }

  window.onload = init;
// -->
</script>


