<p id="first">
  <%= @text['intro'] %>
  <% if has_decline %>
    <%= @text['next_with_decline'] %>
  <% else %>
    <%= @text['next_without_decline'] %>
  <% end %>
</p>
<ol>
  <li>
    <p><%= @text['section_1'] %></p>
  </li>
  <li>
    <p><%= @text['section_2'] %></p>
  </li>
  <li>
    <p><%= @text['section_3'] %></p>
    <p><%= @text['active_defn_1'] %></p>
    <p><%= @text['active_defn_2'] %></p>
  </li>
  <li>
    <p><%= @text['section_4'] %></p>
  </li>
  <li>
    <p><%= @text['section_5'] %></p>
  </li>
  <li>
    <p><%= @text['section_6'] %></p>
    <ol>
      <li><p><%= @text['section_6_1'] %></p></li>
      <li><p><%= @text['section_6_2'] %></p></li>
    </ol>
  </li>
  <li>
    <p id="last"><%= @text['section_7'] %></p>
  </li>
</ol>
