<% content_for :heading do %>
  <h2><%= t 'user.account.my settings' %></h2>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t('user.account.return to profile'), :controller => 'user', :action => 'view', :display_name => @user.display_name %></li>
    <li><%= link_to t('user.view.oauth settings'), :controller => 'oauth_clients', :action => 'index' %></li>
  </ul>
<% end %>

<%= error_messages_for 'user' %>
<%= form_for :user, :html => { :multipart => true, :id => 'accountForm',:class => 'standard-form' } do |f| %>
  <fieldset class="form-row">
    <label><%= t 'user.new.display name' %></label>
    <%= f.text_field :display_name %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.current email address' %></label>
    <input type="email" size="30" disabled value="<%= @user.email %>" />
    <p class="form-help deemphasize"><%= t 'user.account.email never displayed publicly' %></p>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.new email address' %></label>
    <%= f.email_field :new_email %>
    <p class="form-help deemphasize"><%= t 'user.account.email never displayed publicly' %></p>
  </fieldset>

  <fieldset class="form-row">
      <label><%= t 'user.new.password' %></label>
    <%= f.password_field :pass_crypt, {:value => '', :autocomplete => :off} %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.new.confirm password' %></label>
    <%= f.password_field :pass_crypt_confirmation, {:value => '', :autocomplete => :off} %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.openid.openid' %></label>
      <%= f.url_field :openid_url, {:id => "openid_url", :class => "openid_url"} %>
      <p class="form-help deemphasize">(<a href="<%= t 'user.account.openid.link' %>" target="_new"><%= t 'user.account.openid.link text' %></a>)</p>
  </fieldset>

  <div class="form-row">
    <label><%= t 'user.account.public editing.heading' %></label>
    <p class="form-help deemphasize">
      <% if @user.data_public? %>
        <%= t 'user.account.public editing.enabled' %>
        (<a href="<%= t 'user.account.public editing.enabled link' %>" target="_new"><%= t 'user.account.public editing.enabled link text' %></a>)
      <% else %>
        <%= t 'user.account.public editing.disabled' %>
        (<a href="#public"><%= t 'user.account.public editing.disabled link text' %></a>)
      <% end %>
    </p>
  </div>

  <fieldset class="form-row">
    <label><%= t 'user.account.contributor terms.heading' %></label>
    <p class="form-help deemphasize">
      <% if @user.terms_agreed? %>
        <%= t 'user.account.contributor terms.agreed' %>
        (<a href="<%= t 'user.account.contributor terms.link' %>" target="_new"><%= t 'user.account.contributor terms.link text' %></a>)
        <% if @user.consider_pd? %>
          <%= t 'user.account.contributor terms.agreed_with_pd' %>
        <% end %>
      <% else %>
        <%= t 'user.account.contributor terms.not yet agreed' %>
        <%= link_to t('user.account.contributor terms.review link text'), :controller => 'user', :action => 'terms' %>
      <% end %>
    </p>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.profile description' %></label>
    <%= richtext_area :user, :description, :rows => '15', :cols => '80' %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.preferred languages' %></label>
    <%= f.text_field :languages %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.preferred editor' %></label>
    <%= f.select :preferred_editor, [[t("editor.default", :name => t("editor.#{DEFAULT_EDITOR}.name")), 'default']] + Editors::ALL_EDITORS.collect { |e| [t("editor.#{e}.description"), e] } %>
  </fieldset>

  <fieldset class="form-row">
    <label><%= t 'user.account.image' %></label>
    <div class="accountImage">
      <%= user_image @user %>
      <fieldset class="accountImage-options">
        <% if @user.image.file? %>
        <div class="form-row">
          <%= radio_button_tag "image_action", "keep", !@user.image_use_gravatar %>
          <%= t 'user.account.keep image' %>
        </div>
        <% end %>
        <% if @user.image.file? || @user.image_use_gravatar? %>
        <div class="form-row">
          <%= radio_button_tag "image_action", "delete" %>
          <%= t 'user.account.delete image' %>
        </div>
        <% end %>
        <% if @user.image.file? %>
        <div>
          <div class="form-row">
            <%= radio_button_tag "image_action", "new" %>
            <%= t 'user.account.replace image' %>
          </div>
          <div class="form-row">
            <%= f.file_field :image, :onchange => "$('#image_action_new').prop('checked', true)" %>
            <p class="form-help deemphasize"><%= t 'user.account.image size hint' %></p>
          </div>
        </div>
        <% else %>
        <div class="form-row">
          <%= radio_button_tag "image_action", "new" %>
          <%= t 'user.account.new image' %>
        </div>
        <div class="form-row">
          <%= f.file_field :image, :onchange => "$('#image_action_new').prop('checked', true)" %>
          <p class="form-help deemphasize"><%= t 'user.account.image size hint' %></p>
        </div>
        <% end %>
        <div class="form-row">
          <%= radio_button_tag "image_action", "gravatar", @user.image_use_gravatar %>
          <%= t 'user.account.gravatar.gravatar' %>
          <p class="form-help deemphasize">(<a href="<%= t 'user.account.gravatar.link' %>" target="_new"><%= t 'user.account.gravatar.link text' %></a>)</p>
        </div>
      </fieldset>
    </div>
  </fieldset>

  <fieldset id="homerow" <% unless @user.home_lat and @user.home_lon %> class="nohome" <%end%> >
    <p class="form-help"><%= t 'user.account.home location' %></p>
    <p class="message form-help deemphasize"><%= t 'user.account.no home location' %></p>
    <div class="location">
      <label><%= t 'user.account.latitude' %></label>
      <%= f.text_field :home_lat, :id => "home_lat" %>
      <label><%= t 'user.account.longitude' %></label>
      <%= f.text_field :home_lon, :id => "home_lon" %>
    </div>
  </fieldset>

  <fieldset class="form-row">
      <p><%= t 'user.account.update home location on click' %> <input type="checkbox" value="1" <% unless @user.home_lat and @user.home_lon %> checked="checked" <% end %> id="updatehome" /> </p>
      <% content_for :head do %>
        <%= javascript_include_tag "user" %>
      <% end %>
      <%= content_tag "div", "", :id => "map", :class => "content_map settings_map set_location" %>
  </fieldset>

  <fieldset class="form-row">
    <%= submit_tag t('user.account.save changes button') %>
  </fieldset>
<% end %>

<% unless @user.data_public? %>
<a name="public"></a>
<h2><%= t 'user.account.public editing note.heading' %></h2>
<%= raw t 'user.account.public editing note.text' %>
  <%= button_to t('user.account.make edits public button'), :action => :go_public %>
<% end %>
