<% content_for :heading do %>
  <h2><%= t 'user.account.my settings' %></h2>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t('user.account.return to profile'), :controller => 'user', :action => 'view', :display_name => @user.display_name %></li>
    <li><%= link_to t('user.view.oauth settings'), :controller => 'oauth_clients', :action => 'index' %></li>
  </ul>
<% end %>

<%= error_messages_for 'user' %>
<%= form_for :user, :html => { :multipart => true, :id => 'accountForm',:class => 'standard-form' } do |f| %>
  <fieldset>
    <div class="form-row">
      <label class="standard-label"><%= t 'user.new.display name' %></label>
      <%= f.text_field :display_name %>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.current email address' %></label>
      <input type="email" disabled value="<%= @user.email %>" />
      <span class="form-help deemphasize"><%= t 'user.account.email never displayed publicly' %></span>
    </div>

    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.new email address' %></label>
      <%= f.email_field :new_email %>
      <span class="form-help deemphasize"><%= t 'user.account.email never displayed publicly' %></span>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-row">
        <label class="standard-label"><%= t 'user.new.password' %></label>
      <%= f.password_field :pass_crypt, {:value => '', :autocomplete => :off} %>
    </div>

    <div class="form-row">
      <label class="standard-label"><%= t 'user.new.confirm password' %></label>
      <%= f.password_field :pass_crypt_confirmation, {:value => '', :autocomplete => :off} %>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.openid.openid' %></label>
      <%= f.url_field :openid_url, {:id => "openid_url", :class => "openid_url"} %>
      <span class="form-help deemphasize">(<a href="<%= t 'user.account.openid.link' %>" target="_new"><%= t 'user.account.openid.link text' %></a>)</span>
    </diV>
  </fieldset>

  <fieldset class="form-divider">
    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.public editing.heading' %></label>
      <span class="form-help deemphasize">
        <% if @user.data_public? %>
          <%= t 'user.account.public editing.enabled' %>
          (<a href="<%= t 'user.account.public editing.enabled link' %>" target="_new"><%= t 'user.account.public editing.enabled link text' %></a>)
        <% else %>
          <%= t 'user.account.public editing.disabled' %>
          (<a href="#public"><%= t 'user.account.public editing.disabled link text' %></a>)
        <% end %>
      </span>
    </div>

    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.contributor terms.heading' %></label>
      <span class="form-help deemphasize">
        <% if @user.terms_agreed? %>
          <%= t 'user.account.contributor terms.agreed' %>
          (<a href="<%= t 'user.account.contributor terms.link' %>" target="_new"><%= t 'user.account.contributor terms.link text' %></a>)
          <% if @user.consider_pd? %>
            <%= t 'user.account.contributor terms.agreed_with_pd' %>
          <% end %>
        <% else %>
          <%= t 'user.account.contributor terms.not yet agreed' %>
          <%= link_to t('user.account.contributor terms.review link text'), :controller => 'user', :action => 'terms' %>
        <% end %>
      </span>
    </div>
    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.preferred editor' %></label>
      <%= f.select :preferred_editor, [[t("editor.default", :name => t("editor.#{DEFAULT_EDITOR}.name")), 'default']] + Editors::ALL_EDITORS.collect { |e| [t("editor.#{e}.description"), e] } %>
    </div>
  </fieldset>

  <fieldset class="form-divider">
    <div class='form-row'>
      <label class="standard-label"><%= t 'user.account.profile description' %></label>
      <%= richtext_area :user, :description %>
    </div>

    <div class="form-row">
      <label class="standard-label"><%= t 'user.account.preferred languages' %></label>
      <%= f.text_field :languages %>
    </div>

    <div class='form-row accountImage'>
      <label class="standard-label"><%= t 'user.account.image' %></label>
        <%= user_image @user %>
        <ul class='form-list accountImage-options'>
        <% if @user.image.file? %>
        <li>
          <%= radio_button_tag "image_action", "keep", !@user.image_use_gravatar %>
          <label class='standard-label' for='image_action_keep'><%= t 'user.account.keep image' %></label>
        </li>
        <% end %>
        <% if @user.image.file? || @user.image_use_gravatar? %>
        <li>
          <%= radio_button_tag "image_action", "delete" %>
          <label class='standard-label' for='image_action_delete'><%= t 'user.account.delete image' %></label>
        </li>
        <% end %>
        <% if @user.image.file? %>
          <li>
            <%= radio_button_tag "image_action", "new" %>
            <label class='standard-label' for='image_action_new'>
                <%= t 'user.account.replace image' %>
                <span class="form-help deemphasize"><%= t 'user.account.image size hint' %></span>
            </label>
            <%= f.file_field :image, :onchange => "$('#image_action_new').prop('checked', true)" %>
          </li>
        <% else %>
        <li>
          <%= radio_button_tag "image_action", "new" %>
          <label class='standard-label' for='image_action_new'>
            <%= t 'user.account.new image' %>
            <span class="form-help deemphasize"><%= t 'user.account.image size hint' %></span>
          </label>
          <%= f.file_field :image, :onchange => "$('#image_action_new').prop('checked', true)" %>
        </li>
        <% end %>
        <li>
          <%= radio_button_tag "image_action", "gravatar", @user.image_use_gravatar %>
          <label class='standard-label' for='image_action_gravatar'>
            <%= t 'user.account.gravatar.gravatar' %>
            <span class='form-help deemphasize'> (<a href="<%= t 'user.account.gravatar.link' %>" target="_new"><%= t 'user.account.gravatar.link text' %></a>)</span>
          </label>
        </li>
      </ul>
    </div>
  </fieldset>

  <fieldset class="form-divider">
    <div class='form-row location clearfix'>
    <label class="standard-label"><%= t 'user.account.home location' %></label>
    <div id="homerow" <% unless @user.home_lat and @user.home_lon %>class="nohome"<%end%> >
      <p class="message form-help deemphasize"><%= t 'user.account.no home location' %></p>
        <div class='form-column'>
          <label class="standard-label secondary"><%= t 'user.account.latitude' %></label>
          <%= f.text_field :home_lat, :id => "home_lat" %>
        </div>
        <div class='form-column'>
          <label class="standard-label secondary"><%= t 'user.account.longitude' %></label>
          <%= f.text_field :home_lon, :id => "home_lon" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <input type="checkbox" name="updatehome" value="1" <% unless @user.home_lat and @user.home_lon %> checked="checked" <% end %> id="updatehome" />
      <label class="standard-label" for="updatehome"><%= t 'user.account.update home location on click' %></label>
    </div>
    <% content_for :head do %>
      <%= javascript_include_tag "user" %>
    <% end %>
    <%= content_tag "div", "", :id => "map", :class => "content_map settings_map set_location" %>
  </fieldset>

  <%= submit_tag t('user.account.save changes button') %>
<% end %>

<% unless @user.data_public? %>
<a name="public"></a>
<h2><%= t 'user.account.public editing note.heading' %></h2>
<%= raw t 'user.account.public editing note.text' %>
  <%= button_to t('user.account.make edits public button'), :action => :go_public %>
<% end %>
