<% content_for :heading do %>
  <h2><%= t 'user.confirm.heading' %></h2>
  <div class='header-illustration confirm-main'></div>
<% end %>

<% if params[:confirm_string] %>
  <script>
  $("#content").hide();
  </script>

  <p><%= t 'user.confirm.press confirm button' %></p>

  <%= form_tag({}, { :id => "confirm" }) do %>
    <input type="display_name" name="confirm_string" value="<%= params[:display_name] %>">
    <input type="hidden" name="confirm_string" value="<%= params[:confirm_string] %>">
    <input type="submit" name="confirm_action" value="<%= t 'user.confirm.button' %>">
  <% end %>

  <script>
  $("#confirm").submit();
  </script>
<% else %>
  <h1>
    <%= t "user.confirm.introduction_1" %>
    <span class="deemphasize">
      <%= t "user.confirm.introduction_2" %>
    </span>
  </h1>

  <p class='deemphasize'><%= t "user.confirm.antispam_alert_html" %></p>
  <p class='deemphasize'><%= t "user.confirm.reconfirm_html",
                               :reconfirm => url_for(:action => 'confirm_resend')%></p>
<% end %>
