<%= javascript_include_tag 'openID.js' %>

<h1><%= t 'user.login.heading' %></h1>

<p><%= t 'user.login.please login', :create_user_link => link_to(t('user.login.create_account'), :controller => 'user', :action => 'new', :referer => params[:referer]) %></p>

<% form_tag :action => 'login' do %>
    <%= hidden_field_tag('referer', h(params[:referer])) %>
    <div style="position: relative;">
        <div class="loginBox">
            <h3> <%= t 'user.login.username_heading' %></h3>
            <table id="loginForm" width="100%">
                <tr><td class="fieldName"><%= t 'user.login.email or username' %></td><td><%= text_field('user', 'email',{:value => "", :size => 28, :maxlength => 255, :tabindex => 1}) %></td></tr>
                <tr><td class="fieldName"><%= t 'user.login.password' %></td><td><%= password_field('user', 'password',{:value => "", :size => 28, :maxlength => 255, :tabindex => 2}) %></td></tr>
                <tr><td></td><td> <span class="minorNote">(<%= link_to t('user.login.lost password link'), :controller => 'user', :action => 'lost_password' %>)</span></td></tr>
            </table>
        </div>
        <div style="float:left; width: 20px; padding: 10px;">
        </div>

        <div class="loginBox">
            <h3><%= t 'user.login.openid_heading' %></h3>
            <table id="loginForm" width="100%">
                <tr>
                    <td class="fieldName">
                        <%= image_tag "openid-16x16.gif", :alt => t('user.login.openid_logo_alt') %>
                        <%= t 'user.login.openid' %>
                    </td>
                    <td><%= text_field('user', 'openid_url',{:size => 28, :maxlength => 255, :tabindex => 3, :class => "openid_url"}) %></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span class="minorNote">
                            (<a href="<%= t 'user.account.openid.link' %>" target="_new"><%= t 'user.account.openid.link text' %></a>)
                        </span>
                    </td>
                </tr>
            </table>
            <a href="javascript: openid_signin('openid');" title="<%= h(t 'user.login.openid_providers.openid.title') %>">
                <%= image_tag "openid_logo.png", :alt => t('user.login.openid_providers.openid.title') %>
            </a>
            <a href="javascript: openid_signin('yahoo');" title="<%= h(t 'user.login.openid_providers.yahoo.title') %>">
                <%= image_tag "yahoo.png", :alt => t('user.login.openid_providers.yahoo.alt') %>
            </a>
            <a href="javascript: openid_signin('google');" title="<%= h(t 'user.login.openid_providers.google.title') %>">
                <%= image_tag "google.png", :alt => t('user.login.openid_providers.google.alt') %>
            </a>
            <a href="javascript: openid_signin('myopenid');" title="<%= h(t 'user.login.openid_providers.myopenid.title') %>">
                <%= image_tag "myopenid.png", :alt => t('user.login.openid_providers.myopenid.alt') %>
            </a>
            <a href="javascript: openid_signin('wordpress');" title="<%= h(t 'user.login.openid_providers.wordpress.title') %>">
                <%= image_tag "wordpress.png", :alt => t('user.login.openid_providers.wordpress.alt') %>
            </a>
            <a href="javascript: openid_signin('myspace');" title="<%= h(t 'user.login.openid_providers.myspace.title') %>">
                <%= image_tag "myspace.png", :alt => t('user.login.openid_providers.myspace.alt') %>
            </a>
        </div>

        <div style="clear: both">
            <table id="loginForm">
                <tr><td class="fieldName"><label for="remember_me"><%= t 'user.login.remember' %></label></td><td><%= check_box_tag "remember_me", "yes", false, :tabindex => 3 %></td><td align=right><%= submit_tag t('user.login.login_button'), :tabindex => 3 %></td></tr>
            </table>
        </div>
    </div>
<% end %>
