<% content_for :heading do %>
  <h1><%= t 'user.logout.heading' %></h1>
<% end %>

<%= form_tag :action => "logout" do %>
  <%= hidden_field_tag("referer", h(params[:referer])) %>
  <%= hidden_field_tag("session", request.session_options[:id]) %>
  <%= submit_tag t('user.logout.logout_button') %>
<% end %>
