<% content_for :heading do %>
  <h1><%= t 'user.lost_password.heading' %></h1>
<% end %>

<p><%= t 'user.lost_password.help_text' %></p>

<%= form_tag :action => 'lost_password' do %>
  <div class="standard-form">
    <label class="standard-label"><%= t 'user.lost_password.email address' %></label>
    <%= text_field('user', 'email', { :tabindex => 1} ) %>
    <%= submit_tag t('user.lost_password.new password button'), :tabindex => 2 %>
  </div>
<% end %>
