<% content_for :heading do %>
  <h1><%= t 'user.lost_password.heading' %></h1>
<% end %>

<p><%= t 'user.lost_password.help_text' %></p>

<%= form_tag :action => 'lost_password' do %>
<table>
  <tr>
    <td class="fieldName"><%= t 'user.lost_password.email address' %></td>
    <td><%= text_field('user', 'email', {:size => 50, :maxlength => 255, :tabindex => 1} ) %></td>
  </tr>
  <tr>
    <td></td>
    <td class="submitButton"><input type="submit" value="<%= t'user.lost_password.new password button' %>" tabindex="2"></td>
  </tr>
</table>
<% end %>
