<% content_for :heading do %>
  <h1><%= t 'user.new.heading' %></h1>
<% end %>

<p><%= t 'user.new.fill_form' %></p>

<%= error_messages_for 'user' %>

<%= form_for :user, :url => { :action => 'terms' } do %>
  <%= hidden_field_tag('referer', h(@referer)) unless @referer.nil? %>

  <table id="signupForm">
    <tr>
      <td class="fieldName"><%= t 'user.new.email address' %></td>
      <td><%= email_field(:user, :email, { :size => 50, :maxlength => 255, :tabindex => 1 }) %></td>
    </tr>
    <tr>
      <td class="fieldName"><%= t 'user.new.confirm email address' %></td>
      <td><%= email_field(:user, :email_confirmation, { :size => 50, :maxlength => 255, :tabindex => 2 }) %></td>
    </tr>
    <tr>
      <td></td>
      <td><span class="minorNote"><%= raw(t 'user.new.not displayed publicly') %></span></td>
    </tr>

    <tr><td colspan="2">&nbsp;<!--vertical spacer--></td></tr>

    <tr>
      <td class="fieldName"><%= t 'user.new.display name' %></td>
      <td><%= text_field(:user, :display_name, { :size => 30, :maxlength => 255, :tabindex => 3 }) %></td></tr>
    <tr>
      <td></td>
      <td><span class="minorNote"><%= t 'user.new.display name description' %></span></td>
    </tr>

    <tr id="openid_spacer"><td colspan="2">&nbsp;<!--vertical spacer--></td></tr>

    <tr id="openid_field">
      <td class="fieldName"><%= raw t 'user.new.openid', :logo => openid_logo %></td>
      <td><%= url_field(:user, :openid_url, { :id => "openid_url", :size => 50, :maxlength => 255, :tabindex => 4, :class => "openid_url" }) %></td>
    </tr>

    <tr><td colspan="2">&nbsp;<!--vertical spacer--></td></tr>

    <tr>
      <td class="fieldName"><%= t 'user.new.password' %></td>
      <td><%= password_field(:user, :pass_crypt, { :size => 30, :maxlength => 255, :tabindex => 5 }) %></td>
    </tr>
    <tr>
      <td class="fieldName"><%= t 'user.new.confirm password' %></td>
      <td><%= password_field(:user, :pass_crypt_confirmation, { :size => 30, :maxlength => 255, :tabindex => 6 }) %></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <span id="openid_prompt" class="minorNote"><%= link_to raw(t("user.new.use openid", :logo => openid_logo)), "#", :id => "openid_enable" %></span>
        <span id="openid_note" class="minorNote"><%= t 'user.new.openid no password' %></span>
      </td>
    </tr>

    <tr><td colspan="2" >&nbsp;<!--vertical spacer--></td></tr>

    <tr>
      <td></td>
      <td class="submitButton"><%= submit_tag t('user.new.continue'), :tabindex => 6 %></td>
    </tr>
  </table>
<% end %>

<script type="text/javascript">
function enableOpenID()
{
  $("#openid_prompt").hide();

  $("#openid_spacer").show();
  $("#openid_field").show();
  $("#openid_note").show();

  $("#openid_url").prop("disabled", false);
}

function disableOpenID()
{
  $("#openid_prompt").show();

  $("#openid_spacer").hide();
  $("#openid_field").hide();
  $("#openid_note").hide();

  $("#openid_url").prop("disabled", true);
}

$(document).ready(function () {
  $("#openid_enable").click(enableOpenID);

  <% if params[:openid] or (@user and @user.openid_url and not @user.openid_url.empty?) -%>
  enableOpenID();
  <% else -%>
  disableOpenID();
  <% end -%>
});
</script>
