<% content_for :heading do %>
  <h1><%= t 'user.new.heading' %></h1>
<% end %>

<p><%= t 'user.new.fill_form' %></p>

<%= error_messages_for 'user' %>

<%= form_for :user, :url => { :action => 'terms' } do %>
  <%= hidden_field_tag('referer', h(@referer)) unless @referer.nil? %>

  <div id="signupForm" class="standard-form">
    <fieldset>
      <div class="form-row">
        <label for="email" class="fieldName">
          <%= t 'user.new.email address' %>
        </label>
        <%= email_field(:user, :email, { :tabindex => 1 }) %>
      </div>
      <div class="form-row">
        <label for="email_confirmation" class="fieldName">
          <%= t 'user.new.confirm email address' %>
        </label>
        <%= email_field(:user, :email_confirmation, { :tabindex => 2 }) %>
      </div>
    <p class="form-help deemphasize"><%= raw(t 'user.new.not displayed publicly') %></p>
    </fieldset>

    <fieldset>
      <div class="form-row">
        <label for="display_name" class="fieldName">
          <%= t 'user.new.display name' %>
        </label>
        <%= text_field(:user, :display_name, { :tabindex => 3 }) %>
      </div>
      <p class="form-help deemphasize"><%= t 'user.new.display name description' %></span>
    </fieldset>

    <fieldset id="openid_field">
      <div class="form-row">
        <label for="openid_url" class="fieldName">
          <%= raw t 'user.new.openid', :logo => openid_logo %>
        </label>
        <%= url_field(:user, :openid_url, { :id => "openid_url", :tabindex => 4, :class => "openid_url" }) %>
      </div>
    </fieldset>

    <fieldset>
      <div class="form-row">
        <label for='user[pass_crypt]' class="fieldName">
          <%= t 'user.new.password' %>
        </label>
        <%= password_field(:user, :pass_crypt, {:tabindex => 5 }) %>
      </div>
      <div class="form-row">
        <label class="fieldName">
          <%= t 'user.new.confirm password' %>
        </label>
        <%= password_field(:user, :pass_crypt_confirmation, { :tabindex => 6 }) %>
      </div>
      <span id="openid_prompt" class="">
        <%= link_to raw(t("user.new.use openid", :logo => openid_logo)), "#", :id => "openid_enable" %>
      </span>
      <span id="openid_note" class="">
        <%= t 'user.new.openid no password' %>
      </span>
    </fieldset>

      <div class="submitButton"><%= submit_tag t('user.new.continue'), :tabindex => 6 %></div>
  </div>
<% end %>

<script type="text/javascript">
function enableOpenID()
{
  $("#openid_prompt").hide();

  $("#openid_spacer").show();
  $("#openid_field").show();
  $("#openid_note").show();

  $("#openid_url").prop("disabled", false);
}

function disableOpenID()
{
  $("#openid_prompt").show();

  $("#openid_spacer").hide();
  $("#openid_field").hide();
  $("#openid_note").hide();

  $("#openid_url").prop("disabled", true);
}

$(document).ready(function () {
  $("#openid_enable").click(enableOpenID);

  <% if params[:openid] or (@user and @user.openid_url and not @user.openid_url.empty?) -%>
  enableOpenID();
  <% else -%>
  disableOpenID();
  <% end -%>
});
</script>
