<% content_for :heading do %>
  <h1><%= t 'user.reset_password.heading', :user => @user.display_name %></h1>
<% end %>

<%= error_messages_for :user %>

<%= form_tag do %>
<%= hidden_field_tag(:token, params[:token]) %>
<table id="loginForm">
  <tr><td class="fieldName"><%= t 'user.reset_password.password' %></td><td><%= password_field(:user, :pass_crypt, {:value => '', :size => 30, :maxlength => 255, :tabindex => 4}) %></td></tr>
  <tr><td class="fieldName"><%= t 'user.reset_password.confirm password' %></td><td><%= password_field(:user, :pass_crypt_confirmation, {:value => '', :size => 30, :maxlength => 255, :tabindex => 5}) %></td></tr>

  <tr><td colspan=2>&nbsp;<!--vertical spacer--></td></tr>
  <tr><td></td><td class="submitButton"><input type="submit" value="<%= t'user.reset_password.reset' %>" tabindex="6"></td></tr>
</table>
<% end %>
