<% content_for :heading do %>
  <h1><%= t 'user.reset_password.heading', :user => @user.display_name %></h1>
<% end %>

<%= error_messages_for :user %>

<%= form_tag do %>
<%= hidden_field_tag(:token, params[:token]) %>
  <div class="standard-form">
    <fieldset>
      <label class="standard-label"><%= t 'user.reset_password.password' %></label>
      <%= password_field(:user, :pass_crypt, {:value => '', :tabindex => 4}) %>
    </fieldset>
    <fieldset>
      <label class="standard-label"><%= t 'user.reset_password.confirm password' %></label>
      <%= password_field(:user, :pass_crypt_confirmation, {:value => '', :tabindex => 5}) %>
    </fieldset>
    <%= submit_tag t('user.reset_password.reset'), :tabindex => 6 %>
  </div>
<% end %>
