<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t '.heading' %></h1>
  <div class='header-illustration new-user-terms'></div>
<% end %>

<%= form_tag({:action => "save"}, { :class => " inner22 standard-form fillL" }) do %>
  <!-- legale is <%= @legale %> -->
  <div class='form-row horizontal-list'>
    <label class="standard-label">
      <%= t '.legale_select' %>
    </label>

    <% [['france', 'FR'], ['italy', 'IT'], ['rest_of_world', 'GB']].each do |name, legale| %>
      <div class="form-row">
        <label for="legale_<%= legale %>">
          <%= radio_button_tag 'legale', legale, @legale == legale, :data => { :url => url_for(:legale => legale) } %>
          <%= t('.legale_names.' + name) %>
        </label>
      </div>
    <% end %>
  </div>

  <div id="contributorTerms" class="col12 legale">
    <%= render :partial => "terms" %>
  </div>

  <div class="form-row">
    <label for="user_consider_pd">
      <%= check_box('user', 'consider_pd') %>
      <%= t '.consider_pd' %>
    </label>
    <span class="minorNote">(<%= link_to(t('.consider_pd_why'), t('.consider_pd_why_url'), :target => :new)%>)</span>

    <%= hidden_field_tag('referer', h(params[:referer])) unless params[:referer].nil? %>

    <div class="buttons form-row inner20 clearfix">
      <p class="deemphasize"><%= t '.read and accept' %></p>
      <%= submit_tag(t('.agree'), :name => "agree", :id => "agree") %>
      <%= submit_tag(t('.decline'), :name => "decline", :id => "decline") %>
    </div>

    <div class="deemphasize">
      <p id="contributorGuidance">
        <%= raw t '.guidance',
                  :summary => 'https://www.osmfoundation.org/wiki/License/Contributor_Terms_Summary',
                  :translations => 'https://www.osmfoundation.org/wiki/License/Contributor_Terms/Informal_Translations' %>
      </p>
    </div>
  </div>
<% end %>
