<div id="user_info">
  <div id="profile">
  <h2><%= user_thumbnail @this_user, :class => "profile_image" %>
      <%= h(@this_user.display_name) %><%= role_icons(@this_user) %>
      <span class="addendum"><%= link_to t('user.view.my settings'), :controller => 'user', :action => 'account', :display_name => @user.display_name if current_user %></span>
  </h2>

    <div id="description"><%= @this_user.description %></div>
  
  
    <!-- Displaying user's own profile page -->
    <br /><%= link_to image_tag("icons/page_add.png") + " " + t('user.view.new diary entry'), :controller => 'diary_entry', :action => 'new', :display_name => @user.display_name if current_user %><br />
    
  <% if @user && !current_user %>
    <!-- Displaying another user's profile page -->
    <br /><%= link_to t('user.view.send message'), :controller => 'message', :action => 'new', :display_name => @this_user.display_name %>

    <% if @user and @user.is_friends_with?(@this_user) %>
      <%= link_to t('user.view.remove as friend'), :controller => 'user', :action => 'remove_friend', :display_name => @this_user.display_name %>
    <% else %>
      <%= link_to t('user.view.add as friend'), :controller => 'user', :action => 'make_friend', :display_name => @this_user.display_name %>
    <% end %>

    <% if @this_user.moderator? %>
      <br /><%= link_to t('user.view.moderator_history'), :controller => 'user_blocks', :action => 'blocks_by', :display_name => @this_user.display_name %>
    <% end %>
    <% if @user and @user.moderator? %>
      <br /><%= link_to t('user.view.create_block'), :controller => 'user_blocks', :action => 'new', :display_name => @this_user.display_name %>
    <% end %>
  <% end %>  
  </div>

  <div id="stats" class="sidebar_section">
    <% friends = @this_user.friends.collect { |f| f.befriendee } %>

    <strong><%= @this_user.changesets.count %></strong> <%= link_to t('user.view.edits'), :controller => 'changeset', :action => 'list', :display_name => @this_user.display_name %>
  <% if friends.empty? && @user && @this_user.id == @user %>
    <br /><%= t 'user.view.no friends' %>
  <% else %>
    <br /><strong><%= friends.count %></strong> <%= current_user ? link_to( t('user.popup.friend', :count => friends.count).downcase, {:as => 'friend_changesets'}) : t('user.popup.friend', :count => friends.count).downcase %>
  <% end %>
  

    <br /><span>joined <%= t('user.view.ago', :time_in_words_ago => time_ago_in_words(@this_user.creation_time)) %></span><br />
    <%= contribution_terms_status(@this_user) %><br />

    <br /><%= link_to t('user.view.block_history'), :controller => 'user_blocks', :action => 'blocks_on', :display_name => @this_user.display_name %>

    <% if @user and @user.moderator? %>
      <br /><%= link_to t('user.view.blocks by me'), :controller => 'user_blocks', :action => 'blocks_by', :display_name => @user.display_name %>
    <% end %>
  </div>

  <% if @user and @user.administrator? && !current_user -%>
    <div id="admin" class="sidebar_section">
      <strong><%= t 'user.view.email address' %></strong> <%= @this_user.email %><br />
    <% unless @this_user.creation_ip.nil? -%>
      <strong><%= t 'user.view.created from' %></strong> <%= @this_user.creation_ip %><br />
    <% end -%>
    <strong><%= t 'user.view.status' %></strong> <%= @this_user.status.capitalize %><br />
    <strong><%= t 'user.view.spam score' %></strong> <%= @this_user.spam_score %><br />
    <% if ["active", "confirmed"].include? @this_user.status %>
      <%= link_to t('user.view.deactivate_user'), {:controller => 'user', :action => 'set_status', :status => 'pending', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %>
    <% elsif ["pending"].include? @this_user.status %>
      <%= link_to t('user.view.activate_user'), {:controller => 'user', :action => 'set_status', :status => 'active', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %>
    <% end %>
    <% if ["active", "suspended"].include? @this_user.status %>
      <br /><%= link_to t('user.view.confirm_user'), {:controller => 'user', :action => 'set_status', :status => 'confirmed', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %> 
    <% end %>
    <% if ["pending", "active", "confirmed", "suspended"].include? @this_user.status %>
      <br /><%= link_to t('user.view.hide_user'), {:controller => 'user', :action => 'set_status', :status => 'deleted', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %>
    <% else %>
      <%= link_to t('user.view.unhide_user'), {:controller => 'user', :action => 'set_status', :status => 'active', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %>
    <% end %>
    <br /><%= link_to t('user.view.delete_user'), {:controller => 'user', :action => 'delete', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %>
  </div>
  <% end -%>

  <%- if current_user -%>
  <div id="friends" class="sidebar_section">
    <h3><%= t('user.view.your friends') %> </h3>
    <ul id="friends">
      <%= render :partial => "user/contact", :collection => friends, :locals => {:this_user => @this_user} %>
    </ul>
    <%= link_to t('t.find friends'), {:controller => "user", :action => "users", :nearby => true} %>
    | <%= link_to t('diary_entry.list.title_friends', :count => friends.count), {:as => 'friend_changesets'} %>
  </div>
  <%- end -%>
</div>


<div id="stream">
  <% if current_user %>
  <div id="map" class="user_map" style="<%= "height: 50px" if @this_user.home_lat.nil? or @this_user.home_lon.nil? %>">
    <% if @this_user.home_lat.nil? or @this_user.home_lon.nil? %>
      <p id="no_home_location"><%= raw(t 'user.view.if set location', :settings_link => (link_to t('user.view.settings_link_text'), :controller => 'user', :action => 'account', :display_name => @this_user.display_name)) %></p>
    <% else %>
        <%= render :partial => 'map', :locals => {
            :setting_location => false,
            :show_other_users => true
        } %>
    <% end %>
  </div>
  <% end %>

  <h3>Recent Activity <%= atom_link_to params.merge({ :page => nil, :action => :feed, :controller => :changeset }) %></h3>
    
  <%= render :partial => "user/activities", :locals => {:activities => @this_user.recent_activities } %>

  <%- if current_user && @this_user.recent_activities.blank? -%>
    <%= raw(word_wrap( t('user.view.start editing'), :line_width => 20)) %> <br />
    <iframe width="420" height="315" src="http://www.youtube.com/embed/D6pBBK1SHh0" frameborder="0" allowfullscreen></iframe> <br />
  <%- end -%>

  more <%= link_to t('user.view.edits'), :controller => 'changeset', :action => 'list', :display_name => @this_user.display_name %>
  <%-  unless @this_user.traces.count == 0 -%>
   | <%= link_to( t('user.view.traces'), :controller => 'trace', :action => 'list', :display_name => @this_user.display_name) %>
   <%- end -%>
   <%- unless @this_user.diary_entries.count == 0 -%>
   | <%= link_to( t('user.view.diary'), :controller => 'diary_entry', :action => 'list', :display_name => @this_user.display_name) %> 
   <%- end -%>


</div>
