<%= user_image @this_user %>

<h2><%= @this_user.display_name %><%= role_icons(@this_user) %></h2>

<div id="userinformation">
  <% if @user and @this_user.id == @user.id %>
    <!-- Displaying user's own profile page -->
    <%= link_to t('user.view.my diary'), :controller => 'diary_entry', :action => 'list', :display_name => @user.display_name %>
    |
    <%= link_to t('user.view.new diary entry'), :controller => 'diary_entry', :action => 'new' %>
    |
    <%= link_to t('user.view.my comments' ), :controller => 'diary_entry', :action => 'comments', :display_name => @this_user.display_name %>
    |
    <%= link_to t('user.view.my edits'), :controller => 'changeset', :action => 'list', :display_name => @user.display_name %>
    |
    <%= link_to t('user.view.my traces'), :controller => 'trace', :action=>'mine' %>
    |
    <%= link_to t('user.view.my settings'), :controller => 'user', :action => 'account', :display_name => @user.display_name %>
    |
    <%= link_to t('user.view.oauth settings'), :controller => 'oauth_clients', :action => 'index' %>
    |
    <%= link_to t('user.view.blocks on me'), :controller => 'user_blocks', :action => 'blocks_on', :display_name => @user.display_name %>
    <% if @user and @user.moderator? %>
      | <%= link_to t('user.view.blocks by me'), :controller => 'user_blocks', :action => 'blocks_by', :display_name => @user.display_name %>
    <% end %>
  <% else %>
    <!-- Displaying another user's profile page -->
    <%= link_to t('user.view.send message'), :controller => 'message', :action => 'new', :display_name => @this_user.display_name %>
    |
    <%= link_to t('user.view.diary'), :controller => 'diary_entry', :action => 'list', :display_name => @this_user.display_name %>
    |
    <%= link_to t('user.view.comments'), :controller => 'diary_entry', :action => 'comments', :display_name => @this_user.display_name %>
    |
    <%= link_to t('user.view.edits'), :controller => 'changeset', :action => 'list', :display_name => @this_user.display_name %>
    |
    <%= link_to t('user.view.traces'), :controller => 'trace', :action => 'list', :display_name => @this_user.display_name %>
    |
    <% if @user and @user.is_friends_with?(@this_user) %>
      <%= link_to t('user.view.remove as friend'), :controller => 'user', :action => 'remove_friend', :display_name => @this_user.display_name %>
    <% else %>
      <%= link_to t('user.view.add as friend'), :controller => 'user', :action => 'make_friend', :display_name => @this_user.display_name %>
    <% end %>
    |
    <%= link_to t('user.view.block_history'), :controller => 'user_blocks', :action => 'blocks_on', :display_name => @this_user.display_name %>
    <% if @this_user.moderator? %>
      | <%= link_to t('user.view.moderator_history'), :controller => 'user_blocks', :action => 'blocks_by', :display_name => @this_user.display_name %>
    <% end %>
    <% if @user and @user.moderator? %>
      | <%= link_to t('user.view.create_block'), :controller => 'user_blocks', :action => 'new', :display_name => @this_user.display_name %>
    <% end %>
  <% end %>
  <% if @user and @user.administrator? %>
    <br/>
    <% if ["active", "confirmed"].include? @this_user.status %>
      <%= link_to t('user.view.deactivate_user'), {:controller => 'user', :action => 'set_status', :status => 'pending', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %> |
    <% elsif ["pending"].include? @this_user.status %>
      <%= link_to t('user.view.activate_user'), {:controller => 'user', :action => 'set_status', :status => 'active', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %> |
    <% end %>
    <% if ["active", "suspended"].include? @this_user.status %>
      <%= link_to t('user.view.confirm_user'), {:controller => 'user', :action => 'set_status', :status => 'confirmed', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %> |
    <% end %>
    <% if ["pending", "active", "confirmed", "suspended"].include? @this_user.status %>
      <%= link_to t('user.view.hide_user'), {:controller => 'user', :action => 'set_status', :status => 'deleted', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %> |
    <% else %>
      <%= link_to t('user.view.unhide_user'), {:controller => 'user', :action => 'set_status', :status => 'active', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %> |
    <% end %>
    <%= link_to t('user.view.delete_user'), {:controller => 'user', :action => 'delete', :display_name => @this_user.display_name}, {:confirm => t('user.view.confirm')} %>
  <% end %>
</div>

<p><b><%= t 'user.view.mapper since' %></b> <%= l @this_user.creation_time, :format => :friendly %> <%= t 'user.view.ago', :time_in_words_ago => time_ago_in_words(@this_user.creation_time) %></p>

<p><b><%= t 'user.view.ct status' %></b>
<% if not @this_user.terms_agreed.nil? -%>
<%= t 'user.view.ct accepted', :ago =>time_ago_in_words(@this_user.terms_agreed)  %> 
<% elsif not @this_user.terms_seen? -%>
<%= t 'user.view.ct undecided' %>
<% else -%>
<%= t 'user.view.ct declined' %>
<% end -%>
</p>

<% if @user and @user.administrator? -%>
  <p><b><%= t 'user.view.email address' %></b> <%= @this_user.email %></p>  
  <% unless @this_user.creation_ip.nil? -%>
  <p><b><%= t 'user.view.created from' %></b> <%= @this_user.creation_ip %></p>
  <% end -%>
  <p><b><%= t 'user.view.status' %></b> <%= @this_user.status.capitalize %></p>
  <p><b><%= t 'user.view.spam score' %></b> <%= @this_user.spam_score %></p>
<% end -%>

<h3><%= t 'user.view.description' %></h3>

<div id="description"><%= @this_user.description.to_html %></div>

<% if @user and @this_user.id == @user.id %>
  <div id="map" class="user_map">
    <% if @this_user.home_lat.nil? or @this_user.home_lon.nil? %>
      <p id="no_home_location"><%= raw(t 'user.view.if set location', :settings_link => (link_to t('user.view.settings_link_text'), :controller => 'user', :action => 'account', :display_name => @user.display_name)) %></p>
    <% else %>
      <%= render :partial => 'map', :locals => { :setting_location => false, :show_other_users => true } %>
    <% end %>
  </div>

  <% friends = @this_user.friends.collect { |f| f.befriendee } %>
  <% nearby = @this_user.nearby - friends %>

  <h3 style="margin-top: 0"><%= t 'user.view.your friends' %></h3>

  <% if friends.empty? %>
    <%= t 'user.view.no friends' %>
  <% else %>
    <%= link_to t('user.view.friends_changesets'), friend_changesets_path %><br/>
    <%= link_to t('user.view.friends_diaries'), friend_diaries_path %><br/><br/>
    <table id="friends">
      <%= render :partial => "contact", :collection => friends %>
    </table>
  <% end %>

  <h3><%= t 'user.view.nearby users' %></h3>

  <% if nearby.empty? %>
    <%= t 'user.view.no nearby users' %>
  <% else %>
    <%= link_to t('user.view.nearby_changesets'), nearby_changesets_path %><br/>
    <%= link_to t('user.view.nearby_diaries'), nearby_diaries_path %><br/><br/>
    <table id="nearbyusers">
      <%= render :partial => "contact", :collection => nearby %>
    </table>
  <% end %>
<% end %>
