<article class='diary_post border-top border-secondary-subtle py-3<%= " text-body-secondary px-3 bg-danger bg-opacity-10" unless diary_entry.visible %> user_<%= diary_entry.user.id %>'>
  <%= render :partial => "diary_entry_heading", :object => diary_entry, :as => "diary_entry" %>

  <div class="richtext text-break" xml:lang="<%= diary_entry.language_code %>" lang="<%= diary_entry.language_code %>">
    <%= diary_entry.body.to_html %>
  </div>

  <% if diary_entry.latitude and diary_entry.longitude %>
    <%= render :partial => "location", :object => diary_entry %>
  <% end %>

  <nav class='secondary-actions'>
    <ul class='clearfix'>
      <% if params[:action] == 'index' %>
        <li><%= link_to t(".comment_link"), diary_entry_path(diary_entry.user, diary_entry, :anchor => "newcomment") %></li>
        <li><%= link_to t(".reply_link"), new_message_path(diary_entry.user, :message => { :title => "Re: #{diary_entry.title}" }) %></li>
        <li>
          <% if diary_entry.visible_comments.count > 0 %>
            <%= link_to t(".comment_count", :count => diary_entry.visible_comments.count), diary_entry_path(diary_entry.user, diary_entry, :anchor => "comments") %>
          <% else %>
            <%= link_to t(".no_comments"), diary_entry_path(diary_entry.user, diary_entry, :anchor => "comments") %>
          <% end %>
        </li>
      <% end %>

      <% if can?(:edit, diary_entry) %>
        <li><%= link_to t(".edit_link"), edit_diary_entry_path(diary_entry.user, diary_entry) %></li>
      <% end %>

      <% if current_user and diary_entry.user != current_user %>
        <li>
          <%= report_link(t(".report"), diary_entry) %>
        </li>
      <% end %>

      <% if can? :hide, DiaryEntry %>
        <li>
          <% if diary_entry.visible %>
            <%= link_to t(".hide_link"), hide_diary_entry_path(diary_entry.user, diary_entry), :method => :post, :data => { :confirm => t(".confirm") } %>
          <% else %>
            <%= link_to t(".unhide_link"), unhide_diary_entry_path(diary_entry.user, diary_entry), :method => :post, :data => { :confirm => t(".confirm") } %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

</article>
