<%= f.text_field :title %>
<%= f.richtext_field :body, :cols => 80, :rows => 20, :format => @diary_entry.body_format %>
<%= f.collection_select :language_code, Language.order(:english_name), :code, :name %>

<fieldset>
  <legend><%= t ".location" -%></legend>

  <%= tag.div "", :id => "map", :class => "border border-secondary-subtle rounded mb-3 z-0", :data => { :lat => @lat, :lon => @lon, :zoom => @zoom } %>

  <div class="row mb-3">
    <%= f.text_field :latitude, :wrapper_class => "col-sm-4 d-flex flex-column", :class => "mt-auto", :id => "latitude" %>
    <%= f.text_field :longitude, :wrapper_class => "col-sm-4 d-flex flex-column", :class => "mt-auto", :id => "longitude" %>
    <div class="col-sm-4 align-self-end pt-2">
      <button type="button" id="usemap" class="btn btn-outline-primary"><%= t ".use_map_link" -%></button>
    </div>
  </div>
</fieldset>

<%= f.primary %>
