<% content_for :head, tag.meta(:name => :robots, :content => :noindex) %>
<% content_for :heading do %>
  <div class="row">
    <% if @user %>
        <div class="col-auto">
          <%= user_image @user %>
        </div>
    <% end %>

    <div class="col">
      <h1><%= @title %></h1>
      <%= render :partial => "navigation" %>
    </div>
  </div>
<% end %>

<% if @entries.empty? %>
  <h4><%= t ".no_entries" %></h4>
<% else %>
  <%= render :partial => "page" %>
<% end -%>

<% unless params[:friends] or params[:nearby] -%>
  <% content_for :auto_discovery_link_tag do -%>
  <%= auto_discovery_link_tag :rss, :action => "rss", :language => params[:language] %>
  <% end -%>
<% end -%>
