<% content_for :head, tag.meta(:name => :robots, :content => :noindex) %>
<% content_for :heading do %>
  <div class="row">
    <% if @user %>
        <div class="col-auto">
          <%= user_image @user %>
        </div>
    <% end %>

    <div class="col">
      <h1><%= @title %></h1>

      <nav class="secondary-actions">
        <ul class="clearfix">
          <% unless params[:friends] or params[:nearby] -%>
            <li><%= rss_link_to :action => "rss", :language => params[:language] %></li>
          <% end -%>

          <% @languages&.each do |language| %>
            <li><%= link_to t(".in_language_title", :language => language.name), :action => "index", :language => language.code %></li>
          <% end %>

          <% if !@user && current_user %>
            <li><%= link_to t(".my_diary"), :controller => "diary_entries", :action => "index", :display_name => current_user.display_name %></li>
          <% end %>

          <% if @user && @user == current_user || !@user && current_user %>
            <li>
              <%= link_to new_diary_entry_path, :class => "icon-link", :title => t(".new_title") do %>
                <%= plus_icon %>
                <%= t(".new") %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
<% end %>

<% if @entries.empty? %>
  <h4><%= t ".no_entries" %></h4>
<% else %>
  <h4><%= t ".recent_entries" %></h4>

  <%= render @entries %>

  <%= render "shared/pagination",
             :newer_key => "diary_entries.index.newer_entries",
             :older_key => "diary_entries.index.older_entries",
             :newer_id => @newer_entries_id,
             :older_id => @older_entries_id %>
<% end %>

<% unless params[:friends] or params[:nearby] -%>
  <% content_for :auto_discovery_link_tag do -%>
  <%= auto_discovery_link_tag :rss, :action => "rss", :language => params[:language] %>
  <% end -%>
<% end -%>
