<% @sources.each do |source| %>
  <% if source[:types] %>
    <h4><%= raw(t("geocoder.description.title.#{source[:name]}", :types => t("geocoder.description.types.#{source[:types]}"))) %></h4>
  <% else %>
    <h4><%= raw(t("geocoder.description.title.#{source[:name]}")) %></h4>
  <% end %>
  <div class='search_results_entry inner12' id='<%= "description_#{source[:name]}_#{source[:types]}" %>'>
    <%= image_tag "searching.gif", :class => "search_searching" %>
  </div>
  <script type="text/javascript">
    $("#description_<%= source[:name] %>_<%= source[:types] %>").load("<%= raw url_for :action => "description_#{source[:name]}", :lat => params[:lat], :lon => params[:lon], :zoom => params[:zoom], :types => source[:types], :max => source[:max] %>");
  </script>
<% end %>
