<% @sources.each do |source| %>
  <h4><%= raw(t "geocoder.search.title.#{source}") %></h4>
  <div class="search_results_entry" id="<%= "search_#{source}" %>">
    <%= image_tag "searching.gif", :class => "search_searching" %>
  </div>
  <script type="text/javascript">
    $("#search_<%= source %>").load("<%= raw url_for params.merge(:action => "search_#{source}") %>");
  </script>
<% end %>
