<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<div class="row">
  <div class="col-md order-md-last">
    <% if !current_user.home_location? %>
      <div id="map" class="content_map border border-secondary-subtle">
        <p class="m-3"><%= t(".no_home_location_html", :edit_profile_link => link_to(t(".edit_your_profile"), edit_profile_path)) %></p>
      </div>
    <% else %>
      <% content_for :head do %>
        <%= javascript_include_tag "user" %>
      <% end %>
      <% user_data = {
           :lon => current_user.home_lon,
           :lat => current_user.home_lat,
           :icon => image_path("marker-red.png"),
           :description => render(:partial => "popup", :object => current_user, :locals => { :type => "your location" })
         } %>
      <%= tag.div "", :id => "map", :class => "content_map border border-secondary-subtle rounded z-0", :data => { :user => user_data } %>
    <% end %>
  </div>

  <div class="col-md">
    <h2><%= t ".followings" %></h2>

    <% if @followings.empty? %>
      <%= t ".no followings" %>
    <% else %>
      <nav class='secondary-actions mb-3'>
        <ul class='clearfix'>
          <li><%= link_to t(".followed_changesets"), friend_changesets_path %></li>
          <li><%= link_to t(".followed_diaries"), friends_diary_entries_path %></li>
        </ul>
      </nav>
      <div>
        <%= render :partial => "contact", :collection => @followings, :locals => { :type => "following" } %>
      </div>
    <% end %>

    <hr>

    <h2><%= t ".nearby users" %></h2>

    <% if @nearby_users.empty? %>
      <%= t ".no nearby users" %>
    <% else %>
      <nav class='secondary-actions mb-3'>
        <ul class='clearfix'>
          <li><%= link_to t(".nearby_changesets"), nearby_changesets_path %></li>
          <li><%= link_to t(".nearby_diaries"), nearby_diary_entries_path %></li>
        </ul>
      </nav>
      <div id="nearbyusers">
        <%= render :partial => "contact", :collection => @nearby_users, :locals => { :type => "nearby mapper" } %>
      </div>
    <% end %>
  </div>
</div>
