<div id="history-sidebar">
  <ul>
    <% $.each(changesets, function (index, changeset) { %>
      <li class="changeset-item" data-changeset-id="<%- changeset.id %>">
        <% if (typeof changeset.tags['comment'] != 'undefined') { %>
          <a href="<%- OSM.OWL_LINKS_BASE_URL %>browse/changeset/<%- changeset.id %>" class="changeset-comment"><%- changeset.tags['comment'] %></a>
        <% } else { %>
          <a href="<%- OSM.OWL_LINKS_BASE_URL %>browse/changeset/<%- changeset.id %>" class="changeset-comment empty-comment">(no comment)</a>
        <% } %>

        <div>
        <%
        $.each(changeset.changes, function (index, change) {
          if (!hasIcon(change.tags)) { return; }
        %>
        <a href="<%- hrefForChange(change) %>" class="<%- classForChange(change.el_type, change.tags) %>">&nbsp;</a>
        <% }); %>
        </div>

        <div class="changeset-metadata">
          <div class="metadata-left">
            <abbr class="timeago" title="<%- changeset.created_at %>">
              <%- changeset.created_at.replace('T', ' ').replace('Z', '') %>
            </abbr>
            <a href="<%- OSM.OWL_LINKS_BASE_URL %>user/<%- changeset.user_name %>"><%- changeset.user_name %></a>
          </div>
          <div class="changeset-id"><a href="<%- OSM.OWL_LINKS_BASE_URL %>browse/changeset/<%- changeset.id %>">#<%- changeset.id %></a></div>
        </div>
        <br style="clear:both" />
      </li>
      <hr style="margin: 0; padding: 0">
    <% }); %>
  </ul>
</div>
<div id="history-sidebar-footer">
  <a href="" class="rsssmall feed_link">
    <img alt="RSS" border="0" height="16" src="/assets/RSS.gif" width="16">
  </a>
  <a href="https://github.com/ppawel/openstreetmap-website/issues/new" class="report_link" target="_blank" style="margin-left: 20px; height: 100%">
  <b>Report a problem or suggestion</b>
  </a>
  <a class="more_link" href="">&raquo;</a>
</div>
