<div id="history-sidebar">
  <% $.each(changesets, function (index, changeset) { %>
    <div class="changeset-item" data-changeset-id="<%- changeset.id %>">
      <div class="changeset-info">
      <% if (typeof changeset.tags['comment'] != 'undefined') { %>
        <a href="<%- OSM.OWL_LINKS_BASE_URL %>browse/changeset/<%- changeset.id %>" class="changeset-comment"><%- changeset.tags['comment'] %></a>
      <% } else { %>
        <a href="<%- OSM.OWL_LINKS_BASE_URL %>browse/changeset/<%- changeset.id %>" class="changeset-comment empty-comment">(no comment)</a>
      <% } %>

      <div>
      <%
      $.each(changeset.changes, function (index, change) {
        if (!hasIcon(change.tags)) { return; }
      %>
      <a href="<%- hrefForChange(change) %>" class="<%- classForChange(change.el_type, change.tags) %>">&nbsp;</a>
      <% }); %>
      </div>

      <div class="changeset-metadata">
        <div class="metadata-left">
          <abbr class="timeago" title="<%- changeset.created_at %>">
            <%- changeset.created_at.replace('T', ' ').replace('Z', '') %>
          </abbr>
          <a href="<%- OSM.OWL_LINKS_BASE_URL %>user/<%- changeset.user_name %>"><%- changeset.user_name %></a>
        </div>
        <div class="changeset-actions">
          <a href="<%- OSM.OWL_LINKS_BASE_URL %>browse/changeset/<%- changeset.id %>">#<%- changeset.id %></a>
        </div>
      </div>
      <br style="clear:both" />
      </div>
      <div class="change-list" data-changeset-id="<%- changeset.id %>">
      <% $.each(changeset.changes, function (index, change) { %>
        <hr style="margin: 0px; padding-top: 0px">
        <div class="change" data-change-id="<%- change.id %>">
        <span>
        <% if (change.el_action == 'CREATE') { %>
        created
        <% } else if (change.el_action == 'DELETE') { %>
        deleted
        <% } else if (change.el_action == 'MODIFY' || change.el_action == 'AFFECT') { %>
        modified
        <% } %>

        <a href="<%- hrefForChange(change) %>" class="<%- classForChange(change.el_type, change.tags) %>"><%- change.el_id %></a>
        </span>

        <table class="tag-table">
        <% $.each(change.diffTags.added, function (k, v) { %>
          <tr class="tag-diff-added"><td><span class="tag-name"><%- k %></span> = <%- v %></td></tr>
        <% }); %>

        <% $.each(change.diffTags.removed, function (k, v) { %>
          <tr class="tag-diff-removed"><td><span class="tag-name"><%- k %></span> = <%- v %></td></tr>
        <% }); %>

        <% $.each(change.diffTags.modified, function (k, v) { %>
          <tr class="tag-diff-modified"><td><span class="tag-name"><%- k %></span> = <span style="font-weight: bold; color: green;"><%- v[0] %></span>
          (was: <span style="font-weight: bold; color: red;"><%- v[1] %></span>)</td></tr>
        <% }); %>

        <% $.each(change.diffTags.same, function (k, v) { %>
          <tr class="tag-diff-same"><td><span class="tag-name"><%- k %></span> = <%- v %></td></tr>
        <% }); %>
          </td>
        </tr>
        </table>

        <% if (change.geom_changed) { %>
        <span class="show-prev-geom" data-change-id="<%- change.id %>">show previous geometry</span>
        <% } %>
        </div>
      <% }); %>
      </div>
    </div>
    <hr style="margin: 0; padding: 0">
  <% }); %>
</div>
<div id="history-sidebar-footer">
  <a href="" class="rsssmall feed_link">
    <img alt="RSS" border="0" height="16" src="/assets/RSS.gif" width="16">
  </a>
  <a href="https://github.com/ppawel/openstreetmap-website/issues/new" class="report_link" target="_blank" style="margin-left: 20px; height: 100%">
  <b>Report a problem or suggestion</b>
  </a>
  <a class="more_link" href="">&raquo;</a>
</div>
