<tr>
  <% c1 = cycle('table0', 'table1') %>

  <% if show_user_name %>
  <td class="<%= c1 %>"><%= link_to h(block.user.display_name), user_path(block.user) %></td>
  <% end %>
  <% if show_creator_name %>
  <td class="<%= c1 %>"><%= link_to h(block.creator.display_name), user_path(block.creator) %></td>
  <% end %>
  <td class="<%= c1 %>"><%=h truncate(block.reason) %></td>
  <td class="<%= c1 %>"><%=h block_status(block) %></td>
  <td class="<%= c1 %>">
    <% if block.revoker_id.nil? %>
      <%= t('.not_revoked') %>
    <% else %>
      <%= link_to h(block.revoker.display_name), user_path(block.revoker) %>
    <% end %>
  </td>
  <td class="<%= c1 %>"><%= link_to t('.show'), block %></td>
  <td class="<%= c1 %>"><% if current_user and current_user.id == block.creator_id and block.active? %><%= link_to t('.edit'), edit_user_block_path(block) %><% end %></td>
  <% if show_revoke_link %>
  <td class="<%= c1 %>"><% if block.active? %><%= link_to t('.revoke'), :controller => 'user_blocks', :action => 'revoke', :id => block.id %><% end %></td>
  <% end %>
</tr>
