<table id="block_list" cellpadding="3">
  <thead>
    <tr>
      <% if show_user_name %>
      <th><%= t ".display_name" %></th>
      <% end %>
      <% if show_creator_name %>
      <th><%= t ".creator_name" %></th>
      <% end %>
      <th><%= t ".reason" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".revoker_name" %></th>
      <th></th>
      <th></th>
      <% if show_revoke_link %>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <%= render :partial => "block", :locals => { :show_revoke_link => show_revoke_link, :show_user_name => show_user_name, :show_creator_name => show_creator_name }, :collection => @user_blocks %>
</table>

<ul class='secondary-actions'>
  <% if @user_blocks_pages.current_page.number > 1 -%>
    <li><%= link_to t(".previous"), @params.merge(:page => @user_blocks_pages.current_page.number - 1) %></li>
  <% else -%>
    <li><%= t(".previous") %></li>
  <% end -%>

  <li><%= t(".showing_page", :page => @user_blocks_pages.current_page.number) %></li>

  <% if @user_blocks_pages.current_page.number < @user_blocks_pages.page_count -%>
    <li><%= link_to t(".next"), @params.merge(:page => @user_blocks_pages.current_page.number + 1) %></li>
  <% else -%>
    <li><%= t(".next") %></li>
  <% end -%>
</ul>
