<turbo-frame id="pagination" target="_top" data-turbo="false">
  <table id="block_list" class="table table-borderless table-striped table-sm">
    <thead>
      <tr>
        <% if @show_user_name %>
        <th><%= t ".display_name" %></th>
        <% end %>
        <% if @show_creator_name %>
        <th><%= t ".creator_name" %></th>
        <% end %>
        <th><%= t ".reason" %></th>
        <th><%= t ".start" %></th>
        <th><%= t ".end" %></th>
        <th><%= t ".status" %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <%= render :partial => "user_blocks/block", :collection => @user_blocks %>
  </table>

  <%= render "shared/pagination",
             :translation_scope => "shared.pagination.user_blocks",
             :newer_id => @newer_user_blocks_id,
             :older_id => @older_user_blocks_id %>
</turbo-frame>
