<% @title = t ".title", :name => @user_block.user.display_name %>
<% content_for :heading do %>
  <h1><%= t(".heading_html",
            :name => link_to(@user_block.user.display_name,
                             user_path(@user_block.user))) %></h1>
  <nav class='secondary-actions'>
    <ul class='clearfix'>
      <li><%= link_to t(".show"), @user_block %></li>
      <li><%= link_to t(".back"), user_blocks_path %></li>
    </ul>
  </nav>
<% end %>

<%= bootstrap_form_for(@user_block) do |f| %>
  <%= f.richtext_field :reason, :cols => 80, :rows => 20, :format => @user_block.reason_format %>

  <%= f.form_group do %>
    <%= label_tag "user_block_period", t(".period"), :class => "form-label" %>
    <%= select_tag("user_block_period",
                   options_for_select(UserBlock::PERIODS.collect { |h| [block_duration_in_words(h.hours), h.to_s] }, params[:user_block_period]),
                   :class => "form-select") %>
  <% end %>

  <%= f.form_group :needs_view do %>
    <%= f.check_box :needs_view %>
  <% end %>

  <%= f.primary %>
<% end %>
