<% @title = t ".title", :name => h(@user_block.user.display_name) %>
<% content_for :heading do %>
  <h1><%= raw t(".title",
                :name => link_to(h(@user_block.user.display_name),
                                 user_path(@user_block.user))) %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to t(".show"), @user_block %></li>
    <li><%= link_to t(".back"), user_blocks_path %></li>
  </ul>
<% end %>

<%= form_for(@user_block) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reason, t(".reason", :name => h(@user_block.user.display_name)) %><br />
    <%= richtext_area :user_block, :reason, :cols => 80, :rows => 20, :format => @user_block.reason_format %>
  </p>
  <p>
    <%= label_tag "user_block_period", t(".period") %><br />
    <%= select_tag("user_block_period", options_for_select(UserBlock::PERIODS.collect { |h| [block_duration_in_words(h.hours), h.to_s] }, params[:user_block_period])) %>
  </p>
  <p>
    <%= f.check_box :needs_view %>
    <%= f.label :needs_view, t(".needs_view") %>
  </p>
  <p>
    <%= f.submit t(".submit") %>
  </p>
<% end %>
