<% @title = t('user_block.show.title',
              :block_on => @user_block.user.display_name,
              :block_by => @user_block.creator.display_name) %>

<% content_for :heading do %>
  <h1><%= raw t('user_block.show.heading',
                :block_on => link_to(
                                     h(@user_block.user.display_name),
                                     {:controller => 'user', :action => 'view', :display_name => @user_block.user.display_name}),
                :block_by => link_to(
                                     h(@user_block.creator.display_name),
                                     {:controller => 'user', :action => 'view', :display_name => @user_block.creator.display_name})) %></h1>
<ul class='secondary-actions clearfix'>
  <% if @user_block.ends_at > Time.now.getutc %>
    <% if @user and @user.id == @user_block.creator_id %>
      <li><%= link_to t('user_block.show.edit'), edit_user_block_path(@user_block) %></li>
    <% end %>
    <% if @user and @user.moderator? %>
      <li><%= link_to(t('user_block.show.revoke'),{:controller => 'user_blocks', :action => 'revoke', :id => @user_block.id}) %></li>
    <% end %>
  <% end %>
  <li><%= link_to t('user_block.show.back'), user_blocks_path %></li>
</ul>
<% end %>

<% if @user_block.revoker %>
<p>
  <b><%= t'user_block.show.revoker' %></b>
  <%= link_to h(@user_block.revoker.display_name), :controller => 'user', :action => 'view', :display_name => @user_block.revoker.display_name %>
</p>
<% end %>

<p><b><%= t'user_block.show.status' %></b>: <%= block_status(@user_block) %></p>

<p><b><%= t'user_block.show.reason' %></b></p>
<div class="richtext"><%= @user_block.reason.to_html %></div>
