<h4 class='heading'><%= t "site.markdown_help.title_html" %></h4>
<ul>
  <li>
    <h4><%= t "site.markdown_help.headings" %></h4>
    <p># <%= t "site.markdown_help.heading" %></br>
       ## <%= t "site.markdown_help.subheading" %></p>
  </li>
  <li>
    <h4><%= t "site.markdown_help.unordered" %></h4>
    <p>* <%= t "site.markdown_help.first" %></br>
       * <%= t "site.markdown_help.second" %></p>
  </li>
  <li>
    <h4><%= t "site.markdown_help.ordered" %></h4>
    <p>1. <%= t "site.markdown_help.first" %><br>
       2. <%= t "site.markdown_help.second" %></p>
  </li>
  <li>
    <h4><%= t "site.markdown_help.link" %></h4>
    <span>[<%= t "site.markdown_help.text" %>](<%= t "site.markdown_help.url" %>)</span>
  </li>
  <li>
    <h4><%= t "site.markdown_help.image" %></h4>
    <span>![<%= t "site.markdown_help.alt" %>](<%= t "site.markdown_help.url" %>)</span>
  </li>
</ul>
