<h4 class='heading'><%= t "site.markdown_help.title_html" %></h4>
<ul>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.headings" %></h4>
    <span># <%= t "site.markdown_help.heading" %></span>
    <span>## <%= t "site.markdown_help.subheading" %></span>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.unordered" %></h4>
    <span>* <%= t "site.markdown_help.first" %></span>
    <span>* <%= t "site.markdown_help.second" %></span>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.ordered" %></h4>
    <span>1. <%= t "site.markdown_help.first" %></span>
    <span>2. <%= t "site.markdown_help.second" %></span>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.link" %></h4>
    <span>[<%= t "site.markdown_help.text" %>](<%= t "site.markdown_help.url" %>)</span>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.image" %></h4>
    <span>![<%= t "site.markdown_help.alt" %>](<%= t "site.markdown_help.url" %>)</span>
  </li>
</ul>
