<h4 class='heading'><%= t "site.markdown_help.title_html" %></h4>
<ul>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.headings" %></h4>
    <p># <%= t "site.markdown_help.heading" %></p>
    <p>## <%= t "site.markdown_help.subheading" %></p>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.unordered" %></h4>
    <p>* <%= t "site.markdown_help.first" %></p>
    <p>* <%= t "site.markdown_help.second" %></p>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.ordered" %></h4>
    <p>1. <%= t "site.markdown_help.first" %></p>
    <p>2. <%= t "site.markdown_help.second" %></p>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.link" %></h4>
    <p>[<%= t "site.markdown_help.text" %>](<%= t "site.markdown_help.url" %>)</p>
  </li>
  <li class='clearfix'>
    <h4><%= t "site.markdown_help.image" %></h4>
    <p>![<%= t "site.markdown_help.alt" %>](<%= t "site.markdown_help.url" %>)</p>
  </li>
</ul>
