<table>
  <thead>
    <tr>
      <th colspan="2"><%= t "site.markdown_help.title_html" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= t "site.markdown_help.headings" %></th>
      <td># <%= t "site.markdown_help.heading" %><br />## <%= t "site.markdown_help.subheading" %></td>
    </tr>
    <tr>
      <th><%= t "site.markdown_help.unordered" %></th>
      <td>* <%= t "site.markdown_help.first" %><br />* <%= t "site.markdown_help.second" %></td>
    </tr>
    <tr>
      <th><%= t "site.markdown_help.ordered" %></th>
      <td>1. <%= t "site.markdown_help.first" %><br />2. <%= t "site.markdown_help.second" %></td>
    </tr>
    <tr>
      <th><%= t "site.markdown_help.link" %></th>
      <td>[<%= t "site.markdown_help.text" %>](<%= t "site.markdown_help.url" %>)</td>
    </tr>
    <tr>
      <th><%= t "site.markdown_help.image" %></th>
      <td>![<%= t "site.markdown_help.alt" %>](<%= t "site.markdown_help.url" %>)</td>
    </tr>
  </tbody>
</table>
