<h4 class='heading'><%= t ".title_html" %></h4>
<ul>
  <li>
    <h4><%= t ".headings" %></h4>
    <p># <%= t ".heading" %><br>
       ## <%= t ".subheading" %></p>
  </li>
  <li>
    <h4><%= t ".unordered" %></h4>
    <p>* <%= t ".first" %><br>
       * <%= t ".second" %></p>
  </li>
  <li>
    <h4><%= t ".ordered" %></h4>
    <p>1. <%= t ".first" %><br>
       2. <%= t ".second" %></p>
  </li>
  <li>
    <h4><%= t ".link" %></h4>
    <span>[<%= t ".text" %>](<%= t ".url" %>)</span>
  </li>
  <li>
    <h4><%= t ".image" %></h4>
    <span>![<%= t ".alt" %>](<%= t ".url" %>)</span>
  </li>
</ul>
