<% content_for :optionals do %>
  <div class="optionalbox">
    <div class="search_container">
    <div id="search_field">
    <%= form_tag url_for(:controller => :geocoder, :action => :search), :id => "search_form" do %>
      <%= submit_tag t('site.search.submit_text') %>
      <%= text_field_tag :query, h(params[:query]), :tabindex => "1", :placeholder => t('site.search.search'), :autofocus => "autofocus" %>
    <% end %>
    </div>
    </div>
    <p class='search_help deemphasize'>
      <%= raw(t 'site.search.search_help') %>
      <%= link_to t('site.search.where_am_i'), { :controller => :geocoder, :action => :description }, { :id => "describe_location", :title => t('site.search.where_am_i_title') } %>
    </p>
  </div>
<% end %>
