<script type="text/javascript">
<!--
  function describeLocation() {
    var args = getArgs($("#viewanchor").attr("href"));

    $("#sidebar_title").html("<%= t 'site.sidebar.search_results' %>");
    $("#sidebar_content").load("<%= url_for :controller => :geocoder, :action => :description %>", {
      lat: args["lat"],
      lon: args["lon"],
      zoom: args["zoom"]
    }, openSidebar);
  }
// -->
</script>

<% content_for :optionals do %>
  <div class="optionalbox">
    <div class="search_container">
    <div id="search_field">
    <%= form_tag url_for(:controller => :geocoder, :action => :search), :id => "search_form" do %>
      <%= submit_tag t('site.search.submit_text') %>
      <%= text_field_tag :query, h(params[:query]), :tabindex => "1", :placeholder => t('site.search.search'), :autofocus => "autofocus" %>
    <% end %>
    </div>
    </div>
    <p class='search_help deemphasize'>
      <%= raw(t 'site.search.search_help') %>
      <span class="whereami"><a href="javascript:describeLocation()" title="<%= t 'site.search.where_am_i_title' %>"><%= t 'site.search.where_am_i' %></a></span>
    </p>
  </div>
<% end %>
