<script type="text/javascript">
<!--
  function startSearch() {
    updateSidebar("<%= t 'site.sidebar.search_results' %>", "");
  }

  function describeLocation() {
    var position = getPosition();

    <%= remote_function(:loading => "startSearch()",
                        :url => { :controller => :geocoder, :action => :description },
                        :with => "'lat=' + position.lat + '&lon=' + position.lon") %>
  }

  <% if params[:query] %>
  <%= remote_function(:loading => "startSearch()",
                      :url => { :controller => :geocoder, :action => :search, :query => h(params[:query]) }) %>
  <% end %>
// -->
</script>

<% content_for "optionals" do %>
  <div class="optionalbox">
    <span class="oboxheader"><%= t 'site.search.search' %></span>
    <span class="whereami"><a href="javascript:describeLocation()"><%= t 'site.search.where_am_i' %></a></span>
    <div class="search_form">
    <div id="search_field">
    <% form_remote_tag(:loading => "startSearch()",
                       :complete => "endSearch()",
                       :url => { :controller => :geocoder, :action => :search },
                       :html => { :method => "get", :action => url_for(:action => "index") }) do %>
      <%= text_field_tag :query, h(params[:query]) %>
      <%= submit_tag t('site.search.submit_text') %>
    <% end %>
    </div>
    </div>
    <p class="search_help">
      <%= t 'site.search.search_help' %>
    </p>
  </div>
<% end %>
