<script type="text/javascript">
<!--
  function describeLocation() {
    var args = getArgs($("#viewanchor").attr("href"));

    $("#sidebar_title").html("<%= t 'site.sidebar.search_results' %>");
    $("#sidebar_content").load("<%= url_for :controller => :geocoder, :action => :description %>", {
      lat: args["lat"],
      lon: args["lon"],
      zoom: args["zoom"]
    }, openSidebar);
  }

  function doSearch(query) {
    $("#sidebar_title").html("<%= t 'site.sidebar.search_results' %>");

    <% if params[:action] == 'index' -%>
    var extent = unproj(map.getExtent());

    $("#sidebar_content").load("<%= url_for :controller => :geocoder, :action => :search %>", {
      query: $("#query").val(),
      minlon: extent.left,
      minlat: extent.bottom,
      maxlon: extent.right,
      maxlat: extent.top
    }, openSidebar);
    <% else -%>
    $("#sidebar_content").load("<%= url_for :controller => :geocoder, :action => :search %>", {
      query: $("#query").val()
    }, openSidebar);
    <% end -%>
  }

  $(document).ready(function () {
    $("#search_form").submit(function (event) {
      doSearch($("#query").val());

      return false;
    });
  });
// -->
</script>

<% content_for :optionals do %>
  <div class="optionalbox">
    <span class="whereami"><a href="javascript:describeLocation()" title="<%= t 'site.search.where_am_i_title' %>"><%= t 'site.search.where_am_i' %></a></span>
    <h1><%= t 'site.search.search' %></h1>
    <div class="search_container">
    <div id="search_field">
    <%= form_tag "#", :id => "search_form" do %>
      <%= text_field_tag :query, h(params[:query]), :tabindex => "1" %>
      <%= submit_tag t('site.search.submit_text') %>
    <% end %>
    </div>
    </div>
    <p class="search_help">
      <%= raw(t 'site.search.search_help') %>
    </p>
  </div>
<% end %>
