<% content_for(:content_class) { "bg-body-secondary" } %>
<% I18n.with_locale @locale do %>
  <%= tag.div :lang => @locale, :dir => t("html.dir") do %>
    <div class="container-lg attr">
      <div class='row'>
        <div class='col-sm-12 user-image'></div>
      </div>
      <div class='row'>
        <div class="px-5 py-4 bg-black bg-opacity-75">
          <h1 class="text-white fw-light"><%= t ".used_by_html", :name => tag.span("OpenHistoricalMap", :class => "user-name") %></h1>
        </div>
      </div>
    </div>

    <div class='bg-body px-5 py-4'>
      <p class="lead"><%= t ".lede_text" %></p>

      <%= render :layout => "about_section", :locals => { :icon => "local", :title => "scope" } do %>
        <p><%= t ".scope_html" %></p>
      <% end %>

      <%= render :layout => "about_section", :locals => { :icon => "community", :title => "contribute" } do %>
        <p>
          <%= t ".contribute_1_ohm_html", :wiki_link => link_to(t(".contribute_1_wiki"),
                                                                t(".contribute_1_wiki_url")),
                                          :forum_link => link_to(t(".contribute_1_forum"),
                                                                 "https://forum.openhistoricalmap.org/"),
                                          :user_diaries_link => link_to(t(".contribute_1_user_diaries"),
                                                                        diary_entries_path),
                                          :mastodon_link => link_to(t(".contribute_1_mastodon"),
                                                                    "https://mapstodon.space/@ohm"),
                                          :bluesky_link => link_to(t(".contribute_1_bluesky"),
                                                                   "https://bsky.app/profile/openhistoricalmap.org") %>
        </p>
        <p>
          <%= t ".contribute_2_html", :create_account_link => link_to(t(".contribute_2_create_account"),
                                                                      new_user_path),
                                      :donations_link => link_to(t(".contribute_2_donations"),
                                                                 "https://openstreetmap.app.neoncrm.com/forms/ohm"),
                                      :osmus_link => link_to(t(".contribute_2_osmus"),
                                                             "https://openstreetmap.us/") %>
        </p>
      <% end %>

      <%= render :layout => "about_section", :locals => { :id => "open-data", :icon => "open", :title => "open_data" } do %>
        <p>
          <%= t ".open_data_1_1_html", :reuse_link => link_to(t(".open_data_1_1_reuse"),
                                                              t(".open_data_1_1_reuse_url")) %>
        </p>
        <p>
          <%= t ".open_data_2_html", :copyright_license_link => link_to(t(".open_data_2_copyright_license"),
                                                                        copyright_path) %>
        </p>
      <% end %>

      <%= render :layout => "about_section", :locals => { :id => "legal", :icon => "legal", :title => "legal" } do %>
        <p>
          <%= t ".legal_1_html", :group_link => link_to(t(".legal_1_group"),
                                                        t(".legal_1_group_url")),
                                 :terms_of_use_link => link_to(t(".legal_1_terms_of_use"),
                                                               t(".legal_1_terms_of_use_url")),
                                 :aup_link => link_to(t(".legal_1_aup"),
                                                      t(".legal_1_aup_url")),
                                 :privacy_policy_link => link_to(t(".legal_1_privacy_policy"),
                                                                 t(".legal_1_privacy_policy_url")) %>
        </p>
        <p>
          <%= t ".legal_2_html", :contact_team_link => mail_to(Settings.legal_email,
                                                               t(".legal_2_contact_team")) %>
        </p>
        <p>
          <%= t ".legal_3_html", :osmf_trademarks_link => link_to(t(".legal_3_osmf_trademarks"),
                                                                  t(".legal_3_osmf_trademarks_url")) %>
        </p>
      <% end %>

      <%= render :layout => "about_section", :locals => { :id => "partners", :icon => "partners", :title => "partners" } do %>
        <p><%= t "layouts.hosting_partners_2024_html", :devseed => link_to(t("layouts.partners_devseed"), "https://developmentseed.org/"),
                                                       :greeninfo => link_to(t("layouts.partners_greeninfo"), "https://greeninfo.org/"),
                                                       :osmf => link_to(t("layouts.partners_osmf"), "https://osmfoundation.org/"),
                                                       :osmus => link_to(t("layouts.partners_osmus"), "https://openstreetmap.us/") %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
