<div class='attr'>
  <div class='byosm'>
    <%= t "about_page.copyright_html" %>
  </div>

  <div class='user-image'></div>

  <h1><%= raw t "about_page.used_by", :name => "<span class='user-name'>OpenStreetMap</span>" %></h1>
</div>

<div class='text'>
  <div class='section'>
    <p><strong><%= t "about_page.lede_text" %></strong></p>
    <h2><div class='icon local'></div><%= t "about_page.local_knowledge_title" %></h2>
    <p><%= t "about_page.local_knowledge_html" %></p>
  </div>

  <div class='section'>
    <h2><div class='icon community'></div><%= t "about_page.community_driven_title" %></h2>
    <p><%= t "about_page.community_driven_html", :diary_path => diary_path %></p>
  </div>

  <div class='section' id='open-data'>
    <h2><div class='icon open'></div><%= t "about_page.open_data_title" %></h2>
    <p><%= t "about_page.open_data_html", :copyright_path => copyright_path %></p>
  </div>

  <div class='section' id='legal'>
    <h2><div class='icon legal'></div><%= t "about_page.legal_title" %></h2>
    <p><%= t "about_page.legal_html" %></p>
  </div>

  <div class='section' id='partners'>
    <h2><div class='icon partners'></div><%= t "about_page.partners_title" %></h2>
    <p><%= t 'layouts.partners_html',
             :ucl => link_to(t('layouts.partners_ucl'), "http://www.bartlett.ucl.ac.uk"),
             :ic => link_to(t('layouts.partners_ic'), "http://www.imperial.ac.uk/"),
             :bytemark => link_to(t('layouts.partners_bytemark'), "http://www.bytemark.co.uk"),
             :partners => link_to(t('layouts.partners_partners'), t('layouts.partners_url')) %>
    </p>
  </div>
</div>
