<%= tag.div :lang => @locale, :dir => t("html.dir", :locale => @locale) do %>
  <div class='attr'>
    <div class='byosm'>
      <%= t ".copyright_html", :locale => @locale %>
    </div>

    <div class='user-image'></div>

    <h1><%= t ".used_by_html", :name => content_tag(:span, "OpenStreetMap", :class => "user-name"), :locale => @locale %></h1>
  </div>

  <div class='text'>
    <div class='section'>
      <p><strong><%= t ".lede_text", :locale => @locale %></strong></p>
      <h2><div class='icon local'></div><%= t ".local_knowledge_title", :locale => @locale %></h2>
      <p><%= t ".local_knowledge_html", :locale => @locale %></p>
    </div>

    <div class='section'>
      <h2><div class='icon community'></div><%= t ".community_driven_title", :locale => @locale %></h2>
      <p><%= t ".community_driven_html", :locale => @locale, :diary_path => diary_entries_path %></p>
    </div>

    <div class='section' id='open-data'>
      <h2><div class='icon open'></div><%= t ".open_data_title", :locale => @locale %></h2>
      <p><%= t ".open_data_html", :locale => @locale, :copyright_path => copyright_path %></p>
    </div>

    <div class='section' id='legal'>
      <h2><div class='icon legal'></div><%= t ".legal_title", :locale => @locale %></h2>
      <p><%= t ".legal_1_html", :locale => @locale %></p>
      <p><%= t ".legal_2_html", :locale => @locale %></p>
    </div>

    <div class='section' id='partners'>
      <h2><div class='icon partners'></div><%= t ".partners_title", :locale => @locale %></h2>
      <p><%= t "layouts.hosting_partners_html", :locale => @locale,
                                                :ucl => link_to(t("layouts.partners_ucl", :locale => @locale), "https://www.ucl.ac.uk"),
                                                :bytemark => link_to(t("layouts.partners_bytemark", :locale => @locale), "https://www.bytemark.co.uk"),
                                                :partners => link_to(t("layouts.partners_partners", :locale => @locale), "https://hardware.openstreetmap.org/thanks/") %>
      </p>
    </div>
  </div>
<% end %>
