<% content_for :heading do %>
  <%= tag.h1 :lang => @locale, :dir => t("html.dir", :locale => @locale) do %>
    <%= t ".title", :locale => @locale %>
  <% end %>
<% end %>

<%= tag.div :lang => @locale, :dir => t("html.dir", :locale => @locale) do %>
  <p><%= t ".lede_text", :locale => @locale %></p>
  <h2><%= t ".local_chapters.title", :locale => @locale %></h2>
  <p><%= t ".local_chapters.about_text", :locale => @locale %></p>
  <p><%= t ".local_chapters.list_text", :locale => @locale %></p>
  <ul>
    <% @local_chapters.each do |chapter| %>
      <li><a href="<%= chapter.url %>"><%= chapter.name %></a></li>
    <% end %>
  </ul>
  <h2><%= t ".other_groups.title", :locale => @locale %></h2>
  <p><%= t ".other_groups.about_html", :locale => @locale %></p>
<% end %>
