<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<p class="lead"><%= t ".lede_text" %></p>

<h2><%= t ".local_chapters.title" %></h2>
<p><%= t ".local_chapters.about_text" %></p>
<p><%= t ".local_chapters.list_text" %></p>
<ul>
  <% @local_chapters.each do |chapter| %>
    <li>
      <% if chapter.url %>
        <a href="<%= chapter.url %>"><%= t "osm_community_index.communities.#{chapter.id}.name" %></a>
      <% else %>
        <%= t "osm_community_index.communities.#{chapter.id}.name" %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2><%= t ".other_groups.title" %></h2>
<p><%= t ".other_groups.other_groups_html", :communities_wiki_link => link_to(t(".other_groups.communities_wiki"),
                                                                              t(".other_groups.communities_wiki_url")) %>
