<% content_for :heading do %>
  <% if @locale == "en" %>
    <!-- Maybe ease foreigners back to their native page -->
    <% if t(".legal_babble", :locale => I18n.locale) != t(".legal_babble", :locale => :en) %>
      <h1><%= t ".native.title" %></h1>
      <p>
        <%= t ".native.html",
              :native_link => link_to(t(".native.native_link"),
                                      :controller => "site",
                                      :action => "copyright",
                                      :copyright_locale => nil),
              :mapping_link => link_to(t(".native.mapping_link"),
                                       :controller => "site",
                                       :action => "index") %>
      </p>
      <hr />
    <% end %>
  <% else %>
    <!-- Maybe note that this page has been translated -->
    <% if t(".legal_babble", :locale => @locale) != t(".legal_babble", :locale => :en) %>
      <h1><%= t ".foreign.title" %></h1>
      <p>
        <%= t ".foreign.html",
              :english_original_link => link_to(t(".foreign.english_link"),
                                                :controller => "site",
                                                :action => "copyright",
                                                :copyright_locale => "en") %>
      </p>
      <hr />
    <% end %>
  <% end %>

  <% I18n.with_locale @locale do %>
    <%= tag.h1 :lang => @locale, :dir => t("html.dir") do %>
      <%= t ".title" %>
    <% end %>
  <% end %>
<% end %>

<% I18n.with_locale @locale do %>
  <%= tag.div :lang => @locale, :dir => t("html.dir"), :class => "richtext" do %>
    <p>
      <%= t ".legal_babble.introduction_1_ohm_html",
            :cc0_link => link_to(t(".legal_babble.introduction_1_cc0"),
                                 t(".legal_babble.introduction_1_cc0_url")) %>
    </p>
    <p>
      <%= t ".legal_babble.introduction_2_ohm_html",
            :cc_by_link => link_to(t(".legal_babble.introduction_2_cc_by"),
                                   t(".legal_babble.introduction_2_cc_by_url")),
            :cc_by_sa_link => link_to(t(".legal_babble.introduction_2_cc_by_sa"),
                                      t(".legal_babble.introduction_2_cc_by_sa_url")),
            :license_key_link => link_to(tag.bdi(tag.code("license=*")),
                                         t(".legal_babble.introduction_2_license_key_url")) %>
    </p>
    <p>
      <%= t ".legal_babble.introduction_3_ohm_html" %>
    </p>
    <p>
      <%= t ".legal_babble.introduction_4_ohm_html",
            :creative_commons_link => link_to(t(".legal_babble.introduction_4_creative_commons"),
                                              t(".legal_babble.introduction_4_creative_commons_url")) %>
    </p>

  <h3><%= t ".legal_babble.credit_title_html" %></h3>
  <p><%= t ".legal_babble.credit_1_html" %></p>
  <p>
    <%= t ".legal_babble.credit_2_ohm_html",
          :this_copyright_page_link => link_to(t(".legal_babble.credit_2_this_copyright_page"),
                                               copyright_path),
          :home_link => link_to(t(".legal_babble.credit_2_home"),
                                :controller => "site",
                                :action => "index") %>
  </p>
  <p><%= image_tag("attribution_example.png",
                   :alt => t(".legal_babble.attribution_example.alt"),
                   :class => "img-fluid",
                   :title => t(".legal_babble.attribution_example.title")) %></p>
  <p><%= t ".legal_babble.credit_3_ohm_html" %></p>
  <blockquote>
    <p>
      <%= t ".legal_babble.credit_3_credit_html",
            :project_link => link_to(t(".legal_babble.credit_3_project"),
                                     :controller => "site",
                                     :action => "index") %>
    </p>
  </blockquote>
  <p><%= t ".legal_babble.credit_4_ohm_html" %></p>

  <h3><%= t ".legal_babble.more_title_html" %></h3>
  <p><%= t ".legal_babble.more_1_ohm_html",
            :wiki_link => link_to(t(".legal_babble.more_1_wiki"),
                                  t(".legal_babble.more_1_wiki_url")) %></p>

  <h3><%= t ".legal_babble.contributors_title_html" %></h3>
  <p><%= t ".legal_babble.contributors_intro_html" %></p>
  <ul id="contributors">
    <li><%= t ".legal_babble.contributors_osm_html",
              :osm_link => link_to(t(".legal_babble.contributors_osm"),
                                   "https://www.openstreetmap.org/"),
              :cc_by_sa_link => link_to(t(".legal_babble.contributors_osm_cc_by_sa"),
                                        t(".legal_babble.contributors_osm_cc_by_sa_url")) %></li>
    <li><%= t ".legal_babble.contributors_newberry_ahcb_html",
              :newberry_link => link_to(t(".legal_babble.contributors_newberry"),
                                        "https://www.newberry.org/"),
              :ahcb_link => link_to(tag.cite(t(".legal_babble.contributors_newberry_ahcb")),
                                    "https://publications.newberry.org/ahcb/") %></li>
    <li><%= t ".legal_babble.contributors_anr_communes_html",
              :anr_communes_link => link_to(t(".legal_babble.contributors_anr_communes_project"),
                                            "https://anrcommunes.hypotheses.org/"),
              :campop_link => link_to(t(".legal_babble.contributors_anr_communes_campop"),
                                      t(".legal_babble.contributors_anr_communes_campop_url")) %></li>
    <li><%= t ".legal_babble.contributors_more_sources_html",
              :sources_link => link_to(t(".legal_babble.contributors_more_sources_page"),
                                       t(".legal_babble.contributors_more_sources_page_url")) %></li>
  </ul>
  <p><%= t ".legal_babble.contributors_2_ohm_html" %></p>
  <ul>
    <li><%= t ".legal_babble.contributors_natural_earth_html",
              :natural_earth_link => link_to(tag.cite(t(".legal_babble.contributors_natural_earth")),
                                             "https://www.naturalearthdata.com/") %></li>
    <li><%= t ".legal_babble.contributors_globcover_html",
              :globcover_link => link_to(tag.cite(t(".legal_babble.contributors_globcover")),
                                         "https://due.esrin.esa.int/page_globcover.php") %></li>
    <li><%= t ".legal_babble.contributors_gmted_html",
              :gmted_link => link_to(tag.cite(t(".legal_babble.contributors_gmted")),
                                     "https://pubs.usgs.gov/of/2011/1073/") %></li>
  </ul>
  <p><%= t ".legal_babble.contributors_footer_2_html" %></p>

    <h3><%= t ".legal_babble.infringement_title_html" %></h3>
    <p><%= t ".legal_babble.infringement_1_html" %></p>
    <p>
      <%= t ".legal_babble.infringement_2_ohm_html",
            # Leave the subject untranslated so we know it’s urgent.
            :contact_team_link => mail_to(Settings.support_email,
                                          t(".legal_babble.infringement_2_ohm_contact_team"),
                                          :subject => "TAKEDOWN REQUEST"),
            :subject => tag.q("TAKEDOWN REQUEST", :lang => "en", :dir => "ltr") %>
    </p>

    <h3 id="trademarks">
      <%= t ".legal_babble.trademarks_title" %>
    </h3>
    <p>
      <%= t ".legal_babble.trademarks_1_ohm_html",
            :contact_team_link => mail_to(Settings.support_email,
                                          t(".legal_babble.trademarks_1_ohm_contact_team")) %>
    </p>
  <% end %>
<% end %>
