<% content_for :heading do %>
  <% if @locale == "en" %>
    <!-- Maybe ease foreigners back to their native page -->
    <% if t(".legal_babble", :locale => I18n.locale) != t(".legal_babble", :locale => :en) %>
      <h1><%= t ".native.title" %></h1>
      <p>
        <%= t ".native.html",
              :native_link => link_to(t(".native.native_link"),
                                      :controller => "site",
                                      :action => "copyright",
                                      :copyright_locale => nil),
              :mapping_link => link_to(t(".native.mapping_link"),
                                       :controller => "site",
                                       :action => "index") %>
      </p>
      <hr />
    <% end %>
  <% else %>
    <!-- Maybe note that this page has been translated -->
    <% if t(".legal_babble", :locale => @locale) != t(".legal_babble", :locale => :en) %>
      <h1><%= t ".foreign.title" %></h1>
      <p>
        <%= t ".foreign.html",
              :english_original_link => link_to(t(".foreign.english_link"),
                                                :controller => "site",
                                                :action => "copyright",
                                                :copyright_locale => "en") %>
      </p>
      <hr />
    <% end %>
  <% end %>

  <% I18n.with_locale @locale do %>
    <%= tag.h1 :lang => @locale, :dir => t("html.dir") do %>
      <%= t ".title" %>
    <% end %>
  <% end %>
<% end %>

<% I18n.with_locale @locale do %>
  <%= tag.div :lang => @locale, :dir => t("html.dir") do %>
    <p class="lead">
      <%= legal_babble_paragraph "lead_1" %>
    </p>
    <p class="lead">
      <%= legal_babble_paragraph "lead_2", :links => %w[learn_more_about_osm osm_blog weeklyosm osm_foundation making_donation],
                                           :local_links => { :get_started_mapping => new_user_path,
                                                             :osm_community => communities_path } %>
    </p>
    <h3><%= t ".legal_babble.licensing_title" %></h3>
    <p>
      <%= legal_babble_paragraph "licensing_1", :links => %w[odc_odbl osm_foundation],
                                                :open => tag.em(t(".legal_babble.licensing_1_open")) %>
    </p>
    <p>
      <%= legal_babble_paragraph "licensing_2", :links => %w[legal_code] %>
    </p>
    <p>
      <%= legal_babble_paragraph "licensing_3", :links => %w[creative_commons_license] %>
    </p>
    <p>
      <%= legal_babble_paragraph "licensing_4", :links => %w[osmf_license_page] %>
    </p>

    <h3><%= t ".legal_babble.credit_title_html" %></h3>
    <p>
      <%= legal_babble_paragraph "credit_1" %>
    </p>
    <ul>
      <li><%= t ".legal_babble.credit_2_attribution" %></li>
      <li><%= t ".legal_babble.credit_2_license" %></li>
    </ul>
    <p>
      <%= legal_babble_paragraph "credit_3_v2025", :links => %w[requirements_on_how_displayed attribution_guidelines licensing_requirements] %>
    </p>
    <p>
      <%= legal_babble_paragraph "credit_4_v2025", :local_links => { :this_copyright_page => copyright_path },
                                                   :copyright_page_url => copyright_url %>
    </p>
    <p>
      <%= legal_babble_paragraph "credit_5_v2025" %>
    </p>
    <p><%= image_tag("attribution_example.png",
                     :alt => t(".legal_babble.attribution_example.alt"),
                     :class => "img-fluid",
                     :title => t(".legal_babble.attribution_example.title")) %></p>

    <h3><%= t ".legal_babble.infringement_title_html" %></h3>
    <p>
      <%= legal_babble_paragraph "infringement_1" %>
    </p>
    <p>
      <%= legal_babble_paragraph "infringement_2_1", :links => %w[takedown_procedure online_filing_page] %>
    </p>

    <h3 id="trademarks"><%= t ".legal_babble.trademarks_title" %></h3>
    <p>
      <%= legal_babble_paragraph "trademarks_1_1", :links => %w[trademark_policy] %>
    </p>

    <h3><%= t ".legal_babble.services_title_html" %></h3>
    <p>
      <%= legal_babble_paragraph "services_1", :links => %w[api_usage_policy tile_usage_policy nominatim_usage_policy] %>
    </p>

    <h3><%= t ".legal_babble.contributors_title_html" %></h3>
    <p><%= t ".legal_babble.contributors_intro_html" %></p>
    <ul id="contributors">
      <li>
        <%= t ".legal_babble.contributors_at_credit_html",
              :austria => tag.strong(t(".legal_babble.contributors_at_austria")),
              :stadt_wien_link => link_to(t(".legal_babble.contributors_at_stadt_wien"),
                                          t(".legal_babble.contributors_at_stadt_wien_url")),
              :cc_by_link => link_to(t(".legal_babble.contributors_at_cc_by"),
                                     t(".legal_babble.contributors_at_cc_by_url")),
              :land_vorarlberg_link => link_to(t(".legal_babble.contributors_at_land_vorarlberg"),
                                               t(".legal_babble.contributors_at_land_vorarlberg_url")),
              :cc_by_at_with_amendments_link => link_to(t(".legal_babble.contributors_at_cc_by_at_with_amendments"),
                                                        t(".legal_babble.contributors_at_cc_by_at_with_amendments_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_au_credit_html",
              :australia => tag.strong(t(".legal_babble.contributors_au_australia")),
              :geoscape_australia_link => link_to(t(".legal_babble.contributors_au_geoscape_australia"),
                                                  t(".legal_babble.contributors_au_geoscape_australia_url")),
              :cc_licence_link => link_to(t(".legal_babble.contributors_au_cc_licence"),
                                          t(".legal_babble.contributors_au_cc_licence_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_ca_credit_html",
              :canada => tag.strong(t(".legal_babble.contributors_ca_canada")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_cz_credit_html",
              :czechia => tag.strong(t(".legal_babble.contributors_cz_czechia")),
              :cc_licence_link => link_to(t(".legal_babble.contributors_cz_cc_licence"),
                                          t(".legal_babble.contributors_cz_cc_licence_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_fi_credit_html",
              :finland => tag.strong(t(".legal_babble.contributors_fi_finland")),
              :nlsfi_license_link => link_to(t(".legal_babble.contributors_fi_nlsfi_license"),
                                             t(".legal_babble.contributors_fi_nlsfi_license_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_fr_credit_html",
              :france => tag.strong(t(".legal_babble.contributors_fr_france")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_hr_credit_html",
              :croatia => tag.strong(t(".legal_babble.contributors_hr_croatia")),
              :dgu_link => link_to(t(".legal_babble.contributors_hr_dgu"),
                                   t(".legal_babble.contributors_hr_dgu_url")),
              :open_data_portal => link_to(t(".legal_babble.contributors_hr_open_data_portal"),
                                           t(".legal_babble.contributors_hr_open_data_portal_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_nl_credit_html",
              :netherlands => tag.strong(t(".legal_babble.contributors_nl_netherlands")),
              :and_link => link_to(t(".legal_babble.contributors_nl_and"),
                                   t(".legal_babble.contributors_nl_and_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_nz_credit_html",
              :new_zealand => tag.strong(t(".legal_babble.contributors_nz_new_zealand")),
              :linz_data_service_link => link_to(t(".legal_babble.contributors_nz_linz_data_service"),
                                                 t(".legal_babble.contributors_nz_linz_data_service_url")),
              :cc_by_link => link_to(t(".legal_babble.contributors_nz_cc_by"),
                                     t(".legal_babble.contributors_nz_cc_by_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_rs_credit_html",
              :serbia => tag.strong(t(".legal_babble.contributors_rs_serbia")),
              :rgz_link => link_to(t(".legal_babble.contributors_rs_rgz"),
                                   t(".legal_babble.contributors_rs_rgz_url")),
              :open_data_portal => link_to(t(".legal_babble.contributors_rs_open_data_portal"),
                                           t(".legal_babble.contributors_rs_open_data_portal_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_si_credit_html",
              :slovenia => tag.strong(t(".legal_babble.contributors_si_slovenia")),
              :gu_link => link_to(t(".legal_babble.contributors_si_gu"),
                                  t(".legal_babble.contributors_si_gu_url")),
              :mkgp_link => link_to(t(".legal_babble.contributors_si_mkgp"),
                                    t(".legal_babble.contributors_si_mkgp_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_es_credit_html",
              :spain => tag.strong(t(".legal_babble.contributors_es_spain")),
              :ign_link => link_to(t(".legal_babble.contributors_es_ign"),
                                   t(".legal_babble.contributors_es_ign_url")),
              :scne_link => link_to(t(".legal_babble.contributors_es_scne"),
                                    t(".legal_babble.contributors_es_scne_url")),
              :cc_by_link => link_to(t(".legal_babble.contributors_es_cc_by"),
                                     t(".legal_babble.contributors_es_cc_by_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_za_credit_html",
              :south_africa => tag.strong(t(".legal_babble.contributors_za_south_africa")),
              :ngi_link => link_to(t(".legal_babble.contributors_za_ngi"),
                                   t(".legal_babble.contributors_za_ngi_url")) %>
      </li>
      <li>
        <%= t ".legal_babble.contributors_gb_credit_html",
              :united_kingdom => tag.strong(t(".legal_babble.contributors_gb_united_kingdom")) %>
      </li>
    </ul>
    <p>
      <%= t ".legal_babble.contributors_2_html",
            :contributors_page_link => link_to(t(".legal_babble.contributors_2_contributors_page"),
                                               t(".legal_babble.contributors_2_contributors_page_url")) %>
    </p>
    <p><%= t ".legal_babble.contributors_footer_2_html" %></p>
  <% end %>
<% end %>
