<p id="cc_logo">
  <%= link_to(
          image_tag("cc_button.png",
              :alt => t('layouts.license.alt'),
              :border => 0,
              :width => 88,
              :height => 31,
              :title => t('layouts.license.title')),
          "http://creativecommons.org/licenses/by-sa/2.0/",
          { :rel => "license" }) %>
</p>

<% if I18n.locale == 'en' or params[:copyright_locale] == 'en' %>
  <!-- Maybe ease foreigners back to their native page -->
  <% if t('license_page.legal_babble') != t('license_page.legal_babble', :locale => :en) %>
    <h2><%= t 'license_page.native.title' %></h2>
    <p>
      <%= raw t 'license_page.native.text',
                  :native_link => link_to(t('license_page.native.native_link'),
                                              :controller => 'site',
                                              :action => 'copyright'),
                  :mapping_link => link_to(t('license_page.native.mapping_link'),
                                              :controller => 'site',
                                              :action => 'index') %>
    </p>
    <hr />
  <% end %>

  <%= raw t('license_page.legal_babble', :locale => :en) %>
<% else %>
  <!-- Maybe note that this page has been translated -->
  <% if t('license_page.legal_babble') != t('license_page.legal_babble', :locale => :en) %>
    <h2><%= t 'license_page.foreign.title' %></h2>
    <p>
      <%= raw t 'license_page.foreign.text',
                  :english_original_link => link_to(t('license_page.foreign.english_link'),
                                                        :controller => 'site',
                                                        :action => 'copyright',
                                                        :copyright_locale => 'en') %>
    </p>
    <hr />
  <% end %>

  <%= raw t('license_page.legal_babble') %>
<% end %>
