<% content_for :heading do %>
<% if @locale == 'en' %>
  <!-- Maybe ease foreigners back to their native page -->

    <% if t('license_page.legal_babble', :locale => I18n.locale) != t('license_page.legal_babble', :locale => :en) %>
      <h1><%= t 'license_page.native.title' %></h1>
      <p>
        <%= raw t 'license_page.native.text',
                    :native_link => link_to(t('license_page.native.native_link'),
                                                :controller => 'site',
                                                :action => 'copyright',
                                                :copyright_locale => nil),
                    :mapping_link => link_to(t('license_page.native.mapping_link'),
                                                :controller => 'site',
                                                :action => 'index') %>
      </p>
      <hr />
    <% end %>
  <% else %>
    <!-- Maybe note that this page has been translated -->
    <% if t('license_page.legal_babble', :locale => @locale) != t('license_page.legal_babble', :locale => :en) %>
      <h1><%= t 'license_page.foreign.title' %></h1>
      <p>
        <%= raw t 'license_page.foreign.text',
                    :english_original_link => link_to(t('license_page.foreign.english_link'),
                                                          :controller => 'site',
                                                          :action => 'copyright',
                                                          :copyright_locale => 'en') %>
      </p>
      <hr />
    <% end %>
  <% end %>

  <h1><%= t "license_page.legal_babble.title_html", :locale => @locale %></h1>

<% end %>

<p><%= t "license_page.legal_babble.intro_1_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.intro_2_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.intro_3_html", :locale => @locale %></p>

<h3><%= t "license_page.legal_babble.credit_title_html", :locale => @locale %></h3>
<p><%= t "license_page.legal_babble.credit_1_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.credit_2_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.credit_3_html", :locale => @locale %></p>
<p><%= image_tag("attribution_example.png",
              :alt => t('license_page.legal_babble.attribution_example.alt'),
              :border => 0,
              :title => t('license_page.legal_babble.attribution_example.title')) %>

<h3><%= t "license_page.legal_babble.more_title_html", :locale => @locale %></h3>
<p><%= t "license_page.legal_babble.more_1_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.more_2_html", :locale => @locale %></p>

<h3><%= t "license_page.legal_babble.contributors_title_html", :locale => @locale %></h3>
<p><%= t "license_page.legal_babble.contributors_intro_html", :locale => @locale %></p>
<ul id="contributors">
  <li><%= t "license_page.legal_babble.contributors_at_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_ca_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_fi_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_fr_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_nl_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_nz_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_si_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_za_html", :locale => @locale %></li>
  <li><%= t "license_page.legal_babble.contributors_gb_html", :locale => @locale %></li>
</ul>
<p><%= t "license_page.legal_babble.contributors_footer_1_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.contributors_footer_2_html", :locale => @locale %></p>

<h3><%= t "license_page.legal_babble.infringement_title_html", :locale => @locale %></h3>
<p><%= t "license_page.legal_babble.infringement_1_html", :locale => @locale %></p>
<p><%= t "license_page.legal_babble.infringement_2_html", :locale => @locale %></p>

<h3><%= t "license_page.legal_babble.trademarks_title_html", :locale => @locale %></h3>
<p><%= t "license_page.legal_babble.trademarks_1_html", :locale => @locale %></p>
