<% content_for :heading do %>
  <% if @locale == "en" %>
    <!-- Maybe ease foreigners back to their native page -->
    <% if t(".legal_babble", :locale => I18n.locale) != t(".legal_babble", :locale => :en) %>
      <h1><%= t ".native.title" %></h1>
      <p>
        <%= t ".native.html",
              :native_link => link_to(t(".native.native_link"),
                                      :controller => "site",
                                      :action => "copyright",
                                      :copyright_locale => nil),
              :mapping_link => link_to(t(".native.mapping_link"),
                                       :controller => "site",
                                       :action => "index") %>
      </p>
      <hr />
    <% end %>
  <% else %>
    <!-- Maybe note that this page has been translated -->
    <% if t(".legal_babble", :locale => @locale) != t(".legal_babble", :locale => :en) %>
      <h1><%= t ".foreign.title" %></h1>
      <p>
        <%= t ".foreign.html",
              :english_original_link => link_to(t(".foreign.english_link"),
                                                :controller => "site",
                                                :action => "copyright",
                                                :copyright_locale => "en") %>
      </p>
      <hr />
    <% end %>
  <% end %>

  <% I18n.with_locale @locale do %>
    <%= tag.h1 :lang => @locale, :dir => t("html.dir") do %>
      <%= t ".legal_babble.title_html" %>
    <% end %>
  <% end %>
<% end %>

<% I18n.with_locale @locale do %>
  <%= tag.div :lang => @locale, :dir => t("html.dir") do %>
  <h3><%= t ".legal_babble.credit_title_html", :locale => @locale %></h3>
  <p><%= t ".legal_babble.credit_1_html", :locale => @locale %></p>
  <p><%= t ".legal_babble.credit_2_1_html", :locale => @locale %></p>
  <p><%= image_tag("attribution_example.png",
                   :alt => t(".legal_babble.attribution_example.alt"),
                   :border => 0,
                   :title => t(".legal_babble.attribution_example.title")) %></p>

  <h3><%= t ".legal_babble.more_title_html", :locale => @locale %></h3>
  <p><%= t ".legal_babble.more_1_html", :locale => @locale %></p>

  <h3><%= t ".legal_babble.contributors_title_html", :locale => @locale %></h3>
  <p><%= t ".legal_babble.contributors_intro_html", :locale => @locale %></p>
  <ul id="contributors">
    <li><%= t ".legal_babble.contributors_ned_html", :locale => @locale %></li>  
    <li><%= t ".legal_babble.contributors_newberry_html", :locale => @locale %></li>
    <li><%= t ".legal_babble.contributors_cambridge-anr_html", :locale => @locale %></li>
  </ul>
  <p><%= t ".legal_babble.contributors_footer_1_html", :locale => @locale %></p>
  <p><%= t ".legal_babble.contributors_footer_2_html", :locale => @locale %></p>

    <h3><%= t ".legal_babble.infringement_title_html" %></h3>
    <p><%= t ".legal_babble.infringement_1_html" %></p>

  <% end %>
<% end %>
