<% if STATUS == :database_offline or STATUS == :api_offline %>
<p><%= t 'layouts.osm_offline' %>
</p>
<% elsif STATUS == :database_readonly or STATUS == :api_readonly %>
<p><%= t 'layouts.osm_read_only' %>
</p>
<% elsif !@user.data_public? %>
<p><%= t 'site.edit.not_public' %></p>
<p><%= t 'site.edit.not_public_description', 
:user_page => (link_to t('site.edit.user_page_link'), {:controller => 'user', :action => 'account', :display_name => @user.display_name, :anchor => 'public'}) %></p>
<p><%= t 'site.edit.anon_edits', :link => link_to(t('site.edit.anon_edits_link_text'), t('site.edit.anon_edits_link')) %></p>
<% else %>
<% content_for :greeting do %>
<% if @user and !@user.home_lon.nil? and !@user.home_lat.nil? %>
<%= link_to_function t('layouts.home'), "setPosition(#{@user.home_lat}, #{@user.home_lon}, 10)", { :title => t('layouts.home_tooltip') } %> |
<% end %>
<% end %>

<%= render :partial => 'sidebar', :locals => { :onopen => "resizeMap();", :onclose => "resizeMap();" } %>
<%= render :partial => 'search' %>

<%= render :partial => preferred_editor %>

<script type="text/javascript" defer="defer">
  function resizeContent() {
    var content = $("content");
    var rightMargin = parseInt(getStyle(content, "right"));
    var bottomMargin = parseInt(getStyle(content, "bottom"));

    content.style.width = document.documentElement.clientWidth - content.offsetLeft - rightMargin;
    content.style.height = document.documentElement.clientHeight - content.offsetTop - bottomMargin;
  }
  
  function resizeMap() {
    var sidebar_width = $("sidebar").offsetWidth;

    if (sidebar_width > 0) {
      sidebar_width = sidebar_width + 5
    }

    $("map").style.left = (sidebar_width) + "px";
    $("map").style.width = ($("content").offsetWidth - sidebar_width) + "px";
    $("map").style.height = ($("content").offsetHeight - 2) + "px";
  }

  function handleResize() {
    if (brokenContentSize) {
      resizeContent();
    }

    resizeMap();
  }

  function maximiseMap() {
    $("left").style.display = "none";
    $("greeting").style.display = "none";
    $("tabnav").style.display = "none";

    $("content").style.top = "10px";
    $("content").style.left = "10px";

    handleResize();
  }
  
  function minimiseMap() {
    $("left").style.display = "";
    $("greeting").style.display = "";
    $("tabnav").style.display = "";

    $("content").style.top = "35px";
    $("content").style.left = "192px";

    handleResize();
  }

  handleResize();

  window.onload = handleResize;
  window.onresize = handleResize;
</script>
<% end %>
