<% content_for :head do %>
 <%= javascript_include_tag "fixthemap" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<h3><%= t "layouts.intro_header" %></h3>
<p><%= t "layouts.intro_text" %></p>

<h3><%= t ".how_to_help.title" %></h3>

<div class='container'>
  <div class='row' %>
    <div class='col-sm'>
      <h5><%= t ".how_to_help.join_the_community.title" %></h3>
      <p><%= t ".how_to_help.join_the_community.explanation_html" %></p>
      <p class='text-center'>
        <a class="button sign-up" href="<%= user_new_path %>"><%= t("layouts.start_mapping") %></a>
      </p>
    </div>
    <div class='col-sm'>
      <h5><%= t "site.welcome.add_a_note.title" %></h3>
      <p><%= t "site.welcome.add_a_note.paragraph_1_html" %></p>
      <p><%= t ".how_to_help.add_a_note.instructions_html", :map_url => root_path %></p>
    </div>
  </div>
</div>

<h3><%= t ".other_concerns.title" %></h3>
<p><%= t ".other_concerns.explanation_html" %></p>

<h3><%= t "site.welcome.questions.title" %></h3>
<span class='sprite small term question'></span>
<p><%= t "site.welcome.questions.paragraph_1_html", :help_url => help_path %></p>
