<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<p class='introduction'><%= t ".introduction" %></p>

<% sites = %w[beginners_guide community mailing_lists irc switch2osm welcomemat wiki] %>
<% sites.prepend("welcome") if current_user %>

<div class="row row-cols-sm-3 g-4 mb-3">
  <% sites.each do |site| %>
    <div class="col">
      <div class='<%= site %> help-item card h-100'>
        <h6 class='card-header'>
          <a href='<%= t ".#{site}.url" %>' class='stretched-link'>
            <%= t ".#{site}.title" %>
          </a>
        </h6>
        <div class='card-body'>
          <p class='card-text'><%= t ".#{site}.description" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
