<% content_for :heading do %>
  <h2><%= t "help_page.title" %></h2>
<% end %>

<p class='introduction'><%= t "help_page.introduction" %></p>

<% ['welcome', 'help', 'wiki'].each do |site| %>
  <div class='<%= site %> help-item'>
  <h3>
    <a href='<%= t "help_page.#{site}.url" %>'>
      <%= t "help_page.#{site}.title" %>
    </a>
  </h3>
  <p><%= t "help_page.#{site}.description" %></p>
  </div>
<% end %>