<% content_for :heading do %>
  <h1><%= t "help_page.title" %></h1>
<% end %>

<p class='introduction'><%= t "help_page.introduction" %></p>

<% ['welcome', 'help', 'wiki'].each do |site| %>
  <% unless site == 'welcome' && !@user %>
  <div class='<%= site %> help-item'>
  <h3>
    <a href='<%= t "help_page.#{site}.url" %>'>
      <%= t "help_page.#{site}.title" %>
    </a>
  </h3>
  <p><%= t "help_page.#{site}.description" %></p>
  </div>
  <% end %>
<% end %>
