<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag 'iD' %>
  <!--[if !IE || gte IE 9]><!-->
  <%= javascript_include_tag 'iD' %>
  <!-- <![endif]-->
</head>
<body>
<div id='id-container'></div>
<script>
  if (typeof iD == 'undefined') {
    document.getElementById('id-container').innerHTML = 'This editor is supported ' +
      'in Firefox, Chrome, Safari, Opera, and Internet Explorer 9 and above. ' +
      'Please upgrade your browser or use Potlatch 2 to edit the map.';
    document.getElementById('id-container').className = 'unsupported';
  } else {
    var id = iD()
      .embed(true)
      .imagePath("/assets/iD/img/")<%# Can't use asset_path('id/img/') in production. %>
      .preauth({
        <% token = @user.access_token(ID_KEY) %>
        url: "<%= request.protocol + request.host_with_port %>",
        oauth_consumer_key: "<%= token.client_application.key %>",
        oauth_secret: "<%= token.client_application.secret %>",
        oauth_token: "<%= token.token %>",
        oauth_token_secret: "<%= token.secret %>"
      });

    id.map().on('move.embed', function() {
      var extent = id.map().extent(),
          zoom = ~~id.map().zoom(),
          center = id.map().center();

      parent.updatelinks(
        center[0],
        center[1],
        zoom,
        null,
        extent[0][0],
        extent[0][1],
        extent[1][0],
        extent[1][1]);
    });

    d3.select('#id-container')
      .call(id.ui());
  }
</script>
</body>
</html>
