<% content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>

<% unless STATUS == :api_offline or STATUS == :database_offline -%>
  <% content_for :editmenu do -%>
    <li><%= link_to t("browse.start_rjs.notes_layer_name"), notes_url(:format => :json), :id => "show_notes" %></li>
    <li><%= link_to t("browse.start_rjs.data_layer_name"), { :controller => :browse, :action => :start }, :id => "show_data" %></li>
  <% end -%>
<% end -%>

<% content_for :left_menu do %>
  <li><h4><%= link_to t("site.key.map_key"), {:action => :key}, :id => "open_map_key", :title => t("site.key.map_key_tooltip") %></h4></li>
<% end %>

<%= render :partial => 'home_link' %>
<%= render :partial => 'sidebar' %>
<%= render :partial => 'search' %>

<noscript>
  <div id="noscript">
    <p><%= t 'site.index.js_1' %></p>
    <p><%= t 'site.index.js_2' %></p>
  </div>
</noscript>

<div id="map">
  <div id="permalink">
    <a href="/" id="permalinkanchor" class="geolink llz layers object"><%= t 'site.index.permalink' %></a>
    <a href="/" id="shortlinkanchor"><%= t 'site.index.shortlink' %></a>
    <%= link_to t("site.index.createnote"), notes_url(:format => :json),
        :id => "createnoteanchor",
        :data => { :minzoom => 12 },
        :title => "javascripts.site.createnote_tooltip",
        :class => "geolink"
    %>	
  </div>
</div>

<iframe id="linkloader" style="display: none">
</iframe>

<div id="attribution">
  <table width="100%">
    <tr>
      <td class="attribution_license"><%= t'site.index.license.license_url' %></td>
      <td class="attribution_project"><%= t'site.index.license.project_url' %></td>
    </tr>
    <tr>
      <td colspan="2" class="attribution_notice"><%= t'site.index.license.copyright' %></td>
    </tr>
  </table>
</div>
