<h2>
  <% if !@user %>
    <%= t 'layouts.intro_header' %>
  <% else %>
    <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <% end %>
</h2>

<% if !@user %>
  <p class="inner12 large-text"><%= t 'layouts.intro_text' %></p>

  <div style="text-align: center;">
    <a class="button" href="<%= about_path %>"><%= t('layouts.learn_more') %></a>
    <a class="button" href="<%= user_new_path %>"><%= t('layouts.sign_up') %></a>
  </div>
<% end %>
