<% unless @user %>
  <div class="welcome">
    <h2><%= t 'layouts.intro_header' %></h2>
    <p><%= t 'layouts.intro_text' %></p>
    <a class="button learn-more" href="<%= about_path %>"><%= t('layouts.learn_more') %></a>
    <a class="button sign-up" href="<%= user_new_path %>"><%= t('layouts.sign_up') %></a>
  </div>
<% end %>
