<% content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>

<% content_for :left_menu do %>
  <li><h4><%= link_to t("site.key.map_key"), {:action => :key}, :id => "open_map_key", :title => t("site.key.map_key_tooltip") %></h4></li>
<% end %>

<%= render :partial => 'home_link' %>
<%= render :partial => 'sidebar' %>
<%= render :partial => 'search' %>

<noscript>
  <div id="noscript">
    <p><%= t 'site.index.js_1' %></p>
    <p><%= t 'site.index.js_2' %></p>
  </div>
</noscript>

<div id="map">
  <div id="permalink">
    <a href="/" id="permalinkanchor" class="geolink llz layers object"><%= t 'site.index.permalink' %></a>
    <a href="/" id="shortlinkanchor"><%= t 'site.index.shortlink' %></a>
  </div>
</div>

  <a target='_blank' href='http://www.openstreetmap.org/contributors.html' style='background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAAAwCAMAAACFQszZAAAASFBMVEX///////8AAAC7u7vt7e0AAAAAAACenp4AAAAAAAD5+fkAAAAAAAA8PDyBgYFkZGQRERH09PQAAAD9/f3Q0NAAAAAAAADl5eVHEuEiAAAAGHRSTlMAfT9WbTIrTx8HeAkgQ0tIL3M7fF4+FGf7jOcLAAACLUlEQVRIx+WW23aDIBBFKygGFBHM6P//aWfwGsCIafvUeclKFu7M5XDGr6//FHIUVeWgEmKUP8A0wjEARgHgRPNpNoIFIT7KanT0rOGTVcpO3NA3N97nPKikrhyKJQbbUYWPTzh6Kl5i0oi6SRqRY1QRhML64FZ1EvtjikQgyd3pOM5LqxRo0AzEDf1gL/b+8G38+NuEH82dhLoEx1eLsxN3OmRDjinn7xYY5HZpZGCifMq1SyZ/cAIYH8K6jqWK/Batrd44fJdlPqjaW5QAWcaqTBCqmkQ0dPwwsY2kUN2ZIOdBTw0vHsJ3kLtV2p7NkthCKvNLq+ZmHx4/kp75IHF8nBdFCM2+beghs4XQ410RkNCUcgUpYRUy301gJZUpI5HNY2xkUtprIs/g8vIOIj1K4ecL8W5o4Ggj4bWDJryaPW4I3A99vBvwLxLGtpBEyDFK4dUcBmui7qGRgBnSpKBD0h082UTtI/PvVMJoIw8RPR2z2juo7SOJPWjyQU6qixeb9JLwHC/i2PRi0tAl1lrDJuW1xbT3GIgNPSQlOXjKFiVtBKat95iEWNsXkue0CVu2ZU8Y7UkquYmPpBMOlUbDnKhNSCrTu2onnXFw+lwhyRYziZ9smI10xkHP6RHibyaR9JkxtPP9P+fgDd8EiaTzFwNPesOhdterzup3BtPOF6x9d2Ih1e9fntoLDmmpzuB4Unt1oiZOe+WY7fUJVmdwcuI662zSL3H+KL4Bvxgab1k+DMoAAAAASUVORK5CYII=) no-repeat; background-size:36px 24px;background-position:-48px -24px\0/;width:24px;height:24px;display:block;z-index:1000;bottom:2px;right:2px;position:absolute;'></a>

<iframe id="linkloader" style="display: none">
</iframe>

<div id="attribution">
  <table width="100%">
    <tr>
      <td class="attribution_license"><%= t'site.index.license.license_url' %></td>
      <td class="attribution_project"><%= t'site.index.license.project_url' %></td>
    </tr>
    <tr>
      <td colspan="2" class="attribution_notice"><%= t'site.index.license.copyright' %></td>
    </tr>
  </table>
</div>
