<% content_for :sidebar do %>
  <h2>
    <%= t 'layouts.intro_header' %>
    <span class="icon close"></span>
  </h2>

  <p class="inner22"><%= t 'layouts.intro_text' %></p>

  <div class='footer'>
    <a title="<%= t('layouts.make_a_donation.title') %>" href="http://donate.openstreetmap.org/" class="donate">
      <span class='icon donate'></span>
      <span><%= t('layouts.make_a_donation.text') %></span>
    </a>

    <p class='credits inner22'>
      <%= t 'layouts.partners_html',
            :ucl => link_to(t('layouts.partners_ucl'), "http://www.vr.ucl.ac.uk"),
            :ic => link_to(t('layouts.partners_ic'), "http://www.imperial.ac.uk/"),
            :bytemark => link_to(t('layouts.partners_bytemark'), "http://www.bytemark.co.uk"),
            :partners => link_to(t('layouts.partners_partners'), t('layouts.partners_url')) %>
    </p>
  </div>
<% end %>

<%= render :template => 'layouts/map' %>
