<div id="mapkey">
  <table class="table table-sm table-borderless mapkey-table">
    <% YAML.load_file(Rails.root.join("config/key.yml")).each do |name,data| %>
      <% data.each do |entry| %>
        <tr class="mapkey-table-entry" data-layer="<%= name %>" data-zoom-min="<%= entry["min_zoom"] %>" data-zoom-max="<%= entry["max_zoom"] %>">
          <td class="mapkey-table-key align-middle">
            <%= image_tag "key/#{name}/#{entry['image']}" %>
          </td>
          <td class="mapkey-table-value">
            <% if I18n.t("html.dir") = "rtl" %>
              <%= Array(t(".table.entry.#{entry['name']}")).to_sentence(
                words_connector: '، ',
                two_words_connector: '، ',
                last_word_connector: '، ') %>
            <% end %>
            <% if I18n.t("html.dir") = "ltr" %>
              <%= Array(t(".table.entry.#{entry['name']}")).to_sentence(
                words_connector: ', ',
                two_words_connector: ', ',
                last_word_connector: ', ') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
