<% content_for :heading do %>
  <% I18n.with_locale @locale do %>
    <%= tag.h1 do %>
      <%= t ".page_title_html", :locale => @locale %>
    <% end %>
  <% end %>
<% end %>

<% I18n.with_locale @locale do %>
  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".introduction.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".introduction.1_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %>
      <%= t ".introduction.2_1_html" %>
    <% end %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".introduction.3_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".why.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".why.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".why.2_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".why.2_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".why.2_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".why.2_3_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".why.2_4_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".why.2_5_html" %><% end %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".what.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".what.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".what.2_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".what.2_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".what.2_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".what.2_3_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".what.2_4_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".what.2_5_html" %><% end %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".who.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".who.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".who.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".who.3_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".where.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".where.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".where.2_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".where.2_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".where.2_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".where.2_3_html" %><% end %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".how.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".how.1_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".how.1_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".how.1_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".how.1_3_html" %><% end %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".how.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".how.3_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".right_to_object.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".right_to_object.1_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".details.title_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".trace_data.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".trace_data.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".trace_data.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".trace_data.3_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".map_data.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".map_data.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".map_data.2_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".home_location.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".home_location.1_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".email.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".email.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".email.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".email.3_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".gravatar.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".gravatar.1_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".voluntarily.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".voluntarily.1_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.3_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.4_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.5_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".automatically.5_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".automatically.5_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t ".automatically.5_3_html" %><% end %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.6_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.7_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.8_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".automatically.9_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".account_removal.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".account_removal.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".account_removal.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".account_removal.3_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".account_removal.4_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".account_removal.5_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".cookies.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".cookies.1_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".contact.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".contact.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t ".contact.2_html" %>
  <% end %>

<% end %>

</div>
