<% content_for :heading do %>
  <% I18n.with_locale @locale do %>
    <%= tag.h1 do %>
      Privacy Policy
    <% end %>
  <% end %>
<% end %>

<% I18n.with_locale @locale do %>
  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.introduction.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.introduction.1_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %>
      <%= t "site.ohm_privacy.introduction.2_1_html" %>
    <% end %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.introduction.3_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.why.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.why.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.why.2_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.why.2_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.why.2_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.why.2_3_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.why.2_4_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.why.2_5_html" %><% end %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.what.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.what.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.what.2_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.what.2_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.what.2_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.what.2_3_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.what.2_4_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.what.2_5_html" %><% end %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.who.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.who.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.who.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.who.3_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.where.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.where.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.where.2_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.where.2_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.where.2_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.where.2_3_html" %><% end %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.how.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.how.1_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.how.1_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.how.1_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.how.1_3_html" %><% end %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.how.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.how.3_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.right_to_object.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.right_to_object.1_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.details.title_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.trace_data.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.trace_data.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.trace_data.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.trace_data.3_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.map_data.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.map_data.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.map_data.2_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.home_location.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.home_location.1_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.email.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.email.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.email.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.email.3_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.gravatar.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.gravatar.1_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.voluntarily.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.voluntarily.1_html" %>
  <% end %>

  <%= tag.h4 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.3_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.4_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.5_html" %>
  <% end %>
  <%= tag.ul :lang => @locale, :dir => t("html.dir") do %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.automatically.5_1_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.automatically.5_2_html" %><% end %>
    <%= tag.li :lang => @locale, :dir => t("html.dir") do %><%= t "site.ohm_privacy.automatically.5_3_html" %><% end %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.6_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.7_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.8_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.automatically.9_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.account_removal.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.account_removal.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.account_removal.2_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.account_removal.3_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.account_removal.4_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.account_removal.5_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.cookies.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.cookies.1_html" %>
  <% end %>

  <%= tag.h3 :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.contact.title_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.contact.1_html" %>
  <% end %>
  <%= tag.p :lang => @locale, :dir => t("html.dir") do %>
    <%= t "site.ohm_privacy.contact.2_html" %>
  <% end %>

<% end %>

</div>
