<% set_title(t("site.tileinfo.title")) %>

<h2>
  <a class="geolink" href="<%= root_path %>"><span class="icon close"></span></a>
  <%= t("site.tileinfo.title") %>
</h2>

<div class="tileinfo-section">
  <h3><%= t("site.tileinfo.url") %></h3>
  <a href="#" id="tileinfo-url"></a>
</div>

<div class="tileinfo-section">
  <h3><%= t("site.tileinfo.coordinates") %></h3>
  <table>
    <tr><th>Z</th><td id="tileinfo-z"></td></tr>
    <tr><th>X</th><td id="tileinfo-x"></td></tr>
    <tr><th>Y</th><td id="tileinfo-y"></td></tr>
  </table>
</div>

<div class="tileinfo-section" id="tileinfo-status">
  <h3><%= t("site.tileinfo.status") %></h3>
  <table>
    <tr><th><%= t("site.tileinfo.state") %></th><td id="tileinfo-state"></td></tr>
    <tr><th><%= t("site.tileinfo.last_rendered") %></th><td id="tileinfo-rendered"></td></tr>
    <tr><th><%= t("site.tileinfo.last_accessed") %></th><td id="tileinfo-accessed"></td></tr>
  </table>
</div>
