<% content_for :head do %>
  <%= javascript_include_tag "welcome" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<p class="lead"><%= t ".introduction_html" %></p>

<h2><%= t ".whats_on_the_map.title" %></h2>

<div class='row'>
  <div class='col'>
    <div>
      <span class='sprite small check mx-auto'></span>
    </div>
    <p><%= t ".whats_on_the_map.on_html" %></p>
  </div>
  <div class='col'>
    <div class='center'>
      <span class='sprite small x mx-auto'></span>
    </div>
    <p><%= t ".whats_on_the_map.off_html" %></p>
  </div>
</div>

<h2><%= t ".basic_terms.title" %></h2>

<p><%= t ".basic_terms.paragraph_1_html" %></p>

<div class='clearfix'>
  <div class='clearfix'>
    <span class='sprite small term editor float-start'></span>
    <p><%= t ".basic_terms.editor_html" %></p>
  </div>
  <div class='clearfix'>
    <span class='sprite small term node float-start'></span>
    <p><%= t ".basic_terms.node_html" %></p>
  </div>
  <div class='clearfix'>
    <span class='sprite small term way float-start'></span>
    <p><%= t ".basic_terms.way_html" %></p>
  </div>
  <div class='clearfix'>
    <span class='sprite small term tag float-start'></span>
    <p><%= t ".basic_terms.tag_html" %></p>
  </div>
</div>

<div class='clearfix'>
  <h2><%= t ".rules.title" %></h2>
  <span class='sprite small term rules float-start'></span>
  <p><%= t ".rules.paragraph_1_html" %></p>
</div>

<div class='clearfix'>
  <h2><%= t ".questions.title" %></h2>
  <span class='sprite small term question float-start'></span>
  <p><%= t ".questions.paragraph_1_html", :help_url => help_path %></p>
</div>

<div class='clearfix text-center'>
  <p class="display-5"><a href="<%= edit_path %>" class="button start-mapping"><%= t ".start_mapping" %></a></p>
</div>

<div class='alert alert-primary'>
  <h2><%= t ".add_a_note.title" %></h2>
  <p><%= t ".add_a_note.paragraph_1_html" %></p>
  <p><%= t ".add_a_note.paragraph_2_html", :map_url => root_path %></p>
</div>
