<% content_for :head do %>
  <%= javascript_include_tag "welcome" %>
<% end %>

<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<p><%= t ".introduction_html" %></p>

<h3><%= t ".whats_on_the_map.title" %></h3>

<div class=' clearfix'>
  <div class='col6 inner11'>
    <div class='center clearfix inner11'>
      <span class='sprite small check'></span>
    </div>
    <p><%= t ".whats_on_the_map.on_html" %></p>
  </div>
  <div class='col6 inner11'>
    <div class='center clearfix inner11'>
      <span class='sprite small x'></span>
    </div>
    <p><%= t ".whats_on_the_map.off_html" %></p>
  </div>
</div>

<h3><%= t ".basic_terms.title" %></h3>

<p><%= t ".basic_terms.paragraph_1_html" %></p>

<div class='col12 clearfix icon-list'>
  <div class='clearfix'>
    <span class='sprite small term editor'></span>
    <p><%= t ".basic_terms.editor_html" %></p>
  </div>
  <div class='clearfix'>
    <span class='sprite small term node'></span>
    <p><%= t ".basic_terms.node_html" %></p>
  </div>
  <div class='clearfix'>
    <span class='sprite small term way'></span>
    <p><%= t ".basic_terms.way_html" %></p>
  </div>
  <div class='clearfix'>
    <span class='sprite small term tag'></span>
    <p><%= t ".basic_terms.tag_html" %></p>
  </div>
</div>

<div class='col12 clearfix icon-list'>
  <h3><%= t ".rules.title" %></h3>
  <span class='sprite small term rules'></span>
  <p><%= t ".rules.paragraph_1_html" %></p>
</div>

<div class='col12 clearfix icon-list'>
  <h3><%= t ".questions.title" %></h3>
  <span class='sprite small term question'></span>
  <p><%= t ".questions.paragraph_1_html", :help_url => help_path %></p>
</div>

<div class='clearfix center'>
  <a href="<%= edit_path %>" class="button start-mapping"><%= t ".start_mapping" %></a>
</div>

<div class='note-box'>
  <div class='inner22'>
    <h3><%= t ".add_a_note.title" %></h3>
    <p><%= t ".add_a_note.paragraph_1_html" %></p>
    <p><%= t ".add_a_note.paragraph_2_html", :map_url => root_path %></p>
  </div>
</div>
