<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
<% end %>

<% if @applications.length > 0 %>
  <table class="table table-borderless table-striped">
    <thead>
      <th><%= t ".application" %></th>
      <th><%= t ".permissions" %></th>
      <th></th>
    </thead>
    <tbody>
      <%= render :partial => "application", :collection => @applications %>
    </tbody>
  </table>
<% else %>
  <p><%= t ".no_applications_html", :oauth2 => link_to(t(".oauth_2"), "https://oauth.net/2/") %></p>
<% end %>
