<table class="change-details-table">
<tr>
  <th scope="row">Object</th>
  <td><a href="abc" class="<%- classForChange(change.el_type, change.tags) %>"><%- change.el_id %></a></td>
</tr>

<tr>
  <th scope="row">Action</th>
  <td>
    <% if (change.el_action == 'CREATE') { %>
    created
    <% } else if (change.el_action == 'DELETE') { %>
    deleted
    <% } else if (change.el_action == 'MODIFY') { %>
      <% if (change.geom_changed || change.nodes_changed) { %>moved<br><% } %>
      <% if (change.tags_changed) { %>changed tags<% } %>
    <% } %>
  </td>
</tr>

<tr>
  <th scope="row">Timestamp</th>
  <td><span class="change-popup-tstamp"><%- change.tstamp %></span></td>
</tr>

<tr>
  <th scope="row">Tags</th>
  <td>

<table>
<% $.each(change.diffTags.added, function (k, v) { %>
  <tr class="tag-diff-added"><td class="tag-name"><%- k %> = <%- v %></td></tr>
<% }); %>

<% $.each(change.diffTags.removed, function (k, v) { %>
  <tr class="tag-diff-removed"><td class="tag-name"><%- k %> = <%- v %></td></tr>
<% }); %>

<% $.each(change.diffTags.modified, function (k, v) { %>
  <tr class="tag-diff-modified"><td class="tag-name"><%- k %> = <span style="font-weight: bold; color: green;"><%- v[0] %></span>
  (was: <span style="font-weight: bold; color: red;"><%- v[1] %></span>)</td></tr>
<% }); %>

<% $.each(change.diffTags.same, function (k, v) { %>
  <tr class="tag-diff-same"><td class="tag-name"><%- k %> = <%- v %></td></tr>
<% }); %>
  </td>
</tr>
</table>
  </td>
</tr>
</table>
