<div id="history-sidebar">
  <ul>
    <% $.each(changesets, function (index, changeset) { %>
      <li class="changeset-item" data-changeset-id="<%- changeset.id %>">
        <% if (typeof changeset.tags['comment'] != 'undefined') { %>
          <a class="changeset-comment"><%- changeset.tags['comment'] %></a>
        <% } else { %>
          <a class="changeset-comment empty-comment">(no comment)</a>
        <% } %>

        <div>
        <%
        $.each(changeset.changes, function (index, change) {
          if (!hasIcon(change.tags)) { return; }
        %>
        <a href="abc" class="<%- classForChange(change.el_type, change.tags) %>"></a>
        <% }); %>
        </div>

        <div class="changeset-metadata">
          <div class="metadata-left">
            <%- changeset.created_at.replace('T', ' ').replace('Z', '') %>
            <a href="/user/<%- changeset.user_name %>"><%- changeset.user_name %></a>
          </div>
          <div class="changeset-id"><a href="/browse/changeset/<%- changeset.id %>">#<%- changeset.id %></a></div>
        </div>
        <br style="clear:both" />
      </li>
      <hr style="margin: 0; padding: 0">
    <% }); %>
  </ul>
  <div id="history-sidebar-footer">
    <a href="" class="rsssmall feed_link">
      <img alt="RSS" border="0" height="16" src="/assets/RSS.gif" width="16">
    </a>
    <a class="more_link" href="">&raquo;</a>
  </div>
</div>
