<% content_for :heading do %>
  <h1>
    <%= "#{@community.name} " + t(".members") %>
  </h1>
<% end %>

<h2>
  <%= t(".all_members") %>
</h2>
<div class='members'>
  <ul class="list-group">
    <% @memberships.each do |membership| %>
      <li class="list-group-item">
        <div class="row align-items-center justify-content-start">
          <div class="col-2">
            <%= user_image(membership.user) %>
          </div>
          <div class="col-3">
            <%= membership.role %> <%= membership.user.display_name %>
          </div>
        </div>
        <% if current_user and @community.organizer?(current_user) %>
          <div class="col-1">
            <%= bootstrap_form_for membership, :method => :get, :url => edit_community_member_path(membership) do |form| %>
              <%= form.primary t(".edit") %>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
