<%= stylesheet_link_tag "microcosms" %>
<%= javascript_include_tag "microcosms" %>

<%= bootstrap_form_for @microcosm do |form| %>
  <%= form.text_field :name, :id => :microcosm_name %>
  <%= form.text_field :location, :id => :microcosm_location %>
  <div class="row">
    <%= form.text_field :latitude, :wrapper_class => "col-sm-6", :id => :microcosm_latitude %>
    <%= form.text_field :longitude, :wrapper_class => "col-sm-6", :id => :microcosm_longitude %>
  </div>
  <div class="microcosm_set_location">
    <div id="microcosm_map_form" class="content_map">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <%= form.text_field :max_lat, :wrapper_class => "col-sm-4", :id => :microcosm_max_lat %>
  </div>
  <div class="row">
    <%= form.text_field :min_lon, :wrapper_class => "col-sm-4", :id => :microcosm_min_lon %>
    <div class="col-sm-4"></div>
    <%= form.text_field :max_lon, :wrapper_class => "col-sm-4", :id => :microcosm_max_lon %>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <%= form.text_field :min_lat, :wrapper_class => "col-sm-4", :id => :microcosm_min_lat %>
  </div>
  <%= form.text_area :description, :id => :microcosm_description %>
  <%= form.primary %>
<% end %>
