<p>
  All fields are required.
</p>
<%= form_for @microcosm do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :id => :microcosm_name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, :id => :microcosm_location %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, :id => :microcosm_latitude %> (decimal)
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, :id => :microcosm_longitude %> (decimal)
  </div>

  <!-- TODO: Suggest here to users how to get the bounding box easily. -->

  <div class="field">
    <%= form.label :min_lat %>
    <%= form.text_field :min_lat, :id => :microcosm_min_lat %> (decimal)
  </div>

  <div class="field">
    <%= form.label :max_lat %>
    <%= form.text_field :max_lat, :id => :microcosm_max_lat %> (decimal)
  </div>

  <div class="field">
    <%= form.label :min_lon %>
    <%= form.text_field :min_lon, :id => :microcosm_min_lon %> (decimal)
  </div>

  <div class="field">
    <%= form.label :max_lon %>
    <%= form.text_field :max_lon, :id => :microcosm_max_lon %> (decimal)
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, :id => :microcosm_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
