<%= stylesheet_link_tag "microcosms" %>
<%= javascript_include_tag "microcosms" %>

<p>
  All fields are required.
</p>
<%= bootstrap_form_for @microcosm do |form| %>
  <%= form.text_field :name, :id => :microcosm_name %>
  <%= form.text_field :location, :help => "for example city name and country", :id => :microcosm_location %>
  <div class="row">
    <%= form.text_field :latitude, :help => "decimal", :wrapper_class => "col-sm-6", :id => :microcosm_latitude %>
    <%= form.text_field :longitude, :help => "decimal", :wrapper_class => "col-sm-6", :id => :microcosm_longitude %>
  </div>
  <div class="microcosm_set_location">
    <div id="microcosm_map_form">
    </div>
  </div>
  <!-- TODO: Suggest here to users how to get the bounding box easily. -->
  <div class="row">
    <div class="col-sm-4"></div>
    <%= form.text_field :max_lat, :help => "decimal", :wrapper_class => "col-sm-4", :id => :microcosm_max_lat %>
  </div>
  <div class="row">
    <%= form.text_field :min_lon, :help => "decimal", :wrapper_class => "col-sm-4", :id => :microcosm_min_lon %>
    <div class="col-sm-4"></div>
    <%= form.text_field :max_lon, :help => "decimal", :wrapper_class => "col-sm-4", :id => :microcosm_max_lon %>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <%= form.text_field :min_lat, :help => "decimal", :wrapper_class => "col-sm-4", :id => :microcosm_min_lat %>
  </div>
  <%= form.text_area :description, :id => :microcosm_description %>
  <%= form.primary %>
<% end %>
