<% content_for :heading do %>
  <h1><%= t(".title") %></h1>
  <nav class="secondary-actions">
    <ul class='clearfix'>
      <li><%= link_to image_tag("new.png", :class => "small_icon", :border => 0) + t(".new"), new_microcosm_path, :title => t(".new_title") %></li>
    </ul>
  </nav>
<% end %>

<% if @microcosms_organized %>
  <%= render :partial => "index_list", :locals => { :microcosms => @microcosms_organized, :header => t(".microcosms_organized") } %>
<% end %>

<p>
  <%= t(".sorted_by") %>
</p>

<%= render :partial => "index_list", :locals => { :microcosms => @all_microcosms, :header => t(".all") } %>
