<% content_for :heading do %>
  <h1><%= "All Microcosms" %></h1>
  <ul class='secondary-actions clearfix'>
    <% if current_user&.administrator? %>
      <li><%= link_to image_tag("new.png", :class => "small_icon", :border => 0) + t(".new"), new_microcosm_path, :title => t(".new_title") %></li>
    <% end %>
  </ul>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @microcosms.each do |microcosm| %>
      <tr>
        <td><%= microcosm.name %></td>
        <td><%= microcosm.location %></td>
        <td><%= link_to 'Show', microcosm %><% if current_user&.administrator? %> <%= link_to 'Edit', edit_microcosm_path(microcosm) %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
