<% content_for :heading do %>
  <h1><%= t(".all") %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to image_tag("new.png", :class => "small_icon", :border => 0) + t(".new"), new_microcosm_path, :title => t(".new_title") %></li>
  </ul>
<% end %>

<p>
  <%= t(".sorted_by") %>
</p>

<table class="table table-borderless table-striped">
  <tbody>
    <% @microcosms.each do |microcosm| %>
      <tr>
        <td>
          <h3><%= link_to microcosm.name, microcosm %></h3>
          <div class="d-flex flex-row justify-content-between">
            <div class="d-flex">
              <%= microcosm.location %>
            </div>
            <div class="d-flex">
              (<%= number_with_precision(microcosm.latitude) %>°, <%= number_with_precision(microcosm.longitude) %>°)
            </div>
          </div>
          <p>
            <%= microcosm.description %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
