<% content_for :heading do %>
  <h1><%= t(".all") %></h1>
  <ul class='secondary-actions clearfix'>
    <li><%= link_to image_tag("new.png", :class => "small_icon", :border => 0) + t(".new"), new_microcosm_path, :title => t(".new_title") %></li>
  </ul>
<% end %>

<p>
  Ordered by <%= t(".longitude") %>.
</p>

<table class="table table-borderless table-striped">
  <thead>
    <tr>
      <th><%= t(".name") %></th>
      <th><%= t(".location") %></th>
      <th><%= t(".latitude") %></th>
      <th><%= t(".longitude") %></th>
      <th><%= t(".description") %></th>
    </tr>
  </thead>

  <tbody>
    <% @microcosms.each do |microcosm| %>
      <tr>
        <td><%= link_to microcosm.name, microcosm %></td>
        <td><%= microcosm.location %></td>
        <td><%= microcosm.latitude %></td>
        <td><%= microcosm.longitude %></td>
        <td><%= microcosm.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
