<%= stylesheet_link_tag "microcosms" %>

<% content_for :heading do %>
  <h1><%= @microcosm.name + " " + t(".header_title") %></h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= map(:container_id => "microcosm_map",
              :center => {
                :latlng => [@microcosm.latitude, @microcosm.longitude],
                :zoom => 11
              }) %>
    </div>
    <div class="col-sm mic_details">
      <h1>
        <%= link_to @microcosm.name, @microcosm %>
      </h1>
      <p>
        <%= @microcosm.location %>, <%= @microcosm.latitude %>, <%= @microcosm.longitude %>
      </p>
      <p>
        <%= auto_link @microcosm.description %>
      </p>
      <div>
        <label><%= t(".share") %></label>
        <ul>
          <% @microcosm.microcosm_links.each do |link| %>
            <li>
              <a href="<%= link.url %>"><%= link.site %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div>
        <label><%= t(".organizers") %></label>
        <ul>
          <% @microcosm.organizers.each do |membership| %>
            <li>
              <%= link_to membership.user.display_name, user_path(membership.user) %>
            </li>
          <% end %>
        </ul>
      </div>

      <% if ! current_user || ! @microcosm.has_member?(current_user) %>
        <%= form_with :scope => :microcosm_member, :url => microcosm_member_index_path do |form| %>
          <%= form.hidden_field(:microcosm_id, :value => @microcosm.id) %>
          <%= form.hidden_field(:user_id, :value => current_user&.id) %>
          <%= form.submit :value => t(".join.action") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>
        <%= link_to t(".upcoming_events"), events_of_microcosm_path(@microcosm) %>
      </h2>
      <ul>
        <% @microcosm.events.each do |event| %>
          <li>
            <%= l(event.moment, :format => "%e %B") + " - " %> <%= link_to(event.title, event_path(event)) %>
          </li>
        <% end %>
      </ul>
      <h2>
        <%= t(".recent_changes") %>
      </h2>
      <ul>
        <% recent_changesets.each do |changeset| %>
          <li>
            <%= changeset_details(changeset) %>
            &middot;
            <%= changeset.tags["comment"].to_s.presence || t("browse.no_comment") %>
            &middot;
            <%= link_to("#" + changeset.id.to_s, changeset_path(changeset)) %>
          </li>
        <% end %>
      </ul>
      <h2>
        <%= t(".diary_entries") %>
      </h2>
      <ul>
        <% @microcosm.users.each do |user| %>
          <% user.diary_entries.each do |entry| %>
            <li>
              <%= l(entry.created_at, :format => :blog) %> <%= link_to user.display_name, user_path(user) %> <%= link_to(entry.title, diary_entry_path(entry.user, entry)) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm">
      <h2>
        <%= link_to t(".members"), members_of_microcosm_path(@microcosm) %>
      </h2>
      <div>
        <% @microcosm.microcosm_members.each do |membership| %>
          <%= user_card(membership.user).html_safe %>
        <% end %>
      </div>
    </div>
  </div>
</div>
