<% content_for :heading do %>
  <h1><%= "Microcosm" %></h1>
<% end %>

<h1>
  <%= link_to @microcosm.name, @microcosm %>
</h1>
<p>
  <%= auto_link @microcosm.description %>
</p>
<p>
  <%= @microcosm.location %>
</p>
<label>Share</label>
<ul>
  <% @microcosm.microcosm_links.each do |link| %>
    <li>
        <a href="<%= link.url %>"><%= link.site %></a>
    </li>
  <% end %>
</ul>
