<% content_for :heading do %>
  <h1>
    <%= @microcosm.name + " " + t(".members") %>
  </h1>
<% end %>
<h2>
  <%= t(".members") %>
</h2>
<div class='members'>
  <ul>
    <% @microcosm.microcosm_members.each do |membership| %>
      <li>
        <%= membership.role %> <%= membership.user.display_name %>
        <% if current_user and (current_user.administrator? or @microcosm.organizer?(current_user)) %>
          <%= link_to t(".edit"), edit_microcosm_member_path(membership) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
