<%= stylesheet_link_tag "microcosms" %>

<% content_for :heading do %>
  <h1><%= t(".header_title") %></h1>
<% end %>

<div class="flex_row">
  <div>
    <%= map(:container_id => 'microcosm_map',
            :center => {
                :latlng => [@microcosm.lat, @microcosm.lon],
                :zoom => 11
            }) %>
  </div>
  <div class="mic_details">
    <h1>
      <%= link_to @microcosm.name, @microcosm %>
    </h1>
    <p>
      <%= @microcosm.location %>, <%= @microcosm.lat %>, <%= @microcosm.lon %>
    </p>
    <p>
      <%= auto_link @microcosm.description %>
    </p>
    <div>
      <label><%= t(".share") %></label>
      <ul>
        <% @microcosm.microcosm_links.each do |link| %>
          <li>
            <a href="<%= link.url %>"><%= link.site %></a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
