<%= stylesheet_link_tag "microcosms" %>

<% content_for :heading do %>
  <h1>
    <%= @microcosm.name + " " + t(".members") %>
  </h1>
<% end %>

<% @roles.each do |role| %>
  <h2>
    <%= t(".#{role}") %>
  </h2>
  <div class="<%= role %>">
    <ul>
      <% @microcosm.microcosm_members.send(role).each do |membership| %>
        <li>
          <%= user_image(membership.user) %>
          <%= membership.user.display_name %>
          <% if current_user and @microcosm.organizer?(current_user) %>
            <%= button_to t(".edit"), edit_microcosm_member_path(membership), :method => :get %>
            <%= button_to t(".remove"), membership, :method => :delete %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
