<%= stylesheet_link_tag "microcosms" %>
<%= javascript_include_tag "microcosms" %>

<% content_for :heading do %>
  <h1><%= @microcosm.name + " " + t(".header_title") %></h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%= content_tag "div", "", :id => "microcosm_map", :data => { :lat => @microcosm.latitude, :lon => @microcosm.longitude, :zoom => 11 } %>
    </div>
    <div class="col-sm mic_details">
      <h1>
        <%= link_to @microcosm.name, @microcosm %>
      </h1>
      <p>
        <%= @microcosm.location %>, <%= @microcosm.latitude %>, <%= @microcosm.longitude %>
      </p>
      <p>
        <%= auto_link @microcosm.description %>
      </p>
      <div>
        <label><%= t(".share") %></label>
        <ul>
          <% @microcosm.microcosm_links.each do |link| %>
            <li>
              <a href="<%= link.url %>"><%= link.site %></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>
        <%= t(".recent_changes") %>
      </h2>
      <ul>
        <% recent_changesets.each do |changeset| %>
          <li>
            <%= changeset_details(changeset) %>
            &middot;
            <%= changeset.tags["comment"].to_s.presence || t("browse.no_comment") %>
            &middot;
            <%= link_to("#" + changeset.id.to_s, changeset_path(changeset)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
