<%= stylesheet_link_tag "microcosms" %>
<%= javascript_include_tag "microcosms" %>

<% content_for :heading do %>
  <h1>
    <%= "#{@microcosm.name} " + t(".header_title") %>
  </h1>
  <% if current_user %>
    <%= report_link(t(".report"), @microcosm) %>
    <% if @microcosm.organizer?(current_user) %>
      <%= link_to t(".edit"), edit_microcosm_path %>
    <% end %>
  <% end %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <%# TODO: replace these attributes @map_coords %>
      <%= tag.div :id => "microcosm_map", :data => { :lat => @microcosm.latitude, :lon => @microcosm.longitude, :zoom => 11 } %>
    </div>
    <div class="col-sm mic_details">
      <h1>
        <%= link_to @microcosm.name, @microcosm %>
      </h1>
      <p>
        <%= @microcosm.location %> (<%= number_with_precision(@microcosm.latitude) %>°, <%= number_with_precision(@microcosm.longitude) %>°)
      </p>
      <p>
        <%= auto_link @microcosm.description %>
      </p>
      <div>
        <label><%= t(".share") %></label>
        <ul>
          <% @microcosm.microcosm_links.each do |link| %>
            <li>
              <a href="<%= link.url %>"><%= link.site %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div>
        <label><%= t(".organizers") %></label>
        <ul>
          <% @microcosm.organizers.each do |membership| %>
            <li>
              <%= link_to membership.user.display_name, user_path(membership.user) %>
            </li>
          <% end %>
        </ul>
        <% if @microcosm.organizers.empty? %>
          <%= link_to "Step up", step_up_path, :method => :post %>
        <% end %>
      </div>

      <% if ! current_user %>
        <div>
          <%# Just a link here.  application_controller will redirect to login.  That will be posted. %>
          <%= link_to t(".join.action"), login_to_join_path(:microcosm_member => { :microcosm_id => @microcosm.id }), :class => "btn btn-primary btn-sm" %>
        </div>
      <% elsif ! @microcosm.member?(current_user) %>
        <%= form_with :scope => :microcosm_member, :url => microcosm_members_path, :local => true do |form| %>
          <%= form.hidden_field(:microcosm_id, :value => @microcosm.id) %>
          <%= form.hidden_field(:user_id, :value => current_user.id) %>
          <%= form.submit :value => t(".join.action"), :class => "btn btn-primary btn-sm" %>
        <% end %>
      <% else %>
        <%= form_with :model => @my_membership, :local => true, :method => :delete do |form| %>
          <%= form.submit :value => t(".leave.action"), :class => "btn btn-primary btn-sm", :data => { :confirm => t(".leave.confirm", :name => @microcosm.name) } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h2>
        <%= link_to t(".events"), events_of_microcosm_path(@microcosm) %>
      </h2>
      <ul>
        <% @microcosm.events.future.each do |event| %>
          <li>
            <%= l(event.moment, :format => "%e %B") %> - <%= link_to(event.title, event_path(event)) %>
          </li>
        <% end %>
      </ul>
      <h2>
        <%= t(".recent_changes") %>
      </h2>
      <ul>
        <% recent_changesets.each do |changeset| %>
          <li>
            <%= changeset_details(changeset) %>
            &middot;
            <%= changeset.tags["comment"].to_s.presence || t("browse.no_comment") %>
            &middot;
            <%= link_to("##{changeset.id}", changeset_path(changeset)) %>
            <% if changeset.tags["review_requested"] == "yes" %>
              <%= t(".review_requested") %>
            <% end %>
          </li>
        <% end %>
      </ul>
      <h2>
        <%= t(".diary_entries") %>
      </h2>
      <ul>
        <% @microcosm.users.each do |user| %>
          <% user.diary_entries.each do |entry| %>
            <li>
              <%= l(entry.created_at, :format => :blog) %> <%= link_to user.display_name, user_path(user) %> <%= link_to(entry.title, diary_entry_path(entry.user, entry)) %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-sm">
      <h2>
        <%= link_to t(".members"), members_of_microcosm_path(@microcosm) %>
      </h2>
      <div>
        <% @microcosm.microcosm_members.each do |membership| %>
          <%= user_card(membership.user) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
