<% content_for :heading do %>
  <h1><%= "Microcosm" %></h1>
<% end %>

<style>
  .mic_row { display: flex }
  .mic_row > div { padding: 10px; }
  .mic_details h1 { margin-top: 0; }
  .mic_details label { font-weight: bold; }
  .mic_details ul { display: inline-block; }
  .mic_details ul > li { display: inline-block; }
  .new_link { font-size: 80%; }
  .members > a
  {
    display: block;
    width: 8em;
    height: 8em;
    border: 1px solid #888;
    border-radius: 4px;
    float: left;
    margin: 1em;
    padding: 1em;
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
    text-decoration: none;
  }
</style>

<div class="mic_row">
  <div>
    <%= image_tag("microcosm_dc.png", size: "400x300") %>
  </div>
  <div class="mic_details">
    <h1>
      <%= link_to @microcosm.name, @microcosm %>
    </h1>
    <p>
      <%= @microcosm.location %>, <%= @microcosm.lat %>, <%= @microcosm.lon %>
    </p>
    <p>
      <%= auto_link @microcosm.description %>
    </p>
    <div>
      <label>Share</label>
      <ul>
        <% @microcosm.microcosm_links.each do |link| %>
          <li>
            <a href="<%= link.url %>"><%= link.site %></a>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <label>Organizers</label>
      <ul>
        <% @microcosm.microcosm_members.each do |membership| %>
          <li>
            <%= link_to membership.user.display_name, user_path(membership.user) %>
          </li>
        <% end %>
      </ul>
    </div>

    <% if current_user %>
      <%= form_with scope: :microcosm_member, url: microcosm_member_index_path do |form| %>
        <%= form.hidden_field(:microcosm_id, :value => @microcosm.id) %>
        <%= form.hidden_field(:user_id, :value => current_user.id) %>
        <%= form.submit :value => t('microcosm.join.action') %>
      <% end %>
    <% else %>
      Log in to join this microcosm.
    <% end %>

  </div>
</div>

<div class="mic_row">
  <div>
    <h2>Upcoming Events</h2>
    <p>
      <% if current_user && @microcosm.has_organizer?(current_user) %>
        <%= link_to 'new event', new_event_path(microcosm_id: @microcosm.id) %>
      <% end %>
    </p>
    <ul>
      <% @microcosm.events.each do |event| %>
        <li>
          <%= link_to event.title + ' ' + event.moment.to_s, event_path(event) %>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <h2>
      <%= link_to 'Members', members_of_microcosm_path(@microcosm) %> <%= link_to 'New', new_microcosm_member_path(microcosm_id: @microcosm.id), :class => 'new_link' %>
    </h2>
    <div class="members">
      <% @microcosm.microcosm_members.each do |membership| %>
        <%= link_to membership.user.display_name, user_path(membership.user) %>
      <% end %>
    </div>
  </div>
</div>
