<% content_for :heading do %>
  <h1>
    <%= @microcosm.name + " " + t(".events") %>
  </h1>
  <ul class='secondary-actions clearfix'>
    <% if current_user && @microcosm.organizer?(current_user) %>
      <li><%= link_to image_tag("new.png", :class => "small_icon", :border => 0) + t(".new_title"), new_event_path(:microcosm_id => @microcosm.id), :title => t(".new_title") %></li>
    <% end %>
  </ul>
<% end %>
<table>
  <thead>
  <tr>
    <th><%= t(".when") %></th>
    <th><%= t(".title") %></th>
    <th><%= t(".location") %></th>
    <th colspan="1"></th>
  </tr>
  </thead>
  <tbody>
  <% @microcosm.events.each do |event| %>
    <tr>
      <td><%= l(event.moment, :format => :blog) %></td>
      <td><%= event.title %></td>
      <td><%= event.location %></td>
      <td><%= link_to t(".show"), event %><% if current_user && @microcosm.organizer?(current_user) %> <%= link_to t(".edit"), edit_event_path(event) %><% end %></td>
    </tr>
  <% end %>
  </tbody>
</table>
