<div>
  <h4 class="browse_heading"><%- I18n.t('browse.start_rjs.object_list.heading') %></h4>
  <div>
    <ul class='inner12'>
      <% for (var i = 0; i < features.length; i++) { %>
        <li><%- features[i].typeName %> <a href="<%- features[i].url %>" data-feature-id="<%- features[i].id %>"><%- features[i].name %></a></li>
      <% } %>
    </ul>
  </div>

  <div class='inner12'><a href="<%- url %>" class='button'><%- I18n.t('browse.start_rjs.object_list.api') %></a></div>

</div>
