<div>
  <p class="browse_heading"><%- I18n.t('browse.start_rjs.object_list.heading') %></p>
  <ul>
    <% for (var i = 0; i < features.length; i++) { %>
      <li><%- features[i].typeName %> <a href="<%- features[i].url %>" data-feature-id="<%- features[i].id %>"><%- features[i].name %></a></li>
    <% } %>
  </ul>
  <a href="<%- url %>"><%- I18n.t('browse.start_rjs.object_list.api') %></a>
</div>
