<div class="browse_details">

  <h4><%- name %></h4>
  <a class='more-details' href="<%- url %>"><%- I18n.t('browse.start_rjs.object_list.details') %></a>

  <ul class="inner12">
    <% for (var key in attributes) { %>
      <li><b><%- key %></b>: <%- attributes[key] %></li>
    <% } %>
  <li> <a href="<%- url %>/history" class="browse_show_history"><%- I18n.t('browse.start_rjs.show_history') %></a></li>
  </ul>

</div>

<a href="#" class="browse_show_list button"><%- I18n.t('browse.start_rjs.object_list.back') %></a>