<% content_for :heading do %>
  <h1><%= t(".title") %></h1>
  <nav class="secondary-actions">
    <ul class='clearfix'>
      <li>
        <%= link_to new_community_path, :class => "icon-link", :title => t(".new_title") do %>
          <%= plus_icon %>
          <%= t(".new") %>
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<% if @communities_leading %>
  <%= render :partial => "index_list", :locals => { :communities => @communities_leading, :header => t(".communities_leading") } %>
<% end %>

<%= render :partial => "index_list", :locals => { :communities => @my_communities, :header => t(".my_communities") } %>

<p>
  <%= t(".sorted_by") %>
</p>

<%= render :partial => "index_list", :locals => { :communities => @all_communities, :header => t(".all") } %>

<p>
  <%= t(".critical_mass", :n => @critical_mass) %>
</p>
