<div class='diary-entry'>
<h3><%= link_to h(diary_entry.title), :action => 'view', :display_name => diary_entry.user.display_name, :id => diary_entry.id %></h3>

<div class='deemphasize'>
<small><%= raw(t 'diary_entry.diary_entry.posted_by', :link_user => (link_to h(diary_entry.user.display_name), :controller => 'user', :action => 'view', :display_name => diary_entry.user.display_name), :created => l(diary_entry.created_at, :format => :friendly), :language_link => (link_to h(diary_entry.language.name), :controller => 'diary_entry', :action => 'list', :display_name => nil, :language => diary_entry.language_code)) %>
<% if diary_entry.latitude and diary_entry.longitude %>
    <br /><%= render :partial => "location", :object => diary_entry %>
<% end %>
</small>
</div>

<div xml:lang="<%= diary_entry.language_code %>" lang="<%= diary_entry.language_code %>">
  <%= diary_entry.body.to_html %>
</div>

<% if params[:action] == 'list' %>
  <%= link_to t('diary_entry.diary_entry.comment_count', :count => diary_entry.visible_comments.count), :action => 'view', :display_name => diary_entry.user.display_name, :id => diary_entry.id, :anchor => 'comments' %>
<% end %>

<%= if_user(diary_entry.user, :span) do %>
  <% if params[:action] == 'list' %>|<% end %>
  <%= link_to t('diary_entry.diary_entry.edit_link'), :action => 'edit', :display_name => diary_entry.user.display_name, :id => diary_entry.id %>
<% end %>
<%= if_administrator(:span) do %>
  <br />
  <%= link_to t('diary_entry.diary_entry.hide_link'), hide_diary_entry_path(:display_name => diary_entry.user.display_name, :id => diary_entry.id), :method => :post, :data => { :confirm => t('diary_entry.diary_entry.confirm') } %>
<% end %>
</div>
