<% content_for :heading do %>
  <h1><%= t('diary_entry.comments.has_commented_on', :display_name => @this_user.display_name) %></h1>
<% end %>

<table class="messages" width="100%">
  <tr>
    <th width="25%"><%= t 'diary_entry.comments.post' %></th>
    <th width="25%"><%= t 'diary_entry.comments.when' %></th>
    <th width="50%"><%= t 'diary_entry.comments.comment' %></th>
  </tr>
  <% @comments.each do |comment| -%>
  <% cl = cycle('table0', 'table1') %>
  <tr class="<%= cl %>">
    <td width="25%"><%= link_to comment.diary_entry.title, :action => :view, :display_name => comment.diary_entry.user.display_name, :id => comment.diary_entry.id %></td>
    <td width="25%"><span title="<%= l comment.created_at, :format => :friendly %>"><%= t 'diary_entry.comments.ago', :ago => time_ago_in_words(comment.created_at) %></span></td>
    <td width="50%" class="richtext"><%= comment.body.to_html %></td>
  </tr>
  <% end -%>
</table>

<div class='secondary-actions clearfix'>
  <span><%= link_to t('diary_entry.comments.older_comments') , { :page => @comment_pages.current.next} if @comment_pages.current.next %>
  <%= link_to t('diary_entry.comments.newer_comments'), { :page => @comment_pages.current.previous } if @comment_pages.current.previous %></span>
</div>
