<% content_for :head do %>
  <%= javascript_include_tag "diary_entry" %>
<% end %>

<% content_for :heading do %>
  <h1><%= @title %></h1>
<% end %>

<%= error_messages_for 'diary_entry' %>

<%= form_for :diary_entry do |f| %>
  <div class="diary_entry standard-form">
    <fieldset>
      <div class='form-row'>
        <label class="standard-label"><%= t 'diary_entry.edit.subject' -%></label>
        <%= f.text_field :title %>
      </div>
      <div class='form-row'>
        <label class="standard-label"><%= t 'diary_entry.edit.body' -%></label>
        <%= richtext_area :diary_entry, :body, :format => @diary_entry.body_format %>
      </div>
      <div clas='form-row'>
        <label class="standard-label"><%= t 'diary_entry.edit.language' -%></label>
        <%= f.collection_select :language_code, Language.order(:english_name), :code, :name %>
    </div>
    </fieldset>
    <fieldset class='location'>
      <label class="standard-label"><%= t 'diary_entry.edit.location' -%></label>
      <%= content_tag "div", "", :id => "map", :data => {:lat => @lat, :lon => @lon, :zoom => @zoom} %>
      <div class='form-row clearfix'>
        <div class='form-column'>
          <label class="secondary standard-label"><%= t 'diary_entry.edit.latitude' -%></label>
          <%= f.text_field :latitude, :size => 20, :id => "latitude" %>
        </div>
        <div class='form-column'>
          <label class="secondary standard-label"><%= t 'diary_entry.edit.longitude' -%></label>
          <%= f.text_field :longitude, :size => 20, :id => "longitude" %>
        </div>
        <div class='form-column'>
          <a href="#" id="usemap"><%= t 'diary_entry.edit.use_map_link' -%></a>
        </div>
      </div>
    </fieldset>

    <%= submit_tag t('diary_entry.edit.save_button') %>
    <%# TODO: button should say 'publish' or 'save changes' depending on new/edit state %>
  </div>
<% end %>
