<% if @this_user %>
  <%= user_image @this_user %>
<% end %>

<h2><%= h(@title) %></h2>

<% if @this_user %>
  <%= if_user(@this_user) do %>
    <%= link_to image_tag("new.png", :border=>0) + t('diary_entry.list.new'), {:controller => 'diary_entry', :action => 'new'}, {:title => t('diary_entry.list.new_title')} %>
  <% end %>
<% else %>
  <%= if_logged_in do %>
    <%= link_to image_tag("new.png", :border=>0) + t('diary_entry.list.new'), {:controller => 'diary_entry', :action => 'new'}, {:title => t('diary_entry.list.new_title')} %>
  <% end %>
<% end %>

<% if @entries.empty? %>
  <p><%= t 'diary_entry.list.no_entries' %></p>
<% else %>
  <p><%= t 'diary_entry.list.recent_entries' %></p>

  <hr />

  <% if @this_user %>
    <%= render :partial => 'diary_entry', :collection => @entries %>
  <% else %>
    <%= render :partial => 'diary_list_entry', :collection => @entries %>
  <% end %>

  <%= link_to t('diary_entry.list.older_entries'), { :page => @entry_pages.current.next, :language => params[:language] } if @entry_pages.current.next %>
  <% if @entry_pages.current.next and @entry_pages.current.previous %>|<% end %>
  <%= link_to t('diary_entry.list.newer_entries'), { :page => @entry_pages.current.previous, :language => params[:language] } if @entry_pages.current.previous %>

  <br />
<% end %>

<% unless params[:friends] or params[:nearby] -%>
<%= rss_link_to :action => 'rss', :language => params[:language] %>

<% content_for :head do -%>
<%= auto_discovery_link_tag :atom, :action => 'rss', :language => params[:language] %>
<% end -%>
<% end -%>
