<% content_for :heading do %>
  <div <% if @this_user %> id="userinformation"<% end %> >
    <% if @this_user %>
      <%= user_image @this_user %>
    <% end %>
    <h1><%= h(@title) %></h1>

    <ul class='secondary-actions clearfix'>
      <% unless params[:friends] or params[:nearby] -%>
        <li><%= rss_link_to :action => 'rss', :language => params[:language] %></li>
      <% end -%>

      <% if @this_user %>
        <%= if_user(@this_user) do %>
          <li><%= link_to image_tag("new.png", :class => "small_icon", :border=>0) + t('diary_entry.list.new'), {:controller => 'diary_entry', :action => 'new'}, {:title => t('diary_entry.list.new_title')} %></li>
        <% end %>
      <% else %>
        <%= if_logged_in do %>
          <li><%= link_to image_tag("new.png", :class => "small_icon", :border=>0) + t('diary_entry.list.new'), {:controller => 'diary_entry', :action => 'new'}, {:title => t('diary_entry.list.new_title')} %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @entries.empty? %>
  <h4><%= t 'diary_entry.list.no_entries' %></h4>
<% else %>
  <h4><%= t 'diary_entry.list.recent_entries' %></h4>

  <% if @this_user %>
    <%= render :partial => 'diary_entry', :collection => @entries %>
  <% else %>
    <%= render :partial => 'diary_list_entry', :collection => @entries %>
  <% end %>

  <% if @entries.size < @page_size -%>
    <%= t('diary_entry.list.older_entries') %>
  <% else -%>
    <%= link_to t('diary_entry.list.older_entries'), params.merge(:page => @page + 1 ) %>
  <% end -%>

  |

  <% if @page > 1 -%>
    <%= link_to t('diary_entry.list.newer_entries'), params.merge(:page => @page - 1) %>
  <% else -%>
    <%= t('diary_entry.list.newer_entries') %>
  <% end -%>
<% end %>

<% unless params[:friends] or params[:nearby] -%>
  <% content_for :head do -%>
  <%= auto_discovery_link_tag :atom, :action => 'rss', :language => params[:language] %>
  <% end -%>
<% end -%>
