<tr>
  <td>
    <% if Settings.status != "gpx_offline" %>
      <% if trace.inserted %>
        <a href="<%= url_for :controller => "traces", :action => "show", :id => trace.id, :display_name => trace.user.display_name %>"><img src="<%= url_for :controller => "traces", :action => "icon", :id => trace.id, :display_name => trace.user.display_name %>" border="0" alt="" /></a>
      <% else %>
        <span class="text-danger"><%= t ".pending" %></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <%= link_to trace.name, :controller => "traces", :action => "show", :display_name => trace.user.display_name, :id => trace.id %>
      </li>

      <% if trace.inserted? %>
        <li class="list-inline-item">
          <%= t ".count_points", :count => trace.size %>
        </li>
      <% end %>

      <li class="list-inline-item">
        <% badge_class = case trace.visibility
                         when "public", "identifiable" then "success"
                         else "danger"
                         end %>
        <span class="badge bg-<%= badge_class %> text-white"><%= t(".#{trace.visibility}") %></span>
      </li>
    </ul>
    <p class="text-muted mb-0">
      <span title="<%= trace.timestamp %>">
        <%= time_ago_in_words(trace.timestamp, :scope => :"datetime.distance_in_words_ago") %>
      </span>
      <%= t ".by" %> <%= link_to trace.user.display_name, user_path(trace.user) %>
      <% if !trace.tags.empty? %>
        <%= t ".in" %>
        <%= safe_join(trace.tags.collect { |tag| link_to_tag tag.tag }, ", ") %>
      <% end %>
    </p>
    <p class="fst-italic mb-0">
      <%= trace.description %>
    </p>
  </td>
  <td>
    <% if trace.inserted? %>
      <nav class="secondary-actions">
        <ul>
          <li>
            <%= link_to t(".view_map"), { :controller => "site", :action => "index", :mlat => trace.latitude, :mlon => trace.longitude, :anchor => "map=14/#{trace.latitude}/#{trace.longitude}" } %>
          </li>
          <li>
            <%= link_to t(".edit_map"), { :controller => "site", :action => "edit", :gpx => trace.id } %>
          </li>
        </ul>
      </nav>
    <% end %>
  </td>
</tr>
