<tr>
  <td>
    <% if Settings.status != "gpx_offline" %>
      <% if trace.inserted %>
        <%= link_to trace_icon(trace),
                    show_trace_path(trace.user, trace),
                    :class => "d-inline-block" %>
      <% else %>
        <span class="text-danger"><%= t ".pending" %></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <ul class="list-inline mb-0">
      <li class="list-inline-item">
        <%= link_to trace.name, show_trace_path(trace.user, trace) %>
      </li>

      <% if trace.inserted? %>
        <li class="list-inline-item">
          <%= t ".count_points", :count => trace.size %>
        </li>
      <% end %>

      <li class="list-inline-item">
        <% badge_class = case trace.visibility
                         when "public", "identifiable" then "success"
                         else "danger"
                         end %>
        <span class="badge text-bg-<%= badge_class %>"><%= t(".#{trace.visibility}") %></span>
      </li>
    </ul>
    <p class="text-body-secondary mb-0">
      <% if trace.tags.empty? %>
        <%= t ".details_without_tags_html", :time_ago => friendly_date_ago(trace.timestamp),
                                            :user => link_to(trace.user.display_name, trace.user) %>
      <% else %>
        <%= t ".details_with_tags_html", :time_ago => friendly_date_ago(trace.timestamp),
                                         :user => link_to(trace.user.display_name, trace.user),
                                         :tags => safe_join(trace.tags.collect { |tag| link_to_tag tag.tag }, ", ") %>
      <% end %>
    </p>
    <p class="fs-6 mb-0">
      <%= trace.description %>
    </p>
  </td>
  <td>
    <% if trace.inserted? %>
      <nav class="secondary-actions">
        <ul>
          <li>
            <%= link_to t(".view_map"), root_path(:mlat => trace.latitude, :mlon => trace.longitude, :anchor => "map=14/#{trace.latitude}/#{trace.longitude}") %>
          </li>
          <li>
            <%= link_to t(".edit_map"), edit_path(:gpx => trace.id) %>
          </li>
        </ul>
      </nav>
    <% end %>
  </td>
</tr>
