<tr>
  <td>
    <% if Settings.status != "gpx_offline" %>
      <% if trace.inserted %>
        <a href="<%= url_for :controller => "traces", :action => "show", :id => trace.id, :display_name => trace.user.display_name %>"><img src="<%= url_for :controller => "traces", :action => "icon", :id => trace.id, :display_name => trace.user.display_name %>" border="0" alt="" /></a>
      <% else %>
        <span class="text-danger"><%= t ".pending" %></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <span class="mr-2">
      <%= link_to trace.name, :controller => "traces", :action => "show", :display_name => trace.user.display_name, :id => trace.id %>
    </span>

    <% if trace.inserted? %>
      <span class="mr-2">
        <%= t ".count_points", :count => trace.size %>
      </span>
    <% end %>

    <% badge_class = case trace.visibility
                     when "public", "identifiable" then "success"
                     else "danger"
                     end %>
    <span class="badge badge-<%= badge_class %> text-white"><%= t(".#{trace.visibility}") %></span>

    <br />
    <span class="text-muted">
      <span title="<%= trace.timestamp %>">
        <%= time_ago_in_words(trace.timestamp, :scope => :'datetime.distance_in_words_ago') %>
      </span>
      <%= t ".by" %> <%= link_to trace.user.display_name, user_path(trace.user) %>
      <% if !trace.tags.empty? %>
        <%= t ".in" %>
        <%= safe_join(trace.tags.collect { |tag| link_to_tag tag.tag }, ", ") %>
      <% end %>
    </span>
    <br />
    <p class="font-italic my-1">
      <%= trace.description %>
    </p>
  </td>
  <td>
    <% if trace.inserted? %>
      <ul class="secondary-actions">
        <li>
          <%= link_to t(".view_map"), { :controller => "site", :action => "index", :mlat => trace.latitude, :mlon => trace.longitude, :anchor => "map=14/#{trace.latitude}/#{trace.longitude}" } %>
        </li>
        <li>
          <%= link_to t(".edit_map"), { :controller => "site", :action => "edit", :gpx => trace.id } %>
        </li>
      </ul>
    <% end %>
  </td>
</tr>
