<% content_for :heading do %>
  <h2><%= t ".heading", :name => @trace.name %></h2>
<% end %>

<img src="<%= url_for :controller => "traces", :action => "picture", :id => @trace.id, :display_name => @trace.user.display_name %>">

<%= simple_form_for @trace do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.input :name, :disabled => true %>
  <%= f.input :description %>
  <%= f.input :tagstring %>
  <%= f.input :visibility, :collection => [:private, :public, :trackable, :identifiable],
                           :include_blank => false,
                           :hint => link_to(t(".visibility_help"), t(".visibility_help_url")) %>
  <%= f.button :submit %>
  <%= link_to t(".cancel"), show_trace_path(@trace.user, @trace), :class => "btn btn-link" %>
<% end %>
