<div class='secondary-actions mb-2'>
  <% if !@feature.redacted? %>
    <%= link_to t("browse.download_xml"), send(:"api_#{@type}_version_path", *@feature.id) %>
  <% elsif current_user&.moderator? %>
    <% if !params[:show_redactions] %>
      <%= link_to t(".view_redacted_data"), :params => { :show_redactions => true } %>
    <% else %>
      <%= link_to t(".view_redaction_message") %>
    <% end %>
  <% end %>
</div>

<% w = @current_feature.version %>
<nav>
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item"><%= link_to "Element", @current_feature %></li>
    <li class="breadcrumb-item"><%= link_to "History", :action => :index %></li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="#versions-navigation-current-page-link" class="link-body-emphasis">
        <%= t("browse.version") + " ##{@feature.version}" %>
      </a>
    </li>
  </ol>

  <div class="d-flex align-items-start">
    <% if w == 1 %>
      <ul class="pagination pagination-sm">
        <%= tag.li(:class => ["page-item", { "active" => 1 == @feature.version }]) do %>
          <% if 1 == @feature.version %>
            <span class="page-link"><%= 1 %></span>
          <% else %>
            <%= link_to 1, { :version => 1 }, :class => "page-link" %>
          <% end %>
        <% end %>
      </ul>
    <% else %>
      <ul id="versions-navigation-pinned-start" class="pagination pagination-sm z-1">
        <%= tag.li(:class => ["page-item", { "active" => 1 == @feature.version }]) do %>
          <% if 1 == @feature.version %>
            <span class="page-link rounded-end-0"><%= 1 %></span>
          <% else %>
            <%= link_to 1, { :version => 1 }, :class => "page-link rounded-end-0" %>
          <% end %>
        <% end %>
      </ul>
      <ul id="versions-navigation-scrollable" class="pagination pagination-sm pb-3 overflow-x-scroll position-relative z-0">
        <% 2.upto(@current_feature.version - 1) do |v| %>
          <%= tag.li(:id => ("versions-navigation-current-page-link" if v == @feature.version),
                     :class => ["page-item", { "active" => v == @feature.version }]) do %>
            <% page_link_class = ["page-link rounded-0", { "border-start-0" => v == 2,
                                                           "border-end-0" => v == @current_feature.version - 1 }] %>
            <% if v == @feature.version %>
              <%= tag.span v, :class => page_link_class %>
            <% else %>
              <%= link_to v, { :version => v }, :class => page_link_class %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <ul id="versions-navigation-pinned-end" class="pagination pagination-sm z-1">
        <%= tag.li(:class => ["page-item", { "active" => w == @feature.version }]) do %>
          <% if w == @feature.version %>
            <span class="page-link rounded-start-0"><%= w %></span>
          <% else %>
            <%= link_to w, { :version => w }, :class => "page-link rounded-start-0" %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</nav>
