<div class='secondary-actions mb-3'>
  <% if !@feature.redacted? %>
    <%= link_to t("browse.download_xml"), send(:"api_#{@type}_version_path", *@feature.id) %>
  <% elsif current_user&.moderator? %>
    <% if !params[:show_redactions] %>
      <%= link_to t(".view_redacted_data"), :params => { :show_redactions => true } %>
    <% else %>
      <%= link_to t(".view_redaction_message") %>
    <% end %>
  <% end %>
</div>

<nav>
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item">
      <%= link_to t(@type, :scope => "browse.versions_navigation"), @current_feature %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to t("browse.versions_navigation.history"), :action => :index %>
    </li>
  </ol>
</nav>

<div class='secondary-actions'>
  <% if @feature.version > 1 %>
    <%= link_to({ :version => @feature.version - 1 }, { :class => "icon-link" }) do %>
      <%= previous_page_svg_tag :height => 11 %>
      <%= "#{t('browse.version')} ##{@feature.version - 1}" %>
    <% end %>
  <% end %>
  <% if @feature.version > 1 && !@feature.latest_version? %>
    &middot;
  <% end %>
  <% unless @feature.latest_version? %>
    <%= link_to({ :version => @feature.version + 1 }, { :class => "icon-link" }) do %>
      <%= "#{t('browse.version')} ##{@feature.version + 1}" %>
      <%= next_page_svg_tag :height => 11 %>
    <% end %>
  <% end %>
</div>
