<div class='secondary-actions'>
  <%= link_to t("browse.view_details"), :controller => @type.pluralize, :action => :show %>
  <% if !@feature.redacted? %>
    &middot;
    <%= link_to t("browse.download_xml"), send(:"api_#{@type}_version_path", *@feature.id) %>
  <% elsif current_user&.moderator? %>
    &middot;
    <% if !params[:show_redactions] %>
      <%= link_to t(".view_redacted_data"), :params => { :show_redactions => true } %>
    <% else %>
      <%= link_to t(".view_redaction_message") %>
    <% end %>
  <% end %>
</div>

<div class='secondary-actions'>
  <% if @feature.version > 1 %>
    <%= link_to({ :version => @feature.version - 1 }, { :class => "icon-link" }) do %>
      <%= previous_page_svg_tag :height => 11 %>
      <%= "#{t('browse.version')} ##{@feature.version - 1}" %>
    <% end %>
    &middot;
  <% end %>
  <%= link_to t("browse.view_history"), :action => :index %>
  <% unless @feature.latest_version? %>
    &middot;
    <%= link_to({ :version => @feature.version + 1 }, { :class => "icon-link" }) do %>
      <%= "#{t('browse.version')} ##{@feature.version + 1}" %>
      <%= next_page_svg_tag :height => 11 %>
    <% end %>
  <% end %>
</div>
