<div class='secondary-actions mb-2'>
  <% if !@feature.redacted? %>
    <%= link_to t("browse.download_xml"), send(:"api_#{@type}_version_path", *@feature.id) %>
  <% elsif current_user&.moderator? %>
    <% if !params[:show_redactions] %>
      <%= link_to t(".view_redacted_data"), :params => { :show_redactions => true } %>
    <% else %>
      <%= link_to t(".view_redaction_message") %>
    <% end %>
  <% end %>
</div>

<nav>
  <ol class="breadcrumb mb-1">
    <li class="breadcrumb-item">
      <%= link_to "Element", @current_feature %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "History", :action => :index %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a href="#versions-navigation-current-page-item" class="link-body-emphasis">
        <%= t("browse.version") + " ##{@feature.version}" %>
      </a>
    </li>
  </ol>

  <%= element_versions_pagination(@feature.version, @current_feature.version) %>
</nav>
