<%= f.text_field :name %>
<%= f.text_field :url %>
<%= f.text_field :callback_url %>
<%= f.text_field :support_url %>
<div class='mb-3'>
  <p><%= t ".requests" %></p>
  <% ClientApplication.all_permissions.each do |perm| %>
    <%= f.check_box perm %>
  <% end %>
</div>
<%= f.primary %>
