<% content_for :heading do %>
  <h1><%= t('oauth_clients.show.title', :app_name => @client_application.name) %></h1>
<% end %>
<p>
  <b><%= t'oauth_clients.show.key' %></b> <%=@client_application.key %>
</p>
<p>
  <b><%= t'oauth_clients.show.secret' %></b> <%=@client_application.secret %>
</p>
<p>
  <b><%= t'oauth_clients.show.url' %></b> http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.request_token_path %>
</p>
<p>
  <b><%= t'oauth_clients.show.access_url' %></b> http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.access_token_path %>
</p>
<p>
  <b><%= t'oauth_clients.show.authorize_url' %></b> http<%='s' if request.ssl? %>://<%= request.host_with_port %><%=@client_application.oauth_server.authorize_path %>
</p>

<p><%= t'oauth_clients.show.requests' %></p>
<ul><% @client_application.permissions.each do |perm| %>
<div class="field">
  <li><%= t('oauth_clients.form.' + perm.to_s) %></li>
</div>
<% end %></ul>

<p><%= t'oauth_clients.show.support_notice' %></p>

<table>
<tr>
<td><%= button_to t('oauth_clients.show.edit'), edit_oauth_client_path(@client_application.user.display_name, @client_application), :method => :get %></td>
<td><%= button_to t('oauth_clients.show.delete'), oauth_client_path(@client_application.user.display_name, @client_application), :method => :delete, :data => { :confirm => t('oauth_clients.show.confirm') } %></td>
</tr>
</table>
