<% content_for :head do %>
  <%= javascript_include_tag "user" %>
<% end %>

<% content_for :heading_class, "pb-0" %>

<% content_for :heading do %>
  <h1><%= t ".title" %></h1>
  <%= render :partial => "navigation" %>
<% end %>

<%= bootstrap_form_for current_user, :url => { :action => :update }, :html => { :multipart => true, :autocomplete => :off } do |f| %>
  <%= f.richtext_field :description, :cols => 80, :rows => 20 %>

  <fieldset class="mb-3">

    <%= f.label t(".social_links.title"), :class => "form-label" %>
    <div id="social_links">
      <template>
        <div class="social-link-added-fields row mb-3">
          <div class="col-sm-8">
            <input class="form-control" type="text" autocomplete="off">
          </div>
          <button type="button" class="btn btn-outline-primary col-sm-2 align-self-start"><%= t(".social_links.remove") %></button>
        </div>
      </template>
      <%= f.fields_for :social_links do |social_link_form| %>
        <div class="social-link-fields row mb-3">
          <%= social_link_form.text_field :url, :skip_label => true, :wrapper_class => "col-sm-8" %>
          <%= social_link_form.check_box :_destroy, :wrapper_class => "d-none social_link_destroy" %>
          <button type="button" class="btn btn-outline-primary col-sm-2 align-self-start"><%= t(".social_links.remove") %></button>
        </div>
      <% end %>
    </div>

    <button id="add-social-link" type="button" class="btn btn-outline-primary"><%= t ".social_links.add" %></button>
  </fieldset>

  <fieldset class="mb-3">
    <%= f.label t(".image") %>
    <div class="row">
      <div class="col-sm-2">
        <%= user_image current_user %>
      </div>
      <div class="col-sm-10">
        <% if current_user.avatar.attached? %>
          <%= f.radio_button "avatar_action", "keep", :name => "avatar_action", :label => t(".keep image"), :checked => !current_user.image_use_gravatar %>
        <% end %>
        <% if current_user.avatar.attached? || current_user.image_use_gravatar? %>
          <%= f.radio_button "avatar_action", "delete", :name => "avatar_action", :label => t(".delete image"), :checked => false %>
        <% end %>
        <% if current_user.avatar.attached? %>
          <%= f.form_group :help => t(".image size hint"), :class => "mb-0" do %>
            <%= f.radio_button "avatar_action", "new", :name => "avatar_action", :label => t(".replace image"), :checked => false %>
            <%= f.file_field :avatar, :hide_label => true, :wrapper => { :class => "mb-0" } %>
          <% end %>
        <% else %>
          <%= f.form_group :help => t(".image size hint"), :class => "mb-0" do %>
            <%= f.radio_button "avatar_action", "new", :name => "avatar_action", :label => t(".new image"), :checked => false %>
            <%= f.file_field :avatar, :hide_label => true, :wrapper => { :class => "mb-0" } %>
          <% end %>
        <% end %>
        <%= f.form_group :help => link_to(t(".gravatar.what_is_gravatar"), t(".gravatar.link")) do %>
          <%= f.radio_button "avatar_action", "gravatar", :name => "avatar_action", :label => t(".gravatar.gravatar"), :checked => current_user.image_use_gravatar %>
        <% end %>
      </div>
    </div>
  </fieldset>

  <fieldset class="mb-3">
    <%= f.text_field :company, :id => "company" %>
  </fieldset>

  <%= f.primary t(".save") %>
    <%= link_to t(".cancel"), current_user, :class => "btn btn-link" %>
<% end %>
