<div id="map-context-menu" class="dropdown d-none shadow cm_dropdown">
  <ul class="dropdown-menu show shadow cm_dropdown_menu">
    <li>
      <a class="dropdown-item d-flex align-items-center gap-3" href="#" id="menu-action-directions-from">
        <i class="bi bi-geo-alt"></i>
        <span><%= t ".directions_from" %></span>
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-3" href="#" id="menu-action-directions-to">
        <i class="bi bi-flag"></i>
        <span><%= t ".directions_to" %></span>
      </a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-3" href="#" id="menu-action-add-note">
        <i class="bi bi-pencil"></i>
        <span><%= t ".add_note" %></span>
      </a>
    </li>
    <li><hr class="dropdown-divider" /></li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-3" href="#" id="menu-action-show-address">
        <i class="bi bi-compass"></i>
        <span><%= t ".show_address" %></span>
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-3" href="#" id="menu-action-query-features">
        <i class="bi bi-question-circle"></i>
        <span><%= t ".query_features" %></span>
      </a>
    </li>
    <li>
      <a class="dropdown-item d-flex align-items-center gap-3" href="#" id="menu-action-centre-map">
        <i class="bi bi-crosshair"></i>
        <span><%= t ".centre_map" %></span>
      </a>
    </li>
  </ul>
</div>
