<% if flash[:error] %>
  <div class="flash error">
    <%= image_tag("notice.png", :class => "small_icon", :border => 0) %>
    <div class="message"><%= flash[:error] %></div>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="flash warning">
    <%= image_tag("notice.png", :class => "small_icon", :border => 0) %>
    <div class="message"><%= flash[:warning] %></div>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="flash notice">
    <%= image_tag("notice.png", :class => "small_icon", :border => 0) %>
    <div class="message"><%= flash[:notice] %></div>
  </div>
<% end %>
