<% if flash[:error] %>
  <div class="flash error">
    <picture>
      <source srcset="<%= image_path "notice.svg" %>" type="image/svg+xml">
      <%= image_tag("notice.png", :class => "small_icon", :border => 0) %>
    </picture>
    <div class="message"><%= flash[:error] %></div>
  </div>
<% end %>

<% if flash[:warning] %>
  <div class="flash warning">
    <picture>
      <source srcset="<%= image_path "notice.svg" %>" type="image/svg+xml">
      <%= image_tag("notice.png", :class => "small_icon", :border => 0) %>
    </picture>
    <div class="message"><%= flash[:warning] %></div>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="flash notice">
    <picture>
      <source srcset="<%= image_path "notice.svg" %>" type="image/svg+xml">
      <%= image_tag("notice.png", :class => "small_icon", :border => 0) %>
    </picture>
    <div class="message"><%= flash[:notice] %></div>
  </div>
<% end %>
