<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
  <%= javascript_strings %>
  <%= javascript_include_tag "site" %>
  <%= javascript_include_tag "menu" %>
  <!--[if lt IE 7]><%= javascript_include_tag "pngfix" %><![endif]--> <!-- thanks, microsoft! -->
  <%= stylesheet_link_tag "small-#{t 'html.dir'}", :media => "only screen and (max-width:641px)" %>
  <%= stylesheet_link_tag "large-#{t 'html.dir'}", :media => "screen and (min-width: 642px)" %>
  <%= stylesheet_link_tag "print-#{t 'html.dir'}", :media => "print" %>
  <!--[if IE]><%= stylesheet_link_tag "large-#{t 'html.dir'}", :media => "screen" %><![endif]--> <!-- IE is totally broken with CSS media queries -->
  <%= favicon_link_tag "favicon.ico" %>
  <%= tag("link", { :rel => "publisher", :href => "https://plus.google.com/111953119785824514010" }) %>
  <%= tag("link", { :rel => "search", :type => "application/opensearchdescription+xml", :title => "OpenStreetMap Search", :href => asset_path("osm.xml") }) %>
  <%= tag("meta", { :name => "description", :content => "OpenStreetMap is the free wiki world map." }) %>
  <%= style_rules %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
  <title><%= t 'layouts.project_name.title' %><%= ' | '+ h(@title) if @title %></title>
</head>
