<header class="d-flex bg-body text-nowrap closed z-3">
  <h1 class="d-flex m-0 fw-semibold">
    <a href="<%= root_path %>" class="icon-link gap-1 text-body-emphasis text-decoration-none geolink">
      <%= image_tag "osm_logo.svg", :alt => t("layouts.logo.alt_text"), :size => 30 %>
      <%= t "layouts.project_name.h1" %>
    </a>
  </h1>
  <a href="#" id="menu-icon"></a>
  <nav class='primary'>
    <%= content_for :header %>
    <div class="btn-group">
      <div id="edit_tab" class="btn-group">
        <%= link_to t("layouts.edit"),
                    edit_path,
                    :class => "btn btn-outline-primary geolink editlink",
                    :id => "editanchor",
                    :data => { :editor => preferred_editor } %>
        <button class='btn btn-outline-primary dropdown-toggle dropdown-toggle-split' type='button' data-bs-toggle='dropdown'></button>
        <ul class='dropdown-menu'>
          <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
            <li>
              <%= link_to t("layouts.edit_with", :editor => t("editor.#{editor}.description")),
                          edit_path(:editor => editor),
                          :data => { :editor => editor },
                          :class => "geolink editlink dropdown-item" %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= link_to t("layouts.history"), history_path, :class => "btn btn-outline-primary geolink flex-grow-1", :id => "history_tab" %>
      <%= link_to t("layouts.export"), export_path, :class => "btn btn-outline-primary geolink", :id => "export_tab" %>
    </div>
  </nav>
  <nav class='secondary d-flex gap-2 align-items-center'>
    <ul class='nav flex-nowrap'>
      <% if Settings.status != "database_offline" && can?(:index, Issue) %>
        <li class="compact-hide nav-item">
          <%= link_to issues_path(:status => "open"), :class => header_nav_link_class(issues_path) do %>
            <%= t("layouts.issues") %>
            <%= open_issues_count %>
          <% end -%>
        </li>
      <% end %>
      <li class="compact-hide nav-item">
        <%= link_to t("layouts.gps_traces"), traces_path, :class => header_nav_link_class(traces_path) %>
      </li>
      <li class="compact-hide nav-item">
        <%= link_to t("layouts.user_diaries"), diary_entries_path, :class => header_nav_link_class(diary_entries_path) %>
      </li>
      <li class="compact-hide nav-item">
        <%= link_to t("layouts.communities"), communities_index_path, :class => header_nav_link_class(communities_index_path) %>
      </li>
      <li class="compact-hide nav-item">
        <%= link_to t("layouts.copyright"), copyright_path, :class => header_nav_link_class(copyright_path) %>
      </li>
      <li class="compact-hide nav-item">
        <%= link_to t("layouts.help"), help_path, :class => header_nav_link_class(help_path) %>
      </li>
      <li class="compact-hide nav-item">
        <%= link_to t("layouts.about"), about_path, :class => header_nav_link_class(about_path) %>
      </li>
      <li id="compact-secondary-nav" class="dropdown nav-item">
        <button class="dropdown-toggle nav-link btn btn-outline-secondary border-0 bg-body text-secondary" type="button" data-bs-toggle="dropdown"><%= t "layouts.more" %></button>
        <ul class="dropdown-menu">
          <% if Settings.status != "database_offline" && can?(:index, Issue) %>
            <li>
              <%= link_to issues_path(:status => "open"), :class => "dropdown-item" do %>
                <%= t("layouts.issues") %>
                <%= open_issues_count %>
              <% end -%>
            </li>
          <% end %>
          <li><%= link_to t("layouts.gps_traces"), traces_path, :class => "dropdown-item" %></li>
          <li><%= link_to t("layouts.user_diaries"), diary_entries_path, :class => "dropdown-item" %></li>
          <li><%= link_to t("layouts.communities"), communities_index_path, :class => "dropdown-item" %></li>
          <li><%= link_to t("layouts.copyright"), copyright_path, :class => "dropdown-item" %></li>
          <li><%= link_to t("layouts.help"), help_path, :class => "dropdown-item" %></li>
          <li><%= link_to t("layouts.about"), about_path, :class => "dropdown-item" %></li>
        </ul>
      </li>
    </ul>
    <% if current_user && current_user.id %>
      <div class='d-inline-flex dropdown user-menu logged-in'>
        <button class='d-flex gap-1 align-items-center justify-content-center dropdown-toggle btn btn-outline-secondary border-secondary-subtle bg-body text-secondary px-2 py-1 flex-grow-1' type='button' data-bs-toggle='dropdown'>
          <%= user_thumbnail_tiny(current_user, :width => 25, :height => 25, :class => "user_thumbnail_tiny rounded-1 bg-body") %>
          <% if current_user.new_messages.size > 0 %>
            <span class="badge count-number position-static m-1"><%= current_user.new_messages.size %></span>
          <% end %>
          <span class='username align-middle text-truncate'>
            <%= current_user.display_name %>
          </span>
        </button>
        <div class='dropdown-menu dropdown-menu-end'>
          <%= link_to t("users.show.my_dashboard"), dashboard_path, :class => "dropdown-item" %>
          <%= link_to inbox_messages_path, :class => "dropdown-item" do %>
            <%= t("users.show.my messages") %>
            <span class='badge count-number'><%= number_with_delimiter(current_user.new_messages.size) %></span>
          <% end %>
          <%= link_to t("users.show.my profile"), current_user, :class => "dropdown-item" %>
          <%= link_to t("users.show.my settings"), edit_account_path, :class => "dropdown-item" %>
          <%= link_to t("users.show.my_preferences"), preferences_path, :class => "dropdown-item" %>
          <div class="dropdown-divider"></div>
          <%= yield :greeting %>
          <%= link_to t("layouts.logout"), logout_path(:referer => request.fullpath), :method => "post", :class => "geolink dropdown-item" %>
        </div>
      </div>
    <% else %>
      <div class="d-inline-flex btn-group login-menu" role="">
        <%= link_to t("layouts.log_in"), login_path(:referer => request.fullpath), :class => "geolink btn btn-outline-secondary" %>
        <%= link_to t("layouts.sign_up"), user_new_path, :class => "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </nav>
</header>
