<header>
  <h1>
    <%= image_tag "osm_logo.png", :alt => t('layouts.logo.alt_text'), :class => 'logo' %>
    <%= t 'layouts.project_name.h1' %>
  </h1>
  <nav class='primary'>
    <ul>
      <li id="view_tab">
        <%= link_to t('layouts.view'), root_path, :class => 'tab geolink llz layers' %>
      </li><li id="history_tab">
        <%= link_to t('layouts.history'), browse_changesets_path, :class => 'tab geolink llz' %>
      </li><li id="export_tab">
        <%= link_to t('layouts.export'), export_path, :class => 'tab geolink llz' %>
      </li><li id="edit_tab" class="dropdown">
        <%= link_to t('layouts.edit'), edit_path, :class => "tab geolink llz object",
                    :id => 'editanchor',
                    :data => { :editor => preferred_editor }
        %><a class='dropdown-toggle' data-toggle='dropdown' href='#'><b class="caret"></b></a>
        <ul class='dropdown-menu'>
          <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
            <li>
              <%= link_to t('layouts.edit_with', :editor => t("editor.#{editor}.description")),
                          edit_path(:editor => editor),
                          :data => { :editor => editor },
                          :class => "geolink llz object" %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </nav>
  <nav class='secondary'>
    <ul>
      <li><%= link_to t('layouts.gps_traces'), traces_path %></li>
      <li><%= link_to t('layouts.user_diaries'), diary_path %></li>
      <li><%= link_to t('layouts.help'), help_path %></li>
      <li><%= link_to t('layouts.about'), about_path %></li>
    </ul>
    <% if @user %>
      <%= render :partial => "layouts/user_menu" %>
    <% else %>
      <ul class="secondary-actions">
        <li><%= link_to t('layouts.log_in'), login_path(:referer => request.fullpath), {:id => 'loginanchor', :title => t('layouts.log_in_tooltip')} %></li>
        <li><%= link_to t('layouts.sign_up'), user_new_path, {:id => 'registeranchor', :title => t('layouts.sign_up_tooltip')} %></li>
      </ul>
    <% end %>
  </nav>
</header>
