<%= content_tag :head, :data => application_data do %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
  <!--[if lt IE 9]><%= javascript_include_tag "html5shiv" %><![endif]-->
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "screen-#{dir}", :media => "screen" %>
  <%= stylesheet_link_tag "print-#{dir}", :media => "print" %>
  <%= stylesheet_link_tag "leaflet-all", :media => "screen, print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "large-#{dir}", :media => "screen" %>
    <%= favicon_link_tag "favicon.ico" %>
  <![endif]-->
  <% [57, 60, 72, 76, 114, 120, 144, 152, 180].each do |size| -%>
  <%= favicon_link_tag "apple-touch-icon-#{size}x#{size}.png", :rel => "apple-touch-icon", :sizes => "#{size}x#{size}", :type => "image/png" %>
  <% end -%>
  <%= favicon_link_tag "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png" %>
  <%= favicon_link_tag "favicon-194x194.png", :rel => "icon", :sizes => "194x194", :type => "image/png" %>
  <%= favicon_link_tag "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png" %>
  <%= favicon_link_tag "android-chrome-192x192.png", :rel => "icon", :sizes => "192x192", :type => "image/png" %>
  <%= favicon_link_tag "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png" %>
  <%= tag("link", { :rel => "mask-icon", :href => asset_path("tag-icon.svg"), :color => "#7ebc6f" }) %>
  <%= tag("link", { :rel => "manifest", :href => asset_path("manifest.json") }) %>
  <%= tag("meta", { :name => "msapplication-config", :content => asset_path("browserconfig.xml") }) %>
  <%= tag("meta", { :name => "msapplication-TileColor", :content => "#00a300" }) %>
  <%= tag("meta", { :name => "msapplication-TileImage", :content => image_path("mstile-144x144.png") }) %>
  <%= tag("meta", { :name => "theme-color", :content => "#ffffff" }) %>
  <%= tag("link", { :rel => "publisher", :href => "https://plus.google.com/111953119785824514010" }) %>
  <%= tag("link", { :rel => "search", :type => "application/opensearchdescription+xml", :title => "OpenStreetMap Search", :href => asset_path("osm.xml") }) %>
  <%= tag("meta", { :name => "description", :content => "OpenStreetMap is the free wiki world map." }) %>
  <%= opengraph_tags(@title) %>
  <% if flash[:piwik_goal] -%>
  <%= tag("meta", :name => "piwik-goal", :content => flash[:piwik_goal]) %>
  <% end -%>  
  <%= style_rules %>
  <%= yield :head %>
  <%= yield :auto_discovery_link_tag %>
  <%= csrf_meta_tag %>
  <title><%= t 'layouts.project_name.title' %><%= ' | ' + @title if @title %></title>
<% end %>
