<script type="text/javascript">
var _paq = _paq || [];
(function(){ var u="<%= request.protocol %><%= PIWIK_LOCATION %>/";
_paq.push(['setSiteId', <%= PIWIK_SITE %>]);
_paq.push(['setTrackerUrl', u+'piwik.php']);
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
<% if flash[:piwik_goal] -%>
_paq.push(['setSiteId', <%= flash[:piwik_goal] %>);
<% end -%>
var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.defer=true; g.async=true; g.src=u+'piwik.js';
s.parentNode.insertBefore(g,s); })();
</script>
<noscript><p><img src="<%= request.protocol %><%= PIWIK_LOCATION %>/piwik.php?idsite=<%= PIWIK_SITE %>" style="border:0" alt="" /></p></noscript>
