<div class="search_forms">
  <form method="GET" action="<%= search_path %>" class="search_form px-1 py-2">
    <div class="form-row mx-0">
      <div class="col">
        <div class="input-group flex-nowrap">
          <div class='query_wrapper position-relative flex-grow-1'>
            <%= link_to t("site.search.where_am_i"), "#", :class => "describe_location position-absolute", :title => t("site.search.where_am_i_title") %>
            <%= text_field_tag "query", params[:query], :placeholder => t("site.search.search"), :autofocus => autofocus, :autocomplete => "on", :class => "form-control form-control-sm" %>
          </div>
          <div class="input-group-append">
            <%= submit_tag t("site.search.submit_text"), :class => "btn btn-sm btn-primary", :data => { :disable_with => false } %>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= link_to image_tag("directions.png", :width => "20", :height => "20"), directions_path, :class => "btn btn-sm btn-primary switch_link", :title => t("site.search.get_directions_title") %>
      </div>
    </div>
  </form>

  <form method="GET" action="<%= directions_path %>" class="directions_form pb-3">

    <div class="form-row"><div class="col mt-1"></div></div>

    <div class="form-row m-1">
      <div class="col input-group flex-nowrap">
        <div class="flex-grow-1">
          <%= text_field_tag "route_from", params[:from], :placeholder => t("site.search.from"), :autocomplete => "on", :class => "form-control form-control-sm" %>
        </div>
      </div>
      <div class="col-auto">
        <div class="clearfix btn-sm"><span class="icon close"></span></div>
      </div>
    </div>

    <div class="form-row m-1">
      <div class="col input-group flex-nowrap">
        <div class="flex-grow-1">
          <%= text_field_tag "route_to", params[:to], :placeholder => t("site.search.to"), :autocomplete => "on", :class => "form-control form-control-sm" %>
        </div>
      </div>
      <div class="btn-toolbar col-auto" role="toolbar" aria-label="Reverse directions">
        <button type="button" class="btn btn-link btn-sm">
          <%= link_to image_tag("arrow-down-up.svg", :width => "16", :height => "16"), t("site.search.reverse_directions_text") %>
        </button>
      </div>
    </div>

    <div class="form-row m-2"></div>

    <div class="form-row ml-1 mr-1">
      <div class="btn-toolbar col flex-nowrap" role="toolbar" aria-label="Toolbar with button groups">
        <button type="button flex-grow-1" class="btn btn-link btn-sm">
          <%= link_to image_tag("plus-symbolic.svg", :width => "16", :height => "16") %>
        </button>
      </div>
      <div class="btn-toolbar col-auto" role="toolbar" aria-label="Routing options">
        <select class="form-select mr-2" aria-label="Routing engine">
          <option value="1" selected>GraphHopper</option>
          <option value="2">OSRM</option>
        </select>
        <div class="btn-group btn-group-toggle mr-1" role="group" data-toggle="buttons" aria-label="Driving">
          <label class="btn btn-light active">
            <input type="radio" name="options" id="driving" autocomplete="off" checked><%= link_to image_tag("driving-symbolic.svg", :width => "16", :height => "16") %>
          </label>
        </div>
        <div class="btn-group btn-group-toggle mr-1" role="group" data-toggle="buttons" aria-label="Cycling">
          <label class="btn btn-light">
            <input type="radio" name="options" id="cycling" autocomplete="off"><%= link_to image_tag("cycling-symbolic.svg", :width => "16", :height => "16") %>
          </label>
        </div>
        <div class="btn-group btn-group-toggle" role="group" data-toggle="buttons" aria-label="Walking">
          <label class="btn btn-light">
            <input type="radio" name="options" id="walking" autocomplete="off"><%= link_to image_tag("walking-symbolic.svg", :width => "16", :height => "16") %>
          </label>
        </div>
      </div>
    </div>
    <div class="loader_copy"><div class="loader"><%= image_tag "searching.gif" %></div></div>
  </form>

</div>
