<div class="search_forms">
  <form method="GET" action="<%= search_path %>" class="search_form px-1 py-2">
    <div class="row gx-2 mx-0">
      <div class="col">
        <div class="input-group flex-nowrap">
          <div class='query_wrapper position-relative flex-grow-1'>
            <%= link_to t("site.search.where_am_i"), "#", :class => "describe_location position-absolute", :title => t("site.search.where_am_i_title") %>
            <%= text_field_tag "query", params[:query], :placeholder => t("site.search.search"), :autofocus => autofocus, :autocomplete => "on", :class => "form-control form-control-sm", :dir => "auto" %>
          </div>
          <div class="input-group-append">
            <%= submit_tag t("site.search.submit_text"), :class => "btn btn-sm btn-primary", :data => { :disable_with => false } %>
          </div>
        </div>
      </div>
      <div class="col-auto">
        <%= link_to image_tag("directions.png", :width => "20", :height => "20"), directions_path, :class => "btn btn-sm btn-primary switch_link", :title => t("site.search.get_directions_title") %>
      </div>
    </div>
  </form>

  <form method="GET" action="<%= directions_path %>" class="directions_form pb-3">
    <div class="d-flex flex-row-reverse px-3 py-3"><button type="button" class="btn-close"></button></div>

    <div class="row gx-2 m-1">
      <div class="col-1">
        <%= image_tag "marker-green.png", :class => "routing_marker mx-auto d-block", :data => { :type => "from" }, :draggable => "true" %>
      </div>
      <div class="col">
        <%= text_field_tag "route_from", params[:from], :placeholder => t("site.search.from"), :autocomplete => "on", :class => "form-control form-control-sm", :dir => "auto" %>
      </div>
    </div>
    <div class="row gx-2 m-1">
      <div class="col-1">
        <%= image_tag "marker-red.png", :class => "routing_marker mx-auto d-block", :data => { :type => "to" }, :draggable => "true" %>
      </div>
      <div class="col">
        <%= text_field_tag "route_to", params[:to], :placeholder => t("site.search.to"), :autocomplete => "on", :class => "form-control form-control-sm", :dir => "auto" %>
      </div>
    </div>
    <div class="row gx-2 m-1">
      <div class="col offset-1">
        <select class="routing_engines form-select form-select-sm" name="routing_engines"></select>
      </div>
      <div class="col-auto">
        <%= submit_tag t("site.search.submit_text"), :class => "routing_go btn btn-sm btn-primary", :data => { :disable_with => false } %>
      </div>
    </div>
    <div class="row gx-2 m-1">
      <div class="col offset-1">
        <button class="btn btn-sm btn-link reverse_directions"><%= t("site.search.reverse_directions_text") %></button>
      </div>
    </div>

    <div class="loader_copy"><div class="loader"><%= image_tag "searching.gif" %></div></div>
  </form>
</div>
