<%= form_tag search_path, :class => "search_form" do %>
  <%= submit_tag t('site.search.submit_text') %>
  <div class='query_wrapper'>
    <input type="text" name="query" value="<%= params[:query] %>" placeholder="<%= t('site.search.search') %>">
    <%= link_to t('site.search.where_am_i'), '#', { :class => "describe_location", :title => t('site.search.where_am_i_title') } %>
  </div>
<% end %>
