<% search_query = if params[:query]
                    params[:query]
                  elsif params[:lat] && params[:lon]
                    "#{params[:lat]}, #{params[:lon]}"
                  end %>

<div class="search_forms">
  <form method="GET" action="<%= search_path %>" class="search_form bg-body-secondary p-2">
    <div class="d-flex gap-2">
      <div class="input-group flex-nowrap">
        <%= text_field_tag "query", search_query, :placeholder => t("site.search.search"), :autofocus => autofocus, :autocomplete => "on", :class => "form-control z-0 py-1 px-2", :dir => "auto" %>
        <div class="input-group-text border-start-0 p-0 position-relative">
          <%= button_tag t("site.search.where_am_i"), :type => "button", :class => "describe_location position-absolute end-0 m-1 btn btn-outline-primary border-0 p-1 text-primary link-body-emphasis link-opacity-100-hover", :title => t("site.search.where_am_i_title") %>
        </div>
        <%= button_tag :class => "btn btn-primary p-1", :title => t("site.search.submit_text") do %>
          <%= inline_svg_tag "search/magnifying_glass.svg" %>
        <% end %>
      </div>
      <%= link_to directions_path, :class => "btn btn-primary p-1 switch_link", :title => t("site.search.get_directions_title") do %>
        <%= inline_svg_tag "search/directions.svg", :class => "align-bottom" %>
      <% end %>
    </div>
  </form>

  <form method="GET" action="<%= directions_path %>" class="directions_form bg-body-secondary p-2">
    <div class="d-flex flex-column gap-2">
      <div class="d-flex gap-2 align-items-center">
        <div class="btn-group routing_modes" role="group">
          <input type="radio" class="btn-check" name="modes" id="car" autocomplete="off" disabled>
          <label class="btn btn-outline-secondary px-2" for="car" title="<%= t("site.search.modes.car") %>">
            <%= inline_svg_tag "search/car.svg", :class => "d-block" %>
          </label>
          <input type="radio" class="btn-check" name="modes" id="bicycle" autocomplete="off" disabled>
          <label class="btn btn-outline-secondary px-2" for="bicycle" title="<%= t("site.search.modes.bicycle") %>">
            <%= inline_svg_tag "search/bicycle.svg", :class => "d-block" %>
          </label>
          <input type="radio" class="btn-check" name="modes" id="foot" autocomplete="off" disabled>
          <label class="btn btn-outline-secondary px-2" for="foot" title="<%= t("site.search.modes.foot") %>">
            <%= inline_svg_tag "search/foot.svg", :class => "d-block" %>
          </label>
        </div>
        <select class="routing_engines form-select py-1 px-2" name="routing_engines" title="<%= t("site.search.providers.description") %>">
          <optgroup label="<%= t("site.search.providers.description") %>">
            <option value="graphhopper" disabled><%= t("site.search.providers.graphhopper") %></option>
            <option value="fossgis_osrm" disabled><%= t("site.search.providers.fossgis_osrm") %></option>
            <option value="fossgis_valhalla" disabled><%= t("site.search.providers.fossgis_valhalla") %></option>
          </optgroup>
        </select>
        <button type="button" class="btn-close flex-shrink-0 p-2 rounded-5" aria-label="<%= t("javascripts.close") %>"></button>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <div class="d-flex flex-column gap-1 flex-grow-1">
          <div class="d-flex align-items-center">
            <div class="routing_marker_column position-absolute">
              <%= image_tag "marker-green.png", :class => "img-fluid", :data => { :type => "from" }, :draggable => "true" %>
            </div>
            <%= text_field_tag "route_from", params[:from], :placeholder => t("site.search.from"), :autocomplete => "on", :class => "form-control py-1 px-2 ps-4", :dir => "auto" %>
          </div>
          <div class="d-flex align-items-center">
            <div class="routing_marker_column position-absolute">
              <%= image_tag "marker-red.png", :class => "img-fluid", :data => { :type => "to" }, :draggable => "true" %>
            </div>
            <%= text_field_tag "route_to", params[:to], :placeholder => t("site.search.to"), :autocomplete => "on", :class => "form-control py-1 px-2 ps-4", :dir => "auto" %>
          </div>
        </div>
        <button type="button" class="reverse_directions btn btn-outline-secondary border-0 p-1" title="<%= t("site.search.reverse_directions_text") %>">
          <%= inline_svg_tag "search/reverse_directions.svg", :class => "d-block" %>
        </button>
      </div>
    </div>
  </form>
</div>
