<%= form_tag search_path, :class => "search_form" do %>
  <%= submit_tag t('site.search.submit_text') %>

  <div class='query_wrapper search'>
    <%= text_field_tag "query", params[:query], :placeholder => t("site.search.search"), :autofocus => autofocus %>
    <div class='query_options'>
      <%= link_to t('site.search.get_directions'), '#', { :class => "get_directions", :title => t('site.search.get_directions_title') } %>
      &middot;
      <%= link_to t('site.search.where_am_i'), '#', { :class => "describe_location", :title => t('site.search.where_am_i_title') } %>
    </div>
  </div>

  <div class='query_wrapper routing'>
    <%= text_field_tag "route_from", params[:from], :placeholder => "From", :onchange=>"OSM.routing.geocode('route_from',event)" %>
    <%= text_field_tag "route_to"  , params[:to]  , :placeholder => "To"  , :onchange=>"OSM.routing.geocode('route_to'  ,event)" %>
    <div class='query_options'>
      <select class='routing_engines'></select>
      <%= link_to t('site.search.close_directions'), '#', { :class => "close_directions", :title => t('site.search.close_directions_title') } %>
    </div>
  </div>

<% end %>
