<div class='dropdown' id='greeting'>
  <a class='dropdown-toggle' data-toggle='dropdown' href="#">
    <%= render :partial => 'layouts/inbox' %>
    <%= @user.display_name %>
    <b class="caret"></b>
  </a>
  <ul class='dropdown-menu' role='menu' aria-labelledby='dLabel'>
    <li>
      <%= link_to inbox_path(:display_name => @user.display_name) do %>
        <span class='count-number'><%= number_with_delimiter(@user.new_messages.size) %></span>
        <%= t('message.inbox.my_inbox') %>
      <% end %>
    </li>
    <li>
      <%= link_to t('user.view.my profile'), user_path(:display_name => @user.display_name) %>
    </li>
    <li>
      <%= link_to t('user.view.my settings'), :controller => 'user', :action => 'account', :display_name => @user.display_name %>
    </li>
    <li class="divider"></li>
    <li>
      <%= yield :greeting %>
    </li>
    <li>
      <%= link_to t('layouts.logout'), logout_path(:session => request.session_options[:id], :referer => request.fullpath) %>
    </li>
  </ul>
</div>
