<div class='dropdown'>
  <a class='dropdown-toggle' data-toggle='dropdown' href="#">
    <%= user_thumbnail_tiny(@user, :size => 20, :width => 20, :height => 20)
    %><%= render :partial => 'layouts/inbox'
    %><span class='username'><%= @user.display_name %></span>
    <b class="caret"></b>
  </a>
  <ul class='dropdown-menu'>
    <li>
      <%= link_to inbox_path(:display_name => @user.display_name) do %>
        <span class='count-number'><%= number_with_delimiter(@user.new_messages.size) %></span>
        <%= t('message.inbox.my_inbox') %>
      <% end %>
    </li>
    <li>
      <%= link_to t('user.view.my profile'), user_path(:display_name => @user.display_name) %>
    </li>
    <li>
      <%= link_to t('user.view.my settings'), :controller => 'user', :action => 'account', :display_name => @user.display_name %>
    </li>
    <li class="divider"></li>
    <li>
      <%= yield :greeting %>
    </li>
    <li>
      <%= link_to t('layouts.logout'), logout_path(:session => request.session_options[:id], :referer => request.fullpath) %>
    </li>
  </ul>
</div>
