<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>OpenHistoricalMap</title>
    <%= stylesheet_link_tag "errors", :media => "screen" %>
    <%= render :partial => "layouts/meta" %>
  </head>
  <body>
    <a href="<%= root_path %>">
      <picture>
        <source srcset="<%= image_path "ohm_logo_256.png" %>" type="image/png" />
        <%= image_tag "ohm_logo.png", :srcset => image_path("ohm_logo_256.png"), :alt => t("layouts.logo.alt_text"), :class => "logo" %>
      </picture>
    </a>
    <div class="details">
      <%= yield %>
    </div>
  </body>
</html>
