<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= dir %>">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap</title>
    <%= stylesheet_link_tag "errors", :media => "screen" %>
    <%= render :partial => "layouts/meta" %>
  </head>
  <body>
    <main>
      <a href="<%= root_path %>" class="logo">
        <%= image_tag "osm_logo.svg", :alt => t("layouts.logo.alt_text") %>
      </a>
      <div class="details">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
