<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>OpenStreetMap</title>
    <%= stylesheet_link_tag "errors", :media => "screen" %>
  </head>
  <body>
    <a href="<%= root_path %>">
      <picture>
        <source srcset="<%= image_path "osm_logo.svg" %>" type="image/svg+xml" />
        <%= image_tag "osm_logo.png", :srcset => image_path("osm_logo.svg"), :alt => t("layouts.logo.alt_text"), :class => "logo" %>
      </picture>
    </a>
    <div class="details">
      <%= yield %>
    </div>
  </body>
</html>
