<% content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>

<% content_for(:body_class) { "map-layout" } %>

<% content_for :header do %>
  <%= render :partial => "layouts/search", :locals => { :autofocus => false } %>
<% end %>

<% content_for :content do %>
  <div id="sidebar" class="bg-body z-1">
    <%= render :partial => "layouts/search", :locals => { :autofocus => true } %>

    <div id="flash">
      <%= render :partial => "layouts/flash" %>
    </div>

    <div id="browse_status"></div>

    <%= render :partial => "layouts/sidebar_close" %>

    <div id="sidebar_loader" class="my-3 text-center loader" hidden>
      <div class="spinner-border" role="status">
        <span class="visually-hidden"><%= t("browse.start_rjs.loading") %></span>
      </div>
    </div>

    <div id="sidebar_content" class="p-3 position-relative z-n1">
      <%= yield %>
    </div>

    <% unless current_user %>
      <div class="welcome position-relative p-3" hidden>
        <button type="button" class="btn-close position-absolute end-0 top-0 m-2 rounded-5 p-2" aria-label="<%= t("javascripts.close") %>"></button>
        <h2 class="me-4 text-break"><%= t "layouts.intro_header" %></h2>
        <p class="fs-6 fw-light"><%= t "layouts.intro_text" %></p>
        <p class="fs-6 fw-light"><%= t "layouts.hosting_partners_2024_html",
                                       :fastly => link_to(t("layouts.partners_fastly"), "https://www.fastly.com/"),
                                       :corpmembers => link_to(t("layouts.partners_corpmembers"), "https://osmfoundation.org/wiki/Corporate_Members"),
                                       :partners => link_to(t("layouts.partners_partners"), "https://hardware.openstreetmap.org/thanks/") %>
        </p>
        <div class="d-flex gap-2">
          <a class="btn btn-primary w-100 d-flex align-items-center justify-content-center" href="<%= about_path %>"><%= t("layouts.learn_more") %></a>
          <a class="btn btn-primary w-100 d-flex align-items-center justify-content-center" href="<%= new_user_path %>"><%= t("layouts.start_mapping") %></a>
        </div>
      </div>
    <% end %>

    <%= render :partial => "layouts/banner" %>
  </div>

  <svg class="d-none">
    <defs>
      <path id="icon-layers" fill="currentColor" d="M4.094 13.5 9.5 16h1l5.406-2.5L17 14v1l-6.5 3h-1L3 15V14l1.094-.5Zm0-4L9.5 12h1l5.406-2.5L17 10v1l-6.5 3h-1L3 11V10l1.094-.5ZM9.5 3h1L17 6V7l-6.5 3h-1L3 7V6L9.5 3Z" />
      <path id="icon-key" fill="currentColor" d="M9 3 8 4V6L9 7h2l1-1V4L11 3zM9 9 8 10v6l1 1h2l1-1V10L11 9z" />
      <path id="icon-share" fill="currentColor" d="m15 2-1 1V5h-2c-6 0-6 7-6 7s2-4 6-4h2v2l1 1 4-4.5L15 2ZM2 6 1 7v9l1 1h10l1-1V10h-1c-.32 0-.66.073-1 .188V15H3V8h1.531c.344-.669.792-1.348 1.344-2H2Z" />
      <path id="icon-note" fill="currentColor" d="M17 12H15v2H13v2h2v2h2V16h2V14H17V12ZM3 12H6l2 3 2-3h3l1-1V4L13 3H3L2 4v7Z" />
      <g id="icon-query" fill="currentColor">
        <path d="M3 1s9 7 9 7c-1.056.587-2.112 1.173-3.168 1.76l3.031 6.615c.346.753.015 1.643-.738 1.989-.753.345-1.643.014-1.989-.739L6.201 11.221C5.134 11.814 4.067 12.407 3 13V1z" />
        <text x="12.5" y="18.512" font-family="Helvetica, sans-serif" font-weight="Bold" font-size="12">?</text>
      </g>
    </defs>
  </svg>

  <noscript>
    <div class="mt-5 p-3">
      <p><%= t "site.index.js_1" %></p>
      <p><%= t "site.index.js_2" %></p>
    </div>
  </noscript>

  <div id="map-ui" class="bg-body z-2">
    <%= render :partial => "layouts/sidebar_close" %>
  </div>

  <div id="map" tabindex="2" class="bg-body-secondary z-0">
  </div>

  <div id="attribution" class="d-none">
    <table>
      <tr>
        <td><%= t "site.index.license.license_url" %></td>
        <td><%= t "site.index.license.project_url" %></td>
      </tr>
      <tr>
        <td colspan="2" class="attribution_notice"><%= t "site.index.license.copyright" %></td>
      </tr>
    </table>
  </div>
<% end %>

<%= render :template => "layouts/site" %>
