<% content_for :head do %>
  <%= javascript_include_tag "index" %>
<% end %>

<% content_for(:body_class) { "map-layout" } %>

<% if current_user and !current_user.home_lon.nil? and !current_user.home_lat.nil? %>
  <% content_for :greeting do %>
    <%= link_to t("layouts.home"),
                "#",
                :id => "homeanchor",
                :class => "set_position",
                :data => { :lat => current_user.home_lat,
                           :lon => current_user.home_lon,
                           :zoom => 15 } %>
  <% end %>
<% end %>

<% content_for :header do %>
  <%= render :partial => "layouts/search", :locals => { :autofocus => false } %>
<% end %>

<% content_for :content do %>
  <div id="sidebar">
    <%= render :partial => "layouts/search", :locals => { :autofocus => true } %>

    <div id="flash">
      <%= render :partial => "layouts/flash" %>
    </div>

    <div id="browse_status"></div>

    <div id="sidebar_loader">
      <img alt="<%= t('browse.start_rjs.loading') %>" class="loader" src="<%= image_path("searching.gif") %>">
    </div>

    <div id="sidebar_content">
      <%= yield %>
    </div>

    <% unless current_user %>
      <div class="welcome">
        <h2><%= t 'layouts.intro_header' %></h2>
        <div class="close-wrap"><span class="icon close"></span></div>
        <p><%= t 'layouts.intro_text' %></p>
        <p><%= t 'layouts.partners_html',
               :ucl => link_to(t('layouts.partners_ucl'), "https://www.ucl.ac.uk"),
               :ic => link_to(t('layouts.partners_ic'), "https://www.imperial.ac.uk/"),
               :bytemark => link_to(t('layouts.partners_bytemark'), "https://www.bytemark.co.uk"),
               :partners => link_to(t('layouts.partners_partners'), "https://hardware.openstreetmap.org/thanks/") %>
        </p>
        <a class="button learn-more" href="<%= about_path %>"><%= t('layouts.learn_more') %></a>
        <a class="button sign-up" href="<%= user_new_path %>"><%= t('layouts.start_mapping') %></a>
      </div>
    <% end %>

    <div id="banner">
      <%= render :partial => "layouts/banner" %>
    </div>
  </div>

  <noscript>
    <div id="noscript">
      <p><%= t 'site.index.js_1' %></p>
      <p><%= t 'site.index.js_2' %></p>
    </div>
  </noscript>

  <div id="map-ui">
  </div>

  <div id="map" tabindex="2">
  </div>

  <div id="attribution">
    <table>
      <tr>
        <td class="attribution_license"><%= t 'site.index.license.license_url' %></td>
        <td class="attribution_project"><%= t 'site.index.license.project_url' %></td>
      </tr>
      <tr>
        <td colspan="2" class="attribution_notice"><%= t 'site.index.license.copyright' %></td>
      </tr>
    </table>
  </div>
<% end %>

<%= render :template => 'layouts/site' %>
