<html>
  <head>
    <meta charset="UTF-8"></meta>
  </head>
  <body style="padding: 0; margin: 0; font-size: 14px; font-family: 'Helvetica Neue', Arial, sans-serif; color: #222">
    <table style="background-color: #eee; width: 100%">
      <tr>
        <td style="text-align: center">
          <table style="width: 600px; color: #222; margin-left: auto; margin-right: auto">
            <tr>
              <td style="width: 30px; padding: 10px 10px 10px 0px">
                <a href="<%= @root_url %>" target="_blank">
                  <%= image_tag attachments["logo.png"].url, alt: "OpenStreetMap logo", title: "OpenStreetMap", height: "30", width: "30", border: "0" %>
                </a>
              </td>
              <td style="width: 550px; padding: 0px; text-align: left">
                <a href="<%= @root_url %>" target="_blank" style="text-decoration: none; color: #000">
                  <h1 style="font-size: 18px; font-weight: 600; margin: 0; text-align: left">OpenStreetMap</h1>
                </a>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <table style="background-color: #fff; color: #222; border: solid 1px #ccc; border-collapse: separate">
                  <tr>
                    <td style="text-align: left; padding: 0px 15px 5px 15px">
                      <%= raw style_message(yield) %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td style="text-align: center; font-size: 11px; font-family: 'Helvetica Neue', Arial, sans-serif">
          <%= yield :footer %>
          <p style="margin-bottom: 10px">
            <a href="<%= @root_url %>" target="_blank" style="color: #222">OpenStreetMap</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
