<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>" dir="<%= dir %>">
  <%= render :partial => "layouts/head" %>
  <body class="<%= params[:controller] %> <%= params[:controller] %>-<%= params[:action] %>">
    <div id="small-title">
      <%= link_to(image_tag("osm_logo.png", :size => "16x16", :alt => t('layouts.logo.alt_text')), root_path) %>
      <h1><%= t 'layouts.project_name.h1' %></h1>
    </div>
        <div id="left">
      <div id="logo">
        <%= link_to(image_tag("osm_logo.png",
          :size => "120x120",
          :alt => t('layouts.logo.alt_text')),
          root_path) %>
        <h1><%= t 'layouts.project_name.h1' %></h1>
        <h2><%= t('layouts.tag_line') %></h2>
      </div>
      <%= yield :optionals %>
      <% unless @user %>
      <div class="sidebar-copy intro">
        <p><%= t 'layouts.intro_1' %></p>
        <p>
        <%= t 'layouts.intro_2_html',
          :download => link_to(t('layouts.intro_2_download'), "http://planet.openstreetmap.org/"),
          :use => link_to(t('layouts.intro_2_use'), t('layouts.intro_2_use_url')),
          :license => link_to(t('layouts.intro_2_license'), copyright_path),
          :create_account => link_to(t('layouts.intro_2_create_account'), user_new_path)
        %>
        </p>
      </div>
      <% end %>
      <% if STATUS == :database_offline or STATUS == :api_offline %>
      <div class="sidebar-alert">
        <p><%= t 'layouts.osm_offline' %></p>
      </div>
      <% elsif STATUS == :database_readonly or STATUS == :api_readonly %>
      <div class="sidebar-alert">
        <p><%= t 'layouts.osm_read_only' %></p>
      </div>
      <% end %>
      <ul id="left_menu" class="left_menu">
        <li>
          <h4><%= t'layouts.help' %></h4>
          <ul>
            <li><%= link_to(t('layouts.help_centre'), t('layouts.help_url'), :title => t('layouts.help_title')) %></li>
            <li><%= link_to(t('layouts.documentation'), t('layouts.wiki_url'), :title => t('layouts.documentation_title')) %></li>
            <li><%= link_to t('layouts.copyright'), copyright_path %></li>
          </ul>
        </li>
        <li>
          <h4><%= t'layouts.community' %></h4>
          <ul>
            <li><a href="http://blogs.openstreetmap.org/" title="<%= t 'layouts.community_blogs_title' %>"><%= t 'layouts.community_blogs' %></a></li>
            <li><a href="http://www.osmfoundation.org" title="<%= t 'layouts.foundation_title' %>"><%= t 'layouts.foundation' %></a></li>
            <li><%= link_to(t('layouts.user_diaries'), diary_path, {
              :title => t('layouts.user_diaries_tooltip')
            }) %></li>
          </ul>
        </li>
        <li>
          <h4><%= link_to t('layouts.gps_traces'), traces_path, {
            :id => 'traceanchor',
            :title => t('layouts.gps_traces_tooltip')
          } %></h4>
        </li>
        <%= yield :left_menu %>
      </ul>
      <a title="<%= h(t('layouts.make_a_donation.title')) %>" href="http://donate.openstreetmap.org/" class="donate">
        <span><%= h(t('layouts.make_a_donation.text')) %></span>
      </a>
      <div class='sidebar-copy'>
        <p class='deemphasize'><%= t 'layouts.partners_html',
          :ucl => link_to(t('layouts.partners_ucl'), "http://www.vr.ucl.ac.uk"),
          :ic => link_to(t('layouts.partners_ic'), "http://www.imperial.ac.uk/"),
          :bytemark => link_to(t('layouts.partners_bytemark'), "http://www.bytemark.co.uk"),
          :partners => link_to(t('layouts.partners_partners'), t('layouts.partners_url')) %>
        </p>
      </div>
    </div>
    <div id='top-bar'>
      <ul class='secondary-actions' id="greeting">
         <% if @user and @user.id %>
           <li id="full-greeting"><%=link_to h(@user.display_name), user_path(:display_name => @user.display_name), :title => t('layouts.welcome_user_link_tooltip') %></li>
           <li><%= yield :greeting %></li>
           <li><%= render :partial => "layouts/inbox" %></li>
           <li><%= link_to t('layouts.logout'), logout_path(:session => request.session_options[:id], :referer => request.fullpath), {:id => 'logoutanchor', :title => t('layouts.logout_tooltip')}%></li>
         <% else %>
           <li><%= link_to t('layouts.log_in'), login_path(:referer => request.fullpath), {:id => 'loginanchor', :title => t('layouts.log_in_tooltip')} %></li>
           <li><%= link_to t('layouts.sign_up'), user_new_path, {:id => 'registeranchor', :title => t('layouts.sign_up_tooltip')} %></li>
         <% end %>
      </ul>
      <ul id="tabnav">
        <li><%= link_to t('layouts.view'), root_path, {
          :id => 'viewanchor',
          :title => t('layouts.view_tooltip'),
          :class => 'geolink llz layers'
        } %></li>
        <li><%= link_to h(t('layouts.edit')) + content_tag(:span, "▼", :class => "menuicon"), edit_path, {
          :id => 'editanchor',
          :title => t('javascripts.site.edit_tooltip'),
          :data => { :minzoom => 13, :editor => preferred_editor },
          :class => 'geolink llz object disabled'
        } %></li>
        <li><%= link_to t('layouts.history'), browse_changesets_path, {
          :id => 'historyanchor',
          :data => { :minzoom => 11 },
          :title => t('javascripts.site.history_tooltip'),
          :class => 'geolink bbox'
        } %></li>
        <li><%= link_to t('layouts.export'), export_path, {
          :id => 'exportanchor',
          :title => t('layouts.export_tooltip'),
          :data => { :url => url_for(:controller => :export, :action => :start) },
          :class => 'geolink llz layers'
        } %></li>
      </ul>
    </div>
    <div id="editmenu" class="menu">
      <ul>
        <% Editors::RECOMMENDED_EDITORS.each do |editor| %>
          <li><%= link_to t('layouts.edit_with',
            :editor => t("editor.#{editor}.description")),
            edit_path(:editor => editor), {
            :data => { :editor => editor },
            :class => "geolink llz object"
          } %></li>
        <% end %>
        <%= yield :editmenu %>
      </ul>
    </div>
    <script type="text/javascript">
      createMenu("editanchor", "editmenu", "left");
    </script>
    <div class="wrapper">
      <%= render :partial => "layouts/flash", :locals => { :flash => flash } %>
      <% if content_for? :heading %>
      <div class="content-heading">
        <%= yield :heading %>
      </div>
      <% end %>
      <div id="content" class="clearfix">
        <%= yield %>
      </div>
    </div>
    <% if defined?(PIWIK_LOCATION) and defined?(PIWIK_SITE) -%>
    <noscript><p><img src="<%= request.protocol %><%= PIWIK_LOCATION %>/piwik.php?idsite=<%= PIWIK_SITE %>" style="border:0" alt="" /></p></noscript>
    <% end -%>
  </body>
</html>
