<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>" dir="<%= dir %>">
  <%= render :partial => "layouts/head" %>
  <body class="<%= body_class %>">
    <h1 id="small-title">
      <%= image_tag "osm_logo.png", :size => "16x16", :alt => t('layouts.logo.alt_text') %>
      <%= t 'layouts.project_name.h1' %>
    </h1>
    <div id="left">
      <div id="logo">
        <%= link_to(image_tag("osm_logo.png",
          :size => "120x120",
          :alt => t('layouts.logo.alt_text')),
          root_path) %>
        <h1><%= t 'layouts.project_name.h1' %></h1>
        <h2><%= t('layouts.tag_line') %></h2>
      </div>
      <%= yield :optionals %>
      <% unless @user %>
      <div class="sidebar-copy intro">
        <p><%= t 'layouts.intro_1' %></p>
        <p>
        <%= t 'layouts.intro_2_html',
          :download => link_to(t('layouts.intro_2_download'), "http://planet.openstreetmap.org/"),
          :use => link_to(t('layouts.intro_2_use'), t('layouts.intro_2_use_url')),
          :license => link_to(t('layouts.intro_2_license'), copyright_path),
          :create_account => link_to(t('layouts.intro_2_create_account'), user_new_path)
        %>
        </p>
      </div>
      <% end %>
      <% if STATUS == :database_offline or STATUS == :api_offline %>
      <div class="sidebar-alert">
        <p><%= t 'layouts.osm_offline' %></p>
      </div>
      <% elsif STATUS == :database_readonly or STATUS == :api_readonly %>
      <div class="sidebar-alert">
        <p><%= t 'layouts.osm_read_only' %></p>
      </div>
      <% end %>
      <ul id="left_menu" class="left_menu">
        <li>
          <h4><%= t'layouts.community' %></h4>
          <ul>
            <li><a href="http://blogs.openstreetmap.org/" title="<%= t 'layouts.community_blogs_title' %>"><%= t 'layouts.community_blogs' %></a></li>
            <li><a href="http://www.osmfoundation.org" title="<%= t 'layouts.foundation_title' %>"><%= t 'layouts.foundation' %></a></li>
            <li><%= link_to(t('layouts.user_diaries'), diary_path, {
              :title => t('layouts.user_diaries_tooltip')
            }) %></li>
          </ul>
        </li>
        <li>
          <h4><%= t'layouts.data' %></h4>
          <ul>
            <li><%= link_to t('layouts.copyright'), copyright_path %></li>
          </ul>
          <ul>
            <li><%= link_to t('layouts.export_data'), export_path %></li>
          </ul>
          <ul>
            <li><%= link_to t('layouts.gps_traces'), traces_path %></li>
          </ul>
        </li>
        <%= yield :left_menu %>
      </ul>
      <a title="<%= h(t('layouts.make_a_donation.title')) %>" href="http://donate.openstreetmap.org/" class="donate">
        <span class='icon donate'></span>
        <span><%= h(t('layouts.make_a_donation.text')) %></span>
      </a>
      <div class='sidebar-copy'>
        <p class='deemphasize'><%= t 'layouts.partners_html',
          :ucl => link_to(t('layouts.partners_ucl'), "http://www.vr.ucl.ac.uk"),
          :ic => link_to(t('layouts.partners_ic'), "http://www.imperial.ac.uk/"),
          :bytemark => link_to(t('layouts.partners_bytemark'), "http://www.bytemark.co.uk"),
          :partners => link_to(t('layouts.partners_partners'), t('layouts.partners_url')) %>
        </p>
      </div>
    </div>
    <div id='top-bar'>
      <ul class='secondary-actions'>
        <li><%= link_to t('layouts.help'), help_path %></li>
      </ul>
      <% if @user and @user.id %>
        <%= render :partial => "layouts/user_menu" %>
      <% else %>
        <ul class='secondary-actions' id='greeting'>
          <li><%= link_to t('layouts.log_in'), login_path(:referer => request.fullpath), {:id => 'loginanchor', :title => t('layouts.log_in_tooltip')} %></li>
          <li><%= link_to t('layouts.sign_up'), user_new_path, {:id => 'registeranchor', :title => t('layouts.sign_up_tooltip')} %></li>
        </ul>
      <% end %>
      <ul id="tabnav">
        <li id="view_tab">
          <%= link_to t('layouts.view'), root_path, :class => 'tab geolink llz layers' %>
        </li><li id="edit_tab">
          <%= render :partial => 'layouts/edit_menu',
                     :locals => { :link_text => t('layouts.edit'), :link_class => 'llz object' }%>
        </li><li id="history_tab">
          <%= link_to t('layouts.history'), browse_changesets_path, :class => 'tab geolink bbox' %>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <%= render :partial => "layouts/flash", :locals => { :flash => flash } %>
      <% if content_for? :heading %>
      <div class="content-heading">
        <%= yield :heading %>
      </div>
      <% end %>
      <div id="content" class="clearfix">
        <%= yield %>
      </div>
    </div>
    <% if defined?(PIWIK) -%>
    <noscript><p><img src="<%= request.protocol %><%= PIWIK['location'] %>/piwik.php?idsite=<%= PIWIK['site'] %>" style="border:0" alt="" /></p></noscript>
    <% end -%>
  </body>
</html>
