<!DOCTYPE html>
<html lang="<%= I18n.locale %>" dir="<%= dir %>">
  <%= render :partial => "layouts/head" %>
  <body class="<%= body_class %>">
    <%= render :partial => "layouts/header" %>
    <%= render :partial => "layouts/content" %>
    <% if defined?(Settings.matomo) -%>
    <noscript><p><img src="<%= request.protocol %><%= Settings.matomo["location"] %>/matomo.php?idsite=<%= Settings.matomo["site"] %>" class="matomo" alt="" /></p></noscript>
    <% end -%>
  </body>
</html>
