<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale %>" lang="<%= I18n.locale %>" dir="<%= dir %>">
  <%= render :partial => "layouts/head" %>
  <body class="slim">
    <div id="slim_container">
      <div id="slim_container_content">
        <div id="slim_content">
          <%= render :partial => "layouts/flash", :locals => { :flash => flash } %>

          <%= yield %>
        </div>

        <div id="slim_header">
          <h1><%= image_tag("osm_logo.png", :size => "60x60", :border => 0, :alt => t('layouts.logo.alt_text')) %><%= t 'layouts.project_name.h1' %></h1>
        </div>
      </div>
    </div>
  </body>
</html>
