<hr class="mb-3" />
<a name="public"></a>
<h2><%= t ".heading" %></h2>
<p>
  <%= t ".currently_not_public" %>
  <strong><%= t ".only_public_can_edit" %></strong>
  <%= t ".find_out_why_html", :link => link_to(t(".find_out_why"),
                                               t(".find_out_why_url")) %>
</p>
<ul>
  <li><%= t ".email_not_revealed" %></li>
  <li><%= t ".not_reversible" %></li>
</ul>
<%= button_to t(".make_edits_public_button"), user_go_public_path, :class => "btn btn-primary" %>
